@model DealEngine.WebUI.Models.UserViewModel
<div class="container">

    <div class="form-group">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-home" ></i>
            <span>
                <a href="~/Home/Index">Dashboard</a>
                > Check User
            </span>
        </h1>
    </div>

    <div class="form-group">
        <span>
            <a class="btn btn-primary btn-xs text-white" onclick="location.href='@Url.Action("Index", "Home")'" id="backbutton"><i class="fa fa-home"></i> Back </a>
        </span>
    </div>



    <form method="POST" action="~/Admin/CreateNewUser" novalidate id="form">
        @Html.HiddenFor(m => m.Organisation.Id, new { @id = "Organisation.Id" })
        <div class="card">
            <div class="card-header">
                <div class="form-group">
                    @Html.LabelFor(m => m.User.Email)  <label style="color:red">    (Inputs are case sensitive)</label>
                    @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control", @id = "User.Email", @required = "", @placeholder = "email" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.User.FirstName)<label style="color:red">   (Inputs are case sensitive)</label>
                    @Html.TextBoxFor(m => m.User.FirstName, new { @class = "form-control ", @id = "User.FirstName" })
                </div>

                <div class="form-group">
                    <button class="btn-success btn btn-xs" type="button"  onclick="GetUser()">Search</button>
                </div>


                <div class="form-group">

                    @Html.LabelFor(m => m.Organisation.Name)
                    <input class="form-control col-3" type="text" id="Organisation.Name" name="Organisation.Name" autocomplete="on" />

@*                    @Html.TextBoxFor(m => m.Organisation.Name, new { @class = "form-control ", @id = "Organisation.Name" })
*@                </div>

              


                <div class="form-group" id="userlist" style="display:none">

                    <label>  User List  </label>   

                    <select onchange=GetUser(this.value) class="form-control" id="UserList" name="UserList"></select>
                    <br />
                    <br />

                    <button class="btn btn-primary btn-xs" type="submit">Create New User</button>

                </div>


                <div class="form-group">
                    <button class="btn-success btn btn-xs" type="button" onclick="GetUserbyOrg()">Search by Organisation</button>
                    <button class="btn-search-close btn btn-xs" style="background-color: #ffcc00" type="reset">Clear to Search</button>
                </div>

                <div class="form-group"><label id="OrgLabel"></label> </div>
               
                <div class="form-group">
                    <label id="IsUserLoggedout"></label>
                </div>

                <div class="form-group" id="resenddiv">
                    <button class="btn-success btn btn-xs" type="button" onclick="ResendLogin()">Resend Login</button>
                </div>

                <div class="form-group" style="display:none" id="unlockdiv">
                    <button class="btn-success btn btn-xs" type="button" onclick="UnlockUser()">Unlock User</button>
                </div>
                @*<div>
                    <label >Tags: </label>
                   <input class="form-control col-3" type="text" id="tags" name="tags" autocomplete="on"/>*@
@*                    <input type="text" id="tags" name="tags" data-provide="typeahead" class="typeahead search-query form-control autocomplete"/>
*@                           @*                    <asp:TextBox ID="tags" runat="server" AutoPostBack="true"></asp:TextBox>
*@                    @*<label for="tags">Tags: </label>
                      <input ID="tags" runat="server" Width="200" placeholder="Organisation Name"/>*@
@*                </div>
*@


            </div>
            <div class="card-body">

                <div class="form-group">
                    @Html.LabelFor(m => m.User.LastName)
                    @Html.TextBoxFor(m => m.User.LastName, new { @class = "form-control ", @id = "User.LastName" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.User.UserName)
                    @Html.TextBoxFor(m => m.User.UserName, new { @class = "form-control ", @id = "User.UserName" })
                </div>

            </div>
            <div class="card-footer">
@*                                    <button class="btn btn-primary btn-xs" type="submit">Create New User</button>
*@
                <a class="btn btn-primary btn-sm" href="~/Admin/CreateNewUser">Create New User  </a>
             </div>
        </div>
    </form>
</div>
@section pagespecific {
    <link href="~/jqueryui/jquery-ui.css" rel="stylesheet" />
    <script src="~/jqueryui/jquery-ui.js"></script>

    <script type="text/javascript">
        
        function GetUserbyOrg() {
           
            var userOrg = document.getElementById('Organisation.Name').value;

            $.ajax({
                type: 'Post',
                url: '@Url.Action("GetCreateUserbyOrg", "Information")',
                data: { UserOrg: userOrg  }
            })
                .done(function (data) {
                    debugger;
                    if (data != "not found") {
                        debugger;
                        
                        $("#userlist").show();
                        var s = '<option value="-1">Please Select a users</option>';
                        for (var i = 0; i < data.length; i++) {
                            s += '<option  value="' + data[i].id + '">' + data[i].firstName +" "+ data[i].lastName + '</option>';
                        }
                        //s += '<option ><button> <a class="btn btn-primary btn-sm" href="~/Admin/CreateNewUser">Create New User  </a></button>'
                        $("#UserList").html(s);
                        //document.getElementById('OrgLabel').innerHTML = " ";

                    } else {
                        document.getElementById("form").reset();
                        document.getElementById("Organisation.Id").value = '@System.Guid.Empty';
                        document.getElementById('User.Email').value = "";
                        $("#userlist").hide();
                        document.getElementById('OrgLabel').innerHTML = "<span style='color:red'>No Organisation found.</span>";

                    }
                })
                .fail(function (jqXhr, textStatus, errorThrown) {
                    debugger;
                    console.log(errorThrown);
                });
        }

        function GetUser(userid) {
            var userEmail = document.getElementById('User.Email').value;
            var userFname = document.getElementById('User.FirstName').value;
            var userOrg = document.getElementById('Organisation.Name').value;
                $.ajax({
                    type: 'Post',
                    url: '@Url.Action("GetCreateUser", "Information")',
                    data: { UserEmail: userEmail, UserFname: userFname, UserOrg: userOrg, userid: userid }
                })
                    .done(function (data, status, xhr) {
                        debugger;
                        if (data.jsonObj != null) {
                            var OutPut = JSON.parse(data.jsonObj);
                            document.getElementById('IsUserLoggedout').innerHTML = "<span style='color:green'>" + data.isusserLogged + "</span>";
                            $("#userlist").hide();

                            if (data.isusserLogged == "User has Logged in system once but now logged out") {
                                $("#unlockdiv").show();
                            } else {
                                $("#unlockdiv").hide();
                            }

                            PopulateView(OutPut);
                            debugger;
                            var s = '<option value="-1">Please Select a Department</option>';
                            for (var i = 0; i < data.userList.length; i++) {
                                s += '<option value="' + data.userList[i].id + '">' + data[i].userList[i].name + '</option>';
                            }
                            $("#UserList").html(s);


                        } else {
                            document.getElementById("form").reset();
                            document.getElementById("Organisation.Id").value = '@System.Guid.Empty';
                            document.getElementById('User.Email').value = userEmail;
                        }
                    })
                    .fail(function (jqXhr, textStatus, errorThrown) {
                        debugger;
                        console.log(errorThrown);
                    });

            
          
        }


        function ResendLogin() {
            var userEmail = document.getElementById('User.Email').value;
            $.ajax({
                type: 'Post',
                url: '@Url.Action("ResendEmail", "Information")',
                data: { UserEmail: userEmail }
            })
                .done(function (data) {
                    debugger;
                    if (data == true) {
                        document.getElementById('IsUserLoggedout').innerHTML = "<span style='color:green'>User Login Information sent Successfully</span>";
                    }
                })
                .fail(function (jqXhr, textStatus, errorThrown) {
                    debugger;
                    console.log(errorThrown);
                });
        }

        function UnlockUser() {
            var userEmail = document.getElementById('User.Email').value;
            $.ajax({
                type: 'Post',
                url: '@Url.Action("UserUnlock", "Information")',
                data: { UserEmail: userEmail }
            })
                .done(function (data) {
                    debugger;
                    if (data == true){
                        document.getElementById('IsUserLoggedout').innerHTML = "<span style='color:green'>User Unlocked Successfully</span>";
                        $("#unlockdiv").hide();
                    }

                })
                .fail(function (jqXhr, textStatus, errorThrown) {
                    debugger;
                    console.log(errorThrown);
                });
        }

//        $(document).ready(function() {
//	$("#search-box").keyup(function() {
//		$.ajax({
//			type: "POST",
//                    url: 'Url.Action("GetAllOrgs", "Information")',
//			data: 'keyword=' + $(this).val(),
//			beforeSend: function() {
//				$("#search-box").css("background", "#FFF url(LoaderIcon.gif) no-repeat 165px");
//			},
//			success: function(data) {
//				$("#suggesstion-box").show();
//				$("#suggesstion-box").html(data.name);
//				$("#search-box").css("background", "#FFF");
//			}
//		});
//	});
//});

        $(function () {

            $("[id='Organisation.Name']").autocomplete({
                source: function (request, response) {  
                    //  var orgstartwith = document.getElementById('tags').value;
                    //var postData = { "orgstartwith": orgstartwith };

                    var postData = { "orgstartwith": $("[id='Organisation.Name']").val() };
                    $.ajax({
                        url: '@Url.Action("GetAllOrgs", "Information")',
                        data:postData,
                         type: "POST",  
                         dataFilter: function (data) {return data;},  
                         success: function (data) {  
                            response($.map(data, function (item) {
                                return {
                                     label: item.name,
                                    value: item.name
                                };
                            }))
                         },  
                         error: function (XMLHttpRequest, textStatus, errorThrown) {  
                             var err = eval("(" + XMLHttpRequest.responseText + ")");  
                             alert(err.Message);  
                             // console.log("Ajax Error!");    
                         }  
                     });  
                 },
                
                 minLength: 4 //This is the Char length of inputTextBox    
             });  

            //$("#tags").autocomplete({

            //    source: function (request, response) {
            //        var orgstartwith = document.getElementById('tags').value;
            //        var postData = { "orgstartwith": orgstartwith };

            //        $.ajax({
            //            type: "POST",
            //            data: postData,
            //            dataType: "json",
            //            success: function (data) {
            //                var listItems= "";
            //                for (var i = 0; i < data.length; i++) {
            //                    listItems += "<option value='" + data[i].OrgName + "'>" + data[i].OrgID + "</option>";
            //                    }
            //                 $("#tag").html(listItems);
            //            }
            //        });
            //    }

            //});

        });
     
    </script>

}

           
