@model DealEngine.WebUI.Models.UserViewModel
<div class="container">

    <div class="form-group">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-home" ></i>
            <span>
                <a href="~/Home/Index">Dashboard</a>
                > Check User
            </span>
        </h1>
    </div>

    <div class="form-group">
        <span>
            <a class="btn btn-primary btn-xs text-white" onclick="location.href='@Url.Action("CreateUser", "Admin")'" id="backbutton"><i class="fa fa-home"></i> Back </a>
        </span>
    </div>



    <form method="POST" action="~/Information/PostCreateUser" novalidate id="form">
        @Html.HiddenFor(m => m.Organisationselected, new { @id = "Organisationselected" })
        <div class="card">
            <div class="card-header">
                <div class="form-group">
                    @Html.LabelFor(m => m.User.Email)  <label style="color:red">    (Inputs are case sensitive)</label>
                    @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control", @id = "User.Email", @required = "", @placeholder = "email" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.User.FirstName)<label style="color:red">   (Inputs are case sensitive)</label>
                    @Html.TextBoxFor(m => m.User.FirstName, new { @class = "form-control ", @id = "User.FirstName" })
                </div>

                
                <div class="form-group">
                    @Html.LabelFor(m => m.User.LastName)
                    @Html.TextBoxFor(m => m.User.LastName, new { @class = "form-control ", @id = "User.LastName" })
                </div>

            </div>
           
            <div class="card-footer">
                    <button class="btn btn-primary btn-xs" type="submit">Create New User</button>
             </div>
        </div>
    </form>
</div>
