@model DealEngine.WebUI.Models.UserViewModel
<div class="container">
    <form method="POST" action="~/Admin/PostCreateUser" novalidate id="form">
        @Html.HiddenFor(m=>m.Organisation.Id, new { @id="Organisation.Id"})
        <div class="card">
            <div class="card-header">
                <div class="form-group">
                    @Html.LabelFor(m => m.User.Email)
                    @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control", @id = "User.Email", @required = "", @placeholder = "email" })                    
                </div>
                <div class="form-group">
                    <button class="btn-success btn btn-xs" type="button" onclick="GetUser()">Go</button>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.User.UserName)
                    @Html.TextBoxFor(m => m.User.UserName, new { @class = "form-control ", @id = "User.UserName" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.User.FirstName)
                    @Html.TextBoxFor(m => m.User.FirstName, new { @class = "form-control ", @id = "User.FirstName" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.User.LastName)
                    @Html.TextBoxFor(m => m.User.LastName, new { @class = "form-control ", @id = "User.LastName" })
                </div>
                @*<div class="form-group">
                    @Html.LabelFor(m => m.Organisation.IsInsurer)
                    @Html.DropDownListFor(m => m.Organisation.IsInsurer, Model.BooleanOptions, new { @class = "form-control b", @id = "Organisation.IsInsurer" })
                    @Html.LabelFor(m => m.Organisation.IsTC)
                    @Html.DropDownListFor(m => m.User.PrimaryOrganisation.IsTC, Model.BooleanOptions, new { @class = "form-control b", @id = "Organisation.IsTC" })
                    @Html.LabelFor(m => m.Organisation.IsBroker)
                    @Html.DropDownListFor(m => m.Organisation.IsBroker, Model.BooleanOptions, new { @class = "form-control b", @id = "Organisation.IsBroker" })
                </div>*@
            </div>
            <div class="card-footer">
                <button class="btn btn-primary btn-xs" type="submit">Update</button>
            </div>
        </div>
    </form>
</div>
@section pagespecific {
    <script type="text/javascript">
        function GetUser() {
            var userEmail = document.getElementById('User.Email').value;
            $.ajax({
                type: 'Post',
                url: '@Url.Action("GetCreateUser", "Admin")',
                data: { UserEmail: userEmail }
            })
                .done(function (data) {
                    if (data != null) {
                        var OutPut = JSON.parse(data);
                        PopulateView(OutPut);
                    } else {
                        document.getElementById("form").reset();
                        document.getElementById("Organisation.Id").value = '@System.Guid.Empty';
                        document.getElementById('User.Email').value = userEmail;
                    }

                })
                .fail(function (jqXhr, textStatus, errorThrown) {
                    debugger;
                    console.log(errorThrown);
                });
        }
    </script>
}