@model DealEngine.WebUI.Models.AdminViewModel
<!-- START MAIN CONTENT -->
    <div id="content" class="container">
        <div class="form-group">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-home"></i>
                <span>
                    <a href="~/Home/Index">Dashboard</a>
                    > Administrator Panel
                </span>
            </h1>
        </div>

        <div class="form-group">
            <span>
                <a class="btn btn-primary btn-xs text-white" onclick="location.href='@Url.Action("Index", "Home")'" id="backbutton"><i class="fa fa-home"></i> Back </a>
            </span>
        </div>

        <!-- widget grid -->
        <div class="form-group">
            @{ await Html.RenderPartialAsync("_PrivateServerControl", Model.PrivateServers); }
        </div>

        <div class="form-group">
            <div class="card">
                <div class="card-header">

                    <span class="widget-icon"> <i class="fa fa-upload text-white"></i> </span>
                    <h2> System Email Templates </h2>
                </div>

                <div class="card-body">
                    <form class="client-form">
                        <!-- content goes here -->
                        <table class="table table-bordered table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" width="30%">System Email Template</th>
                                    <th scope="col" width="70%">Description</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tr>
                                <td align="left">
                                    Login Instruction Email
                                </td>
                                <td align="left" style="word-wrap: break-word">
                                    System Login Instruction Email.
                                </td>
                                <td>
                                    @Html.ActionLink("View", "SysEmailTemplate", "Admin", new { systemEmailType = "LoginEmail", internalNotes = "System Login Instruction Email" }, new { @class = "btn btn-success btn-sm" })
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    Information Sheet Issue Notification Email
                                </td>
                                <td align="left" style="word-wrap: break-word">
                                    System Information Sheet Issue Notification Email.
                                </td>
                                <td>
                                    @Html.ActionLink("View", "SysEmailTemplate", "Admin", new { systemEmailType = "UISIssueNotificationEmail", internalNotes = "System Information Sheet Issue Notification Email" }, new { @class = "btn btn-success btn-sm" })
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    Payment Configuration Notification Email
                                </td>
                                <td align="left" style="word-wrap: break-word">
                                    Payment Configuration Notification Email.
                                </td>
                                <td>
                                    @Html.ActionLink("View", "SysEmailTemplate", "Admin", new { systemEmailType = "PaymentSuccessConfig", internalNotes = "Payment Success Configuration Notification Email" }, new { @class = "btn btn-success btn-sm" })
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    Payment Failed Configuration Notification Email
                                </td>
                                <td align="left" style="word-wrap: break-word">
                                    Payment Failed Configuration Notification Email.
                                </td>
                                <td>
                                    @Html.ActionLink("View", "SysEmailTemplate", "Admin", new { systemEmailType = "PaymentFailConfig", internalNotes = "Payment Failed Configuration Notification Email" }, new { @class = "btn btn-success btn-sm" })
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    Invoice Success Configuration Notification Email
                                </td>
                                <td align="left" style="word-wrap: break-word">
                                    Invoice Success Configuration Notification Email.
                                </td>
                                <td>
                                    @Html.ActionLink("View", "SysEmailTemplate", "Admin", new { systemEmailType = "InvoiceSuccessConfig", internalNotes = "Invoice Sucess Configuration Notification Email" }, new { @class = "btn btn-success btn-sm" })
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    Invoice Fail Configuration Notification Email
                                </td>
                                <td align="left" style="word-wrap: break-word">
                                    Invoice Fail Configuration Notification Email.
                                </td>
                                <td>
                                    @Html.ActionLink("View", "SysEmailTemplate", "Admin", new { systemEmailType = "InvoiceFailConfig", internalNotes = "Invoice Fail Configuration Notification Email" }, new { @class = "btn btn-success btn-sm" })
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    Information Sheet Submission Confirmation Email
                                </td>
                                <td align="left" style="word-wrap: break-word">
                                    System Information Sheet Submission Confirmation Email to Insured.
                                </td>
                                <td>
                                    @Html.ActionLink("View", "SysEmailTemplate", "Admin", new { systemEmailType = "UISSubmissionConfirmationEmail", internalNotes = "System Information Sheet Submission Confirmation Email" }, new { @class = "btn btn-success btn-sm" })
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    Information Sheet Submission Notification Email
                                </td>
                                <td align="left" style="word-wrap: break-word">
                                    System Information Sheet Submission Notification Email.
                                </td>
                                <td>
                                    @Html.ActionLink("View", "SysEmailTemplate", "Admin", new { systemEmailType = "UISSubmissionNotificationEmail", internalNotes = "System Information Sheet Submission Notification Email" }, new { @class = "btn btn-success btn-sm" })
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    Information Sheet Update Notification Email
                                </td>
                                <td align="left" style="word-wrap: break-word">
                                    System Information Sheet Update Notification Email.
                                </td>
                                <td>
                                    @Html.ActionLink("View", "SysEmailTemplate", "Admin", new { systemEmailType = "UISUpdateNotificationEmail", internalNotes = "System Information Sheet Update Notification Email" }, new { @class = "btn btn-success btn-sm" })
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    Agreement Referral Notification Email
                                </td>
                                <td align="left" style="word-wrap: break-word">
                                    System Agreement Referral Notification Email.
                                </td>
                                <td>
                                    @Html.ActionLink("View", "SysEmailTemplate", "Admin", new { systemEmailType = "AgreementReferralNotificationEmail", internalNotes = "System Agreement Referral Notification Email" }, new { @class = "btn btn-success btn-sm" })
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    Agreement Issue Notification Email
                                </td>
                                <td align="left" style="word-wrap: break-word">
                                    System Agreement Issue Notification Email.
                                </td>
                                <td>
                                    @Html.ActionLink("View", "SysEmailTemplate", "Admin", new { systemEmailType = "AgreementIssueNotificationEmail", internalNotes = "System Agreement Issue Notification Email" }, new { @class = "btn btn-success btn-sm" })
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    Agreement Bound Notification Email
                                </td>
                                <td align="left" style="word-wrap: break-word">
                                    System Agreement Bound Notification Email.
                                </td>
                                <td>
                                    @Html.ActionLink("View", "SysEmailTemplate", "Admin", new { systemEmailType = "AgreementBoundNotificationEmail", internalNotes = "System Agreement Bound Notification Email" }, new { @class = "btn btn-success btn-sm" })
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    Create Other Marina Notification Email
                                </td>
                                <td align="left" style="word-wrap: break-word">
                                    Create Other Marina Notification Email.
                                </td>
                                <td>
                                    @Html.ActionLink("View", "SysEmailTemplate", "Admin", new { systemEmailType = "OtherMarinaTCNotifyEmail", internalNotes = "Create Other Marina Notification Email" }, new { @class = "btn btn-success btn-sm" })
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    One Time Password Email
                                </td>
                                <td align="left" style="word-wrap: break-word">
                                    One Time Password Email.
                                </td>
                                <td>
                                    @Html.ActionLink("View", "SysEmailTemplate", "Admin", new { systemEmailType = "OneTimePasswordEmail", internalNotes = "One Time Password Email" }, new { @class = "btn btn-success btn-sm" })
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    RSA Notification Email
                                </td>
                                <td align="left" style="word-wrap: break-word">
                                    RSA Notification Email.
                                </td>
                                <td>
                                    @Html.ActionLink("View", "SysEmailTemplate", "Admin", new { systemEmailType = "RSANotificationEmail", internalNotes = "RSA Notification Email" }, new { @class = "btn btn-success btn-sm" })
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    Client Number Notification Email
                                </td>
                                <td align="left" style="word-wrap: break-word">
                                    System Client Number Notification Email.
                                </td>
                                <td>
                                    @Html.ActionLink("View", "SysEmailTemplate", "Admin", new { systemEmailType = "ClientNumberNotificationEmail", internalNotes = "System Client Number Notification Email" }, new { @class = "btn btn-success btn-sm" })
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <!-- end widget div -->
        </div>
        <div class="form-group">

            @if (Model.LockedUsers != null)
            {
                <div class="card">
                    <!-- Header Start-->
                    <div class="card-header">
                        <span class="widget-icon"> <i class="fa fa-upload text-white"></i> </span>
                        <h2> Unlock User </h2>
                    </div>
                    <!-- Header End -->
                    <!-- widget div-->
                    <div class="card-body">
                        <form id="unlockUser" class="client-form" action="/Admin/UnlockUser" method="post" novalidate="novalidate">
                            <table class="table table-bordered table-striped">
                                <tr>

                                    <td>
                                        <label class="label">Enter username of user to be unlocked</label>
                                    </td>
                                    <td>

                                        <select data-placeholder="Click here to search locked users" id="unlockUser" name="unlockUser" multiple class="col-6 chosen-select form-control b">
                                            @foreach (var user in Model.LockedUsers)
                                            {
                                                <option value="@user.Value">@user.Text</option>
                                            }
                                        </select>

                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-primary">
                                            Unlock
                                        </button>
                                    </td>

                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            }
        </div>

        <div class="form-group">
            <div class="jarviswidget jarviswidget-color-blue container-fluid" id="wid-payment-gateways" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-colorbutton="false">

                @{ await Html.RenderPartialAsync("_PaymentGatewayControl", Model.PaymentGateways); }

            </div>
        </div>
        <div class="form-group">
            <div class="jarviswidget jarviswidget-color-blue container-fluid" id="wid-merchants" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-colorbutton="false">

                @{ await Html.RenderPartialAsync("_MerchantControl", Model.Merchants); }

            </div>
        </div>

        <div class="form-group">
            <div class="jarviswidget jarviswidget-color-blue container-fluid" id="wid-payment-gateways" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-colorbutton="false">
                @{ await Html.RenderPartialAsync("_DataUploadControl"); }
            </div>
        </div>

        <div class="form-group">

            @{ await Html.RenderPartialAsync("_ImpersonateUser", Model); }
        </div>
        <div class="form-group">
            <a class="btn btn-primary btn-sm" href="~/Admin/DeveloperTool">Developer Tool</a>
            <a class="btn btn-primary btn-sm" href="~/Admin/CreateUser">Create User</a>
            <a class="btn btn-primary btn-sm" href="~/Admin/ModifyCKEditor">Modify CKEditor</a>

        </div>
    </div>



@section pagespecific {
    <script type="text/javascript">

        $(document).ready(function () {
            $(".chosen-select").chosen({ width: "95%" });
        });

    </script>
}