@model DealEngine.WebUI.Models.SystemEmailTemplateViewModel

<div id="content" class="container">
    <div class="form-group">
        <h1 class="page-title txt-color-blueDark">
            <!-- PAGE HEADER -->
            <i class="fa-fw fa fa-file-o"></i>  <span>
                <a href="~/Admin"> Admin Panel</a>
                > Add/Edit System Email Template
            </span>
        </h1>
    </div>
    <div class="form-group">
        <span>
            <a class="btn btn-primary btn-xs text-white" onclick="location.href='/Admin';" id="backbutton"><i class="fa fa-home"></i> Back </a>
        </span>
    </div>
    <!-- widget grid -->
    <div class="form-group">
        <div class="card" id="wid-id-10">
            <div class="card-header bg-primary text-white">
                <h2>@ViewBag.Title </h2>
            </div>
            <div class="card-body">
                <form action="~/Admin/SysEmailTemplate" method="POST" id="update-form" class="client-form" enctype="multipart/form-data">

                    @Html.HiddenFor(m => m.SystemEmailType)
                    @Html.HiddenFor(m => m.InternalNotes)

                    <div class="card">
                        <div class="card-header">
                            <h5>@Model.InternalNotes</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Subject, new { style = "width: 300px;", @class = "form-control", @placeholder = "Subject" })
                            </div>
                            <div class="form-group">
                                @Html.TextAreaFor(m => m.Body, new { @class = "form-control", @placeholder = "Body" })
                            </div>

                        </div>
                        <div class="card-footer">
                            @if (User.HasClaim("EditEmails", "EditEmails"))
                            {
                                <div class="form-group">
                                    <button onclick="SaveSystemEmailTemplate()" class="btn btn-primary">Save System Email Template</button>
                                </div>
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="ckmodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Select an Image</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div id="images" class="modal-body col-sm-12" style="overflow-y:auto; height:355px;">
            </div>
            <div class="modal-footer" style="display:flex;">
                <label for="selImg" style="float:left;">Selected Image: </label>
                <input type="text" id="selImg" name="selImg" style="float:left;width:44%;margin-left:.5rem;margin-right:1rem;">
                <button id="importImg" type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="importImg()">Import</button>
            </div>
        </div>
    </div>
</div>



@section pagespecific {
    <script src="~/ckeditor/ckeditor5-techcertain/build/ckeditor.js"></script>
    <script src="~/ckeditor/ckeditor5-techcertain/build/selectimportimg.js"></script>
    <link href="~/ckeditor/ckeditor5-techcertain/build/ckeditor.css" rel="stylesheet" />

    <script type="text/javascript">
        function SaveSystemEmailTemplate() {
            @*var body = CKEDITOR.instances['@Html.IdFor(m => m.Body)'].getData();*@
             const body = editor.getData();
			var bodyElement = $("#@Html.IdFor(m => m.Body)");
			// hack because jquery will only escape text inside an element, so we'll store the text, & get the escaped text, and then resave that
			// using hack because escape(...) was deprecated
            bodyElement.text(bodyElement.text(body).html());

			$.ajax({
				type: "POST",
				url: '@Url.Action("SysEmailTemplate", "Admin")',
			    data: $("#update-form").serialize() // serializes the form's elements.
            })
                .done(function (json) {
                    console.log(json);
                })
                .fail(function (err, ajaxOptions, thrownError) {
                    alert("Unable to save." + err.responseText);
                });
        };

    </script>

}