@model DealEngine.WebUI.Models.InformationViewModel


<div class="container-fluid">
    <div class="accordion" id="accordionExample">
        @Html.HiddenFor(m => m.AnswerSheetId)
        @Html.HiddenFor(m => m.ClientInformationSheet.Status)
        @Html.HiddenFor(m => m.ClientAgreement)
        @Html.HiddenFor(m => m.ClientProgramme.Id)

        <div class="accordion-item">
            @if (Model.Sections != null)
            {
                var count = 0;

                var heading = 0;

                var collapseCount = 0;

                foreach (var informationSection in Model.Sections.OrderBy(s => s.Position).Where(s => s.Position <= 5))
                {
                    var header = "header" + @heading;

                    var collapse = "collapse" + collapseCount;

                    <h4 style="background-color:#00A8C8; color:white" id="@header" class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@collapse" aria-expanded="false" aria-controls="@collapse">

                            @informationSection.Name

                        </button>
                    </h4>

                    <div id="@collapse" class="accordion-collapse collapse" aria-labelledby="@header" data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                            @if (!string.IsNullOrWhiteSpace(informationSection.CustomView))
                            {

                                @await Html.PartialAsync("PrefabSections/" + informationSection.CustomView, Model)
                                count++;

                                if (count == 5)
                                {
                                    <div id="later" class="hidden">
                                        @foreach (var Section in Model.Sections.OrderBy(s => s.Position).Where(s => s.Position > 5))
                                        {
                                            <h4 style="background-color:#00A8C8; color:white" id="@Section.Name">@Section.Name</h4>
                                            if (!string.IsNullOrWhiteSpace(Section.CustomView))
                                            {
                                                @await Html.PartialAsync("PrefabSections/" + Section.CustomView, Model)

                                            }
                                        }
                                    </div>
                                }

                            }

                            else
                            {
                                <div class="padding-10">
                                    <div id="proposalcreate-form" class="smart-form" novalidate="novalidate">
                                        <fieldset id="@informationSection.Id">
                                            <div class="row">
                                                @if (informationSection.Items != null)
                                                {
                                                    var items = informationSection.Items;
                                                    for (int i = 0; i < items.Count(); i++)
                                                    {
                                                        var item = items.ElementAtOrDefault(i);
                                                        if (item.Type != ItemType.SECTIONBREAK)
                                                        {
                                                            <section class="col col-@item.Width">

                                                                @switch (item.Type)
                                                                {
                                                                    case ItemType.TEXTBOX:
                                                                        <label class="label">@item.Label</label>
                                                                        <label class="input">
                                                                            <i class="@item.Icon"></i>
                                                                            <input data-id="@item.Id" data-type="@item.Type" data-name="@item.Name"
                                                                                   id="@item.Name" type="@item.ControlType" name="@item.Name" placeholder="@item.Label" value="@item.Value" data-rule="@item.Rule" />
                                                                        </label>
                                                                        break;

                                                                    case ItemType.TEXTAREA:
                                                                        <label class="label">@item.Label</label>
                                                                        <label class="textarea">
                                                                            <textarea data-id="@item.Id" data-type="@item.Type" data-name="@item.Name"
                                                                                      id="@item.Name" type="@item.ControlType" name="@item.Name" placeholder="@item.Label" value="@item.Value"></textarea>
                                                                        </label>
                                                                        break;

                                                                    case ItemType.LABEL:
                                                                        <article class="col col-@item.Width col-xs-12">
                                                                            @Html.Raw(@item.Label)
                                                                        </article>
                                                                        break;

                                                                    case ItemType.DROPDOWNLIST:
                                                                        <label class="label">@item.Label</label>
                                                                        <label class="input">
                                                                            @*@Html.DropDownListFor(item => item.Student.StudentId, new SelectList(Model.StudentList, "StudentId", "FirstName"), "--Select--", new { @id = "myid", @class = "myclass" })*@

                                                                            @Html.DropDownList(@item.Name, @item.Options, @item.Value, new { @id = @item.Name }).


                                                                            @*@Html.DropDownList(@item.Name, @item.Options,@item.Value, new { @id = @item.Name }).SelectedValue(@item.Value).OptionLabel(@item.DefaultText).Id(@item.Name)*@
                                                                        </label>
                                                                        break;

                                                                    case ItemType.PERCENTAGEBREAKDOWN:
                                                                        <div class="row">
                                                                            <div class="col col-12 col-xs-12"><label class="label">@item.Label</label></div>
                                                                            <div class="col col-10 col-xs-12">
                                                                                @Html.DropDownList(@item.Name, @item.Options, @item.DefaultText, new { @Class = "form-control" }).

                                                                                @*@Html.Bootstrap().DropDownList(@item.Name, @item.Options).OptionLabel(@item.DefaultText).Class("form-control")*@
                                                                            </div>
                                                                            <div class="col col-2 col-xs-12">
                                                                                <button id="clickMe" onclick="AddBusinessActivity(this, '#@item.Name', '#tableResult');" class="btn btn-sm btn-success" style="width:100px">
                                                                                    Add
                                                                                </button>
                                                                            </div>
                                                                            <div class="col col-12">
                                                                                <table id="tableResult" cellpadding="4" cellspacing="0">
                                                                                    <tbody></tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                        break;

                                                                    case ItemType.MULTISELECT:
                                                                        <label class="label">@item.Label</label>
                                                                        <label class="input">
                                                                            @*@Html.ListBox(@item.Name, @item.Options).Class("cselect").Data(new { placeholder = @item.Label })*@
                                                                        </label>
                                                                        break;

                                                                    case ItemType.JSBUTTON:
                                                                        @*@Html.Bootstrap().Button().Text(@item.Label).HtmlAttributes(new { onclick = @item.Value }).Class("btn-sm")*@
                                                                        break;

                                                                    case ItemType.SUBMITBUTTON:
                                                                        @*@Html.Bootstrap().SubmitButton().Text(@item.Label).Class("btn-sm")*@
                                                                        break;

                                                                }
                                                                @if (item.ConditionalList.Count != 0)
                                                                {
                                                                    <label class="label">@item.ConditionalList.FirstOrDefault().Label</label>
                                                                    <label class="input">
                                                                        <i class="@item.Icon"></i>
                                                                        <input data-id="@item.ConditionalList.FirstOrDefault().Id" data-type="@item.ConditionalList.FirstOrDefault().Type" data-name="@item.ConditionalList.FirstOrDefault().Name"
                                                                               id="@item.ConditionalList.FirstOrDefault().Name" type="@item.ConditionalList.FirstOrDefault().ControlType" name="@item.ConditionalList.FirstOrDefault().Name" placeholder="@item.ConditionalList.FirstOrDefault().Label" value="@item.Value" />
                                                                    </label>
                                                                }
                                                            </section>
                                                        }
                                                        else
                                                        {
                                                            @Html.Raw("</div><div class=\"row\">")
                                                        }
                                                    }

                                                    @*<button onclick="AddSection(informationSection.Id)" class="btn-sm AddupdateBoat" id="updateBoat">Add</button>*@
                                                    @*<button onclick="ClearBoats(event,'#boatTabs3','boatTabs1')" class="btn-sm AddClearBoat" id="ClearBoat">Clear and Cancel</button>*@
                                                }
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    heading = heading + 1;

                    collapseCount = collapseCount + 1;
                }

            }

            <a onclick=" $('#later').removeClass('hidden');$('#less').removeClass('hidden'); $('#more').addClass('hidden');" cursor:"pointer" class="btn btn-lg txt-color-darken" id="more">More </a>
            <a onclick=" $('#later').addClass('hidden'); $('#more').removeClass('hidden');$('#less').addClass('hidden');" cursor:"pointer" class="btn btn-lg txt-color-darken hidden" id="less">Less </a>

        </div>

    </div>
</div>


<div id="myPanelModal" class="modal fade " role="dialog">

    <!-- Modal content-->

    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="color:blue; font-size:22px">Edit Accordion Order</h4>
        </div>
        <div class="modal-body">
            <form id="ProdForm">
                <div class="form-group">

                    <table class="table table-bordered table-responsive-md table-striped text-center" id="boatTable">

                        <tr>
                            <th class="text-center" width="13%">Panel Id</th>

                            <th class="text-center" width="13%">Panel Name</th>

                            <th class="text-center" width="9%"></th>
                        </tr>
                        @foreach (var informationSection in Model.Sections.OrderBy(s => s.Position).Where(s => s.Position > 0))
                        {
                            <tr class="clickable-row">
                                <td class="pt-3-half" width="13%" contenteditable="true" id="BoatName">
                                    @informationSection.Id
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true" id="BoatName">
                                    @informationSection.Name
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true" id="BoatName">
                                    @informationSection.Position
                                </td>

                                <td width="9%">
                                    <a href="#myPanelEditModal" aria-hidden="true" style="color:green" data-toggle="modal" data-Panel-Id="@informationSection.Id"
                                       data-Panel-name="@informationSection.Name" data-Panel-Position="@informationSection.Position"><i class="fa fa-edit"> </i></a>
                                </td>

                            </tr>

                        }
                    </table>

                </div>

            </form>
        </div>
        <div class="modal-footer">
            @*<input type="Reset" value="Submit" class="btn btn-success" id="btnPanelSubmit">*@

            <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel<i class="fa fa-close"></i></a>
        </div>
    </div>
</div>



<!-- Edit Boat -->
<div id="myPanelEditModal" class="modal fade " role="dialog">

    <!-- Modal content-->

    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="color:blue; font-size:22px">Edit Vessel</h4>
        </div>
        <div class="modal-body">
            <form id="ProdForm">

                <div class="form-group">
                    <label for="MaxSumInsured">Panel Id</label>
                    <input type="text" class="form-control " id="PanelId" name="PanelId" readonly />

                </div>

                <div class="form-group">
                    <label for="MaxSumInsured">Panel Name</label>
                    <input type="text" class="form-control " id="PanelName2" name="PanelName2" readonly />

                </div>
                <div class="form-group">
                    <label for="MaxSumInsured">Panel Position</label>

                    <input type="text" class="form-control " id="PanelPosition2" name="PanelPosition2" />
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <input type="Reset" value="Submit" class="btn btn-success" id="btnPanelSubmit">

            <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel<i class="fa fa-close"></i></a>
        </div>
    </div>
</div>

<style>

    #header > :first-child, aside {
        width: 1500px !important;
    }

    .container {
        margin-left: 16% !important;
        width: 100%;
    }
</style>