@model DealEngine.WebUI.Models.Authorization.AuthorizeViewModel

<form>
    <div class="form-group col-12">
        <select class="form-select" id="AddUser" data-placeholder="Select User">
            @foreach (var user in Model.UserList)
            {
                <option value="@user.Id">@user.UserName</option>
            }
        </select>
    </div>
    <div class="form-group col-12">
        <select class="cselect form-select" data-placeholder="Select Roles to add to User" id="AddUserRoleSelect" multiple="multiple" name="@Html.NameFor(m => m.RoleList)">            
                @foreach (var role in Model.RoleList)
                {
                    <option value="@role.Id">@role.Name</option>
                }
            </select>
    </div>
    <div class="form-group col-12">
        <button type="button" class="btn btn-primary btn-sm" onclick="SaveRoleToUser()">Save</button>
    </div>
</form>


