@model DealEngine.WebUI.Models.Authorization.AuthorizeViewModel
<div class="container-fluid">
    <div class="row">
        <div class="accordion container" id="accordionExample">
            <div class="accordion-item">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0 accordion-header">
                            <button class="btn btn-link " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Configure Role
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="card-body">
                            <div class="container" id="AddRoleForm">
                                <form>
                                    <div class="form-group">
                                        @await Html.PartialAsync("AddRoleForm", Model)
                                    </div>
                                    <div class="form-group">
                                        @await Html.PartialAsync("UpdateRoleForm", Model)
                                    </div>
                                    <div class="form-group">
                                        @await Html.PartialAsync("DeleteRoleForm", Model)
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0 accordion-header">
                            <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Add Claims to User
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">

                        <div class="card-body">
                            <form id="userclaimform">
                                <div class="form-group">
                                    <select class="form-select" id="AddClaimUser" data-placeholder="Select User">
                                        @foreach (var user in Model.UserList)
                                        {
                                            <option value="@user.Id">@user.UserName</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="cselect form-select" data-placeholder="Add Claims" id="AddUserClaims" multiple="multiple" name="@Html.NameFor(m => m.ClaimList)">
                                        @foreach (var claim in Model.ClaimList)
                                        {
                                            <option value="@claim.Value">@claim.Value</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary btn-sm" onclick="SaveClaimToUser()">Save</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingfour">
                        <h2 class="mb-0 accordion-header">
                            <button class="btn btn-link " type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                Add Role to User
                            </button>
                        </h2>
                    </div>
                    <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour" data-bs-parent="#accordionExample">
                        <div class="card-body">
                            <div class="container" id="AddRoleToUserForm">
                                @await Html.PartialAsync("AddRoleToUserForm", Model)
                            </div>
                        </div>
                        @*<div class="card-footer">
                        <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary" onclick="AddRoleToUser()">Add User Permissions</button>
                        <button type="button" class="btn btn-primary">Delete</button>
                        </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section pagespecific {
    <script type="text/javascript">

        $(document).ready(function () {
            $('#AddRoleClaims').chosen({ width: '100%' });
        });

        $(document).ready(function () {
            $('#UpdateClaims').chosen({ width: '100%' });
        });

        $(document).ready(function () {
            $('#AddUserRoleSelect').chosen({ width: '100%' });
        });

        $(document).ready(function () {
            $('#AddUserClaims').chosen({ width: '100%' });
        });

        function ShowClaim() {
            $("#claimList").hide();
        }

        function SaveClaimToUser() {
            var userId = document.getElementById('AddClaimUser').value;
            var claims = $('#AddUserClaims').val();
            postData = { UserId: userId, Claims: claims }
            $.ajax({
                url: '@Url.Action("CreateUserToClaim", "Authorize")',
                type: "POST",
                data: postData
            })
                .done(function (data) {
                    $('#Success').alert();
                    location.reload();
                })
                .fail(function (a, s, d) {
                    debugger;
                    alert("Unable to save.");
                });
        }

        function SaveRole() {
            var roleName = $('#InputRoleName').val();
            var claim = $('#AddRoleClaims').val();
            var organisationId = $('#organisationId').val();
            var postData = { RoleName: roleName, Claims: claim, OrganisationId: organisationId }

            $.ajax({
                url: '@Url.Action("AddRole", "Authorize")',
                type: "POST",
                data: postData
            })
                .done(function (data) {
                    $('#AddRoleForm').hide();
                    location.reload();
                    $('#Success').alert();
                })
                .fail(function (a, s, d) {
                    alert("Unable to save.");
                });
        }

        function UpdateRole() {
            var roleName = $('#UpdateRoleSelect').val();
            var claim = $('#UpdateClaims').val();
            var postData = { RoleName: roleName, Claims: claim }
            $.ajax({
                url: '@Url.Action("UpdateRole", "Authorize")',
                type: "POST",
                data: postData
            })
                .done(function (data) {
                    location.reload();
                    $('#Success').alert();
                })
                .fail(function (a, s, d) {
                    alert("Unable to save.");
                });
        }

        function DeleteRole() {
            var e = document.getElementById("DeleteRoleSelect");
            var roleName = e.options[e.selectedIndex].text;
            debugger;
            var postData = { RoleName: roleName }
            $.ajax({
                url: '@Url.Action("DeleteRoleSelect", "Authorize")',
                type: "POST",
                data: postData
            })
                .done(function (data) {
                    location.reload();
                    $('#Success').alert();
                })
                .fail(function (a, s, d) {
                    alert("Unable to save.");
                });
        }

        function SaveRoleToUser() {
            var userId = $('#AddUser').val();
            var roleIds = $('#AddUserRoleSelect').val();
            var postData = { UserId: userId, RoleIds: roleIds }

            $.ajax({
                url: '@Url.Action("SaveRoleToUser", "Authorize")',
                type: "POST",
                data: postData
            })
                .done(function (data) {
                    location.reload();
                    $('#Success').alert();
                })
                .fail(function (a, s, d) {
                    alert("Unable to save.");
                });
        }

        function AddRole() {
            $('#AddRoleForm').show();
            $('#UpdateRoleForm').hide();
        }

        function AddRoleToUser() {
            $('#AddRoleToUserForm').show();
        }

        function EditRole() {
            $('#AddRoleForm').hide();
            $('#UpdateRoleForm').show();
        }

    </script>
}