@model DealEngine.WebUI.Models.Authorization.AuthorizeViewModel

<form>
    <!-- Title -->
    <div class="form-group col-12">
        <h3>Update Role</h3>
    </div>

    <!-- Role Selection -->
    <div class="form-group col-12">
        <label for="UpdateRoleSelect">Select Role to Update</label>
        <select class="form-select" id="UpdateRoleSelect">
            @foreach (var role in Model.RoleList)
            {
                <option value="@role.Name">@role.Name</option>
            }
        </select>
    </div>

    <!-- Display Claims for the Selected Role -->
    <div id="roleClaimsDisplay" class="form-group col-12">
        <label>Current Claims for selected Role:</label>
        <div class="border p-2" style="width: 100%; display: flex; flex-wrap: wrap;">
            <ul id="roleClaimsList" class="list-unstyled" style="display: flex; flex-wrap: wrap; width: 100%;"></ul>
        </div>
    </div>

    <!-- Update Claims for the Role -->
    <div class="claims-container">
        <label>Claims to Add to selected Role:</label>
        <div id ="claims-container-box" class="border p-2" style="width: 100%; display: flex; flex-wrap: wrap;">
            @foreach (var claim in Model.ClaimList)
            {
                <div class="claim-item">
                    <input type="checkbox" id="@claim.Value" name="claimsToAdd" value="@claim.Value">
                    <label for="@claim.Value">@claim.Value</label>
                </div>
            }
        </div>
    </div>

    <!-- Update Button -->
    <div class="form-group col-12 p-2">
        <button type="button" class="btn btn-primary btn-lg" onclick="UpdateRole()">Update Role</button>
    </div>
</form>