@model DealEngine.WebUI.Models.Milestone.MilestoneBuilderViewModel

<div id="content">

    @Html.HiddenFor(m => m.ProgrammeId)
    @Html.HiddenFor(m => m.ProgrammeProcessId)

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        <h2>Create Milestones</h2>
                    </div>

                    <div class="card-body">

                        <form action="#" id="wizard-1" role="form" data-bs-toggle="validator" method="post" accept-charset="utf-8" novalidate="true">
                            <div id="smartwizard" class="sw-main sw-theme-circles">
                                <ul class="nav nav-tabs step-anchor">
                                    <li class="nav-item active"><a href="#tab1" class="nav-link">1<br><small>Activity Selection</small></a></li>
                                    <li class="nav-item"><a href="#tab2" class="nav-link">2<br><small>Create Milestones</small></a></li>
                                    <li class="nav-item"><a href="#tab3" class="nav-link">3<br><small>Complete</small></a></li>
                                </ul>

                                <div class="sw-container tab-content container-fluid">
                                    <div id="tab1" class="tab-pane step-content" style="display: block;">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3><strong>Activity Selection </strong> - Select a Milestone</h3>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="container-fluid">
                                                <div class="btn-group btn-group-toggle" data-bs-toggle="buttons">
                                                    @foreach (var activity in Model.MilestoneTemplate.Activities)
                                                    {
                                                        <label class="btn btn-outline-primary" id="milestoneType" for="@activity.Id">
                                                            <input type="radio" id="@activity.Id" name="activityRadio" /> @activity.Name
                                                        </label>
                                                    }
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div id="tab2" class="tab-pane step-content">
                                        <div class="container-fluid">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3><strong>Create Milestones </strong> Select A Milestone Type To Add</h3>
                                                </div>
                                                <div class="card-body">
                                                    <div class="container">
                                                        <div class="input-group mb-3">
                                                            <div class="btn-group btn-group-toggle" data-bs-toggle="buttons">
                                                                <label class="btn btn-outline-primary">
                                                                    <input style="display:none;" type="radio" name="milestoneOptions" id="Advisory" onchange="PartialView('Advisory')"> Advisory
                                                                </label>
                                                                @if (User.IsInRole("TCUser"))
                                                                {
                                                                    <label class="btn btn-outline-primary">
                                                                        <input style="display:none;" type="radio" name="milestoneOptions" id="Email" onchange="PartialView('Email')"> Email
                                                                    </label>
                                                                    <label class="btn btn-outline-primary">
                                                                        <input style="display:none;" type="radio" name="milestoneOptions" id="Task" onchange="PartialView('Task')"> Task
                                                                    </label>
                                                                }
                                                                @if (User.HasClaim("EditMilestones", "EditMilestones"))
                                                                {
                                                                    <label class="btn btn-primary">
                                                                        <input style="display:none;" type="button" name="options" id="option4" onclick="SaveStatus()"> Continue to save
                                                                    </label>
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="input-group mb-3">
                                                            <div id="MilestoneType" class="row"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="tab3" class="tab-pane step-content">
                                        <h3><strong>Complete </strong></h3>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <footer>
                                                            <button type="button" class="btn btn-metro" onclick="RedirectList()">
                                                                Programme List
                                                            </button>
                                                        </footer>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>


@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />        
    <script src="~/smartwizard/js/jquery.smartWizard.min.js" defer></script>
    <link href="~/smartwizard/cc/smart_wizard_theme_circles.css" rel="stylesheet" />
    <script src="~/ckeditor/ckeditor5-build-no-plugin/ckeditor.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#smartwizard').smartWizard({
                selected: 0,  // Initial selected step, 0 = first step
                keyNavigation: true, // Enable/Disable keyboard navigation(left and right keys are used if enabled)
                autoAdjustHeight: false, // Automatically adjust content height
                cycleSteps: false, // Allows to cycle the navigation of steps
                backButtonSupport: true, // Enable the back button support
                useURLhash: true, // Enable selection of the step based on url hash
                lang: {  // Language variables
                    next: 'Next',
                    previous: 'Previous'
                },
                toolbarSettings: {
                    toolbarPosition: 'both', // none, top, bottom, both
                    toolbarButtonPosition: 'right', // left, right
                    showNextButton: true, // show/hide a Next button
                    showPreviousButton: true, // show/hide a Previous button

                },
                anchorSettings: {
                    anchorClickable: true, // Enable/Disable anchor navigation
                    enableAllAnchors: false, // Activates all anchors clickable all times
                    markDoneStep: true, // add done css
                    enableAnchorOnDoneStep: true // Enable/Disable the done steps navigation
                },
                contentURL: null, // content url, Enables Ajax content loading. can set as data data-content-url on anchor
                disabledSteps: [],    // Array Steps disabled
                errorSteps: [],    // Highlight step with errors
                theme: 'dots',
                transitionEffect: 'fade', // Effect on navigation, none/slide/fade
                transitionSpeed: '400'
            });

            $("#smartwizard").on("leaveStep", function (e, anchorObject, stepNumber, stepDirection) {
                if (stepNumber === 0 && stepDirection != "backward") {
                    $('.sw-btn-next').hide();
                    $("#TaskPartial").hide();
                    $("#EmailPartial").hide();
                    $("#AdvisoryPartial").hide();
                }

                if (stepNumber === 1 && stepDirection != "backward") {
                    Submit();
                }else if (stepNumber === 1 && stepDirection == "backward") {
                    $('.sw-btn-next').show();
                }
            })
        });

        function getActivityId() {
            return $('input[name=activityRadio]:checked').attr('id');
        }

        function getMilestoneModel() {
            return $('input[name=milestoneOptions]:checked').attr('id');
        }

        function SaveStatus() {
            $('.sw-btn-next').show();
        }

        function PartialView(button) {
            LoadMilestoneActivity(button);
        }

        function LoadMilestoneActivity(button) {            
            var activityId = getActivityId();
            var programmeId = $('#ProgrammeId').val();
            var programmeProcessId = $('#ProgrammeProcessId').val();

            var mergedData = {                
                strProgrammeProcessId: programmeProcessId,
                strProgrammeId: programmeId,
                strMilestoneActivityId: activityId,
                type: button
            };

            $.ajax({
                url: "/Milestone/MilestoneSelect",
                type: "POST",
                data:  mergedData  // serializes the form's elements.
            })
                .done(function (url) {
                    $("#MilestoneType").load(url, function () {
                    });
                })
                .fail(function (err) {
                    alert("Unable to save." + err.responseText);
                });

        }

        function RedirectList() {
            location.href='@Url.Action("MilestoneList", "Milestone")'
        }

        function Submit() {

            var milestoneModel = getMilestoneModel();
            var emailModel = null, advisoryModel = null, taskModel = null;

            if (milestoneModel == 'Email') {
                emailModel = GetEmailContentJson();
            } else if (milestoneModel == 'Task') {
                taskModel = GetUserTaskContentJson();
            }
            else
                advisoryModel = GetAdvisoryContentJson();

            console.log(taskModel);

            var mergedData = {
                EmailTemplate: emailModel,
                AdvisoryContent: advisoryModel,
                ActivityId: getActivityId(),
                UserTask: taskModel,
                ProgrammeId: $('#ProgrammeId').val(),
                ProgrammeProcessId: $('#ProgrammeProcessId').val()
            };

            $.ajax({
                url: "/Milestone/SubmitMilestone",
                type: "POST",
                data:  mergedData  // serializes the form's elements.
            })
                .done(function (json) {

                })
                .fail(function (err) {
                    alert("Unable to save." + err.responseText);
                });
        }
    </script>
}