@model DealEngine.WebUI.Models.Milestone.MilestoneBuilderViewModel

<div id="taskPriority" class="form-group">
    <select class="form-control b form-select" id="Priortylist" required>
        <option selected="selected" value="">-- Select Task Priority --</option>
        @foreach (var taskPriorty in Model.Priorities)
        {
            <option value="@taskPriorty.Value"> @taskPriorty.Text</option>
        }
    </select>
</div>

<div id="taskDueDate" class="form-group">
    <select class="form-control b" id="dueDateList" required>
        <option selected="selected" value="">-- Select Task Due Date (From Date Created) --</option>
        @for (int i = 0; i < 8; i++)
        {
            <option value="@i"> @i</option>
        }
    </select>
</div>

<div id="taskDescription" class="form-group">
    @Html.TextAreaFor(m => m.UserTask.Description, new { name = "content", @class="form-control", cols = "100", rows = "2", @placeholder = "Task Description" })
</div>



<div id="taskReference" class="form-group">
    @Html.TextAreaFor(m => m.UserTask.Details, new { id = "Milestoneeditor", @class="form-control", @placeholder = "Task Reference", cols = "100", rows = "2" })
</div>




<script type="text/javascript">
    ClassicEditor
        .create(document.querySelector('#Milestoneeditor'))
        .then(newDetail => {
            editorDetail = newDetail;
        })
        .catch(error => {
            console.error(error);
        });

    function GetUserTaskContentJson()
    {
        console.log($("#DueDate").val());
        return {
            Priority: $("#Priortylist").val(),
            DueDate: $("#dueDateList").val(),
            Description: $("#@(Html.IdFor(m => m.UserTask.Description))").val(),
            Details: editorDetail.getData()
    	};
    }


</script>

