@model DealEngine.WebUI.Models.Programme.ProgrammeInfoViewModel

@{
    int count = 0;
}

<div id="content" class="container">

    <div class="row">
        <h1 class="page-title txt-color-blueDark">
            <!-- PAGE HEADER -->
            <i class="fa-fw fa fa-home"></i>  <span>
                <a href="~/Programme/ManageRules/@Model.Id">Manage Rules</a>
                > Product Rules
            </span>
        </h1>
    </div>

    <div class="row">
        <span>
            <a onclick="location.href='@Url.Action("ManageRules", "Programme", new { Id =@Model.Id })'" style="color:dodgerblue;font-size:30px; cursor:pointer"> <span _ngcontent-c7="" class="icon-append fa fa-arrow-circle-left"></span>  </a>
        </span>
    </div>

    <div class="row">
        <div class="jarviswidget jarviswidget-color-blue container-fluid" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false"
             data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">

            <header>
                <span class="widget-icon"> <i class="fa fa-comment text-white"></i> </span>
                <h2>@ViewBag.Title </h2>
            </header>

            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.ProductId)

            <form action="~/Agreement/EditAgreement/item" method="POST" id="update-form" class="client-form" enctype="multipart/form-data">
                <table class="table table-bordered table-responsive-md table-striped text-center" id="refferals">
                    <tr>
                        <th class="text-center" width="20%" style="color:black">Rule Name</th>
                        <th class="text-center" width="28%" style="color:black">Rule Description</th>
                        <th class="text-center" width="20%" style="color:black">Rule Order Number</th>
                        <th class="text-center" width="20%" style="color:black">Rule Value</th>
                        <th class="text-center" width="12%"></th>
                    </tr>

                    @foreach (var item in Model.Rules)
                    {
                        @if (count % 2 == 1)
                        {
                            <tr class="table-light">
                                <td class="pt-3-half" width="13%" contenteditable="true" id="ReferralName" style="color:black">
                                    @item.Name
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true" style="color:black">
                                    @item.Description
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true" style="color:black">
                                    @item.OrderNumber
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true" style="color:black">
                                    @item.Value
                                </td>
                                @if (User.HasClaim("EditRules", "EditRules"))
                                {
                                    <td width="9%">
                                        <a href="#myModal" aria-hidden="true" style="color:green" data-bs-toggle="modal" data-rule-id="@item.Id" data-rule-name="@item.Name"
                                           data-rule-desc="@item.Description" data-rule-val="@item.Value" data-rule-order="@item.OrderNumber"><i class="fa fa-edit"> </i></a>
                                    </td>
                                }
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td class="pt-3-half" width="13%" contenteditable="true" id="ReferralName" style="color:black">
                                    @item.Name
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true" style="color:black">
                                    @item.Description
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true" style="color:black">
                                    @item.OrderNumber
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true" style="color:black">
                                    @item.Value
                                </td>
                                @if (User.HasClaim("EditRules", "EditRules"))
                                {
                                    <td width="9%">
                                        <a href="#myModal" aria-hidden="true" style="color:green" data-bs-toggle="modal" data-rule-id="@item.Id" data-rule-name="@item.Name"
                                           data-rule-desc="@item.Description" data-rule-val="@item.Value" data-rule-order="@item.OrderNumber"><i class="fa fa-edit"> </i></a>
                                    </td>
                                }
                            </tr>
                        }
                        count++;
                    }
                </table>

            </form>

        </div>
    </div>

</div>






<!-- Edit Boat -->
@*<div id="myModal" class="modal" role="dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" id="myModalId" data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:blue; font-size:22px">Edit Rule</h4>
            </div>
            <div class="modal-body">
                <form id="ProdForm">

                    <div class="form-group" hidden>
                        <label for="MaxSumInsured">Rule Id</label>

                        <input type="text" class="form-control " id="RuleId" name="Id" />

                    </div>
                    <div class="form-group">
                        <label for="MaxSumInsured">Rule Name</label>

                        <input type="text" class="form-control " id="RuleName" name="Name" />

                    </div>
                    <div class="form-group">
                        <label for="MaxSumInsured">Rule Description</label>

                        <input type="text" class="form-control " id="RuleDesc" name="Description" />
                    </div>
                    <div class="form-group">
                        <label for="MaxSumInsured">Order number</label>

                        <input type="text" class="form-control " id="RuleOrder" name="OrderNumber" />
                    </div>
                    <div class="form-group">
                        <label for="MaxSumInsured">Value</label>

                        <input type="text" class="form-control " id="RuleVal" name="Value" />
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <input type="Reset" value="Submit" class="btn btn-success" id="rulebtnSubmit">

                <a href="#" class="btn btn-danger" data-bs-dismiss="modal">Cancel<i class="fa fa-close"></i></a>
            </div>
        </div>
    </div>*@

<div id="myModal" class="modal" aria-hidden="true">
    <form id="ProdForm" class="" action="" method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" style="color:blue; font-size:22px">Edit Rule</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" id=""></button>

                </div>
                <div class="modal-body">
                    <div class="form-group" hidden>
                        <label for="MaxSumInsured">Rule Id</label>

                        <input type="text" class="form-control " id="RuleId" name="Id" />

                    </div>
                    <div class="form-group">
                        <label for="MaxSumInsured">Rule Name</label>

                        <input type="text" class="form-control " id="RuleName" name="Name" />

                    </div>
                    <div class="form-group">
                        <label for="MaxSumInsured">Rule Description</label>

                        <input type="text" class="form-control " id="RuleDesc" name="Description" />
                    </div>
                    <div class="form-group">
                        <label for="MaxSumInsured">Order number</label>

                        <input type="text" class="form-control " id="RuleOrder" name="OrderNumber" />
                    </div>
                    <div class="form-group">
                        <label for="MaxSumInsured">Value</label>

                        <input type="text" class="form-control " id="RuleVal" name="Value" />
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="Reset" value="Submit" class="btn btn-success" id="rulebtnSubmit">
                    <a href="#" class="btn btn-danger" data-bs-dismiss="modal">Cancel<i class="fa fa-close"></i></a>
                </div>
            </div>
        </div>
    </form>
</div>


@section pagespecific {
    @await Html.PartialAsync("_ProgrammeScripts")
}
