@model DealEngine.WebUI.Models.Programme.ProgrammeInfoViewModel
<!-- MAIN CONTENT -->
<div id="content" class="container">
    <div class="form-group">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-home"></i>  <span>
                <a href="~/Programme/TermSheetConfirguration/@Model.Id">Package Term Sheet</a>
                > Manage @ViewBag.RuleType Rules
            </span>
        </h1>
    </div>
    <div class="form-group">
        <span>
            <a class="btn btn-primary btn-xs text-white" onclick="location.href='@Url.Action("TermSheetConfirguration", "Programme",new { Id =@Model.Id })'" id="backbutton"><i class="fa fa-home"></i> Back </a>            
        </span>
    </div>

    <div class="form-group">
        <div class="card">
            <div class="card-header">
                <span class="widget-icon">                    
                    <h2><i class="fa fa-comment"></i>Manage @ViewBag.RuleType Rules</h2>
                </span>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped ">
                    <thead>
                        <tr>
                            @if (Model.BrokerContactUser == null)
                            {
                                <th>Broker User: Broker FirstName</th>

                            }
                            else
                            {
                                <th class="th">Broker User: @Model.BrokerContactUser.FirstName</th>

                            }
                            <th></th>
                        </tr>
                    </thead>
                    @if (ViewBag.RuleType == "Notification") { 

                        <tr class="table-light">
                            <td align="left">
                                Manage UIS Issue Notification Users
                            </td>
                            <td><a class="btn btn-success btn-sm " href="@Url.Action("IssueNotification", "Programme",new { Id = @Model.Id, Title = "Manage UIS Issue Notification Users"})"><i class="fa fa-search"></i>View</a></td>
                        </tr>

                    <tr>
                        <td align="left">
                            Manage UIS Submission Notification Users
                        </td>
                        <td><a class="btn btn-success btn-sm " href="@Url.Action("IssueNotification", "Programme",new { Id = @Model.Id, Title = "Manage UIS Submission Notification Users"})"><i class="fa fa-search"></i>View</a></td>
                    </tr>

                    <tr class="table">
                        <td align="left">
                            Manage Agreement Refer Notification Users
                        </td>
                        <td><a class="btn btn-success btn-sm " href="@Url.Action("IssueNotification", "Programme",new { Id = @Model.Id, Title = "Manage Agreement Refer Notification Users"})"><i class="fa fa-search"></i>View</a></td>
                    </tr>

                    <tr class="table-light">
                        <td align="left">
                            Manage Agreement Bound Notification Users
                        </td>
                        <td><a class="btn btn-success btn-sm " href="@Url.Action("IssueNotification", "Programme",new { Id = @Model.Id, Title = "Manage Agreement Bound Notification Users"})"><i class="fa fa-search"></i>View</a></td>
                    </tr>
                    }
                    @if (ViewBag.RuleType == "UnderWriting")
                    {
                        @foreach (var product in Model.Product)
                        {
                            <tr>
                                <td align="left">
                                    New Product Rules for @product.Name
                                </td>
                                <td><a class="btn btn-success btn-sm " href="@Url.Action("ProductRules", "Programme",new { Id = @Model.Id, productId = product.Id })"><i class="fa fa-search"></i>View</a></td>

                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>

