@model DealEngine.WebUI.Models.Programme.ProgrammeInfoViewModel

    <form id="programmeform" method="POST" class="is-valid" action="~/Programme/EditProgramme">
        @Html.HiddenFor(m => m.Id)
        <div class="card">
            <div class="card-header text-white" style="background-color:#3276b1">
                <h2>Edit Programme</h2>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-4">
                            <label class="label"><strong>Programme Name: </strong></label>
                        </div>
                        <div class="col-8">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @id = "pname" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-4">
                            <label class="label"><strong>Tax Rate: </strong></label>
                        </div>
                        <div class="col-8">
                            @Html.TextBoxFor(m => m.Programme.TaxRate, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-4">
                            <label class="label"><strong>Policy Number Prefix String: </strong></label>
                        </div>
                        <div class="col-8">
                            @Html.TextBoxFor(m => m.Programme.PolicyNumberPrefixString, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-4">
                            <label class="label"><strong>Reports Path: </strong></label>
                        </div>
                        <div class="col-8">
                            @Html.TextAreaFor(m => m.Programme.Reportspath, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                @if (User.IsInRole("TCUser"))
                {
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label class="label"><strong>Declaration: </strong></label>
                            </div>
                            <div class="col-8">
                                @Html.TextAreaFor(m => m.Programme.Declaration, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label class="label"><strong>No Payment Required Message: </strong></label>
                            </div>
                            <div class="col-8">
                                @Html.TextAreaFor(m => m.Programme.NoPaymentRequiredMessage, new { @class = "form-control", @onChange = "OnChange(this.id, this.name)" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label class="label"><strong>Broker user email: </strong></label>
                            </div>
                            <div class="col-8">
                                <select id="brokers" name="BrokerContactUser" class="form-select ">
                                    @foreach (var option in Model.Brokers)
                                    {
                                        <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label class="label"><strong>Permission Claim: </strong></label>
                            </div>
                            <div class="col-8">
                                @Html.TextBoxFor(m => m.Programme.Claim, new { @class = "form-control", @onChange = "OnChange(this.id, this.name)" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label class="label"><strong>I want this programme to use EGlobal API: </strong></label>
                            </div>
                            <div class="col-8">
                                @Html.DropDownListFor(m => m.Programme.UsesEGlobal, Model.BooleanOptions, new { @class = "form-select", @onChange = "OnChange(this.id, this.name)" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label class="label"><strong>I want this programme to be publicly available. </strong></label>
                            </div>
                            <div class="col-8">
                                @Html.DropDownListFor(m => m.Programme.IsPublic, Model.BooleanOptions, new { @class = "form-select", @onChange = "OnChange(this.id, this.name)" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label class="label"><strong>I want to enable programme emails. </strong></label>
                            </div>
                            <div class="col-8">
                                @Html.DropDownListFor(m => m.Programme.ProgEnableEmail, Model.BooleanOptions, new { @class = "form-select", @onChange = "OnChange(this.id, this.name)" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label class="label"><strong>I want this programme to suspend all agreements.</strong></label>
                            </div>
                            <div class="col-8">
                                @Html.DropDownListFor(m => m.Programme.StopAgreement, Model.BooleanOptions, new { @class = "form-select form-select", @onChange = "OnChange(this.id, this.name)" })
                            </div>
                        </div>
                    </div>
                    <div id="Programme.StopAgreement" hidden>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">
                                    <label class="label required">
                                        <strong>Stop Agreement Message: </strong>
                                    </label>
                                </div>
                                <div class="col-8">
                                    @Html.TextAreaFor(m => m.Programme.StopAgreementMessage, new { @class = "form-control", @onChange = "OnChange(this.id, this.name)" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label class="label required">
                                    <strong>I want to enable the sub system: </strong>
                                </label>
                            </div>
                            <div class="col-8">
                                @Html.DropDownListFor(m => m.Programme.HasSubsystemEnabled, Model.BooleanOptions, new { @class = "form-select ", @onChange = "OnChange(this.id, this.name)" })
                            </div>
                        </div>
                    </div>
                    <div id="Programme.HasSubsystemEnabled" hidden>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">
                                    <label class="label required"><strong>Subsystem Declaration: </strong></label>
                                </div>
                                <div class="col-8">
                                    @Html.TextAreaFor(m => m.Programme.SubsystemDeclaration, new { @class = "form-control", @onChange = "OnChange(this.id, this.name)" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">
                                    <label class="label required"><strong>Subsystem Stop Agreement Message: </strong></label>
                                </div>
                                <div class="col-8">
                                    @Html.TextAreaFor(m => m.Programme.SubsystemStopAgreementMessage, new { @class = "form-control", @onChange = "OnChange(this.id, this.name)" })
                                </div>
                            </div>
                        </div>

                    </div>
                }
            </div>
            @if (User.HasClaim("EditProgramme", "EditProgramme"))
            {
                <div class="card-footer">
                    @if (Model.ProductViewModel == null)
                    {
                        <button type="submit" class="btn btn-success"> Save</button>
                    }
                </div>
            }
        </div>
    </form>
    @section pagespecific {
        @Html.PartialAsync("_ProgrammeScripts")
    }