@model DealEngine.WebUI.Models.Programme.ProgrammeInfoViewModel
<!-- MAIN CONTENT -->
    <div id="content" class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark">
                </h1>
            </div>
        </div>


        <div class="card">
            <div class="card-header text-white" style="background-color:#3276b1">
                <span class="widget-icon">
                    <h2><i class="fa fa-comments text-white"></i> Term Sheet Configuration - [@Model.Name] </h2>
                </span>
            </div>

            <div class="card-body">
                <!-- content goes here -->
                <table class="table table-striped">
                    <tbody>
                        @if (User.HasClaim("ViewProgramme", "ViewProgramme"))
                        {
                            <tr>
                                <td>Programme</td>
                                <td> @Model.Name  </td>
                                <td><a class="btn btn-success btn-sm" href="@Url.Action("EditProgramme", "Programme", new { Id = @Model.Id })"><i class="fa fa-search"></i> View</a></td>
                            </tr>
                        }
                        @if (User.HasClaim("ViewActivities", "ViewActivities"))
                        {
                            <tr>
                                <td>Activities</td>
                                <td>ANZSIC Codes</td>
                                <td><a class="btn btn-success btn-sm" href="@Url.Action("ActivityBuilder", "Programme", new { Id = @Model.Id })"><i class="fa fa-search"></i> View</a></td>
                            </tr>
                        }
                        @if (User.HasClaim("ViewManageDocuments", "ViewManageDocuments"))
                        {
                            <tr>
                                <td>Manage Documents</td>
                                <td>Certs, Schedules, Wording, Invoices</td>
                                <td><a class="btn btn-success btn-sm" href="/File/ProductIndex?Programme=@Model.Id"><i class="fa fa-search"></i> View</a></td>
                            </tr>
                        }
                        <tr>
                            <td>Addresses</td>
                            <td>Address API used </td>
                            <td><a class="btn btn-success btn-sm disabled" href="#"><i class="fa fa-search"></i> In Dev</a></td>
                        </tr>
                        @if (User.HasClaim("ViewRules", "ViewRules"))
                        {
                         <tr>
                             <td>Rules</td>
                             <td>Configure the Rules</td>
                             <td><a class="btn btn-success btn-sm" href="@Url.Action("ManageRules", "Programme", new { Id = @Model.Id ,RuleType ="Notification"})"><i class="fa fa-search"></i> View</a></td>
                          </tr>
                        }

                        @if (User.HasClaim("ViewEmails", "ViewEmails"))
                        {
                            <tr>
                                <td>Emails</td>
                                <td>System and programme specific</td>
                                <td><a class="btn btn-success btn-sm" href="@Url.Action("EmailTemplate", "Programme", new { Id = @Model.Id })"><i class="fa fa-search"></i> View</a></td>
                            </tr>
                        }
                        @if (User.HasClaim("ViewMilestones", "ViewMilestones"))
                        {
                            <tr>
                                <td>Milestones</td>
                                <td>Milestones</td>
                                <td><a class="btn btn-success btn-sm" href="/Milestone/MilestoneList"><i class="fa fa-search"></i> View</a></td>
                            </tr>
                        }
                        @if (User.HasClaim("ViewMarinas/FinancialInstitutions", "ViewMarinas/FinancialInstitutions"))
                        {
                            <tr>
                                <td>Marinas/Financial Institutions</td>
                                <td>Manage Marinas and Financial Institutions</td>
                                <td><a class="btn btn-success btn-sm" href="/Organisation/ManageOrganisations?Id=@Model.Id"><i class="fa fa-search"></i> View</a></td>
                            </tr>
                        }
                        <tr>
                            <td>Manage Update Type</td>
                            <td>Assign programme</td>
                            <td><a class="btn btn-success btn-sm" href="@Url.Action("UpdateType", "Programme", new { ProgrammeId = @Model.Id })"><i class="fa fa-search"></i> View</a></td>
                        </tr>
                        @if (User.HasClaim("ViewMotor", "ViewMotor"))
                        {
                            <tr>
                                <td>Motor</td>
                                <td>Motor API used   </td>
                                <td><a class="btn btn-success btn-sm disabled" href="#"><i class="fa fa-search"></i> In Dev</a></td>
                            </tr>
                        }
                        @if (User.HasClaim("ViewProducts", "ViewProducts"))
                        {
                            <tr>
                                <td>Products</td>
                                <td>Insurance Policies for adding to a programme   </td>
                                <td><a class="btn btn-success btn-sm disabled" href="#"><i class="fa fa-search"></i> In Dev</a></td>
                            </tr>
                        }
                        @if (User.HasClaim("ViewSections", "ViewSections"))
                        {
                            <tr>
                                <td>Sections</td>
                                <td>Sections for the Client Information Sheet   </td>
                                <td><a class="btn btn-success btn-sm disabled" href="#"><i class="fa fa-search"></i> In Dev</a></td>
                            </tr>
                        }
                        @if (User.HasClaim("ViewSpecialTerms", "ViewSpecialTerms"))
                        {
                            <tr>
                                <td>Special Terms</td>
                                <td>Endorsements</td>
                                <td><a class="btn btn-success btn-sm disabled" href="#"><i class="fa fa-search"></i> In Dev</a></td>
                            </tr>
                        }
                        @if (User.HasClaim("ViewUnderwritingRules", "ViewUnderwritingRules"))
                        {
                    <tr>
                        <td>Underwriting Rules</td>
                        <td>Underwriting Rules</td>

                        <td><a class="btn btn-success btn-sm" href="@Url.Action("ManageRules", "Programme", new { Id = @Model.Id ,RuleType ="UnderWriting"})"><i class="fa fa-search"></i> View</a></td>
                    </tr>
                        }
                        @if (User.HasClaim("ViewUsers", "ViewUsers"))
                        {
                            <tr>
                                <td>Users</td>
                                <td>User Management</td>
                                <td><a class="btn btn-success btn-sm disabled" href="#"><i class="fa fa-search"></i> In Dev</a></td>
                            </tr>
                        }
                        @if (User.HasClaim("ViewWater", "ViewWater"))
                        {
                            <tr>
                                <td>Water</td>
                                <td>Water Location API used</td>
                                <td><a class="btn btn-success btn-sm disabled" href="#"><i class="fa fa-search"></i> In Dev</a></td>
                            </tr>
                        }
                        <tr>
                            <td>Images</td>
                            <td>Images Management</td>
                            <td><a class="btn btn-success btn-sm disabled" href="#"><i class="fa fa-search"></i> In Dev</a></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>        

