@model System.Data.DataTable
@using System.Data

<h3>@ViewBag.Title</h3>

<br />

<br />

<div class="container">
    <form method="post" novalidate id="ReportForm">

        <div class="card-footer">
            <button class="btn btn-primary btn-xs" id="ReportView" @*onclick="getReport()"*@>Export to Excel</button>
        </div>
        <input type="text" class="form-control" value="@ViewBag.reportName" name="queryselect" hidden>

        <input type="text" class="form-control" value="@ViewBag.ProgrammeId" name="ProgrammeId" hidden>
        <input name="IsReport" id="IsReport" hidden />
        <div>
            @if (Model != null)
            {
                <table border="1" width="80%" id="ReportAnalysis">
                    <thead>
                        <tr>
                            @foreach (System.Data.DataColumn col in Model.Columns)
                            {
                                <th id="@col.Caption">@col.Caption</th>
                            }
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (System.Data.DataRow row in Model.Rows)
                        {
                            <tr>
                                @foreach (var cell in row.ItemArray)
                                {

                                    if (cell != null)
                                    {
                                        <td>@cell</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }


                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>

    </form>
</div>
<div class="modal overlay" id="GetReportModal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p><img src="/img/loading.gif" /> Getting Report. Please wait...</p>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(window).on("load", function () {
        $("#AddReportModal").hide();

        setTimeout(function(){
    $('#ads').modal('hide')
    }, 10000);})
    });

    $("#ReportView").click(function () {
        debugger;

        getReport();
        $("#GetReportModal").hide();

    });
   

    function getReport() {
        debugger;

        $("#GetReportModal").show();
        $('#IsReport').val("True");
        $('#ReportForm').submit();
        debugger;
                $("#GetReportModal").hide();

    };

      //function viewreport() {
      //    debugger;
      //                                       alert("33333");

      //          var TableData = new Array();
      //         $('#ReportAnalysis tr').each(function (row, tr) {
      //             TableData = TableData + $(tr).find('td:eq(0)').text() + "-" + $(tr).find('td:eq(1)').text() + ",";
      //         });
      //         var postData = { values: TableData };

      //         $.ajax({
      //             url: "/Home/ExportExcel",
      //             type : "POST",
      //             data : postData,

      //             success: function (data) {
      //                              alert("44444");

      //                 // perform your save call here

      //                 if (data.status == "Success") {
      //                     $("#AddReportModal").delay(5000).fadeOut(1000);
      //                 } else {
      //                     alert("Error occurs on the Database level!");
      //                 }
      //             },
      //             error: function () {
      //                 //alert("An error has occured!!!");
      //             }
      //         });

      //      }
</script>