@model IssueUISViewModel

<div class="container">
    <form id="ReportForm" method="POST" action="~/Home/GetReportView" novalidate>
        <input type="text" class="form-control" value="@Model.programme.Id" id="programmeId" name="ProgrammeId" hidden>
        <input type="text" class="form-control" value="@Model.programme.Name" id="programmeName" name="ProgrammeName" hidden>
        <input type="text" class="form-control" value="@Model.programme.NamedPartyUnitName" id="programmeNamedPartyUnitName" name="ProgrammeNamedPartyUnitName" hidden>
        <div class="card">
            <div class="card-header">
                <h5>
                    This page lists the reports available for this programme.
                </h5>
            </div>
            <div class="card-body">
                <table class="container">
                    <thread>
                        <tr>
                            <th>

                                Name
                            </th>

                        </tr>
                    </thread>
                    <tbody>
                        <tr>

                            <td>
                                <select class="form-control b form-select" id="ClientProg" name="queryselect">
                                    <option selected="selected" value="">-- Select --</option>
                                    @foreach (var product in Model.programme.Products)
                                    {
                                        <option value=@product.UnderwritingModuleCode.Substring(@product.UnderwritingModuleCode.IndexOf("_")+1)>@product.Name  Premium report</option>

                                    }

                                    @{
                                        if (Model.programme.EnableFAPReport)
                                        {
                                            <option value="FAP">FAP Report</option>

                                        }

                                    }
                                    @{
                                        if (Model.programme.EnableRevenueActivity)
                                        {
                                            <option value="RevenueActivity">RevenueActivity Report</option>

                                        }

                                    }



                                </select>

                            </td>


                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary btn-xs" id="submit" type="submit">View</button>
            </div>
        </div>
    </form>
</div>
<div class="modal overlay" id="AddReportModal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p><img src="/img/loading.gif" /> Fetching Records. Please wait...</p>
            </div>
        </div>
    </div>
</div>

<div class="modal overlay" id="RevenueReportModal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p><img src="/img/loading.gif" /> This report has a large number of columns and is not suitable for viewing on screen.  It will download automatically once generated.</p>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#submit").click(function () {
                    debugger;
            var selectedreport = $("#ClientProg option:selected").text();

            if (selectedreport == "RevenueActivity Report") {
               $("#RevenueReportModal").show();
            } else {
                $("#AddReportModal").show();
            }

            $('#ReportForm').submit();

            setTimeout(function () {

                $('#RevenueReportModal').hide();
            }, 40000);
        });

       
      
    })



</script>
