@model DealEngine.WebUI.Models.SearchViewModel
<div class="container">
    <form id="SearchForm" class="needs-validation" action="ViewProgramme" method="post">
        <div class="card">
            <div class="card-header">
                <h5>
                    Search
                </h5>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                @foreach (var id in Model.Programmes)
                {
                    if (User.HasClaim(id.Claim, id.Claim) || User.IsInRole("TCUser"))
                    {
                        @Html.Hidden(id.Claim, id.Id, new { @id = "ProgrammeId" });
                    }

                }
                <select name="Term" class="form-select" required>
                    @foreach (var option in Model.SearchOptions)
                    {
                        @if (option.Value == "Advisor")
                        {
                            if (User.HasClaim("TripleA", "TripleA") || User.HasClaim("NZFSG", "NZFSG"))
                            {
                                <option value="@option.Value">@option.Text</option>
                            }
                            else if(User.IsInRole("TCUser"))
                            {
                                <option value="@option.Value">@option.Text</option>
                            }
                        }
                        else{
                            <option value="@option.Value">@option.Text</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="Value" placeholder="Search Value" required="">
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-success" type="submit">Search</button>
        </div>
    </form>
</div>