@model OrganisationViewModel
<div id="content" class="container">
    <div class="row">
        <div class="col-sm-6" style="margin-top:30px;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Update/Add Marina</h5>
                    <p class="card-text" style="margin-top:30px;">Marina Name</p>
                    <div class="form-group">
                        <select class="form-select" Id="MarinaId" onchange="GetMarina(this.id)">
                            <option selected="selected" value="">Add New</option>
                            @foreach (var marina in Model.Organisations.Where(o => o.InsuranceAttributes.Any(i => i.Name == "Marina")).ToList())
                            {
                                <option value="@marina.Id">@marina.Name</option>
                            }
                        </select>
                        <form method="POST" action="~/Organisation/PostMarina" novalidate style="margin-top:30px;">
                            @Html.HiddenFor(m=>m.Organisation.Id, new { @id= "Marina.Id" })                            
                            <div class="form-group">
                                <label class="label">Name</label>
                                @Html.TextBoxFor(m => m.Organisation.Name, new { @class = "form-control", @id = "Marina.Name" })
                            </div>
                            
                            <div class="form-group">
                                <label class="label">Email</label>
                                @Html.TextBoxFor(m => m.Organisation.Email, new { @class = "form-control", @id = "Marina.Email" })
                            </div>                            
                            <div class="form-group">
                                <label class="label">Marina Name</label>
                                @Html.TextBoxFor(m => m.MarinaUnit.WaterLocation.MarinaName, new { @class = "form-control", @id = "WaterLocation.MarinaName" })
                            </div>
                            <button class="btn btn-primary btn-xs" type="submit">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="margin-top:30px;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Update/Add Financial Institute</h5>
                    <p class="card-text" style="margin-top:30px;">Financial Institutes</p>
                    <div class="form-group">
                        <select class="form-select" Id="FinancialId" onchange="GetInstitute(this.id)">
                            <option selected="selected" value="">Add New</option>
                            @foreach (var Financial in Model.Organisations.Where(o => o.InsuranceAttributes.Any(i => i.Name == "Financial")).ToList())
                            {
                                <option value="@Financial.Id">@Financial.Name</option>
                            }
                        </select>
                        <form method="POST" action="~/Organisation/PostInstitute" novalidate style="margin-top:30px;">
                            @Html.HiddenFor(m => m.Organisation.Id, new { @id = "Institute.Id" })
                            <div class="form-group">
                                <label class="label">Institute Name</label>
                                @Html.TextBoxFor(m => m.Organisation.Name, new { @class = "form-control", @id = "Institute.Name" })
                            </div>
                            <div class="form-group">
                                <label class="label">Email</label>
                                @Html.TextBoxFor(m => m.Organisation.Email, new { @class = "form-control", @id = "Institute.Email" })
                            </div>
                            <div class="form-group">
                                <label class="label">Common Name</label>
                                @Html.TextBoxFor(m => m.InterestedPartyUnit.Location.CommonName, new { @class = "form-control", @id = "Location.CommonName" })
                            </div>
                            <div class="form-group">
                                <label class="label">Street Name</label>
                                @Html.TextBoxFor(m => m.InterestedPartyUnit.Location.Street, new { @class = "form-control", @id = "Location.Street" })
                            </div>
                            <div class="form-group">
                                <label class="label">Suburb Name</label>
                                @Html.TextBoxFor(m => m.InterestedPartyUnit.Location.Suburb, new { @class = "form-control", @id = "Location.Suburb" })
                            </div>
                            <div class="form-group">
                                <label class="label">City Name</label>
                                @Html.TextBoxFor(m => m.InterestedPartyUnit.Location.City, new { @class = "form-control", @id = "Location.City" })
                            </div>
                            <button class="btn btn-primary btn-xs" type="submit">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section pagespecific {
    <script type="text/javascript">
        function GetMarina(Id) {
            var organisationId = document.getElementById(Id);
            var id = organisationId.options[organisationId.selectedIndex].value;
            $.ajax({
                type: 'Post',
                url: '@Url.Action("GetMarina", "Organisation")',
                data: { Id: id }
            })
                .done(function (data) {
                    debugger;
                    var OutPut = JSON.parse(data);
                    PopulateView(OutPut);

                })
                .fail(function (jqXhr, textStatus, errorThrown) {
                    debugger;
                    console.log(errorThrown);
                });
        }

        function GetInstitute(Id) {
            var organisationId = document.getElementById(Id);
            var id = organisationId.options[organisationId.selectedIndex].value;
            $.ajax({
                type: 'Post',
                url: '@Url.Action("GetInstitute", "Organisation")',
                data: { Id: id }
            })
                .done(function (data) {
                    var OutPut = JSON.parse(data);
                    PopulateView(OutPut);

                })
                .fail(function (jqXhr, textStatus, errorThrown) {
                    debugger;
                    console.log(errorThrown);
                });

        }
    </script>
}