@model DealEngine.WebUI.Models.Account.RsaOneTimePasswordModel
@{
    ViewBag.PageId = "extr-page";
    ViewBag.PageClass = "animated fadeInDown";    
}

    <div id="content" class="container col-6">
        <div class="row">
            @if (ViewBag.AccountLocked != null)
            {
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <header>
                                Notice
                            </header>
                        </div>
                        <div class="card-body">
                            <label>@ViewBag.AccountLocked</label>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <header>
                                Notice
                            </header>
                        </div>
                        <div class="card-body">
                            <label>
                                Your sign in requires additional validation. We have emailed you a 6 digit code to complete this extra step. Please check your email and enter the code in the box on the right. Please note that the code has an expiry time of 10 minutes. If you don’t receive the email containing the code within 5 minutes <a href="~/Account/Login">please click this link to login again</a> and generate a new code.
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <form action="~/Account/OneTimePasswordMarsh" method="POST" id="Otp-form">
                        <div class="card">
                            <div class="card-header">
                                <header>
                                    Sign In
                                </header>
                            </div>
                            <div class="card-body">
                                @*@Html.AntiForgeryToken()*@
                                <div class="form-group">
                                    <input id="devicePrint" hidden type="text" name="devicePrint" value="@Model.DevicePrint" />
                                    <input id="deviceTokenCookie" hidden type="text" name="deviceTokenCookie" value="@Model.DeviceTokenCookie" />
                                    <input id="sessionId" hidden type="text" name="sessionId" value="@Model.SessionId" />
                                    <input id="transactionId" hidden type="text" name="transactionId" value="@Model.TransactionId" />
                                    <input id="UserName" hidden type="text" name="UserName" value="@Model.UserName" />
                                    @Html.HiddenFor(m=>m.Password)
                                </div>
                                <div class="form-group">
                                    <label class="input">
                                        <input type="text" name="OtpCode" placeholder="Code" value="" autocomplete="off" class="form-control" id="OtpCode" required="">
                                        <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your validation code</b>
                                    </label>
                                </div>
                            </div>
                            <div class="card-footer">
                                <footer>
                                    <button type="submit" id="submitButton" class="btn btn-primary">
                                        Sign in
                                    </button>
                                </footer>
                            </div>
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>
@section pagespecific {    
    <script src="~/Scripts/externalparty/hashtable.js"></script>
    <script src="~/Scripts/externalparty/rsa.js"></script>
    <script type="text/javascript">
        $(function () {
            // Validation
            $("#login-form").validate({
                // Rules for form validation
                rules: {
                    username: {
                        required: true,
                        email: false
                    },
                    password: {
                        required: true,
                        minlength: 8,
                        maxlength: 128
                    }
                },

                // Messages for form validation
                messages: {
                    username: {
                        required: 'Please enter your username',
                        username: 'Please enter a VALID username'
                    },
                    password: {
                        required: 'Please enter your password'
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        });
        // display wait modal when we login
        $("#submitButton").click(function () {
            var $valid = $("#login-form").valid();
            if ($valid) {
                $('#loginModal').modal('show');
            }
        });

    </script>
}
