@model DealEngine.WebUI.Models.ProfileViewModel
<!-- MAIN CONTENT -->
<div id="content" class="container">

    @{
        bool isBroker = false;

        if (Model.CurrentUser.PrimaryOrganisation.IsBroker || Model.CurrentUser.PrimaryOrganisation.IsInsurer || Model.CurrentUser.PrimaryOrganisation.IsTC)
        {
            isBroker = true;
        }
    }


    <div class="row">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-file-o"></i>
            <a href="~/Account/Profile/"> Account</a>
            <span>
                >
                Editing My Profile
            </span>
        </h1>
    </div>

    <div class="row">
        <span>
            <a onclick="location.href='@Url.Action("Profile", "Account")'" style="color:dodgerblue;font-size:30px; cursor:pointer"> <span _ngcontent-c7="" class="icon-append fa fa-arrow-circle-left"></span>  </a>
        </span>
    </div>

    <div class="row">
        <div class="jarviswidget container-fluid" id="wid-id-2"
             data-widget-editbutton="false" data-widget-colorbutton="false">
            <header>
                Profile Editor
            </header>

            <form action="~/Account/ProfileEditor" method="POST" id="update-form" class="client-form" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>
                            First Name
                        </td>
                        <td>
                            <label class="input">
                                <input type="text" class="form-control" name="firstname" placeholder="First name" value="@(Model.FirstName)">
                            </label>
                        </td>
                    </tr>
                    <tr class="table-light">
                        <td>
                            Last Name
                        </td>
                        <td>
                            <label class="input">
                                <input type="text" class="form-control" name="lastname" placeholder="Last name" value="@(Model.LastName)">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Phone Number
                        </td>
                        <td>
                            <label class="input">
                                <input type="text" class="form-control" name="phone" placeholder="Phone Number" value="@(Model.Phone)">
                            </label>
                        </td>
                    </tr>
                    <tr class="table-light">
                        <td>
                            Email Address
                        </td>
                        <td>
                            <label class="input">
                                <input type="text" class="form-control" name="email" placeholder="Email Address" value="@(Model.Email)">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Skype Account
                        </td>
                        <td>
                            <label class="input">
                                <input class="form-control" type="text" name="skype" placeholder="Skype" disabled>
                            </label>
                        </td>
                    </tr>
                    <tr class="table-light">
                        <td>
                            About Me
                        </td>
                        <td>
                            <label class="textarea">
                                <textarea name="description" class="form-control" placeholder="About me...." rows="3">@Model.Description</textarea>
                            </label>
                        </td>
                    </tr>
                    @if (isBroker)
                    {
                        <tr>
                            <td>
                                Branch
                            </td>
                            <td>
                                <label class="input">
                                    <select class="browser-default custom-select custom-select-lg form-select form-control" name="branch">
                                        @if (Model.DefaultOU != null)
                                        {
                                            <option selected value="@Model.DefaultOU.Id">@Model.DefaultOU.Name</option>
                                        }
                                        else
                                        {
                                            <option selected>Branch:</option>
                                        }
                                        @foreach (var item in Model.OrganisationalUnitsVM)
                                        {
                                            <option value="@item.OrganisationalUnitId"> @item.Name</option>
                                        }
                                    </select>
                                </label>
                            </td>
                        </tr>
                        <tr class="table-light">
                            <td>
                                Employee Number
                            </td>
                            <td>
                                <label class="input">
                                    <input class="form-control" type="text" name="EmployeeNumber" placeholder="Employee Number" value="@Model.EmployeeNumber">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                EGlobal User Name
                            </td>
                            <td>
                                <label class="input">
                                    <input class="form-control" type="text" name="SalesPersonUserName" placeholder="EGlobal User Name" value="@Model.SalesPersonUserName">
                                </label>
                            </td>
                        </tr>
                        <tr class="table-light">
                            <td>
                                Job Title
                            </td>
                            <td>
                                <label class="input">
                                    <input class="form-control" type="text" name="JobTitle" placeholder="Job Title" value="@Model.JobTitle">
                                </label>
                            </td>
                        </tr>

                    }
                    <tr>
                        <td>
                            <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Update</button>
                            <a href="~/Account/Profile" class="btn btn-danger btn-sm"><i class="fa fa-edit"></i> Cancel</a>
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>


