@model DealEngine.WebUI.Models.Agreement.ViewAgreementViewModel

@Html.Raw(Model.NoPaymentRequiredMessage)
@if (Model.ClientInformationSheet.Programme.BaseProgramme.NamedPartyUnitName == "Apollo Programme")
{
    @if (string.IsNullOrWhiteSpace(Model.ClientInformationSheet.Programme.PaymentType))
    {
        <script type="text/javascript">
            document.getElementById("NextNoPayment").hidden = true;
        </script>
    }
    else
    {
        <script type="text/javascript">
            document.getElementById("NextNoPayment").hidden = false;
        </script>
    }

    <label class="required">Please select a payment Method</label>
    @Html.HiddenFor(m => m.ClientInformationSheet.Programme.Id, new { @id = "Programme.Id" })
    @Html.DropDownListFor(m => m.ClientInformationSheet.Programme.PaymentType, Model.PaymentMethodOptions, new { @required = "", @class = "form-control b", onchange = "SavePaymentOption(this.id)" })
}
@if (Model.ClientInformationSheet.Programme.BaseProgramme.NamedPartyUnitName == "Abbott Financial Advisor Liability Programme")
{
    @if (string.IsNullOrWhiteSpace(Model.ClientInformationSheet.Programme.PaymentFrequency))
    {
        <script type="text/javascript">
            document.getElementById("NextNoPayment").hidden = true;
        </script>
    }
    else
    {
        <script type="text/javascript">
            document.getElementById("NextNoPayment").hidden = false;
        </script>
    }

    <label class="required">Do you want to pay annually or monthly</label>
    @Html.HiddenFor(m => m.ClientInformationSheet.Programme.Id, new { @id = "Programme.Id" })
    @Html.DropDownListFor(m => m.ClientInformationSheet.Programme.PaymentFrequency, Model.PaymentFrequencyOptions, new { @required = "", @class = "form-control b", onchange = "SavePaymentFrequency(this.id)" })
}



<script type="text/javascript">
    var nextbutton1 = document.getElementsByClassName("sw-btn-next");
    $(nextbutton1).addClass("hidden");
    $(nextbutton1).hide();

    function SavePaymentOption(id) {
        var option = document.getElementById(id);
        var paymentType = option.options[option.selectedIndex].value;
        if (paymentType == "Invalid") {
            document.getElementById("NextNoPayment").hidden = true;
        } else {
            var ProgrammeId = document.getElementById("Programme.Id");
            $.ajax({
                type: 'Post',
                url: '@Url.Action("PostPaymentOptionAPI", "Programme")',
                data: { Id: ProgrammeId.value, PaymentType: paymentType }
            })
                .done(function (data) {
                    document.getElementById("NextNoPayment").hidden = false;
                })
                .fail(function (jqXhr, textStatus, errorThrown) {
                    document.getElementById("NextNoPayment").hidden = false;
                    debugger;
                    console.log(errorThrown);
            });
        }

    }

    function SavePaymentFrequency(id) {
        var option = document.getElementById(id);
        var paymentFrequency = option.options[option.selectedIndex].value;
        if (paymentFrequency == "Invalid") {
            document.getElementById("NextNoPayment").hidden = true;
        } else {
            var ProgrammeId = document.getElementById("Programme.Id");
            $.ajax({
                type: 'Post',
                url: '@Url.Action("PostPaymentFrequencyAPI", "Programme")',
                data: { Id: ProgrammeId.value, PaymentFrequency: paymentFrequency }
            })
                .done(function (data) {
                    document.getElementById("NextNoPayment").hidden = false;
                })
                .fail(function (jqXhr, textStatus, errorThrown) {
                    document.getElementById("NextNoPayment").hidden = false;
                    debugger;
                    console.log(errorThrown);
            });
        }

    }
</script>
