@model List<DealEngine.WebUI.Models.Agreement.AgreementDocumentViewModel>

<div class="widget-body widget-hide-overflow">
@foreach (var doc in Model)
{
    <fieldset>
        <div class="row">
            @if (doc.DisplayName.Contains(".pdf")){
                <section class="col col-12 font-md">
                    <a href="@(doc.Url)" id="@doc.DocType">@doc.DisplayName.Substring(0, doc.DisplayName.Length - 4)</a>
                </section>
            }
            else
            {
                <section class="col col-12 font-md">
                    @if (doc.RenderToPDF == true)
                    {
                        <a href="@(doc.Url)"  id="@doc.DocType">@doc.DisplayName</a>
                    }
                    else
                    {
                        <a href="@(doc.Url )"  id="@doc.DocType">@doc.DisplayName</a>
                    }
                </section>
            }

        </div>
    </fieldset>
}
</div>
