@model DealEngine.WebUI.Models.Agreement.ViewAgreementViewModel


@Html.HiddenFor(m => m.ClientProgrammeId)
@Html.HiddenFor(m => m.Sheetstatus)
@Html.HiddenFor(m => m.IsExtentionCoverOption)

@if (Model.Advisory != null)
{

    <div class="modal" id="advisoryModal" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Advisory</h5>
                </div>
                <div class="modal-body">
                    @Html.Raw(Model.Advisory)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="advisoryModal" onclick="AdvisoryModelClose('advisoryModal')">Ok</button>
                </div>
            </div>
        </div>
    </div>
}

@Html.HiddenFor(m => m.ClientAgreementId)
@Html.HiddenFor(m => m.InformationSheetStatus)

@foreach (var item in Model.InsuranceRoles)
{
    <fieldset>
        <div class="form-group">
            <div class="row">
                <div class="col-3">
                    <strong>
                        @item.RoleName:
                    </strong>
                </div>
                <div class="col">
                    <strong>
                        @item.Name
                    </strong>
                </div>
            </div>
        </div>
    </fieldset>
}

<fieldset>
    <div class="form-group">
        <table class="table-hover">
            <tbody>
                <tr>
                    <td width="260" height="40">
                        <strong>Product:</strong>
                    </td>
                    <td width="350" height="40">
                        @Html.DisplayFor(m => m.ProductName)
                    </td>
                </tr>
                @if (Model.ProgrammeId == new Guid("5f4f9a19-c948-425a-b306-c7f5cba56d86")) //Coastguard for Ando
                {
                    <tr>
                        <td width="260" height="40">
                            <strong>Insurer:</strong>
                        </td>
                        <td width="350" height="40">
                            This policy is underwritten by certain underwriters at Lloyd's. Ando Insurance Group Limited is an agent underwriting for and on behalf of certain underwriters at Lloyd's under binder reference B0180MA1906286.
                        </td>
                    </tr>
                }
                <tr>
                    <td width="260" height="40">
                        <strong>Policy Start Date:</strong>
                    </td>
                    <td width="350" height="40">
                        @Html.DisplayFor(m => m.StartDate) 4pm local time

                        @if (Model.IsChange == false && !Model.InformationSheetStatus.StartsWith("Bound") && Model.ClientInformationSheet.Programme.BaseProgramme.ProgEnableInsuredDateChange)
                        {
                            <a style="color:green;font-size:24px" onclick="event.preventDefault;$('#getStartDate').show();"><i class="fa fa-calendar"></i></a>

                        }
                    </td>
                </tr>
                <tr>
                    <td width="260" height="40">
                        <strong>Policy End Date:</strong>
                    </td>
                    <td width="350" height="40">
                        @Html.DisplayFor(m => m.EndDate) 4pm local time
                    </td>
                </tr>
                <tr>
                    <td width="260" height="40">
                        <strong>Current @Html.DisplayNameFor(m => m.Status):</strong>
                    </td>
                    <td width="350" height="40">
                        @Html.DisplayFor(m => m.Status)
                    </td>
                </tr>
                <tr>
                    <td width="260" height="40">
                        <strong>Client Number #:</strong>
                    </td>
                    <td width="350" height="40">
                        @Html.DisplayFor(m => m.ClientNumber)
                    </td>
                </tr>
                <tr>
                    <td width="260" height="40">
                        <strong>Insurer Policy #:</strong>
                    </td>
                    <td width="350" height="40">
                        @Html.DisplayFor(m => m.PolicyNumber)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</fieldset>

@if (!Model.IsMultipleOption)
{
    <fieldset>
        <div class="form-group">
            <div class="row">
                <div class="col-3 font-md">
                    <strong>Policy Inclusions</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-3 font-md">
                    <strong>Risk</strong>
                </div>
                @foreach (var item in Model.Inclusions)
                {
                    <div class="col">
                        <strong>@item.RiskName</strong>
                    </div>
                }
            </div>

            <div class="row">
                <div class="col-3 font-md">
                    <strong>Terms</strong>
                </div>
            </div>

            @if (Model.HasBoats && (Model.Boats.Count() > 0))
            {
                <div class="row">
                    <table class="table table-bordered table-responsive-md table-striped text-center" id="boatTable">

                        <tr>
                            <th class="text-center" width="13%">Vessel Name</th>
                            <th class="text-center" width="13%">Vessel Make</th>
                            <th class="text-center" width="13%">Vessel Model</th>
                            <th class="text-center" width="13%">Vessel Sum Insured</th>
                            <th class="text-center" width="13%">Vessel Excess</th>
                        </tr>
                        @foreach (var item in Model.BVTerms)
                        {
                            <tr class="clickable-row">
                                <td class="pt-3-half" width="13%" contenteditable="true" id="BoatName">
                                    @item.BoatName
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.BoatMake
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.BoatModel
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                </td>
                            </tr>

                        }
                    </table>
                </div>
            }

            <div class="row">
                &nbsp;<br />
            </div>

            @if (Model.HasVehicles && (Model.Vehicles.Count() > 0))
            {
                <div class="row">
                    <table class="table table-bordered table-responsive-md table-striped text-center" id="vehicleTable">
                        <tr>
                            <th class="text-center" width="13%">Trailer Registration</th>
                            <th class="text-center" width="13%">Trailer Year</th>
                            <th class="text-center" width="13%">Trailer Make</th>
                            <th class="text-center" width="13%">Trailer Model</th>
                            <th class="text-center" width="13%">Trailer Sum Insured</th>
                        </tr>
                        @foreach (var item in Model.Vehicles)
                        {
                            <tr class="clickable-row">
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.Registration
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.Year
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.Make
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.VehicleModel
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.SumInsured.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            }
            <div class="row">
                <table class="table text-center" style="border:1px;" id="vehicleTable">
                    <tr>
                        <th class="text-center" width="25%"></th>
                        <th class="text-center" width="25%"></th>
                        <th class="text-center" width="25%"></th>
                        <th class="text-center" width="25%"></th>
                    </tr>
                    @foreach (var item in Model.Inclusions)
                    {
                        <tr class="clickable-row">
                            <td class="pt-3-half" width="13%" contenteditable="true">
                                Total Sum Insured
                            </td>
                            <td></td>
                            <td></td>
                            <td class="pt-3-half" width="13%" contenteditable="true">
                                @Html.Raw(@item.Inclusion)
                            </td>
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-3 font-md">
                    <strong>Policy Exclusions</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-3 font-md">
                    <strong>Risk</strong>
                </div>
                @foreach (var item in Model.Exclusions)
                {
                    <div class="col">
                        <strong>@item.RiskName</strong>
                    </div>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-3 font-md">
                    <strong>Premiums Due</strong>
                </div>
            </div>

            <div class="row">
                <table class="table table-bordered table-responsive-md table-striped text-center" id="vehicleTable">
                    <tr>
                        <th class="text-center" width="13%">Risk</th>
                        <th class="text-center" width="13%">Premium</th>
                        <th class="text-center" width="13%">FENZ Levy</th>
                        <th class="text-center" width="13%">Total</th>
                    </tr>
                    @foreach (var item in Model.RiskPremiums)
                    {
                        <tr class="clickable-row">
                            <td class="pt-3-half" width="13%" contenteditable="true">
                                @item.RiskName
                            </td>
                            <td class="pt-3-half" width="13%" contenteditable="true">
                                @item.Premium
                            </td>
                            <td class="pt-3-half" width="13%" contenteditable="true">
                                @item.FSL
                            </td>
                            <td class="pt-3-half" width="13%" contenteditable="true">
                                @item.TotalPremium
                            </td>
                        </tr>
                    }
                </table>
            </div>

            <br />

            <div class="row">
                <table class="table text-center" style="border:1px;" id="vehicleTable">
                    <tr>
                        <th class="text-center" width="25%"></th>
                        <th class="text-center" width="25%"></th>
                        <th class="text-center" width="25%"></th>
                        <th class="text-center" width="25%"></th>
                    </tr>
                    @foreach (var item in Model.RiskPremiums)
                    {
                        <tr class="clickable-row">
                            <td class="pt-3-half" width="13%" contenteditable="true">
                                Total Premiums
                            </td>
                            <td></td>
                            <td></td>
                            <td class="pt-3-half" width="13%" contenteditable="true">
                                @Html.Raw(@item.TotalPremium)
                            </td>
                        </tr>
                    }
                    <tr class="clickable-row">
                        <td class="pt-3-half" width="13%" contenteditable="true">
                            Broker Service Fee
                        </td>
                        <td></td>
                        <td></td>
                        <td class="pt-3-half" width="13%" contenteditable="true">
                            @Model.AdministrationFee
                        </td>
                    </tr>

                    @foreach (var item in Model.RiskPremiums)
                    {
                        <tr class="clickable-row">
                            <td class="pt-3-half" width="13%" contenteditable="true">
                                GST
                            </td>
                            <td></td>
                            <td></td>
                            <td class="pt-3-half" width="13%" contenteditable="true">
                                @Html.Raw(@item.TotalPremiumIncFeeGST)
                            </td>
                        </tr>
                    }

                    @foreach (var item in Model.RiskPremiums)
                    {
                        <tr class="clickable-row">
                            <td class="pt-3-half" width="13%" contenteditable="true">
                                <strong>Total Amount Due</strong>
                            </td>
                            <td></td>
                            <td></td>
                            <td class="pt-3-half" width="13%" contenteditable="true">
                                <strong>@Html.Raw(@item.TotalPremiumIncFeeIncGST)</strong>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </fieldset>
}
else
{
    <fieldset>
        <div id="Coveroptionssec" class="form-group">
            <div class="row">
                <div class="col-3 font-md">
                    <strong>Cover Options</strong>
                </div>
            </div>

            <div class="row">
                <table class="table table-bordered table-responsive-md table-striped text-center" id="@Model.ProductName">
                    <tr>
                        <th class="text-center" width="5%"></th>
                        <th class="text-center" width="17%">Risk Name</th>
                        <th class="text-center" width="20%">Limit</th>
                        <th class="text-center" width="20%">Excess</th>
                        <th class="text-center" width="16%">Premium</th>
                        @if (Model.ClientInformationSheet.Programme.BaseProgramme.EnableMonthlyPremiumDisplay)
                        {
                            <th class="text-center" width="16%">Monthly Premium</th>
                        }
                        <th class="text-center" width="17%" hidden>Dependableproduct</th>

                    </tr>
                    @foreach (var item in Model.MultiCoverOptions)
                    {
                        <tr class="clickable-row">
                            <td>
                                <input type="radio" dirname=""
                                       id="@item.TermId" name="@item.RiskName" @item.isSelected value="@item.TermId" onchange="Resetmoreoptions('@Model.ProductName',@Model.ExtensionCoverOptions.Count)">
                            </td>
                            <td class="pt-3-half" width="12%" contenteditable="true">
                                @item.RiskName
                            </td>
                            <td class="pt-3-half" width="20%" contenteditable="true">
                                @item.Inclusion
                            </td>
                            <td class="pt-3-half" width="20%" contenteditable="true">
                                @item.Exclusion
                            </td>
                            <td class="pt-3-half" width="20%" contenteditable="true">
                                @item.TotalPremium
                            </td>
                            @if (Model.ClientInformationSheet.Programme.BaseProgramme.EnableMonthlyPremiumDisplay)
                            {
                                <td class="pt-3-half" width="20%" contenteditable="true">
                                    @item.monthlypremium
                                </td>
                            }
                            <td class="pt-3-half" width="12%" contenteditable="true" value="@item.Dependableproduct" hidden>
                                @item.Dependableproduct
                            </td>
                        </tr>
                    }
                    @if (Model.IsOptionalProduct)
                    {
                        <tr>
                            <td><input type="radio" dirname="" name="@Model.ProductName" value="None"></td>
                            <td class="pt-4-half" colspan="5" width="15%">
                                <label> I don't want this cover</label>
                            </td>
                        </tr>
                    }
                </table>
            </div>

            @if (Model.IsExtentionCoverOption &&  Model.ExtensionCoverOptions.Count > 0) { 
            <div class="row">
                <div class="col-3 font-md">
                    <strong>Extension Options</strong>
                </div>
            </div>

            <div class="row">
                <table class="table table-bordered table-responsive-md table-striped text-center" id="@Model.ProductName Extension">
                    <tr>
                        <th class="text-center" width="5%"></th>
                        <th class="text-center" width="17%">Extension Name</th>
                        <th class="text-center" width="20%">Limit</th>
                        <th class="text-center" width="20%">Excess</th>
                        <th class="text-center" width="16%">Premium</th>


                    </tr>
                    @foreach (var item in Model.ExtensionCoverOptions)
                    {

                <tr class="clickable-row">
                    <td>
                       @*<input type="radio" name="@Model.ProductName Extensiontable" value="@item.TermId" onchange="extensionselected('@Model.ProductName')" onselect="extensionselected('@Model.ProductName')">*@
                        <input type="radio" name="@Model.ProductName Extensiontable" value="@item.TermId" >

                    </td>
                    <td class="pt-3-half" width="20%" contenteditable="true">
                        @item.ExtensionName
                    </td>
                    <td class="pt-3-half" width="20%" contenteditable="true">
                        @item.Inclusion
                    </td>
                    <td class="pt-3-half" width="20%" contenteditable="true">
                        @item.Exclusion
                    </td>
                    <td class="pt-4-half" id="@Model.ProductCode row">
                        @item.TotalPremium
                    </td>
                </tr>


                    }
                    <tr>
                        <td><input type="radio" dirname="" name="@Model.ProductName Extensiontable" value="None"></td>
                        <td class="pt-4-half" colspan="5" width="15%">
                            <label> I don't want this Extension</label>
                        </td>
                    </tr>



                </table>
            </div>
            }
            @*<table class="table-hover" id="@Model.ProductCode totalprem" hidden>
                <tbody>

                    <tr>
                        <td width="260" height="40">
                            <strong>Total:</strong>
                        </td>
                        <td width="350" height="40">
                            <label id="@Model.ProductCode premiumamount"></label>  (Total premium per product)
                        </td>
                    </tr>

                </tbody>
            </table>*@


            <table class="table-hover">
                <tbody>
                    @if (!Model.ClientInformationSheet.Programme.BaseProgramme.ProgHideAdminFee)
                    {
                        <tr>
                            <td width="260" height="40">
                                <strong>@Html.DisplayNameFor(m => m.AdministrationFee):</strong>
                            </td>
                            <td width="350" height="40">
                                @Model.AdministrationFee
                            </td>
                        </tr>
                    }
                    @if (!Model.ClientInformationSheet.Programme.BaseProgramme.ProgHidePlacementFee)
                    {
                        <tr>
                            <td width="260" height="40">
                                <strong>@Html.DisplayNameFor(m => m.PlacementFee):</strong>
                            </td>
                            <td width="350" height="40">
                                @Model.PlacementFee
                            </td>
                        </tr>
                    }
                    @if (!Model.ClientInformationSheet.Programme.BaseProgramme.ProgHideAdditionalCertFee)
                    {
                        <tr>
                            <td width="260" height="40">
                                <strong>@Html.DisplayNameFor(m => m.AdditionalCertFee):</strong>
                            </td>
                            <td width="350" height="40">
                                @Model.AdditionalCertFee
                            </td>
                        </tr>
                    }
                    @if (Model.ClientInformationSheet.Programme.BaseProgramme.DisplayGSTInclusive)
                    {
                        <tr>
                            <td width="260" height="40">
                                <strong>GST:</strong>
                            </td>
                            <td width="350" height="40">
                                All premiums and fees displayed are inclusive of GST
                            </td>
                        </tr>
                    }
                    @if (Model.ClientInformationSheet.Programme.BaseProgramme.DisplayGSTExclusive)
                    {
                        <tr>
                            <td width="260" height="40">
                                <strong>GST:</strong>
                            </td>
                            <td width="350" height="40">
                                All premiums and fees displayed are exclusive of GST
                            </td>
                        </tr>
                    }

                </tbody>
            </table>


            <p style="border-style:double;"></p>

        </div>
    </fieldset>
}

<div id="getStartDate" style="width:350px;  margin-left:800px;" class="modal" role="dialog">

    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" onclick="$('#getStartDate').hide()">&times;</button>
            <h3 class="modal-title" style="color:blue; font-size:22px">Edit Start Date</h3>
        </div>
        <div class="modal-body">
            <form id="ProdForm">

                <div class="form-group">
                    <label class="label cgmodalLabel hidden">Start Date</label>
                    <input name="EffectiveDate" placeholder="Effective Date" class="Startdate form-control rmv" data-dateformat="dd/mm/yy" id="StartDate" type="text">
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <input type="Reset" value="Submit" class="btn btn-success" id="StartDateSubmit" onclick="dateChange()">

            <a href="#" class="btn btn-danger" onclick="$('#getStartDate').hide()">Cancel<i class="fa fa-close"></i></a>
        </div>
    </div>
</div>
<div class="modal" id="CalculateModal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p><img src="/img/loading.gif" /> Calculating total. Please wait...</p>
            </div>
        </div>
    </div>
</div>


<style>

    #header > :first-child, aside {
        width: 1500px !important;
    }

    .container {
        margin-left: 16% !important;
        width: 100%;
    }
</style>
@section pagespecific {
    <script type="text/javascript">
                debugger;

         $(window).on("load", function () {
           if ("@Model.InformationSheetStatus" == "Started" || "@Model.InformationSheetStatus" == "Submitted") {
                              debugger;

                var progId = "@ViewBag.Id";
                var postData = { ProgrammeId: progId };
                $.ajax({
                    url: '@Url.Action("GetCoverOptions", "Information")',
                    type: "POST",
                    data: postData
                }).done(function (data) {
                    if (data != "") {
                        for (var item = 0; item < data.length; item++) {
                            var arr = data[item];
                            var count = 0;
                            var queryselector = "" + "input[name=\'" + arr[count] + "\'][value=\'" + arr[count + 1] + "\']";
                            $(queryselector).attr('checked', true);
                            debugger;
                        }
                    }
                }) .fail(function (jqXHR, textStatus, errorThrown) {
                alert("There was an error while trying to get the Cover Options.");
                });

             }

         });
        debugger;
         @*var progId = "@ViewBag.Id";
                var postData = { ProgrammeId: "@ViewBag.Id" };
        //viewage662
                $.ajax({
                    url: '@Url.Action("GetExtensionCoverOptions", "Information")',
                    type: "POST",
                    data: postData
                }).done(function (data) {

                    if (data != "") {
                        for (var item = 0; item < data.length; item++) {
                            var arr = data[item];
                            var count = 0;
                            var queryselector = "" + "input[name=\'" + arr[count] + " Extensiontable\'][value=\'" + arr[count + 1] + "\']";
                            $(queryselector).attr('checked', true);
                            //extensionselected(arr[count]);

                        }
                    }
                }) .fail(function (jqXHR, textStatus, errorThrown) {
                alert("There was an error while trying to get the Cover Options.");
                });*@

    </script>

}

<script>
    $(document).ready(function () {
        $('#getStartDate').on('show.bs.modal', function (e) {
            $('.modal').css('width', '600px');
            $('.modal').css('length', '600px');
            $('.modal').css({ "width": "300px", "height": "400px", "position": "absolute", "float": "left", "left": "40%", "top": "20%", "transform": "translate(-40%, -40%)" });

        });

        $('.Startdate').datepicker({
            maxDate: "+30d",
            minDate: 0,
            dateFormat: "dd/mm/yy"
        });

        function Close() {
            $("#modal").hide();
        };

        function ValidateCoverOption() {
            var itemPI = $('#Professional Indemnity input:radio:checked').val()
        }


        function dateChange() {
            var agreementId = $("#ClientAgreementId").val();
            var StartDate = $("#StartDate").val();
            var postData = {
                'id': agreementId,
                'Startdate': StartDate
            };

            $.ajax({
                url: '@Url.Action("SaveDate", "Agreement")',
                type: "POST",
                data: postData
            })
                .done(function (data) {
                    $('#getStartDate').hide();
                    window.location.href = data.url;
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    $('#AddTrailer').modal('hide');
                    alert("There was an error while trying to save the Start Date.");
                });
        }

        @*if ("@Model.InformationSheetStatus.StartsWith("Bound")" == "True") {
            debugger;
            $("#Coveroptionssec :input").prop("disabled", true);
        } else {
            $("#Coveroptionssec :input").prop("disabled", false);
        };*@


          if ( "@Model.InformationSheetStatus" == "Submitted") {
                            debugger;

                var progId = $("#ClientProgrammeId").val();
                //var progId 2= $('#ClientProgrammeId').val();
              var postData = { ProgrammeId: progId };
                $.ajax({
                   url: '@Url.Action("GetCoverOptions", "Information")',
                    type: "POST",
                    data: postData
                }).done(function (data) {
                    if (data != "") {
                        for (var item = 0; item < data.length; item++) {
                            var arr = data[item];
                            var count = 0;
                            //var element = 'input[name=\\"' + arr[count] + '"][value=\\"' + arr[count + 1] + '"]';
                            var queryselector = "" + "input[name=\'" + arr[count] + "\'][value=\'" + arr[count + 1] + "\']";

                            $(queryselector).attr('checked', true);
                            //$("#"+Arr[count]).
                            //$('#' + arr[count+1]).val(arr[count + 1]);
                        }
                    }
                }) .fail(function (jqXHR, textStatus, errorThrown) {
                alert("There was an error while trying to get the Cover Options.");
                });

                var progId = $("#ClientProgrammeId").val();
                var postData = { ProgrammeId: progId };
              ///viewagree 771
                $.ajax({
                    url: '@Url.Action("GetExtensionCoverOptions", "Information")',
                    type: "POST",
                    data: postData
                }).done(function (data) {
                    if (data != "") {
                        for (var item = 0; item < data.length; item++) {
                            var arr = data[item];
                            var count = 0;
                            var queryselector = "" + "input[name=\'" + arr[count] + " Extensiontable\'][value=\'" + arr[count + 1] + "\']";
                            $(queryselector).attr('checked', true);
                            //extensionselected(arr[count]);

                        }
                    }
                }) .fail(function (jqXHR, textStatus, errorThrown) {
                alert("There was an error while trying to get the Cover Options.");
                });


        }

          if ("@Model.InformationSheetStatus" == "Started") {

                var progId = $("#ClientProgrammeId").val();
                //var progId = $('#ClientProgrammeId').val();
                var postData = { ProgrammeId: progId };

                $.ajax({
                    url: '@Url.Action("GetdefaultCoverOptions", "Information")',
                    type: "POST",
                    data: postData
                }).done(function (data) {
                    if (data != "") {
                        for (var item = 0; item < data.length; item++) {
                            var arr = data[item];
                            var count = 0;
                            //var element = 'input[name=\\"' + arr[count] + '"][value=\\"' + arr[count + 1] + '"]';
                            var queryselector = "" + "input[name=\'" + arr[count] + "\'][value=\'" + arr[count + 1] + "\']";

                            $(queryselector).attr('checked', true);
                            //$("#"+Arr[count]).
                            //$('#' + arr[count+1]).val(arr[count + 1]);
                        }
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                alert("There was an error while trying to save default cover option.");
                });

             }


    });



</script>


