@model DealEngine.WebUI.Models.InformationViewModel


<form id="InvestmentProductViewModel" data-accordianId="Investment Product" class="is-valid">
    <div class="form-group">
        <div class="row">
            <div class="col-9">
                <label for="HasClientFunds" class="label required">
                    Do you have any client funds under management?
                </label>
            </div>
            <div class="col-3">
                <select id="HasClientFunds" name="IPViewModel.HasClientFundsOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                    @foreach (var option in Model.IPViewModel.HasClientFundsOptions)
                    {
                        <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div id="IPViewModel.HasClientFundsOptions" hidden>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="totalValue" class="label">
                        <b>If "Yes"</b>, please state the total value in $ of client funds under management
                    </label>
                </div>
                <div class="col-3">
                    @Html.TextAreaFor(m => m.IPViewModel.totalValue, new { @class = "form-control", @id = "totalValue", @type = "text", onchange = "OnChange(this.id, this.name)", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-3">
                    <label for="hasexistingpolicy" class="label">
                        <b>If "Yes"</b>, please state the percentage of total client funds under the following classes of investments:
                    </label>
                </div>
            </div>
        </div>
        <h3 style="font-size:15px;font-weight:bold;color:black">Class of Investments (Percentage Amount %)</h3>
        <div class="Investment">
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="CashInvestments" class="label">
                            Cash & Fixed interest Investments:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextBoxFor(m => m.IPViewModel.CashInvestments, new { @class = "form-control", @id = "cashinvestments", @type = "text", onchange = "OnChange(this.id, this.name)" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="Bonds" class="label">
                            Bonds
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextBoxFor(m => m.IPViewModel.Bonds, new { @class = "form-control", @id = "bonds", @type = "text", onchange = "OnChange(this.id, this.name)" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="DirectInvestment" class="label">
                            Shares (direct investment)
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextBoxFor(m => m.IPViewModel.DirectInvestment, new { @class = "form-control", @id = "directinvestment", @type = "text", onchange = "OnChange(this.id, this.name)" })
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="PropertyTrust" class="label">
                            Property (Trusts/Schemes/Direct)
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextBoxFor(m => m.IPViewModel.PropertyTrust, new { @class = "form-control", @id = "propertytrust", @type = "text", onchange = "OnChange(this.id, this.name)" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="FinanceDebentures" class="label">
                            Finance Company Debentures
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextBoxFor(m => m.IPViewModel.FinanceDebentures, new { @class = "form-control", @id = "financedebentures", @type = "text", onchange = "OnChange(this.id, this.name)" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="ManagedFunds" class="label">
                            Managed Funds
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextBoxFor(m => m.IPViewModel.ManagedFunds, new { @class = "form-control", @id = "managedfunds", @type = "text", onchange = "OnChange(this.id, this.name)" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="Superannuation" class="label">
                            Superannuation
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextBoxFor(m => m.IPViewModel.Superannuation, new { @class = "form-control", @id = "superannuation", @type = "text", onchange = "OnChange(this.id, this.name)" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="Kiwisaver" class="label">
                            Kiwisaver
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextBoxFor(m => m.IPViewModel.Kiwisaver, new { @class = "form-control", @id = "kiwisaver", @type = "text", onchange = "OnChange(this.id, this.name)" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="OtherFunds" class="label">
                            Other
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextBoxFor(m => m.IPViewModel.OtherFunds, new { @class = "form-control", @id = "otherfunds", @type = "text", onchange = "OnChange(this.id, this.name)" })
                    </div>
                </div>
            </div>
            <div id="IPViewModel.OtherFunds" hidden>
                <div class="form-group">
                    <div class="row">
                        <div class="col-9">
                            <label for="otherfundsadditional" class="label required">
                                Please add more information
                            </label>
                        </div>
                        <div class="col-3">
                            @Html.TextBoxFor(m => m.IPViewModel.OtherFundsAdditional, new { @class = "form-control", @id = "otherfundsadditional", @type = "text", onchange = "OnChange(this.id, this.name)", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
