@model DealEngine.WebUI.Models.InformationViewModel

@{
    int count = 0;
}
<div id="ResearchHouse" class="container-fluid">
    <input id="ProjectId" name="ResearchHouseViewModel.ProjectId" hidden />
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" id="tab1">
            <a class="nav-link active" href="#ResearchHouse1" data-toggle="tab" onclick="ResetForm('ResearchHouse3','ResearchHouse2', 'Project', 'ResearchAddButton', 'ResearchHouseCancelButton')"> List All </a>
        </li>
        <li class="nav-item" id="tab2">
            <a class="nav-link" href="#ResearchHouse2" data-toggle="tab"> Edit </a>
        </li>
        <li class="nav-item" id="tab3">
            <a class="nav-link" href="#ResearchHouse3" data-toggle="tab" onclick="ResetForm('ResearchHouse3','ResearchHouse2', 'Project', 'ResearchAddButton', 'ResearchHouseCancelButton')"> Add </a>
        </li>
        <li class="nav-item" id="tab4">
            <a class="nav-link" href="#ResearchHouse4" data-toggle="tab"> List Removed </a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="ResearchHouse1" class="tab-pane active" role="tabpanel">
            <table id="tblProject"
                   class="table table-striped" width="100%"
                   data-show-columns="true"
                   data-pagination="true"
                   data-search="true"
                   data-show-jump-to="true">
                <thead>
                    <tr>
                        <th data-field="editButton" data-sortable="false"></th>
                        <th data-field="description" data-sortable="true"> Name</th>
                        <th data-field="Fees" data-sortable="true"> Services</th>
                        <th data-field="deleteButton" data-sortable="false"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var researchhouse in Model.ResearchHouseViewModel.ResearchHouses.Where(p => p.Removed == false).ToList())
                    {
                        <tr id="@researchhouse.Id">
                            <td>
                                <button class="btn btn-success btn-sm" onclick="EditResearchHouse('@researchhouse.Id','@researchhouse.Services','@researchhouse.Name')"><i class="fa fa-edit"></i> Edit</button>
                            </td>

                            <td>
                                @researchhouse.Name
                            </td>
                            <td>
                                @researchhouse.Services
                            </td>
                            <td>
                                <button onclick="RemoveProject('@researchhouse.Id')" type="button" class=" btn btn-danger btn-sm" id="trash"><span class="fa fa-trash"></span></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="ResearchHouse2" class="tab-pane" role="tabpanel">
            <div class="form-group">
                <label>Select a project from the 'List All' Tab and Click Edit Button</label>
            </div>
        </div>
        <div id="ResearchHouse3" class="tab-pane" role="tabpanel">
            <form id="ResearchHouseViewModel">
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="contractdetails" class="label required">
                                Name:
                            </label>
                        </div>
                        <div class="col-6">
                            @Html.TextBoxFor(m => m.ResearchHouseViewModel.Name, new { @class = "form-control", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="projectdetails" class="label required">
                                Services:
                            </label>
                        </div>
                        <div class="col-6">
                            @Html.TextAreaFor(m => m.ResearchHouseViewModel.Services, new { @class = "form-control", @onchange = "OnChange(this.id, this.name)", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <a class="btn btn-sm btn-success text-light" id="ResearchAddButton" onclick="AddResearchHouse('Independent Research')"> Add </a>
                    <a class="btn btn-sm btn-danger text-light" id="ResearchHouseCancelButton" onclick="Cancel('ResearchHouseViewModel', 'ResearchHouse1')"> Clear and Cancel </a>
                </div>
            </form>
        </div>
        <div id="ResearchHouse4" class="tab-pane" role="tabpanel">
            <table id="tblRemovedProject"
                   class="table table-striped" width="100%"
                   data-show-columns="true"
                   data-pagination="true"
                   data-search="true"
                   data-show-jump-to="true">
                <thead>
                    <tr>
                        <th data-field="editButton" data-sortable="false"></th>
                        <th data-field="description" data-sortable="true">Research Name</th>
                        <th data-field="Fees" data-sortable="true">Research Services</th>
                        <th data-field="deleteButton" data-sortable="false"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var researchhouse in Model.ResearchHouseViewModel.ResearchHouses.Where(p => p.Removed == true).ToList())
                    {
                        <tr id="@researchhouse.Id">
                            <td>
                                <button class="btn btn-success btn-sm" onclick="RestoreResearchHouse('@researchhouse.Id')"><i class="fa fa-undo"></i></button>
                            </td>
                            <td>
                                @researchhouse.Name
                            </td>
                            <td>
                                @researchhouse.Services
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

