@model DealEngine.WebUI.Models.InformationViewModel


<div id="AddOrganisation">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" id="tab1">
            <a class="nav-link active" href="#OrganisationTab1" data-toggle="tab" onclick="ResetForm('OrganisationTab3','OrganisationTab2', 'Organisation', 'OrganisationSubmitBtn', 'OrganisationClearButton')"> List All </a>
        </li>
        <li class="nav-item" id="tab2">
            <a class="nav-link" href="#OrganisationTab2" data-toggle="tab"> Edit </a>
        </li>
        <li class="nav-item" id="tab3">
            <a class="nav-link" href="#OrganisationTab3" data-toggle="tab" onclick="ResetForm('OrganisationTab3','OrganisationTab2', 'Organisation', 'OrganisationSubmitBtn', 'OrganisationClearButton')"> Add </a>
        </li>
        <li class="nav-item" id="tab4">
            <a class="nav-link" href="#OrganisationTab4" data-toggle="tab"> Removed </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="mt-2 mb-3">
            <button class="btn btn-brick" type="button" data-bs-toggle="collapse" data-bs-target="#trustAdvisoryPanel9" aria-expanded="false" aria-controls="trustAdvisoryPanel9">
                <h5 class="m-0"><strong>Named Party advisory</strong></h5>
            </button>
        </div>

        <div class="collapse" id="trustAdvisoryPanel9">
            <div class="card card-body">
                <!-- advisory text ... -->
                Advisory - How to complete this section.  
                1. Add any further entities  (trusts or companies) owned by your Clubs or Distrct or other Rotary entity that you wish to be covered in the policy 
                2. Edit (by pressing the Green edit button ) EACH entity and add the necessary information about the entity 
                3. Update once you have added the required information
            </div>
        </div>

        <div id="OrganisationTab1" class="tab-pane active" role="tabpanel">
            <table id="tblOrganisation"
                   class="table table-striped" width="100%"
                   data-show-columns="true"
                   data-pagination="true"
                   data-search="true"
                   data-show-jump-to="true">
                <thead>
                    <tr>
                        <th data-field="editButton" data-sortable="false"></th>
                        <th data-field="OrganisationName" data-sortable="true">Organisation Name</th>
                        <th data-field="Governance" class="d-none">Organisation type</th>
                        <th data-field="OrganisationType" data-sortable="true">Governance</th>
                        <th data-field="Owner" data-sortable="true">IsOwner</th>

                        <th data-field="deleteButton" data-sortable="false"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var organisation in Model.OrganisationViewModel.Organisations.Where(o => o.Id == Model.ClientInformationSheet.Owner.Id).ToList())

                    {
                        <tr id="@organisation.Id">
                            <td>
                                <button class="btn btn-success btn-sm" onclick="OnClick('Owner', 'Organisation', '@organisation.Id', '@Model.ClientInformationSheet.Id')"><i class="fa fa-edit"></i> Edit</button>
                            </td>
                            <td>
                                @organisation.Name
                            </td>

                            <td class="d-none">
                                @organisation.OrganisationType.Name

                            </td>
                            <td>
                                @if (organisation.InsuranceAttributes.Any())
                                {
                                    @organisation.InsuranceAttributes.FirstOrDefault().Name
                                }
                            </td>
                            <td>
                                Insured_PolicyOwner
                            </td>

                        </tr>
                    }
                    @foreach (var organisation in Model.OrganisationViewModel.Organisations.Where(o => o.Id != Model.ClientInformationSheet.Owner.Id && o.Removed != true).ToList())
                    {
                        <tr id="@organisation.Id">
                            <td>
                                @{
                                    bool ValidBackEndEmail = false;
                                    try
                                    {
                                        var addr = new System.Net.Mail.MailAddress(organisation.Email);
                                        ValidBackEndEmail = addr.Address == organisation.Email;
                                    }
                                    catch
                                    {
                                        ValidBackEndEmail = false;
                                    }
                                    @if (!ValidBackEndEmail)
                                    {
                                        @Html.Hidden("ValidBackEndEmail", organisation.Name)
                                    }

                                }
                                <button class="btn btn-success btn-sm" onclick="OnClick('', 'Organisation', '@organisation.Id', '@Model.ClientInformationSheet.Id')"><i class="fa fa-edit"></i> Edit</button>
                            </td>
                            <td>
                                @organisation.Name
                            </td>
                            <td class="d-none">
                                @organisation.OrganisationType.Name

                            </td>
                            <td >
                                @if (organisation.InsuranceAttributes.Any())
                                {
                                    @organisation.InsuranceAttributes.FirstOrDefault().Name
                                }
                            </td>
                           
                            
                            <td>
                                False
                            </td>
                            <td>
                                <button onclick="RemoveOrganisation('@organisation.Id', 'Insured Details / Named Parties')" type="button" class=" btn btn-danger btn-sm" id="trash"><span class="fa fa-trash"></span></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="OrganisationTab2" class="tab-pane" role="tabpanel">
            <div class="form-group">
                <label>Select a Organisation from the 'List All' Tab and Click Edit Button</label>
            </div>
        </div>
        <div id="OrganisationTab3" class="tab-pane" role="tabpanel">
            @using (Html.BeginForm("AddOrganisation", "Organisation", FormMethod.Post, new { @id = "organisationViewModel", @name = "OrganisationViewModel" }))
            {
                @Html.HiddenFor(m => m.OrganisationViewModel.Organisation.Id, new { id = "Organisation.Id" })
                @Html.HiddenFor(m => m.OrganisationViewModel.User.Id, new { id = "User.Id" })
                @Html.HiddenFor(m => m.ClientInformationSheet.Id)
                @Html.HiddenFor(m => m.ClientProgrammeId)
                
                @if (Model.OrganisationViewModel.Programme.NamedPartyUnitName == "Apollo Programme" || Model.OrganisationViewModel.Programme.NamedPartyUnitName == "Abbott Financial Advisor Liability Programme" ||
                    Model.OrganisationViewModel.Programme.NamedPartyUnitName == "Financial Advice NZ Financial Advice Provider Liability Programme")
                {
                    @Html.Hidden("AdministratorUnit", Model.OrganisationViewModel.AdministratorUnit.GetType().AssemblyQualifiedName, new { @id = "AdministratorUnit" })

                    @Html.Hidden("Unit", Model.OrganisationViewModel.AdvisorUnit.GetType().AssemblyQualifiedName, new { @id = "AdvisorUnit" })
                    @await Html.PartialAsync("PrefabSections/OrganisationPartials/Apollo_AddOrganisation", Model)


                }
                else if (Model.OrganisationViewModel.Programme.NamedPartyUnitName == "New Zealand Bar Association Liability Programme")
                {
                    @Html.Hidden("EBaristerUnit", Model.OrganisationViewModel.EBaristerUnit.GetType().AssemblyQualifiedName, new { @id = "EBaristerUnit" })
                    @Html.Hidden("JBaristerUnit", Model.OrganisationViewModel.JBaristerUnit.GetType().AssemblyQualifiedName, new { @id = "JBaristerUnit" })
                    @Html.Hidden("BarristerUnit", Model.OrganisationViewModel.BarristerUnit.GetType().AssemblyQualifiedName, new { @id = "BarristerUnit" })
                    @Html.Hidden("EmployeeUnit", Model.OrganisationViewModel.EmployeeUnit.GetType().AssemblyQualifiedName, new { @id = "EmployeeUnit" })

                    @await Html.PartialAsync("PrefabSections/OrganisationPartials/NZBar_AddOrganisation", Model)
                }
                else if (Model.OrganisationViewModel.Programme.NamedPartyUnitName == "Marsh Real Estate Programme")
                {
                    @Html.Hidden("RealEstateRunOffUnit", Model.OrganisationViewModel.RealEstateRunOffUnit.GetType().AssemblyQualifiedName, new { @id = "RealEstateRunOffUnit" })
                    @Html.Hidden("SubsidiaryUnit", Model.OrganisationViewModel.SubsidiaryUnit.GetType().AssemblyQualifiedName, new { @id = "SubsidiaryUnit" })
                    @Html.Hidden("MREDirectorUnit", Model.OrganisationViewModel.RealEstateDirectorUnit.GetType().AssemblyQualifiedName, new { @id = "MREDirectorUnit" })
                    @await Html.PartialAsync("PrefabSections/OrganisationPartials/RealEstate_AddOrganisation", Model)
                }
                else if (Model.OrganisationViewModel.Programme.NamedPartyUnitName == "RotaryAssociationsProgramme")
                {
                    @Html.Hidden("AdministratorUnit", Model.OrganisationViewModel.AdministratorUnit.GetType().AssemblyQualifiedName, new { @id = "AdministratorUnit" })
                    @Html.Hidden("DirectorUnit", Model.OrganisationViewModel.DirectorUnit.GetType().AssemblyQualifiedName, new { @id = "DirectorUnit" })
                    @Html.Hidden("Unit", Model.OrganisationViewModel.AdvisorUnit.GetType().AssemblyQualifiedName, new { @id = "Unit" })

                    <!-- 🔥 ADD THESE FLAGS -->
                    <input type="hidden" id="IsClubFlag" value="@Model.IsClub.ToString().ToLower()" />
                    <input type="hidden" id="IsDistrictFlag" value="@Model.IsDistrict.ToString().ToLower()" />
                    <input type="hidden" id="IsIndependentFlag" value="@Model.IsIndependentEntity.ToString().ToLower()" />

                    @await Html.PartialAsync("PrefabSections/OrganisationPartials/Rotary_AddOrganisation", Model)
                }

                <div class="form-group">
                    <button class="btn btn-success update" type="button" id="OrganisationSubmitBtn" onclick="OnOrganisationSubmit('organisationViewModel', 'Insured Details / Named Parties')">Add</button>
                    <button class="btn btn-danger" id="OrganisationClearButton" onclick="ResetOrganisation('organisationViewModel');location.reload();"> Clear</button>
                </div>
            }

        </div>
        <div id="OrganisationTab4" class="tab-pane" role="tabpanel">
            <table id="tblorgremoved"
                   class="table table-striped" width="100%"
                   data-show-columns="true"
                   data-pagination="true"
                   data-search="true"
                   data-show-jump-to="true">
                <thead>
                    <tr>
                        <th data-field="editButton" data-sortable="false"></th>
                        <th data-field="OrganisationName" data-sortable="true">Organisation Name</th>
                        <th data-field="OrganisationType" data-sortable="true">Organisation Type</th>
                        <th data-field="deleteButton" data-sortable="false"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var organisation in Model.OrganisationViewModel.Organisations.Where(o => o.Id != Model.ClientInformationSheet.Owner.Id && o.Removed == true).ToList())
                    {
                        <tr id="@organisation.Id">
                            <td>
                                <button class="btn btn-success btn-sm" onclick="RestoreOrganisation('@organisation.Id', 'Insured Details / Named Parties')"><i class="fa fa-undo"></i> Restore</button>
                            </td>
                            <td>
                                @organisation.Name
                            </td>
                            <td>
                                @organisation.InsuranceAttributes.FirstOrDefault().Name
                            </td>
                            <td>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>





<div id="loadingSpinner" style="display:none; position: fixed; z-index: 9999; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
    <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div style="margin-top: 10px; font-size: 16px; color: #007bff;">
        Loading, please wait...
    </div>
</div>

    <div id="statusMessage" class="alert" style="display:none; position: fixed; top: 20px; left: 50%; transform: translateX(-50%); z-index: 10000;"></div>



