@model DealEngine.WebUI.Models.InformationViewModel

<form id="DAOLIViewModel" class="is-valid" data-accordianId="Directors and Officers Liability Insurance">

    <div id="DAOLIViewModel.HasDAOLIOptions">
        <div class="form-group">
            <label>
                <strong>Please advise the following information regarding your companies as at your last financial year end(please total):</strong>
            </label>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="assettotal" class="label required">
                        $ Value of your total assets:
                    </label>
                </div>
                <div class="col-3">
                    @Html.TextBoxFor(m => m.DAOLIViewModel.AssetTotal, new { @class = "form-control", @id = "assettotal", @type = "number", onchange = "OnChange(this.id, this.name)", @required = "" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="assettotal" class="label required">
                        $ Value of your companies total debt:
                    </label>
                </div>
                <div class="col-3">
                    @Html.TextBoxFor(m => m.DAOLIViewModel.DebtTotal, new { @class = "form-control", @id = "debttotal", @type = "number", onchange = "OnChange(this.id, this.name)", @required = "" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="shareholdertotal" class="label required">
                        $ Value of shareholder equity in your companies::
                    </label>
                </div>
                <div class="col-3">
                    @Html.TextBoxFor(m => m.DAOLIViewModel.ShareholderTotal, new { @class = "form-control", @id = "shareholdertotal", @type = "number", onchange = "OnChange(this.id, this.name)", @required = "" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="hasclaim" class="label required">
                        AFTER ENQUIRY has there been, or is there now pending, any claim against any proposed Insured Person in their capacity as a director or officer of either the Practice or any other
                        company, organisation, association or trust?
                    </label>
                </div>
                <div class="col-3">
                    <select id="hasclaim" name="DAOLIViewModel.HasClaimOptions" class="custom-select" data-rule="DNOOptional" data-item="hasclaim,hascircumstance" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.DAOLIViewModel.HasClaimOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="hascircumstance" class="label required">
                        AFTER ENQUIRY do any circustances exist which might give rise to a claim against any proposed Insured Person?
                    </label>
                </div>
                <div class="col-3">
                    <select id="hascircumstance" name="DAOLIViewModel.HasCircumstanceOptions" class="custom-select" data-rule="CyberOptional" data-item="hasclaim,hascircumstance" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.DAOLIViewModel.HasCircumstanceOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div id="DAOLIViewModel.HasCircumstanceOptions" hidden>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="circumstancedetails" class="label required">
                            <strong>You have answered "Yes" to any of the above 2 questions</strong>, please provide full details:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextAreaFor(m => m.DAOLIViewModel.CircumstanceDetails, new { @class = "form-control", @id = "circumstancedetails", @type = "text", onchange = "OnChange(this.id, this.name)", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="hasinvestigation" class="label required">
                        Has there been any administrative or regulatory proceeding or official investigation regarding any activity of a Director or Officer?
                    </label>
                </div>
                <div class="col-3">
                    <select id="hasinvestigation" name="DAOLIViewModel.HasInvestigationOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.DAOLIViewModel.HasInvestigationOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div id="DAOLIViewModel.HasInvestigationOptions" hidden>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="investigationdetails" class="label required">
                            <strong>You have answered "Yes" </strong>, please provide full details:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextAreaFor(m => m.DAOLIViewModel.InvestigationDetails, new { @class = "form-control", @id = "investigationdetails", @type = "text", onchange = "OnChange(this.id, this.name)", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="hasdeclined" class="label required">
                        Has the company or any Director or Officer ever been refused this type of cover, had a similar policy cancelled or renewal declined, or had special terms imposed?
                    </label>
                </div>
                <div class="col-3">
                    <select id="hasdeclined" name="DAOLIViewModel.HasDeclinedOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.DAOLIViewModel.HasDeclinedOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div id="DAOLIViewModel.HasDeclinedOptions" hidden>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="declineddetails" class="label required">
                            <strong>You have answered "Yes" </strong>, please provide full details:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextAreaFor(m => m.DAOLIViewModel.DeclinedDetails, new { @class = "form-control", @id = "declineddetails", @type = "text", onchange = "OnChange(this.id, this.name)", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="hasreceivership" class="label required">
                        Has any Director or Officer been employed or engaged by or otherwise involved in a Company that has been in receivership or liquidation?
                    </label>
                </div>
                <div class="col-3">
                    <select id="hasreceivership" name="DAOLIViewModel.HasReceivershipOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.DAOLIViewModel.HasReceivershipOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div id="DAOLIViewModel.HasReceivershipOptions" hidden>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="receivershipdetails" class="label required">
                            <strong>You have answered "Yes" </strong>, please provide full details:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextAreaFor(m => m.DAOLIViewModel.ReceivershipDetails, new { @class = "form-control", @id = "receivershipdetails", @type = "text", onchange = "OnChange(this.id, this.name)", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="hascriminal" class="label required">
                        Has any Director or Officer been involved in any criminal proceedings during the last five years?
                    </label>
                </div>
                <div class="col-3">
                    <select id="hascriminal" name="DAOLIViewModel.HasCriminalOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.DAOLIViewModel.HasCriminalOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div id="DAOLIViewModel.HasCriminalOptions" hidden>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <label for="criminaldetails" class="label required">
                            <strong>You have answered "Yes" </strong>, please provide full details:
                        </label>
                    </div>
                    <div class="col-6">
                        @Html.TextAreaFor(m => m.DAOLIViewModel.CriminalDetails, new { @class = "form-control", @id = "criminaldetails", @type = "text", onchange = "OnChange(this.id, this.name)", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="hasprocecution" class="label required">
                        Is there now pending, or has there ever been any prosecution of any Director or Officer under the Fair Trading Act, Companies Act, Commerce Act,or any other NZ legislation or other similar overseas legislation?
                    </label>
                </div>
                <div class="col-3">
                    <select id="hasprocecution" name="DAOLIViewModel.HasProcecutionOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.DAOLIViewModel.HasProcecutionOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div id="DAOLIViewModel.HasProcecutionOptions" hidden>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="procecutiondetails" class="label required">
                            <strong>You have answered "Yes" </strong>, please provide full details:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextAreaFor(m => m.DAOLIViewModel.ProcecutionDetails, new { @class = "form-control", @id = "procecutiondetails", @type = "text", onchange = "OnChange(this.id, this.name)", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="hasobligation" class="label required">
                        Are the Directors or Officers aware of any reason why the company will not be in the position to meet all financial obligations during the next twelve months?
                    </label>
                </div>
                <div class="col-3">
                    <select id="hasobligation" name="DAOLIViewModel.HasObligationOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.DAOLIViewModel.HasObligationOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div id="DAOLIViewModel.HasObligationOptions" hidden>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="obligationdetails" class="label required">
                            <strong>You have answered "Yes" </strong>, please provide full details:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextAreaFor(m => m.DAOLIViewModel.ObligationDetails, new { @class = "form-control", @id = "obligationdetails", @type = "text", onchange = "OnChange(this.id, this.name)", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
