@model DealEngine.WebUI.Models.InformationViewModel

    <form id="FAPViewModel" class="is-valid" data-accordianId="FAP">
          @{
              var objectType = Model.ClientProgramme.GetType();
              if (!objectType.IsSubclassOf(typeof(ClientProgramme)))
              {
                <div class="form-group">
                    <div class="row">
                        <div class="col-9">
                            <label for="hastraditionallicence" class="label required">
                                If not 15 March 2021, when do you want this cover to start?
                            </label>
                        </div>
                        <div class="col-3">
                            @Html.TextBoxFor(m => m.FAPViewModel.CoverStartDate, new { @class = "form-control", @id = "FAPCoverStartDate", @required = "", @onchange = "OnChange(this.id, this.name)", @type="text"})
                        </div>
                    </div>
                </div>
              };
           }


            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="hastraditionallicence" class="label required">
                            Will you operate under your own Transitional License?
                        </label>
                    </div>
                    <div class="col-3">
                        <select id="hastraditionallicence" name="FAPViewModel.HasTraditionalLicenceOptions" class="custom-select" data-rule="FABConditional" data-item="FAB.HasAdvisersOptions,FAB.HasAdditionalTraditionalLicenceOptions" onchange="OnChange(this.id, this.name)" required>
                            @foreach (var option in Model.FAPViewModel.HasTraditionalLicenceOptions)
                            {
                                <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div id="FAB.HasAdvisersOptions" hidden>
                <div class="form-group">
                    <div class="row">
                        <div class="col-9">
                            <label for="hasadvisers" class="label required">
                                Please select from the following options
                            </label>
                        </div>
                        <div class="col-3">
                            <select id="hasadvisers" name="FAPViewModel.HasApolloAdvisersOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                                @foreach (var option in Model.FAPViewModel.HasApolloAdvisersOptions)
                                {
                                    <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-9">
                            <label for="transitionallicensenum" class="label required">
                                If you have your own Transitional License number available, please enter it here
                            </label>
                        </div>
                        <div class="col-3">
                            @Html.TextAreaFor(m => m.FAPViewModel.TransitionalLicenseNum, new { @class = "form-control", @id = "transitionallicensenum", @type = "text", onchange = "OnChange(this.id, this.name)", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                        </div>
                    </div>
                </div>
            </div>
            <div id="FAB.HasAdditionalTraditionalLicenceOptions" hidden>
                <div class="form-group">
                    <div class="row">
                        <div class="col-9">
                            <label for="hasadditionaltraditionallicence" class="label required">
                                If no, please advise the name of the transitional licence holder
                            </label>
                        </div>
                        <div class="col-3">
                                @Html.TextAreaFor(m => m.FAPViewModel.TransitionalLicenseHolder, new { @class = "form-control", @id = "transitionallicenseholder", @type = "text", onchange = "OnChange(this.id, this.name)", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                        </div>
                    </div>
                </div>

            </div>
        </form>
