@model DealEngine.WebUI.Models.InformationViewModel

<form id="OTViewModel" class="is-valid" data-accordianId="Outside Trustee">
    <div class="form-group">
        <div class="row">
            <div class="col-9">
                <label for="outsidepositions" class="label">
                    Number of Outside Positions Held
                </label>
            </div>
            <div class="col-3">
                @Html.TextBoxFor(m => m.OTViewModel.OutsidePositions, new { id = "outsidepositions", @class = "form-control", @onchange = "OnChange(this.id, this.name)" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-9">
                <label for="hasclaimquestions" class="label">
                    Has there been any claim made again you as an outside trustee?
                </label>
            </div>
            <div class="col-3">
                <select id="hasclaimquestions" name="OTViewModel.HasClaimQuestionsOptions" data-rule="OTAlert" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                    @foreach (var option in Model.OTViewModel.HasClaimQuestionsOptions)
                    {
                        <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-9">
                <label for="hasInvolvedTrustee" class="label required">
                    In relation to the services you provide to your clients, are you involved as a Trustee?
                </label>
            </div>
            <div class="col-3">
                <select id="hascircumstance" name="OTViewModel.HasInvolvedTrusteeOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                    @foreach (var option in Model.OTViewModel.HasInvolvedTrusteeOptions)
                    {
                        <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div id="OTViewModel.HasInvolvedTrusteeOptions" hidden>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="involvedtrusteedetails" class="label required">
                        <strong>If "Yes",</strong> please advise the total number of external Trustee Appointments held:
                    </label>
                </div>
                <div class="col-3">
                    @Html.TextAreaFor(m => m.OTViewModel.InvolvedTrusteeDetails, new { @class = "form-control", @id = "involvedtrusteedetails", @type = "text", onchange = "OnChange(this.id, this.name)", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-9">
                <label for="hasLessYears" class="label required">
                    Is any trust less that 3 years old?
                </label>
            </div>
            <div class="col-3">
                <select id="hascircumstance" name="OTViewModel.HasLessYearsOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                    @foreach (var option in Model.OTViewModel.HasLessYearsOptions)
                    {
                        <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-9">
                <label for="hasFinancialObligations" class="label required">
                    Is there any reason why any Trust will not be in position to meet all financial obligations during the next twelve months?
                </label>
            </div>
            <div class="col-3">
                <select id="hascircumstance" name="OTViewModel.HasFinancialObligationsOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                    @foreach (var option in Model.OTViewModel.HasFinancialObligationsOptions)
                    {
                        <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div id="OTViewModel.HasFinancialObligationsOptions" hidden>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="financialobligationsdetails" class="label required">
                        <strong>If "Yes", </strong> please provide full details:
                    </label>
                </div>
                <div class="col-3">
                    @Html.TextAreaFor(m => m.OTViewModel.FinancialObligationsDetails, new { @class = "form-control", @id = "involvedtrusteedetails", @type = "text", onchange = "OnChange(this.id, this.name)", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                </div>
            </div>
        </div>
    </div>
</form>
