@model DealEngine.WebUI.Models.InformationViewModel

@using System.Linq

<div class="padding-10">
    <div id="proposalcreate-form" class="smart-form" novalidate="novalidate">

        @*@tabs.Tab("List All")
            @tabs.Tab("Edit")
            @tabs.Tab("Add")*@
        <div id="CEASPrincipaltabs">
            <ul id="tab" class="nav nav-tabs">
                <li class="nav nav-tabs active" > <a href="#CEASPrincipaltabs1"> List All </a> </li>
                <li class="nav nav-tabs" id="PrincipalEdit"> <a href="#CEASPrincipaltabs2"> Edit </a> </li>
                <li class="nav nav-tabs"> <a href="#CEASPrincipaltabs3"> Add </a> </li>
                <li class="nav nav-tabs CEASPrincipalRemoved "> <a href="#CEASPrincipaltabs4"> Removed </a> </li>

            </ul>

            <div id="CEASPrincipaltabs1" class="tab-content">
                <fieldset>
                    <div class="row">
                        <section class="col col-xs-12">
                            @*<script src="~/jquery/jquery.min.js"></script>*@
                            <script type="text/javascript">
                                $(window).on('load',function () {
                            $("#CEASPrincipalDirectors").jqGrid({
                                url: "/Services/GetPrincipalPartners?informationId=@Model.AnswerSheetId&validated=true&removed=false&ceased=false",
						        datatype: "xml",
                                mtype: "GET",
                                async: true,
                                colNames: ["","Organisation Name","Organisation Type", "Remove"],
                                colModel: [
                                    {
                                        name: "update", align: 'center', search: false, formatter: function (cellvalue, options, rowobject) {
                                            return ('<button onclick="EditPrincipalPartners(\'bu\', \'' + cellvalue + '\'); SetCurrentTab(\'CEASPrincipaltabs2\');" type="button" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></button>' );
                                        }
                                    },
                                    { name: "OrganisationName", align: 'center' },
                                    { name: "OrganisationType", align: 'center' },
                                     {
                                         name: "update", align: 'center', width: 120, search: false, formatter: function (cellvalue, options, rowobject) {

                                                        return ('<button onclick="SetPrincipalRemovedStatus(\'' + cellvalue + '\', \'true\', \'#CEASPrincipalDirectors\', \'#tblCEASRemovedPrincipalDirectors\');" type="button"  class=" btn btn-danger btn-sm" id="trash"><span class="fa fa-trash"></span></button>');
                                         }
                                     }
								],
						        autowidth: true,
                                pager: "#CEASpagerNamedParty",
						        rowNum: 10,
						        rowList: [10, 20, 30],
                                sortname: "Name",
						        sortorder: "desc",
						        viewrecords: true,
						        gridview: true,
						        autoencode: true
						    });
						    $("#CEASPrincipalDirectors").jqGrid('navGrid',
						    	'#CEASpagerNamedParty',
						    	{edit: false, add: false, del: false},
						    	//options
						    	{height:280,reloadAfterSubmit:false},
						    	// edit options
						    	{height:280,reloadAfterSubmit:false},
						    	// add options
						    	{reloadAfterSubmit:false},
						    	// del options
						    	{sopt:['eq','bw','cn']}
						    	// search options
						    );
						});
                            </script>
                            <table id="CEASPrincipalDirectors"><tr><td></td></tr></table>
                            <div id="CEASpagerNamedParty"></div>
                        </section>
                    </div>
                </fieldset>
            </div>
            <div id="CEASPrincipaltabs2" class="tab-content">
                <fieldset id="fieldset">
                    <input id="CEASPrincipalPartnersId" class="b" name="ID" type="hidden">
                    <!-- 1st row -->
                    @*<div class="row">*@
                        <input data-type="TEXTBOX" data-name="sharedOrgName" id="CEASOwnerType" class="hidden" placeholder="Organisation Name" value="">

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 nonownersec">
                            <label class=" label required">Type</label>
                            <label class="input">
                                <select id="CEASEditPrincial13" onchange="EditPrincipal13Selected('CEASEditPrincial13')" class="form-select form-control b" name="Type">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="Principal">Principal</option>
                                    <option value="Subsidiary">Subsidiary</option>
                                    <option value="PreviousConsultingBusiness">Previous Consulting Business</option>
                                    <option value="Mergers">Mergers</option>
                                    <option value="JointVenture">Joint Venture</option>

                                </select>
                            </label>
                            <p class="validationContainer" id="ValidateCEASEditPrincial13"></p>

                        </section>

                        <div id="EditNotPrincipalsec" style="display:none">
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 nonownersec">
                                <label class="label required">Organisation Type</label>
                                <label class="input">
                                    <select id="CEASEditPrincial14" onchange="EditPrincipal14Selected('CEASEditPrincial14')" class="form-select form-control b" name="OrganisationTypeName">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="Person - Individual">Private</option>
                                        <option value="Corporate">Company</option>
                                        <option value="Trust">Trust</option>
                                        <option value="Partnership">Partnership</option>

                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateCEASEditPrincial14"></p>

                            </section>


                           

                            <div class="hidden" id="CEASEditOrgnamesec">

                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 ownersec">
                                    <label class="label required">Organisation Name</label>
                                    <label class="input">
                                        <i></i>
                                        <input data-type="TEXTBOX" data-name="sharedOrgName" id="CEASEditPrincial17" name="OrganisationName" placeholder="Organisation Name" value="">
                                    </label>
                                    <p class="validationContainer" id="ValidateCEASEditPrincial17"></p>
                                </section>

                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 nonownersec">
                                    <label class="label required">Activities</label>
                                    <label class="input">
                                        <i></i>
                                        <input data-type="TEXTBOX" data-name="sharedOrgName" id="CEASEditPrincial18" name="Activities" placeholder="Activities" value="">
                                    </label>
                                    <p class="validationContainer" id="ValidateCEASEditPrincial18"></p>
                                </section>
                            </div>

                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="CEASEditIndividual1">
                                <label class="label required">First Name</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgName" id="CEASEditPrincial1" name="FirstName" placeholder="FirstName" value="">
                                </label>
                                <p class="validationContainer" id="ValidateCEASEditPrincial1"></p>

                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="CEASEditIndividual2">
                                <label class="label required">Last Name</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgName" id="CEASEditPrincial2" name="LastName" placeholder="LastName" value="">
                                </label>
                                <p class="validationContainer" id="ValidateCEASEditPrincial2"></p>

                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden ownersec" id="CEASEditIndividual3">
                                <label class="label required">Email</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgName" id="CEASEditPrincial3" name="Email" placeholder="Email" value="">
                                </label>
                                <p class="validationContainer" id="ValidateCEASEditPrincial3"></p>

                            </section>
                            <div class="hidden" id="CEASEditIndividualPrincipal">


                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label required">Qualifications/Year attained:</label>
                                    <label class="input">
                                        <i></i>
                                        <input data-type="TEXTBOX" data-name="sharedOrgPhone" id="CEASEditPrincial4" name="Qualifications" placeholder="Qualifications" value="">
                                    </label>
                                    <p class="validationContainer" id="CEASValidateCEASEditPrincial4"></p>

                                </section>
                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label required">Are you a member of NZIA?</label>
                                    <label class="input">
                                        <select id="CEASEditPrincial5" onchange="Principal1Selected('CEASEditPrincial5')" class="form-select form-control b" name="IsNZIAmember">
                                            <option selected="selected" value="">-- Select --</option>
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </label>
                                    <p class="validationContainer" id="ValidateCEASEditPrincial5"></p>

                                </section>

                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="CEASEditPrincial6Sec">
                                    <label class="label required">If 'Yes'- State the type of NZIA membership held</label>
                                    <label class="input">
                                        <i></i>
                                        <input data-type="TEXTBOX" data-name="sharedOrgPhone" id="CEASCEASEditPrincial6" name="NZIAmembership" placeholder="NZIA Membership Type" value="">
                                    </label>
                                    <p class="validationContainer" id="ValidateCEASEditPrincial6"></p>

                                </section>

                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label required">Are you a member of ADNZ?</label>
                                    <label class="input">
                                        <select id="CEASEditPrincial7" onchange="Principal2Selected('CEASEditPrincial7')" class="form-select form-control b" name="IsADNZmember">
                                            <option selected="selected" value="">-- Select --</option>
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </label>
                                    <p class="validationContainer" id="ValidateCEASEditPrincial7"></p>

                                </section>
                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="CEASEditPrincial8Sec">
                                    <label class="label required">Do you hold LPB Category 3 classification?</label>
                                    <label class="input">
                                        <i></i>
                                        <input data-type="TEXTBOX" data-name="sharedOrgPhone" id="CEASEditPrincial8" name="IsLPBCategory3" placeholder="LBP Category" value="">
                                    </label>
                                    <p class="validationContainer" id="ValidateCEASEditPrincial8"></p>

                                </section>


                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label required">How long have you been at this practice?</label>
                                    <label class="input">
                                        <i></i>
                                        <input data-type="TEXTBOX" data-name="sharedOrgPhone" id="CEASEditPrincial9" name="YearofPractice" placeholder="Years of Practice" value="">
                                    </label>
                                    <p class="validationContainer" id="ValidateCEASEditPrincial9"></p>

                                </section>

                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label required">Name of previous practice:</label>
                                    <label class="input">
                                        <i></i>
                                        <input data-type="TEXTBOX" data-name="sharedOrgEmail" id="CEASEditPrincial10" name="prevPractice" placeholder="Practice Name" value="">
                                    </label>
                                    <p class="validationContainer" id="ValidateCEASEditPrincial10"></p>

                                </section>
                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label  required">Do you require coverage for other directorship appointments held by you on behalf of your practice?</label>
                                    <label class="input">
                                        <select id="CEASEditPrincial11" onchange="Principal3Selected('CEASEditPrincial11')" class="form-select form-control b" name="IsOtherdirectorship">
                                            <option selected="selected" value="">-- Select --</option>
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </label>
                                    <p class="validationContainer" id="ValidateCEASEditPrincial11"></p>
                                </section>
                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="CEASEditPrincial12Sec">
                                    <label class="label required">Please list all Name of company(s)</label>
                                    <label class="input">
                                        <i></i>
                                        <input data-type="TEXTBOX" data-name="sharedOrgEmail" id="CEASEditPrincial12" name="Othercompanyname" placeholder="Company(s) Names seperated by (,)" value="">
                                    </label>
                                    <p class="validationContainer" id="ValidateCEASEditPrincial12"></p>
                                </section>
                            </div>

                        </div>

                        <div id="EditCEASPrincipalsec" style="display:none">


                            @*<section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <label class="label required">Organisation Name</label>
            <label class="input">
                <i></i>
                <input data-type="TEXTBOX" data-name="sharedOrgName" id="CEASAddPrincial20" name="OrganisationName" placeholder="Organisation Name" value="">
            </label>
            <p class="validationContainer" id="ValidateCEASAddPrincial20"></p>
        </section>*@
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">Organisation Type</label>
                                <label class="input">
                                    <select id="CEASEditPrincial30" class="form-select form-control b" name="OrganisationTypeName">
                                        <option value="Person - Individual" selected="selected">Private</option>

                                    </select>
                                </label>
                                @*<p class="validationContainer" id="ValidateCEASEditPrincial14"></p>*@

                            </section>

                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="CEASEditPrincial19sec">
                                <label class="label required">This Person has retired or deceased ?</label>
                                <label class="input">
                                    <select id="CEASEditPrincial19" onchange="EditPrincipal19Selected('CEASEditPrincial19')" class="form-select form-control b" name="IsRetiredorDecieved">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateEditPrincial19"></p>

                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="CEASEditDateofRetirementSec">
                                <label class="label">Date of Retirement (Please Enter either Date of Retirement or Date of Deceased)</label>
                                <label class="input">
                                    <i></i>
                                    <input name="DateofRetirement" placeholder="Date of Retirement" class="Startdate form-control rmv" data-dateformat="dd/mm/yy" id="CEASEditPrincial15" type="text">
                                </label>
                            </section>

                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="CEASEditDateofDeceasedSec">
                                <label class="label">Date of Deceased (Please Enter either Date of Deceased or Date of Retirement )</label>
                                <label class="input">
                                    <i></i>
                                    <input name="DateofDeceased" placeholder="Date of Deceased" class="Startdate form-control rmv" data-dateformat="dd/mm/yy" id="CEASEditPrincial16" type="text">
                                </label>
                            </section>


                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6" id="EditIndividual1">
                                <label class="label required">First Name</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgName" id="CEASEditPrincial28" name="FirstName" placeholder="FirstName" value="">
                                </label>
                                <p class="validationContainer" id="ValidateCEASEditPrincial28"></p>

                            </section>

                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6" id="EditIndividual2">
                                <label class="label required">Last Name</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgName" id="CEASEditPrincial29" name="LastName" placeholder="LastName" value="">
                                </label>
                                <p class="validationContainer" id="ValidateCEASEditPrincial29"></p>

                            </section>

                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">Email</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgName" id="CEASEditPrincial21" name="Email" placeholder="Email" value="">
                                </label>
                                <p class="validationContainer" id="ValidateCEASEditPrincial21"></p>

                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">Date of Birth</label>
                                @*<div class="row">*@
                                <section class="col col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                    <label class="input ">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input name="DateofBirth" placeholder="Birth Date" class="Birthdate form-control b" data-dateformat="dd/mm/yy" id="CEASEditPrincial22" type="text" required>
                                    </label>
                                </section>
                                <section class="col col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                    <i id="elem" href="#"
                                       class="fa fa-question-circle"
                                       data-placement="bottom"
                                       data-html="true"
                                       data-container="body"
                                       data-toggle="popover"
                                       data-content="Pick the date from which you require insurance for <b>This Vessel </b>"></i>
                                </section>
                                @*</div>*@
                                <p class="validationContainer" id="validateCEASEditPrincial22"></p>
                            </section>

                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                                <label class="label required">Qualification</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="Qualifications" id="CEASEditPrincial23" name="Qualifications" placeholder="Qualification" value="">
                                </label>
                                <p class="validationContainer" id="ValidateCEASEditPrincial23"></p>

                            </section>


                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">Engineer Member</label>
                                <label class="input">
                                    <select id="CEASEditPrincial24" class="form-select form-control b" name="IsIPENZmember">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateCEASEditPrincial24"></p>

                            </section>


                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">CPEng Qualified</label>
                                <label class="input">
                                    <i></i>
                                    <select id="CEASEditPrincial25" class="form-select form-control b" name="CPEngQualified">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateCEASEditPrincial25"></p>

                            </section>



                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">How long as a Principal of this practice?</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgPhone" id="CEASEditPrincial26" name="YearofPractice" placeholder="Years of Practice" value="">
                                </label>
                                <p class="validationContainer" id="ValidateCEASEditPrincial26"></p>

                            </section>

                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">How long as a Principal of any practice?</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgEmail" id="CEASEditPrincial27" name="prevPractice" placeholder="Practice Name" value="">
                                </label>
                                <p class="validationContainer" id="ValidateCEASEditPrincial27"></p>

                            </section>
                        </div>

                        <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <button onclick="ValidateCEASEditPrincipalDirectors(event);" class="btn-sm AddupdateBoat" id="updateBoat">Update</button>
                            <button onclick="ClearBoats(event,'#CEASPrincipaltabs2','CEASPrincipaltabs1')" class="btn-sm AddClearBoat" id="ClearBoat">Cancel Update</button>
                        </section>

                    </@*div*@>
                </fieldset>

            </div>
            <div id="CEASPrincipaltabs3" class="tab-content">
                <fieldset id="fieldset">
                    <input id="CEASAddPrincipalPartnersId" class="b" name="ID" type="hidden">
                    <!-- 1st row -->
                    @*<div class="row">*@

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class=" label required">Type</label>
                            <label class="input">
                                <select id="CEASAddPrincial13" onchange="Principal13Selected('CEASAddPrincial13')" class="form-select form-control b" name="Type">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="Principal">Principal</option>
                                    <option value="Subsidiary">Subsidiary</option>
                                    <option value="PreviousConsultingBusiness">Previous Consulting Business</option>
                                    <option value="Mergers">Mergers</option>
                                    <option value="JointVenture">Joint Venture</option>

                                </select>
                            </label>
                            <p class="validationContainer" id="ValidateCEASAddPrincial13"></p>

                        </section>

                        <div id="AddNotPrincipalsec" style="display:none">
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class=" label required">Organisation Type</label>
                                <label class="input">
                                    <select id="CEASAddPrincial14" onchange="Principal14Selected('CEASAddPrincial14')" class="form-select form-control b" name="OrganisationTypeName">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="Person - Individual">Private</option>
                                        <option value="Corporate">Company</option>
                                        <option value="Trust">Trust</option>
                                        <option value="Partnership">Partnership</option>

                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateCEASAddPrincial14"></p>

                            </section>



                            <div class="hidden" id="CEASOrgnamesec">

                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label required">Organisation Name</label>
                                    <label class="input">
                                        <i></i>
                                        <input data-type="TEXTBOX" data-name="sharedOrgName" id="CEASAddPrincial17" name="OrganisationName" placeholder="Organisation Name" value="">
                                    </label>
                                    <p class="validationContainer" id="ValidateCEASAddPrincial17"></p>
                                </section>

                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label required">Activities</label>
                                    <label class="input">
                                        <i></i>
                                        <input data-type="TEXTBOX" data-name="sharedOrgName" id="CEASAddPrincial18" name="Activities" placeholder="Activities" value="">
                                    </label>
                                    <p class="validationContainer" id="ValidateCEASAddPrincial18"></p>
                                </section>
                            </div>

                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="CEASAddIndividual1">
                                <label class="label required">First Name</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgName" id="CEASAddPrincial1" name="FirstName" placeholder="FirstName" value="">
                                </label>
                                <p class="validationContainer" id="ValidateCEASAddPrincial1"></p>

                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="CEASAddIndividual2">
                                <label class="label required">Last Name</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgName" id="CEASAddPrincial2" name="LastName" placeholder="LastName" value="">
                                </label>
                                <p class="validationContainer" id="ValidateCEASAddPrincial2"></p>

                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="CEASAddIndividual3">
                                <label class="label required">Email</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgName" id="CEASAddPrincial3" name="Email" placeholder="Email" value="">
                                </label>
                                <p class="validationContainer" id="ValidateCEASAddPrincial3"></p>

                            </section>
                            <div class="hidden" id="CEASAddIndividualPrincipal">


                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label required">Qualifications/Year attained:</label>
                                    <label class="input">
                                        <i></i>
                                        <input data-type="TEXTBOX" data-name="sharedOrgPhone" id="CEASAddPrincial4" name="Qualifications" placeholder="Qualifications" value="">
                                    </label>
                                    <p class="validationContainer" id="CEASValidateCEASAddPrincial4"></p>

                                </section>
                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label required">Are you a member of NZIA?</label>
                                    <label class="input">
                                        <select id="CEASAddPrincial5" onchange="Principal1Selected('CEASAddPrincial5')" class="form-select form-control b" name="IsNZIAmember">
                                            <option selected="selected" value="">-- Select --</option>
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </label>
                                    <p class="validationContainer" id="ValidateCEASAddPrincial5"></p>

                                </section>

                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="CEASPrincial6Sec">
                                    <label class="label required">If 'Yes'- State the type of NZIA membership held</label>
                                    <label class="input">
                                        <i></i>
                                        <input data-type="TEXTBOX" data-name="sharedOrgPhone" id="CEASCEASAddPrincial6" name="NZIAmembership" placeholder="NZIA Membership Type" value="">
                                    </label>
                                    <p class="validationContainer" id="ValidateCEASAddPrincial6"></p>

                                </section>

                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label required">Are you a member of ADNZ?</label>
                                    <label class="input">
                                        <select id="CEASAddPrincial7" onchange="Principal2Selected('CEASAddPrincial7')" class="form-select form-control b" name="IsADNZmember">
                                            <option selected="selected" value="">-- Select --</option>
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </label>
                                    <p class="validationContainer" id="ValidateCEASAddPrincial7"></p>

                                </section>
                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="CEASPrincial8Sec">
                                    <label class="label required">Do you hold LPB Category 3 classification?</label>
                                    <label class="input">
                                        <i></i>
                                        <input data-type="TEXTBOX" data-name="sharedOrgPhone" id="CEASAddPrincial8" name="IsLPBCategory3" placeholder="LBP Category" value="">
                                    </label>
                                    <p class="validationContainer" id="ValidateCEASAddPrincial8"></p>

                                </section>


                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label required">How long have you been at this practice?</label>
                                    <label class="input">
                                        <i></i>
                                        <input data-type="TEXTBOX" data-name="sharedOrgPhone" id="CEASAddPrincial9" name="YearofPractice" placeholder="Years of Practice" value="">
                                    </label>
                                    <p class="validationContainer" id="ValidateCEASAddPrincial9"></p>

                                </section>

                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label required">Name of previous practice:</label>
                                    <label class="input">
                                        <i></i>
                                        <input data-type="TEXTBOX" data-name="sharedOrgEmail" id="CEASAddPrincial10" name="prevPractice" placeholder="Practice Name" value="">
                                    </label>
                                    <p class="validationContainer" id="ValidateCEASAddPrincial10"></p>

                                </section>
                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label  required">Do you require coverage for other directorship appointments held by you on behalf of your practice?</label>
                                    <label class="input">
                                        <select id="CEASAddPrincial11" onchange="Principal3Selected('CEASAddPrincial11')" class="form-select form-control b" name="IsOtherdirectorship">
                                            <option selected="selected" value="">-- Select --</option>
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </label>
                                    <p class="validationContainer" id="ValidateCEASAddPrincial11"></p>
                                </section>
                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="CEASPrincial12Sec">
                                    <label class="label required">Please list all Name of company(s)</label>
                                    <label class="input">
                                        <i></i>
                                        <input data-type="TEXTBOX" data-name="sharedOrgEmail" id="CEASAddPrincial12" name="Othercompanyname" placeholder="Company(s) Names seperated by (,)" value="">
                                    </label>
                                    <p class="validationContainer" id="ValidateCEASAddPrincial12"></p>
                                </section>
                            </div>

                        </div>

                        <div id="AddCEASPrincipalsec" style="display:none">


                            @*<section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <label class="label required">Organisation Name</label>
            <label class="input">
                <i></i>
                <input data-type="TEXTBOX" data-name="sharedOrgName" id="CEASAddPrincial20" name="OrganisationName" placeholder="Organisation Name" value="">
            </label>
            <p class="validationContainer" id="ValidateCEASAddPrincial20"></p>
        </section>*@

                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">Organisation Type</label>
                                <label class="input">
                                    <select id="CEASAddPrincial30" class="form-select form-control b" name="OrganisationTypeName">
                                        <option value="Person - Individual" selected="selected">Private</option>

                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateCEASAddPrincial30"></p>

                            </section>


                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="CEASAddPrincial19sec">
                                <label class="label required">This Person has retired or deceased ?</label>
                                <label class="input">
                                    <select id="CEASAddPrincial19" onchange="Principal19Selected('CEASAddPrincial19')" class="form-select form-control b" name="IsRetiredorDecieved">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateCEASAddPrincial19"></p>

                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="CEASAddDateofRetirementSec">
                                <label class="label">Date of Retirement (Please Enter either Date of Retirement or Date of Deceased)</label>
                                <label class="input">
                                    <i></i>
                                    <input name="DateofRetirement" placeholder="Date of Retirement" class="Startdate form-control rmv" data-dateformat="dd/mm/yy" id="CEASAddPrincial15" type="text">
                                </label>
                            </section>

                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="CEASAddDateofDeceasedSec">
                                <label class="label">Date of Deceased (Please Enter either Date of Deceased or Date of Retirement )</label>
                                <label class="input">
                                    <i></i>
                                    <input name="DateofDeceased" placeholder="Date of Deceased" class="Startdate form-control rmv" data-dateformat="dd/mm/yy" id="CEASAddPrincial16" type="text">
                                </label>
                            </section>




                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6" id="EditIndividual1">
                                <label class="label required">First Name</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgName" id="CEASAddPrincial28" name="FirstName" placeholder="FirstName" value="">
                                </label>
                                <p class="validationContainer" id="ValidateCEASAddPrincial28"></p>

                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6" id="EditIndividual2">
                                <label class="label required">Last Name</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgName" id="CEASAddPrincial29" name="LastName" placeholder="LastName" value="">
                                </label>
                                <p class="validationContainer" id="ValidateCEASAddPrincial29"></p>

                            </section>

                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">Email</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgName" id="CEASAddPrincial21" name="Email" placeholder="Email" value="">
                                </label>
                                <p class="validationContainer" id="ValidateCEASAddPrincial21"></p>

                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">Date of Birth</label>
                                <div class="row">
                                    <section class="col col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                        <label class="input ">
                                            <i class="icon-append fa fa-calendar"></i>
                                            <input name="DateofBirth" placeholder="Birth Date" class="Birthdate form-control b" data-dateformat="dd/mm/yy" id="CEASAddPrincial22" type="text" required>
                                        </label>
                                    </section>
                                    <section class="col col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                        <i id="elem" href="#"
                                           class="fa fa-question-circle"
                                           data-placement="bottom"
                                           data-html="true"
                                           data-container="body"
                                           data-toggle="popover"
                                           data-content="Pick the date from which you require insurance for <b>This Vessel </b>"></i>
                                    </section>
                                </div>
                                <p class="validationContainer" id="validateCEASAddPrincial22"></p>
                            </section>

                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                                <label class="label required">Qualification</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="Qualifications" id="CEASAddPrincial23" name="Qualifications" placeholder="Qualification" value="">
                                </label>
                                <p class="validationContainer" id="ValidateCEASAddPrincial23"></p>

                            </section>


                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">Engineer Member</label>
                                <label class="input">
                                    <select id="CEASAddPrincial24" class="form-select form-control b" name="IsIPENZmember">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateCEASAddPrincial24"></p>

                            </section>


                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">CPEng Qualified</label>
                                <label class="input">
                                    <i></i>
                                    <select id="CEASAddPrincial25" class="form-select form-control b" name="CPEngQualified">
                                        <option selected="selected" value="">-- Select --</option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </label>
                                <p class="validationContainer" id="ValidateCEASAddPrincial25"></p>

                            </section>



                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">How long as a Principal of this practice?</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgPhone" id="CEASAddPrincial26" name="YearofPractice" placeholder="Years of Practice" value="">
                                </label>
                                <p class="validationContainer" id="ValidateCEASAddPrincial26"></p>

                            </section>

                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required">How long as a Principal of any practice?</label>
                                <label class="input">
                                    <i></i>
                                    <input data-type="TEXTBOX" data-name="sharedOrgEmail" id="CEASAddPrincial27" name="prevPractice" placeholder="Practice Name" value="">
                                </label>
                                <p class="validationContainer" id="ValidateCEASAddPrincial27"></p>

                            </section>
                        </div>

                        <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <button onclick="ValidateCEASPrincipalDirectors(event);" class="btn-sm AddupdateBoat" id="updateBoat">Add</button>
                            <button onclick="ClearBoats(event,'#CEASPrincipaltabs3','CEASPrincipaltabs1')" class="btn-sm AddClearBoat" id="ClearBoat">Cancel Update</button>
                        </section>

                    @*</div>*@

                </fieldset>
            </div>

            <div id="CEASPrincipaltabs4" class="tab-content">

                <fieldset>
                    <div class="row">
                        <section class="col col-xs-12">
                            <script type="text/javascript">
                                 $(".CEASPrincipalRemoved").click(function () {
                               $("#tblCEASRemovedPrincipalDirectors").jqGrid({
                                url: "/Services/GetDeletedPartners?informationId=@Model.AnswerSheetId&validated=true&removed=true&ceased=false",
                                datatype: "xml",
                                   mtype: "GET",
                                async: true,
                                   colNames: ["","Organisation Name", "Organisation Type"],
                                    colModel: [

                                    {
                                        name: "update", align: 'center' ,width: 60, search: false, formatter: function (cellvalue, options, rowobject) {/*{ class=" btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash*/
                                            return '<button onclick="SetPrincipalRemovedStatus(\'' + cellvalue + '\', \'false\', \'#tblCEASRemovedPrincipalDirectors\', \'#CEASPrincipalDirectors\');" type="button" class=" btn btn-success btn-sm" ><i class="fa fa-undo"></i></button>';

                                        }
                                    },
                                     { name: "OrganisationName", align: 'center' },
                                    { name: "OrganisationType", align: 'center' },
                                   ],
                                autowidth: true,
                                pager: "#CEASRemovedpagerNamedParty",
                                rowNum: 10,
                                rowList: [10, 20, 30],
                                sortname: "BoatName",
                                sortorder: "desc",
                                viewrecords: true,
                                gridview: true,
                                autoencode: true
                            });
                            $("#tblCEASRemovedPrincipalDirectors").jqGrid('navGrid',
                                '#CEASRemovedpagerNamedParty',
                                { edit: false, add: false, del: false },
                                //options
                                { height: 280, reloadAfterSubmit: false },
                                // edit options
                                { height: 280, reloadAfterSubmit: false },
                                // add options
                                { reloadAfterSubmit: false },
                                // del options
                                { sopt: ['eq', 'bw', 'cn'] }
                                // search options
                                 );
                                });
                            </script>
                            <table id="tblCEASRemovedPrincipalDirectors"><tr><td></td></tr></table>
                            <div id="CEASRemovedpagerNamedParty"></div>
                        </section>
                    </div>
                </fieldset>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">


    function Principal19Selected(PrincipalSelected) {
        var principalSelected = document.getElementById(PrincipalSelected);
        if (principalSelected.options[principalSelected.selectedIndex].value != "true") {
            $('#CEASAddDateofRetirementSec').addClass('hidden');
            $('#CEASAddDateofDeceasedSec').addClass('hidden');
            $('#CEASAddPrincial15').val('');
            $('#CEASAddPrincial16').val('');
        } else {
            $('#CEASAddDateofRetirementSec').removeClass('hidden');
            $('#CEASAddDateofDeceasedSec').removeClass('hidden');
        }
    }

    function Principal14Selected(PrincipalSelected) {
        var principalSelected = document.getElementById(PrincipalSelected);
        var ghg = principalSelected.options[principalSelected.selectedIndex].value;
        if (principalSelected.options[principalSelected.selectedIndex].value == "Person - Individual" && $("#CEASAddPrincial14").val() != "Principal") {
           
            $('#CEASOrgnamesec').removeClass('hidden');
            $('#CEASAddPrincial1').val('');
            $('#CEASAddPrincial2').val('');
            $('#CEASAddPrincial3').val('');
            $('#CEASAddIndividual1').addClass('hidden');
            $('#CEASAddIndividual2').addClass('hidden');
            $('#CEASAddIndividual3').addClass('hidden');
            $('#CEASAddPrincial19sec').addClass('hidden');
            $('#CEASAddPrincial15').val('');
            $('#CEASAddPrincial16').val('');

        }else {
            $('#CEASOrgnamesec').removeClass('hidden');
            $('#CEASAddPrincial1').val('');
            $('#CEASAddPrincial2').val('');
            $('#CEASAddPrincial3').val('');
            $('#CEASAddIndividual1').addClass('hidden');
            $('#CEASAddIndividual2').addClass('hidden');
            $('#CEASAddIndividual3').addClass('hidden');
            $('#CEASAddPrincial19sec').addClass('hidden');
            $('#CEASAditPrincial15').val('');
            $('#CEASAditPrincial16').val('');

        }
     }
    function Principal13Selected(PrincipalSelected) {
        debugger;
        var principalSelected = document.getElementById(PrincipalSelected);
        var jkhj = principalSelected.options[principalSelected.selectedIndex].value;
        if (principalSelected.options[principalSelected.selectedIndex].value == "Principal") {
                $('#CEASAddPrincial1').val('');
            $('#CEASAddPrincial2').val('');
            $('#CEASAddPrincial3').val('');
            $('#CEASAddPrincial4').val('');
            $('#CEASAddPrincial5').val('');
            $('#CEASAddPrincial6').val('');
            $('#CEASAddPrincial7').val('');
            $('#CEASAddPrincial8').val('');
            $('#CEASAddPrincial9').val('');
            $('#CEASAddPrincial10').val('');
            $('#CEASAddPrincial11').val('');
            $('#AddCEASPrincipalsec').show();
            $('#AddNotPrincipalsec').hide();
            $('#CEASAddPrincial14').val('');
            $('#CEASAddPrincial17').val('');
            $('#CEASAddPrincial18').val('');
            $('#CEASAddPrincial19sec').removeClass('hidden');
            $('#CEASAddPrincial28').removeClass('hidden');         

        } else {
             $('#AddCEASPrincipalsec').hide();
            $('#AddNotPrincipalsec').show();
            $('#CEASAddPrincial28').val('');
            $('#CEASAddPrincial29').val('');
            $('#CEASAddPrincial21').val('');
            $('#CEASAddPrincial22').val('');
            $('#CEASAddPrincial23').val('');
            $('#CEASAddPrincial24').val('');
            $('#CEASAddPrincial25').val('');
            $('#CEASAddPrincial26').val('');
            $('#CEASAddPrincial27').val('');
            $('#CEASAddPrincial28').addClass('hidden');         
            $('#CEASAddPrincial19sec').addClass('hidden');
            $('#CEASAddPrincial15').val('');
            $('#CEASEAddPrincial16').val('');

        }
    }

    function Principal1Selected(PrincipalSelected) {        
        var principalSelected = document.getElementById(PrincipalSelected);
        if (principalSelected.options[principalSelected.selectedIndex].value == "true") {
            $('#CEASPrincial6Sec').removeClass('hidden');
        } else {
            $('#CEASAddPrincial6').val('');
            $('#CEASPrincial6Sec').addClass('hidden');

         }
      }
     function Principal2Selected(PrincipalSelected) {
        var principalSelected = document.getElementById(PrincipalSelected);
        if (principalSelected.options[principalSelected.selectedIndex].value == "true") {
            $('#CEASPrincial8Sec').removeClass('hidden');
        } else {
            $('#CEASAddPrincial8').val('');
            $('#CEASPrincial8Sec').addClass('hidden');

        }
    }
     function Principal3Selected(PrincipalSelected) {        
        var principalSelected = document.getElementById(PrincipalSelected);
        if (principalSelected.options[principalSelected.selectedIndex].value == "true") {
            $('#CEASPrincial12Sec').removeClass('hidden');
        } else {
            $('#CEASAddPrincial12').val('');
            $('#CEASPrincial12Sec').addClass('hidden');

        }
    }

     function EditPrincipal19Selected(PrincipalSelected) {
        var principalSelected = document.getElementById(PrincipalSelected);
        if (principalSelected.options[principalSelected.selectedIndex].value != "true") {
            $('#CEASEditDateofRetirementSec').addClass('hidden');
            $('#CEASEditDateofDeceasedSec').addClass('hidden');
            $('#CEASEditPrincial15').val('');
            $('#CEASEditPrincial16').val('');
        } else {
            $('#CEASEditDateofRetirementSec').removeClass('hidden');
            $('#CEASEditDateofDeceasedSec').removeClass('hidden');
        }
    }

    function EditPrincipal14Selected(PrincipalSelected) {
        var principalSelected = document.getElementById(PrincipalSelected);
        var ghg = principalSelected.options[principalSelected.selectedIndex].value;
        if (principalSelected.options[principalSelected.selectedIndex].value == "Person - Individual" && $("#CEASEditPrincial14").val() != "Principal") {
           
            $('#CEASOrgnamesec').removeClass('hidden');
            $('#CEASEditPrincial1').val('');
            $('#CEASEditPrincial2').val('');
            $('#CEASEditPrincial3').val('');
            $('#CEASEditIndividual1').addClass('hidden');
            $('#CEASEditIndividual2').addClass('hidden');
            $('#CEASEditIndividual3').addClass('hidden');
            $('#CEASEditPrincial19sec').addClass('hidden');
            $('#CEASEdittPrincial15').val('');
            $('#CEASEditPrincial16').val('');

        }else {
            $('#CEASEditOrgnamesec').removeClass('hidden');
            $('#CEASEditPrincial1').val('');
            $('#CEASEditPrincial2').val('');
            $('#CEASEditPrincial3').val('');
            $('#CEASEditIndividual1').addClass('hidden');
            $('#CEASEditIndividual2').addClass('hidden');
            $('#CEASEditIndividual3').addClass('hidden');
            $('#CEASEditPrincial19sec').addClass('hidden');
            $('#CEASEditPrincial15').val('');
            $('#CEASEditPrincial16').val('');
           
        }
     }
    function EditPrincipal13Selected(PrincipalSelected) {
        debugger;
        var principalSelected = document.getElementById(PrincipalSelected);
        var jkhj = principalSelected.options[principalSelected.selectedIndex].value;
         if (principalSelected.options[principalSelected.selectedIndex].value == "Principal") {
             $('#EditCEASPrincipalsec').show();
             $('#EditNotPrincipalsec').hide();
             $('#CEASEditPrincial19sec').removeClass('hidden');

            //$('#AddIndividualPrincipal').removeClass('hidden');
            //$('#AddIndividual1').removeClass('hidden');
            //$('#AddIndividual2').removeClass('hidden');
            //$('#AddIndividual3').removeClass('hidden');
            ////$('#AddDateofDeceasedSec').removeClass('hidden');
            //$('#AddPrincial14').val('Person - Individual');
            //$('#AddPrincial14').prop("disabled", true);
            //$('#AddPrincial19sec').removeClass('hidden');

        } else {
             $('#EditCEASPrincipalsec').hide();
             $('#EditNotPrincipalsec').show();
            $('#CEASEditPrincial1').val('');
            $('#CEASEditPrincial2').val('');
            $('#CEASEditPrincial3').val('');
            $('#CEASEditPrincial4').val('');
            $('#CEASEditPrincial5').val('');
            $('#CEASEditPrincial7').val('');
            $('#CEASEditPrincial8').val('');
            $('#CEASEditPrincial9').val('');
            $('#CEASEditPrincial10').val('');
            $('#CEASEditPrincial11').val('');
           
            $('#CEASEditPrincial14').prop("disabled", false);
            $('#CEASEditIndividualPrincipal').addClass('hidden');
            $('#CEASEditIndividual1').addClass('hidden');
            $('#CEASEditIndividual2').addClass('hidden');
            $('#CEASEditIndividual3').addClass('hidden');
            $('#CEASEditPrincial19sec').addClass('hidden');
            $('#CEASEditDateofRetirementSec').addClass('hidden');
            $('#CEASEditDateofDeceasedSec').addClass('hidden');
            $('#CEASEditPrincial15').val('');
            $('#CEASEditPrincial16').val('');
            $('#CEASEditPrincial19').val('');

        }
    }

    function EditPrincipal1Selected(PrincipalSelected) {        
        var principalSelected = document.getElementById(PrincipalSelected);
        if (principalSelected.options[principalSelected.selectedIndex].value == "true") {
            $('#CEASEditPrincial6Sec').removeClass('hidden');
        } else {
            $('#CEASEditPrincial6').val('');
            $('#CEASEditPrincial6Sec').addClass('hidden');

         }
      }
     function EditPrincipal2Selected(PrincipalSelected) {
        var principalSelected = document.getElementById(PrincipalSelected);
        if (principalSelected.options[principalSelected.selectedIndex].value == "true") {
            $('#CEASEditPrincial8Sec').removeClass('hidden');
        } else {
            $('#CEASEditPrincial8').val('');
            $('#CEASEditPrincial8Sec').addClass('hidden');

        }
    }
     function EditPrincipal3Selected(PrincipalSelected) {        
        var principalSelected = document.getElementById(PrincipalSelected);
        if (principalSelected.options[principalSelected.selectedIndex].value == "true") {
            $('#CEASEditPrincial12Sec').removeClass('hidden');
        } else {
            $('#CEASEditPrincial12').val('');
            $('#CEASEditPrincial12Sec').addClass('hidden');

        }
    }



    function EditPrincipalPartners(classId, boatUseId) {
        debugger;
        event.preventDefault();
        var _sheetId = $('#AnswerSheetId').val();
        var postData = {
		'partyID': boatUseId,
            'answerSheetId': _sheetId
        };
        $.ajax({
            url: '@Url.Action("GetPrincipalPartners", "Services")',
            type: "Post",
            data: postData
        })
         .done(function (data) {             
             if (data.type == "Owner") {
                 $('#CEASPrincipalPartnersId').val(data.id);
                 $('#EditNotPrincipalsec').show();
                 $('#CEASEditOrgnamesec').removeClass('hidden');
                 $('#CEASEditIndividual3').removeClass('hidden');
                 $('#CEASEditPrincial17').val(data.organisationName);
                 $('#CEASEditPrincial3').val(data.email);
                 $('#CEASEditPrincial13').addClass('hidden');
                 $('#CEASEditPrincial14').addClass('hidden');
                 $('#CEASOwnerType').val(data.type);                                 
                 $('#EditCEASPrincipalsec').hide();
                 $('.ownersec').removeClass('hidden');
                 $('.nonownersec').addClass('hidden');

                 

             } else {
                 $('#EditCEASPrincipalsec').show();
                 $('#CEASPrincipalPartnersId').val(data.id);
                 $('#CEASEditOrgnamesec').addClass('hidden');
                 $('#CEASEditIndividual3').addClass('hidden');
                 $('.ownersec').addClass('hidden');
                 $('.nonownersec').removeClass('hidden');
             }

             if (data.type != "Owner") {

                 if (data.type == "Principal") {

                     $('#CEASPrincipalPartnersId').val(data.id);
                     $('#EditCEASPrincipalsec').show();
                     $('#EditNotPrincipalsec').hide();
                     $('#CEASEditPrincial13').removeClass('hidden');
                     $('#CEASEditPrincial28').val(data.firstName);
                     $('#CEASEditPrincial29').val(data.lastName);
                     $('#CEASEditPrincial21').val(data.email);
                     $('#CEASEditPrincial22').val(data.dateofBirth);
                     $('#CEASEditPrincial23').val(data.qualifications);
                     $('#CEASEditPrincial24').val(data.isIPENZmember);
                     $('#CEASEditPrincial25').val(data.cpEngQualified);
                     $('#CEASEditPrincial26').val(data.yearofPractice);
                     $('#CEASEditPrincial27').val(data.prevPractice);
                     $('#CEASEditPrincial14').val(data.organisationTypeName);
                     $('#CEASEditPrincial19sec').removeClass('hidden');
                     $('#CEASEditPrincial19').val(""+data.isRetiredorDecieved);
                     $('#CEASEditPrincial15').val(data.dateofRetirement);
                     $('#CEASEditPrincial16').val(data.dateofDeceased);
                     EditPrincipal19Selected('CEASEditPrincial19')

                 } else {
                     $('#CEASPrincipalPartnersId').val(data.id);
                     $('#EditCEASPrincipalsec').hide();
                     $('#EditNotPrincipalsec').show();
                     $('#CEASEditOrgnamesec').removeClass('hidden');
                     $('#CEASEditPrincial28').val('');
                     $('#CEASEditPrincial29').val('');
                     $('#CEASEditPrincial21').val('');
                     $('#CEASEditPrincial22').val('');
                     $('#CEASEditPrincial23').val('');
                     $('#CEASEditPrincial24').val('');
                     $('#CEASEditPrincial25').val('');
                     $('#CEASEditPrincial26').val('');
                     $('#CEASEditPrincial27').val('');
                     $('#CEASEditPrincial19sec').addClass('hidden');
                     $('#CEASEditPrincial14').val(data.organisationTypeName);
                     $('#CEASEditPrincial19').val(data.isNZIAmember);
                     $('#CEASEditPrincial17').val(data.organisationName);
                     $('#CEASEditPrincial18').val(data.activities);
                     $('#CEASEditPrincial19').val('');
                     $('#CEASEditPrincial15').val('');
                     $('#CEASEditPrincial16').val('');

                 }

                 $('#PrincipalPartnersId').val(data.id);
                 $('#CEASEditPrincial13').val(data.type);
                 EditPrincipal13Selected('CEASEditPrincial13');
               
                 UpdateChosen();
             }
         });
    };
    
    function ValidateCEASEditPrincipalDirectors(event) {       
        debugger;
        event.preventDefault();
        var validity = true;
        if ($('#CEASOwnerType').val() != "Owner") {

              if ($('#CEASEditPrincial13').val() == '') {
                $('#ValidateCEASEditPrincial13').html("<font color='red'>Field is required</font>")
                if (validity) {
                    validity = false;
                } else {
                    $('#ValidateCEASEditPrincia13').html("<i></i>");
                }
              }

            if ($('#CEASEditPrincial13').val() == "Principal") {

                for (var index = 21; index <= 29; index++) {
                    var addPrincial = "#CEASEditPrincial" + index;
                    var value = $(addPrincial).val();
                    var validator = "#ValidateCEASEditPrincial" + index;

                    if (value == "") {
                        $(validator).html("<font color='red'>Field is required</font>")
                        if (validity) {
                            validity = false;
                        }
                    } else {
                        $(validator).html("<i></i>");
                    }
                }

                 if ($('#CEASEditPrincial19').val() == '') {
                     $('#ValidateCEASEditPrincial19').html("<font color='red'>Field is required</font>")
                        if (validity) {
                            validity = false;
                        }else {
                               $('#ValidateCEASEditPrincial19').html("<i></i>");
                        }

                 }
                
            } else {

                   if ($('#CEASEditPrincial14').val() == '') {
                        $('#ValidateCEASEditPrincial14').html("<font color='red'>Field is required</font>")
                     if (validity) {
                        validity = false;
                      } else {
                        $('#ValidateCEASEditPrincia14').html("<i></i>");
                      }
                   }

                   if ($('#CEASEditPrincial17').val() == '') {
                          $('#ValidateCEASEditPrincial17').html("<font color='red'>Field is required</font>")
                        if (validity) {
                           validity = false;
                        } else {
                           $('#ValidateCEASEditPrincia17').html("<i></i>");
                        }
                     }

                      if ($('#CEASEditPrincial18').val() == '') {
                          $('#ValidateCEASEditPrincial18').html("<font color='red'>Field is required</font>")
                           if (validity) {
                           validity = false;
                           } else {
                            $('#ValidateCEASEditPrincia18').html("<i></i>");
                           }
                       }


            }
           

            if (validity) {
                if ($('#CEASEditPrincial13').val() == "Principal") {
                   EditCEASPrincipalDirectors(event, '#EditCEASPrincipalsec', '#CEASPrincipalDirectors', 'CEASPrincipaltabs1');
                } else {
                   EditCEASPrincipalDirectors(event, '#EditNotPrincipalsec', '#CEASPrincipalDirectors', 'CEASPrincipaltabs1');

                }
            };
        } else {
            debugger;
             if ($('#CEASEditPrincial17').val() == '' && $('#CEASEditPrincial14').val() != "Person - Individual") {
                $('#ValidateCEASEditPrincial17').html("<font color='red'>Field is required</font>")
                if (validity) {
                    validity = false;
                } else {
                    $('#ValidateCEASEditPrincia17').html("<i></i>");
                }
            }
          
            if ($('#CEASEditPrincial3').val() == '' && $('#CEASEditPrincial3').val() == 'true') {
                $('#ValidateCEASEditPrincial3').html("<font color='red'>Field is required</font>")
                if (validity) {
                    validity = false;
                } else {
                    $('#ValidateCEASEditPrincial3').html("<i></i>");
                }
            };
            if (validity) {
                EditCEASPrincipalDirectorsOwner(event, '#CEASPrincipaltabs2', '#CEASPrincipalDirectors', 'CEASPrincipaltabs1');
            }        
        }

    }

    function EditCEASPrincipalDirectorsOwner(event, tabId, tableId, currenttab) {
        debugger;
        event.preventDefault();
        var informationId = $('#AnswerSheetId').serialize();
        var Orgname = $('#CEASEditPrincial17').val(); 
        var type = $('#CEASAddPrincial13').val();
        var proddata = $.grep([$(tabId + " :input").serialize(), informationId], Boolean).join("&");
        var proddata = proddata + "&OrganisationName=" + Orgname + "&Type=" + type;
        $.ajax({
            url: '@Url.Action("EditPrincipalDirectorsOwner", "Services")',
            type: "POST",
            data: proddata
        })
            .done(function (data) {                
                SetCurrentTab(currenttab);
                $(tableId).trigger('reloadGrid');
                $(tabId + " :input").val("");
                $('#EditIndividual1').addClass('hidden');
                $('#EditIndividual2').addClass('hidden');
                $('#EditIndividual3').addClass('hidden');
                $('#EditIndividualPrincipal').addClass('hidden');
                $('#EditPrincial6Sec').addClass('hidden');
                $('#EditPrincial8Sec').addClass('hidden');
                $('#EditPrincial12Sec').addClass('hidden');
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                alert("There was an error while trying to edit the Principle Directors Owner.");
            });
    };

    function EditCEASPrincipalDirectors(event, tabId, tableId, currenttab) {
        debugger;
        event.preventDefault();
        var informationId = $('#AnswerSheetId').serialize();
        var Orgname = $('#EditPrincial17').val(); 
        var Orgname = $('#CEASEditPrincial17').val(); 
        var yearofPractice = $('#CEASEditPrincial26').val(); 
        var PrevPractice = $('#CEASEditPrincial27').val();
        var id = $('#CEASPrincipalPartnersId').val();
                var type = $('#CEASEditPrincial13').val();

        var proddata = $.grep([$(tabId + " :input").serialize(), informationId], Boolean).join("&");
                var proddata = proddata + "&OrganisationName=" + Orgname + "&YearofPractice=" + yearofPractice + "&prevPractice=" + PrevPractice + "&ID=" + id + "&Type=" + type;

        var proddata = proddata ;
        $.ajax({
            url: '@Url.Action("EditPrincipalDirectors", "Services")',
            type: "POST",
            data: proddata
        })
            .done(function (data) {           
                debugger;
                SetCurrentTab(currenttab);
                $(tableId).trigger('reloadGrid');
                $(tabId + " :input").val("");
                $('#EditIndividual1').addClass('hidden');
                $('#EditIndividual2').addClass('hidden');
                $('#EditIndividual3').addClass('hidden');
                $('#EditIndividualPrincipal').addClass('hidden');
                $('#EditPrincial6Sec').addClass('hidden');
                $('#EditPrincial8Sec').addClass('hidden');
                $('#EditPrincial12Sec').addClass('hidden');
                $('#EditPrincial19sec').addClass('hidden');
                $('#EditDateofRetirementSec').addClass('hidden');
                $('#EditDateofDeceasedSec').addClass('hidden');
                $('#EditOrgnamesec').addClass('hidden');

            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                alert("There was an error while trying to edit the Principal Directors.");
            });
    };
    function ValidateCEASPrincipalDirectors(event) {
        debugger;
        event.preventDefault();
        var validity = true;
        if ($('#CEASAddPrincial13').val() == '') {
                $('#ValidateCEASAddPrincial13').html("<font color='red'>Field is required</font>")
                if (validity) {
                    validity = false;
                } else {
                    $('#ValidateCEASAddPrincial13').html("<i></i>");
                }
              }

            if ($('#CEASAddPrincial13').val() == "Principal") {

                for (var index = 21; index <= 29; index++) {
                    var addPrincial = "#CEASAddPrincial" + index;
                    var value = $(addPrincial).val();
                    var validator = "#ValidateCEASAddPrincial" + index;

                    if (value == "") {
                        $(validator).html("<font color='red'>Field is required</font>")
                        if (validity) {
                            validity = false;
                        }
                    } else {
                        $(validator).html("<i></i>");
                    }
                }

                if ($('#CEASAddPrincial19').val() == '') {
                     $('#ValidateCEASAddPrincial19').html("<font color='red'>Field is required</font>")
                        if (validity) {
                            validity = false;
                        }else {
                               $('#ValidateCEASAddPrincial19').html("<i></i>");
                        }

                }
                

            } else {

                   if ($('#CEASAddPrincial14').val() == '') {
                        $('#ValidateCEASAddPrincial14').html("<font color='red'>Field is required</font>")
                     if (validity) {
                        validity = false;
                      } else {
                        $('#ValidateCEASAddPrincia14').html("<i></i>");
                      }
                   }

                   if ($('#CEASAddPrincial17').val() == '') {
                          $('#ValidateCEASAddPrincial17').html("<font color='red'>Field is required</font>")
                        if (validity) {
                           validity = false;
                        } else {
                           $('#ValidateCEASAddPrincia17').html("<i></i>");
                        }
                     }

                      if ($('#CEASAddPrincial18').val() == '') {
                          $('#ValidateCEASAddPrincial18').html("<font color='red'>Field is required</font>")
                           if (validity) {
                           validity = false;
                           } else {
                            $('#ValidateCEASAddPrincia18').html("<i></i>");
                           }
                       }


            }
           
        debugger;
        if (validity) {
             if ($('#CEASAddPrincial13').val() == "Principal") {
                   AddPrincipalDirectors(event, '#AddCEASPrincipalsec', '#CEASPrincipalDirectors', 'CEASPrincipaltabs1');
                } else {
                   AddPrincipalDirectors(event, '#AddNotPrincipalsec', '#CEASPrincipalDirectors', 'CEASPrincipaltabs1');

            }

            //AddPrincipalDirectors(event, '#AddCEASPrincipalsec', '#CEASPrincipalDirectors', 'CEASPrincipaltabs1');
        }
    };

    function AddPrincipalDirectors(event, tabId, tableId, currenttab) {      
        debugger;
        event.preventDefault();
        var informationId = $('#AnswerSheetId').serialize();
        var type = $('#CEASAddPrincial13').val();      
        var orgname = $('#CEASAddPrincial17').val();
        var activities = $('#CEASAddPrincial18').val();
        var proddata = $.grep([$(tabId + " :input").serialize(), informationId], Boolean).join("&");
        var proddata = proddata + "&Type=" + type + "&OrganisationName=" +orgname + "&Activities=" + activities ;
        $.ajax({
            url: '@Url.Action("AddCEASPrincipalDirectors", "Services")',
            type: "POST",
            data: proddata
        })
            .done(function (data) {                
                SetCurrentTab(currenttab);
                $(tableId).trigger('reloadGrid');
                $(tabId + " :input").val("");
                $('#AddIndividual1').addClass('hidden');
                $('#AddIndividual2').addClass('hidden');
                $('#AddIndividual3').addClass('hidden');
                $('#AddIndividualPrincipal').addClass('hidden');
                $('#Princial6Sec').addClass('hidden');
                $('#Princial8Sec').addClass('hidden');
                $('#Princial12Sec').addClass('hidden');
                $('#AddPrincial19sec').addClass('hidden');
                $('#AddDateofRetirementSec').addClass('hidden');
                $('#AddDateofDeceasedSec').addClass('hidden');
                $('#Orgnamesec').addClass('hidden');

            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                alert("There was an error while trying to Add CEAS Principal Directors.");
            });
    }

    function SetPrincipalRemovedStatus(PrincipalId, status, sourceTable, destTable) {
        var AnswersheetId = $('#AnswerSheetId').val();
        var postData = {
            'answersheetId': AnswersheetId,
            'principalId': PrincipalId,
            'status': status
        };

        $.ajax({
            url: '@Url.Action("SetPrincipalRemovedStatus", "Services")',
            type: "Post",
            data: postData            
        })
            .done(function (data) {
                if (data === true) {
                    $(sourceTable).trigger('reloadGrid');
                    $(destTable).trigger('reloadGrid');
                }
            });
    }
</script>

