@model DealEngine.WebUI.Models.InformationViewModel

    <form id="PIViewModel" class="is-valid" data-accordianId="Professional Indemnity">
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="hasceasmembership" class="label required">
                        CEAS Membership option
                    </label>
                </div>
                <div class="col-3">
                    <select id="hasceasmembership" name="PIViewModel.HasCEASMembershipOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.PIViewModel.HasCEASMembershipOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="haschchrebuild" class="label required">
                        If you are involved in the rebuild work in the Canterbury Region following the Earthquakes, will the gross fees earned from this work exceed 20% of the overall gross fees earned by your firm?
                    </label>
                </div>
                <div class="col-3">
                    <select id="haschchrebuild" name="PIViewModel.HasChchRebuildOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.PIViewModel.HasChchRebuildOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div id="PIViewModel.HasChchRebuildOptions" hidden>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="chchrebuilddetails" class="label required">
                            If Yes, please provide details:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextBoxFor(m => m.PIViewModel.ChchRebuildDetails, new { @class = "form-control", @id = "chchrebuilddetails", @type = "text", onchange = "OnChange(this.id, this.name)", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="hassubstantialchange" class="label required">
                        Do you expect any substantial change in the percentages given above in the forthcoming year?
                    </label>
                </div>
                <div class="col-3">
                    <select id="hassubstantialchange" name="PIViewModel.HasSubstantialChangeOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.PIViewModel.HasSubstantialChangeOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div id="PIViewModel.HasSubstantialChangeOptions" hidden>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="substantialchangedetails" class="label required">
                            If Yes, please provide details:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextAreaFor(m => m.PIViewModel.SubstantialChangeDetails, new { @class = "form-control", @id = "substantialchangedetails", @type = "text", onchange = "OnChange(this.id, this.name)", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="hasaluminium" class="label required">
                        Have you specified Aluminium Composite Panel on any building?
                    </label>
                </div>
                <div class="col-3">
                    <select id="hasaluminium" name="PIViewModel.HasAluminium" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.PIViewModel.HasAluminium)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div id="PIViewModel.HasAluminium" hidden>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="aluminiumdetails" class="label required">
                            If Yes, please provide details:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextAreaFor(m => m.PIViewModel.AluminiumDetails, new { @class = "form-control", @id = "aluminiumdetails", @type = "text", onchange = "OnChange(this.id, this.name)", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="hasconsultantantsresponsibility" class="label required">
                        Do you arrange for consultants to do part of the work that, in accordance with New Zealand professional practice, is your professional responsibility?
                    </label>
                </div>
                <div class="col-3">
                    <select id="hasconsultantantsresponsibility" name="PIViewModel.HasConsultantantsResponsibilityOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.PIViewModel.HasConsultantantsResponsibilityOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div id="PIViewModel.HasConsultantantsResponsibilityOptions" hidden>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="hasownPI" class="label required">
                            Do you request them to carry their own professional indemnity insurance cover?
                        </label>
                    </div>
                    <div class="col-3">
                        <select id="hasownPI" name="PIViewModel.HasOwnPIOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                            @foreach (var option in Model.PIViewModel.HasOwnPIOptions)
                            {
                                <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="hasassociatedpractice" class="label required">
                        Is your firm or any Principal connected or associated (financially or otherwise) with any other practice, company or organisation which engages in any business of construction, manufacture, erection, supply of services, goods or equipment or any other form of contracting?
                    </label>
                </div>
                <div class="col-3">
                    <select id="hasassociatedpractice" name="PIViewModel.HasAssociatedPracticeOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.PIViewModel.HasAssociatedPracticeOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div id="PIViewModel.HasAssociatedPracticeOptions" hidden>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="associatedpracticedetails" class="label required">
                            If Yes, please provide details:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextAreaFor(m => m.PIViewModel.AssociatedPracticeDetails, new { @class = "form-control", @id = "associatedpracticedetails", @type = "text", onchange = "OnChange(this.id, this.name)", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="hasengageconsortium" class="label required">
                        Does your firm itself engage in the activities described in the previous question or is your firm engaged in any design and build consortium or similar business venture (other than professional services)?
                    </label>
                </div>
                <div class="col-3">
                    <select id="hasengageconsortium" name="PIViewModel.HasEngageConsortium" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.PIViewModel.HasEngageConsortium)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div id="PIViewModel.HasEngageConsortium" hidden>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="engageconsortiumdetails" class="label required">
                            If Yes, please provide details:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextAreaFor(m => m.PIViewModel.EngageConsortiumDetails, new { @class = "form-control", @id = "engageconsortiumdetails", @type = "text", onchange = "OnChange(this.id, this.name)", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="hassignificantshareholder" class="label required">
                        Is any Principal of your firm a director or significant shareholder of a contracting or manufacturing or supply business, (particularly if it is a private company) even if your firm does not offer professional advice to that company?
                    </label>
                </div>
                <div class="col-3">
                    <select id="hassignificantshareholder" name="PIViewModel.HasSignificantShareholderOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.PIViewModel.HasSignificantShareholderOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div id="PIViewModel.HasSignificantShareholderOptions" hidden>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="significantshareholderdetails" class="label required">
                            If Yes, please provide details:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextAreaFor(m => m.PIViewModel.SignificantShareholderDetails, new { @class = "form-control", @id = "significantshareholderdetails", @type = "text", onchange = "OnChange(this.id, this.name)", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="hasindustrialsoftware" class="label required">
                        Is your firm or any Principal connected or associated (financially or otherwise) with any other practice, company or organisation that engages in any business of supply of software?
                    </label>
                </div>
                <div class="col-3">
                    <select id="hasindustrialsoftware" name="PIViewModel.HasIndustrialSoftwareOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.PIViewModel.HasIndustrialSoftwareOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div id="PIViewModel.HasIndustrialSoftwareOptions" hidden>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="industrialsoftwaredetails" class="label required">
                            If Yes, please provide details:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextAreaFor(m => m.PIViewModel.IndustrialSoftwareDetails, new { @class = "form-control", @id = "industrialsoftwaredetails", @type = "text", onchange = "OnChange(this.id, this.name)", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="hasengagesoftware" class="label required">
                        Does your firm itself engage in the activities described in the last question or have you prepared computer software for industrial use under any engagement?
                    </label>
                </div>
                <div class="col-3">
                    <select id="hasengagesoftware" name="PIViewModel.HasEngageSoftwareOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.PIViewModel.HasEngageSoftwareOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div id="PIViewModel.HasEngageSoftwareOptions" hidden>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="engagementsoftwaredetails" class="label required">
                            If Yes, please provide details:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextAreaFor(m => m.PIViewModel.EngagementSoftwareDetails, new { @class = "form-control", @id = "engagementsoftwaredetails", @type = "text", onchange = "OnChange(this.id, this.name)", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <label class="label">
                        Do you require the following Professional Indemity insurance for the extensions to the insurance:
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="haslossdocuments" class="label required">
                            Loss of Documents (including Computer System Records)
                        </label>
                    </div>
                    <div class="col-3">
                        <select id="haslossdocuments" name="PIViewModel.HasLossDocumentsOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                            @foreach (var option in Model.PIViewModel.HasLossDocumentsOptions)
                            {
                                <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="hasemployeefidelity" class="label required">
                            Employees Fidelity
                        </label>
                    </div>
                    <div class="col-3">
                        <select id="hasemployeefidelity" name="PIViewModel.HasEmployeeFidelityOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                            @foreach (var option in Model.PIViewModel.HasEmployeeFidelityOptions)
                            {
                                <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="hasdishonesty" class="label required">
                            Dishonesty of Principals/Directors
                        </label>
                    </div>
                    <div class="col-3">
                        <select id="hasdishonesty" name="PIViewModel.HasDishonestyOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                            @foreach (var option in Model.PIViewModel.HasDishonestyOptions)
                            {
                                <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="hasjurisdiction" class="label required">
                            USA/Canada Jurisdiction
                        </label>
                    </div>
                    <div class="col-3">
                        <select id="hasjurisdiction" name="PIViewModel.HasJurisdictionOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                            @foreach (var option in Model.PIViewModel.HasJurisdictionOptions)
                            {
                                <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="hascomputersoftware" class="label required">
                            Computer Software
                        </label>
                    </div>
                    <div class="col-3">
                        <select id="hascomputersoftware" name="PIViewModel.HasComputerSoftwareOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                            @foreach (var option in Model.PIViewModel.HasComputerSoftwareOptions)
                            {
                                <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div id="PIViewModel.HasComputerSoftwareOptions" hidden>
                <div class="form-group">
                    <div class="row">
                        <div class="col-9">
                            <label for="computersoftwareactivitydetails" class="label required">
                                If Yes, please provide details of your activities:
                            </label>
                        </div>
                        <div class="col-3">
                            @Html.TextAreaFor(m => m.PIViewModel.ComputerSoftwareActivityDetails, new { @class = "form-control", @id = "computersoftwareactivitydetails", @type = "text", onchange = "OnChange(this.id, this.name)", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="haslegalcouncel" class="label required">
                        Is legal counsel an in-house function?
                    </label>
                </div>
                <div class="col-3">
                    <select id="haslegalcouncel" name="PIViewModel.HasLegalCouncelOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.PIViewModel.HasLegalCouncelOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div id="PIViewModel.HasLegalCouncelOptions" hidden>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="legalcounceldetails" class="label required">
                            If Yes, please provide details:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextAreaFor(m => m.PIViewModel.LegalCouncelDetails, new { @class = "form-control", @id = "legalcounceldetails", @type = "text", onchange = "OnChange(this.id, this.name)", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-12">
                    <label>
                        In the 2019 proposal you were asked to describe the formal processes you have in place relating to the following: <br />
                        a) Defining scope and engagement conditions with clients.<br />
                        b) Assessment of new clients and new engagement conditions including identification and management of any conflict of interest.<br />
                        c) Do you use the limitation of liability clause in your engagement contracts<br />
                        d) Briefing staff and engaging sub consultants.<br />
                        e) Internal reviewing and checking drawings, specifications, reports and other professional documents or services to be provided.<br />
                        f) Managing construction and supply contracts on behalf of clients.<br />
                        g) The identification and notification of facts that may lead to a professional liability claim.
                        h) Other risk management and quality control procedures.<br /><br />
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="proceduremanageddetails" class="label required">
                        If such procedures are not in place, or if your procedures have changed in the past 12 months, please advise how these procedures are managed.
                        If you have not completed this proposal previously, please describe your formal processes
                    </label>
                </div>
                <div class="col-3">
                    @Html.TextAreaFor(m => m.PIViewModel.ProcedureManagedDetails, new { @class = "form-control", @id = "proceduremanageddetails", @type = "text", onchange = "OnChange(this.id, this.name)", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                </div>
            </div>
        </div>
    </form>
