@model DealEngine.WebUI.Models.InformationViewModel

        <form id="ELViewModel" class="is-valid" data-accordianId="Employers Liability Insurance">
            <div class="form-group">
                <div class="row">
                    <div class="col-12">
                        <label class="label">
                            Compensation awarded for Personal Injuries caused to Employees outside of the provisions of the Accident Compensation Act 2001 including Legal defence costs and any reparation awards made under the Health & Safety at Work Act 2015, but any fines, penalties or infringement fees under that Act are excluded - Claims Made & Notified Basis of Insurance
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="HasEL" class="label required">
                            Would you like Employers Liability Insurance?
                        </label>
                    </div>
                    <div class="col-3">
                        <select id="HasEL" name="ELViewModel.HasELOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                            @foreach (var option in Model.ELViewModel.HasELOptions)
                            {
                                <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div id="ELViewModel.HasELOptions" hidden>
                <div class="form-group">
                    <div class="row">
                        <div class="col-9">
                            <label for="hasexistingELpolicy" class="label required">
                                Is this a renewal of an existing policy placed with @Model.ProgNamedPartyName ?
                            </label>
                        </div>
                        <div class="col-3">
                            <select id="hasexistingELpolicy" name="ELViewModel.HasExistingPolicyOptions" class="custom-select" onchange="OnChange(this.id, this.name)" data-rule="Reverse" required>
                                @foreach (var option in Model.ELViewModel.HasExistingPolicyOptions)
                                {
                                    <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div id="ELViewModel.HasExistingPolicyOptions" hidden>
                    <h3 style="font-size:15px;font-weight:bold;color:black">Details of Previous Insurance</h3>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-9">
                                <label for="coveramount" class="label required">
                                    $ Amount of Cover:
                                </label>
                            </div>
                            <div class="col-3">
                                @Html.TextBoxFor(m => m.ELViewModel.CoverAmount, new { @class = "form-control", @id = "coveramount", @type = "number", onchange = "OnChange(this.id, this.name)", @required = "" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-9">
                                <label for="datelapsed" class="label required">
                                    When Lapsed:
                                </label>
                            </div>
                            <div class="col-3">
                                @Html.TextBoxFor(m => m.ELViewModel.DateLapsed, new { @class = "form-control", @id = "datelapsed", @type = "text", onchange = "OnChange(this.id, this.name)", @required = "" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-9">
                                <label for="insurername" class="label required">
                                    Name of Insurer:
                                </label>
                            </div>
                            <div class="col-3">
                                @Html.TextBoxFor(m => m.ELViewModel.InsurerName, new { @class = "form-control", @id = "insurername", @type = "text", onchange = "OnChange(this.id, this.name)", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-9">
                                <label for="retroactivedate" class="label required">
                                    Retroactive date:
                                </label>
                            </div>
                            <div class="col-3">
                                @Html.TextBoxFor(m => m.ELViewModel.RetroactiveDate, new { @class = "form-control", @id = "retroactivedate", @type = "text", onchange = "OnChange(this.id, this.name)", @required = "" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>