@model DealEngine.WebUI.Models.InformationViewModel

@{
    int count = 0;
}
<div id="Project" class="container-fluid">
        <input id="ProjectId" name="ProjectViewModel.ProjectId" hidden />
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" id="tab1">
                <a class="nav-link active" href="#projecttab1" data-toggle="tab" onclick="ResetForm('projecttab3','projecttab2', 'Project', 'ProjectAddButton', 'ProjectCancelButton')"> List All </a>
            </li>
            <li class="nav-item" id="tab2">
                <a class="nav-link" href="#projecttab2" data-toggle="tab"> Edit </a>
            </li>
            <li class="nav-item" id="tab3">
                <a class="nav-link" href="#projecttab3" data-toggle="tab" onclick="ResetForm('projecttab3','projecttab2', 'Project', 'ProjectAddButton', 'ProjectCancelButton')"> Add </a>
            </li>
            <li class="nav-item" id="tab4">
                <a class="nav-link" href="#projecttab4" data-toggle="tab"> List Removed </a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="projecttab1" class="tab-pane active" role="tabpanel">
                <table id="tblProject"
                       class="table table-striped" width="100%"
                       data-show-columns="true"
                       data-pagination="true"
                       data-search="true"
                       data-show-jump-to="true">
                    <thead>
                        <tr>
                            <th data-field="editButton" data-sortable="false"></th>
                            <th data-field="description" data-sortable="true">The Project Description</th>
                            <th data-field="Fees" data-sortable="true">Your Earned Fees</th>
                            <th data-field="deleteButton" data-sortable="false"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var project in Model.ProjectViewModel.BusinessContracts.Where(p => p.Removed == false).ToList())
                        {
                            <tr id="@project.Id">
                                <td>
                                    <button class="btn btn-success btn-sm" onclick="EditProject('@project.Id','@project.ProjectDescription','@project.Fees','@project.ConstructionValue','@project.ProjectDuration', '@project.Year', '@project.ContractTitle', '@project.ContractType', '@project.Country', '@project.MajorResponsibilities', '@project.ProjectDirector,@project.ProjectManager,@project.ProjectCoordinator,@project.ProjectEngineer')"><i class="fa fa-edit"></i> Edit</button>
                                </td>
                                <td>
                                    @project.ProjectDescription
                                </td>
                                <td>
                                    @project.Fees
                                </td>
                                <td>
                                    <button onclick="RemoveProject('@project.Id')" type="button" class=" btn btn-danger btn-sm" id="trash"><span class="fa fa-trash"></span></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div id="projecttab2" class="tab-pane" role="tabpanel">
                <div class="form-group">
                    <label>Select a project from the 'List All' Tab and Click Edit Button</label>
                </div>
            </div>
            <div id="projecttab3" class="tab-pane" role="tabpanel">
                <form id="ProjectViewModel">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="projecttitle" class="label required">
                                    Your Client (i.e. Employer)
                                </label>
                            </div>
                            <div class="col-6">
                                @Html.TextAreaFor(m => m.ProjectViewModel.ContractTitle, new { id = "projecttitle", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="projectdetails" class="label required">
                                    The Project Description
                                </label>
                            </div>
                            <div class="col-6">
                                @Html.TextBoxFor(m => m.ProjectViewModel.ProjectDescription, new { id = "projectdetails", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="projectcountry" class="label">
                                    Country/Territories
                                </label>
                            </div>
                            <div class="col-6">
                                <select id="projectcountry" name="ProjectViewModel.Country" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                                    @foreach (var option in Model.ProjectViewModel.Territories)
                                    {
                                        <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="projectmajorresponsibilities" class="label required">
                                    Your Major Responsibilities
                                </label>
                            </div>
                            <div class="col-6">
                                @Html.TextBoxFor(m => m.ProjectViewModel.MajorResponsibilities, new { id = "projectmajorresponsibilities", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @required = "" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="projectfees" class="label required">
                                    Your Earned Fees
                                </label>
                            </div>
                            <div class="col-6">
                                @Html.TextBoxFor(m => m.ProjectViewModel.Fees, new { id = "projectfees", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @required = "" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="contractdetails" class="label">
                                    The Construction Value (if any)
                                </label>
                            </div>
                            <div class="col-6">
                                @Html.TextBoxFor(m => m.ProjectViewModel.ConstructionValue, new { id = "contractdetails", @class = "form-control", @onchange = "OnChange(this.id, this.name)" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="durationdetails" class="label">
                                    Duration (Months):
                                </label>
                            </div>
                            <div class="col-6">
                                @Html.TextBoxFor(m => m.ProjectViewModel.ProjectDuration, new { id = "durationdetails", @class = "form-control", @onchange = "OnChange(this.id, this.name)" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <a class="btn btn-sm btn-success text-light" id="ProjectAddButton" onclick="AddProject('Projects')"> Add </a>
                        <a class="btn btn-sm btn-danger text-light" id="ProjectCancelButton" onclick="Cancel('ProjectViewModel', 'projecttab1')"> Clear and Cancel </a>
                    </div>
                </form>
            </div>
            <div id="projecttab4" class="tab-pane" role="tabpanel">
                <table id="tblRemovedProject"
                       class="table table-striped" width="100%"
                       data-show-columns="true"
                       data-pagination="true"
                       data-search="true"
                       data-show-jump-to="true">
                    <thead>
                        <tr>
                            <th data-field="editButton" data-sortable="false"></th>
                            <th data-field="description" data-sortable="true">The Project Description</th>
                            <th data-field="Fees" data-sortable="true">Your Earned Fees</th>
                            <th data-field="deleteButton" data-sortable="false"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var project in Model.ProjectViewModel.BusinessContracts.Where(p => p.Removed == true).ToList())
                        {
                            <tr id="@project.Id">
                                <td>
                                    <button class="btn btn-success btn-sm" onclick="RestoreProject('@project.Id')"><i class="fa fa-undo"></i></button>
                                </td>
                                <td>
                                    @project.ProjectDescription
                                </td>
                                <td>
                                    @project.Fees
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
</div>




<div class="padding-10">
    <div id="proposalcreate-form" class="smart-form" novalidate="novalidate">

        <div id="ceasprojecttabs" class="AccordionTab">
            <ul id="tab" class="nav nav-tabs">
                <li class="nav nav-tabs active"> <a href="#ceasprojectTabs1"> List All </a> </li>
                <li class="nav nav-tabs"> <a href="#ceasprojectTabs2"> Edit </a> </li>
                <li class="nav nav-tabs"> <a href="#ceasprojectTabs3"> Add </a> </li>
                <li class="nav nav-tabs"> <a href="#ceasprojectTabs4" Class="CEASProjectRemoved"> List Removed </a> </li>

            </ul>

            <div id="ceasprojectTabs1" class="tab-content">

                <fieldset>
                    <div class="row">
                        <section class="col col-xs-12">
                            <script type="text/javascript">

                                $(window).on('load',function () {
                                        $("#tblCEASproject").jqGrid({
                                            url: "/Services/Getceasprojects?informationId=@Model.AnswerSheetId&removed=false",
                                            datatype: "xml",
                                            mtype: "GET",
                                            async: true,
                                            colNames: ["", "Your Client (i.e. Employer)", "The Project Description", "Your Earned Fees", ""],
                                            colModel: [
                                                {
                                                    name: "update", align: 'center',width:120, search: false, formatter: function (cellvalue, options, rowobject) {
                                                        return ('<button onclick="EditCEASBusinessProject(\'' + cellvalue + '\', \'#tblCEASproject\'); SetCurrentTab(\'ceasprojectTabs2\');" type="button" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></button>');
                                                    }
                                                },
                                                { name: "Your Client (i.e. Employer)", align: 'center', key: 'true' },
                                                { name: "The Project Description", align: 'center' },
                                                { name: "Your Earned Fees", align: 'center' },
                                                {
                                                    name: "update", align: 'center',width:120, search: false, formatter: function (cellvalue, options, rowobject) {
                                                        return ('<button onclick="SetCEASProjectRemovedStatus(\'' + cellvalue + '\', \'true\', \'#tblCEASproject\', \'#tblRemovedCEASProject\');" type="button"  class=" btn btn-danger btn-sm" id="trash"><span class="fa fa-trash"></span></button>');
                                                    }
                                                }
                                            ],
                                            autowidth: true,
                                            shrinkToFit: true,
                                            pager: "#pagerCEASproject",
                                            rowNum: 10,
                                            rowList: [10, 20, 30],
                                            sortname: "Your Client (i.e. Employer)",
                                            sortorder: "desc",
                                            viewrecords: true,
                                            gridview: true,
                                            autoencode: true
                                        });
                                        $("#tblCEASproject").jqGrid('navGrid',
                                            '#pagerCEASproject',
                                            { edit: false, add: false, del: false },
                                            //options
                                            { height: 280, reloadAfterSubmit: false },
                                            // edit options
                                            { height: 280, reloadAfterSubmit: false },
                                            // add options
                                            { reloadAfterSubmit: false },
                                            // del options
                                            { sopt: ['eq', 'bw', 'cn'] }
                                            // search options
                                        );


                                });

                            </script>
                            <table id="tblCEASproject"><tr><td></td></tr></table>

                            <div id="pagerCEASproject"></div>

                        </section>
                    </div>
                </fieldset>
            </div>
            <div id="ceasprojectTabs2" class="tab-content">

                <fieldset id="fieldset">
                    <input id="EditCEASProjectId" name="BusinessContractId" type="hidden" />
                    <div class="row">

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">
                                Your Client (i.e. Employer)
                            </label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="ContractTitle" id="EditCEASContractTitle" name="ContractTitle" placeholder="Your Client (i.e. Employer)" value="">
                            </label>
                            <p class="validationContainer" id="validateEditCEASContractTitle"></p>

                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">The Project Description</label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="ProjectDescription" id="EditCEASProjectDescription" name="ProjectDescription" placeholder="The Project Description" value="">
                            </label>
                            <p class="validationContainer" id="validateEditCEASProjectDescription"></p>

                        </section>

                    </div>
                    <div class="row">
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class=" label required">Country/Territories</label>
                            <label class="input">
                                <select id="EditCEASProjectCountry" class="form-control b" name="Country">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="NewZealand"> New Zealand</option>
                                    <option value="Australia">Australia</option>
                                    <option value="Asia/PacificIslands">Asia and Pacific Islands</option>
                                    <option value="Central/SouthAmerica">Central and South America</option>
                                    <option value="Europe/Africa">Europe and Africa</option>
                                    <option value="USA/Canada">USA and Canada</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="validateEditCEASProjectCountry"></p>

                        </section>

                    </div>
                    <div class="row">

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">Your Major Responsibilities</label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="MajorResponsibilities" id="EditCEASMajorResponsibilities" name="MajorResponsibilities" placeholder="Your Major Responsibilities" value="">
                            </label>
                            <p class="validationContainer" id="validateEditCEASMajorResponsibilities"></p>
                        </section>

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">Your Earned Fees</label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="Fees" id="EditCEASFees" name="Fees" placeholder="Your Earned Fees" value="">
                            </label>
                            <p class="validationContainer" id="validateEditCEASFees"></p>

                        </section>

                    </div>

                    <div class="row">

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label">
                                The Construction Value (if any)
                            </label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="ConstructionValue" id="EditCEASConstructionValue" name="ConstructionValue" placeholder="The Construction Value (if any)" value="">
                            </label>
                            <p class="validationContainer" id="validateEditCEASConstructionValue"></p>
                        </section>

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">The period of duration of your services</label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="ProjectDuration" id="EditCEASProjectDuration" name="ProjectDuration" placeholder="The period of duration of your services" value="">
                            </label>
                            <p class="validationContainer" id="validateEditCEASProjectDuration"></p>

                        </section>

                    </div>


                    <div class="row" id="update">
                        <section class="col col-xs-12">
                            <button onclick="ValidateEditCEASProject(event,'#ceasprojectTabs2', '#tblCEASproject','ceasprojectTabs1')" class="btn-sm updateBoat" id="updateceasproject">Update</button>
                            <button onclick="ClearBoats(event,'#ceasprojectTabs2','ceasprojectTabs1')" class="btn-sm AddClearBoat" id="ClearBoat">Cancel Update</button>

                        </section>
                    </div>
                </fieldset>
            </div>

            <div id="ceasprojectTabs3" class="tab-content">

                <fieldset id="fieldset">
                    <input id="CEASProjectId" name="BusinessContractId" type="hidden" />
                    <div class="row">

                    </div>                                     

                    <div class="row">

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label">
                                The Construction Value (if any)
                            </label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="ConstructionValue" id="AddCEASConstructionValue" name="ConstructionValue" placeholder="The Construction Value (if any)" value="">
                            </label>
                            <p class="validationContainer" id="validateAddCEASConstructionValue"></p>
                        </section>

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">The period of duration of your services</label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="ProjectDuration" id="AddCEASProjectDuration" name="ProjectDuration" placeholder="The period of duration of your services" value="">
                            </label>
                            <p class="validationContainer" id="validateAddCEASProjectDuration"></p>

                        </section>

                    </div>

                    <div class="row" id="update">
                        <section class="col col-xs-12">
                            <button onclick="ValidateAddCEASProject(event,'#ceasprojectTabs3', '#tblCEASproject','ceasprojectTabs1')" class="btn-sm AddupdateBoat" id="updateBusinessContract">Add</button>
                            <button onclick="ClearBoats(event,'#ceasprojectTabs3','ceasprojectTabs1')" class="btn-sm AddClearBoat" id="ClearBoat">Clear and Cancel</button>

                        </section>
                    </div>
                </fieldset>
                <p id="AddCEASValidator"></p>
            </div>
            <div id="ceasprojectTabs4" class="tab-content">

                <fieldset>
                    <div class="row">
                        <section class="col col-xs-12">
                            <script type="text/javascript">
                                $(".CEASProjectRemoved").click(function () {
						    $("#tblRemovedCEASProject").jqGrid({
						        url: "/Services/Getceasprojects?informationId=@Model.AnswerSheetId&removed=true",
						        datatype: "xml",
                                mtype: "GET",
                                async: true,
                                colNames: ["", "Your Client (i.e. Employer)", "The Project Description","Your Earned Fees"],
                                colModel: [
                                    {
                                        name: "update", align: 'center',width:60, search: false, formatter: function (cellvalue, options, rowobject)
                                        { return '<button onclick="SetCEASProjectRemovedStatus(\'' + cellvalue + '\', \'false\', \'#tblRemovedCEASProject\', \'#tblCEASproject\'); SetCurrentTab(\'ceasprojectTabs1\');" type="button" class=" btn btn-success btn-sm" ><i class="fa fa-undo"></i></button>'; }
                                    },
                                    { name: "Your Client (i.e. Employer)", align: 'center', key: 'true' },
                                    { name: "The Project Description", align: 'center' },
                                    { name: "Your Earned Fees", align: 'center' }
								],
						        autowidth: true,
						        pager: "#pagerRemovedCeasProject",
						        rowNum: 10,
						        rowList: [10, 20, 30],
                                sortname: "Your Client (i.e. Employer)",
						        sortorder: "desc",
						        viewrecords: true,
						        gridview: true,
						        autoencode: true
						    });
						    $("#tblRemovedCEASProject").jqGrid('navGrid',
						    	'#pagerRemovedCeasProject',
						    	{edit: false, add: false, del: false},
						    	//options
						    	{height:280,reloadAfterSubmit:false},
						    	// edit options
						    	{height:280,reloadAfterSubmit:false},
						    	// add options
						    	{reloadAfterSubmit:false},
						    	// del options
						    	{sopt:['eq','bw','cn']}
						    	// search options
						    );
						});
                            </script>
                            <table id="tblRemovedCEASProject"><tr><td></td></tr></table>
                            <div id="pagerRemovedCeasProject"></div>
                        </section>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">


    function UpdateChosen() {
    // find all multiselect items and apply Chosen
	$('.cselect').each(function() {
		$('#'+this.id).trigger("chosen:updated");
	});
    };


      function ValidateEditCEASProject(event,tabId, tableId, currenttab) {
        debugger;
          event.preventDefault();
        var country = $('#EditCEASProjectCountry').val();
        var contractTitle = $('#EditCEASContractTitle').val();
        var projectDesc = $('#EditCEASProjectDescription').val();
        var fees = $('#EditCEASFees').val();
          var projectDuration = $('#EditCEASProjectDuration').val();
          var responsibility =$('#EditCEASMajorResponsibilities').val();
        var result = true;


           if (responsibility == "") {
            $('#validateEditCEASMajorResponsibilities').html("<font color='red'>Field is required</font>")
            if (result) {
                result = false;
            }
        } else {
            $('#validateEditCEASMajorResponsibilities').html("<font></font>");
          }

         if (country == "") {
            $('#validateEditCEASProjectCountry').html("<font color='red'>Field is required</font>")
            if (result) {
                result = false;
            }
        } else {
            $('#validateEditCEASProjectCountry').html("<font></font>");
        }
          if (contractTitle == "") {

            $('#validateEditCEASContractTitle').html("<font color='red'>Field is required</font>")
            if (result) {
                result = false;
            }
        } else {
            $('#validateEditCEASContractTitle').html("<font></font>");
        }
        if (projectDesc == "") {
            $('#validateEditCEASProjectDescription').html("<font color='red'>Field is required</font>")
            if (result) {
                result = false;
            }
        } else {
            $('#validateEditCEASProjectDescription').html("<font></font>");
        }
        if (fees == "") {
            $('#validateEditCEASFees').html("<font color='red'>Field is required</font>")
            if (result) {
                result = false;
            }
        } else {
            $('#validateEditCEASFees').html("<font></font>");
        }

        if (projectDuration == "") {
            $('#validateEditCEASProjectDuration').html("<font color='red'>Field is required</font>")
            if (result) {
                result = false;
          }
        } else {
            $('#validateEditCEASProjectDuration').html("<font></font>");
        }

          if (result) {
              EditCEASBusinessProjects(event,tabId, tableId,currenttab);
              //SetCurrentTab(currenttab);
          } else {
              return result;
          }
    }


    function ValidateAddCEASProject(event,tabId, tableId, currenttab) {
        debugger;
                event.preventDefault();

        var country = $('#AddCEASProjectCountry').val();
        var contractTitle = $('#AddCEASContractTitle').val();
        var projectDesc = $('#AddCEASProjectDescription').val();
        var fees = $('#AddCEASFees').val();
        var projectDuration = $('#AddCEASProjectDuration').val();
         var responsibility =$('#AddCEASMajorResponsibilities').val();
        var result = true;


           if (responsibility == "") {
            $('#validateAddCEASMajorResponsibilities').html("<font color='red'>Field is required</font>")
            if (result) {
                result = false;
            }
        } else {
            $('#validateAddCEASMajorResponsibilities').html("<font></font>");
          }
         if (country == "") {
            $('#validateAddCEASProjectCountry').html("<font color='red'>Field is required</font>")
            if (result) {
                result = false;
            }
        } else {
            $('#validateAddCEASProjectCountry').html("<font></font>");
        }
        if (contractTitle == "") {
            $('#validateAddCEASContractTitle').html("<font color='red'>Field is required</font>")
            if (result) {
                result = false;
            }
        } else {
            $('#validateAddCEASContractTitle').html("<font></font>");
        }
        if (projectDesc == "") {
            $('#validateAddCEASProjectDescription').html("<font color='red'>Field is required</font>")
            if (result) {
                result = false;
            }
        } else {
            $('#validateAddCEASProjectDescription').html("<font></font>");
        }
        if (fees == "") {
            $('#validateAddCEASFees').html("<font color='red'>Field is required</font>")
            if (result) {
                result = false;
            }
        } else {
            $('#validateAddCEASFees').html("<font></font>");
        }

        if (projectDuration == "") {
            $('#validateAddCEASProjectDuration').html("<font color='red'>Field is required</font>")
            if (result) {
                result = false;
            }
        } else {
            $('#validateAddCEASProjectDuration').html("<font></font>");
        }

        if (result) {
            AddCEASBusinessProject(event,tabId, tableId);
            SetCurrentTab(currenttab);
        } else {
            return result;
        }
    }

      function AddCEASBusinessProject(event,tabId, tableId,currenttab) {
        debugger;
                          event.preventDefault();

        var informationId = $('#AnswerSheetId').serialize();

        $.ajax({
		// change back once mono decides to fix
	    url: '@Url.Action("AddCEASProject", "Services")',
	    type: "POST",
	    data: $.grep([ $(tabId + " :input").serialize(), informationId ], Boolean).join("&")
	    })
	     .done(function (data) {
	     SetCurrentTab(currenttab);
		  $(tableId).trigger( 'reloadGrid' );
		  $(tabId + " :input").val("");

	     })
         .fail(function (jqXHR, textStatus) {
		 alert("There was an error while trying to save the BusinessContract.");
	     });
    };

     function EditCEASBusinessProjects(event,tabId, tableId,currenttab) {
        debugger;
         event.preventDefault();
               var informationId = $('#AnswerSheetId').serialize();
        var proddata = $.grep([$(tabId + " :input").serialize(), informationId], Boolean).join("&");
        $.ajax({
            url: '@Url.Action("EditCEASProject", "Services")',
            type: "POST",
            data: proddata
        })
            .done(function (data) {
                        debugger;
                SetCurrentTab(currenttab);
                 $(tableId).trigger('reloadGrid');
                $(tabId + " :input").val("");
                $('#IsInsuredRequired').val('');
            $('#IsContractorInsured').val('');
              $('#isContractorInsuredsec').hide();
              $('#isInsuredrequiredsec').hide();

            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                        debugger;
                alert("There was an error while trying to Edit CEAS Project.");
            });
    };

    function EditCEASBusinessProject(businessContractId, tableId) {
        debugger;
       var _sheetId = $('#AnswerSheetId').val();
       var postData = {
		'CEASProjectId': businessContractId,
		'answerSheetId': _sheetId
	};

        $('#getDetailsModal').show();
	    $.ajax({
		// change back once mono decides to fix
	    url: '@Url.Action("GetCEASProject", "Services")',
        type: "Post",
        data: postData
        })
            .done(function (data) {
                debugger;
        $('#EditCEASProjectId').val(data.businessContractId);
        $('#EditCEASContractTitle').val(data.contractTitle);
        $('#EditCEASFees').val(data.fees);
        $('#EditCEASProjectDescription').val(data.projectDescription);
        $('#EditCEASProjectCountry').val(data.projectDescription);
        $('#EditCEASConstructionValue').val(data.constructionValue);
        $('#EditCEASProjectDuration').val(data.projectDuration);
        $('#EditCEASMajorResponsibilities').val(data.majorResponsibilities);
        $('#EditCEASProjectCountry').val(data.country);
        $('#getDetailsModal').hide();
        UpdateChosen();
        });
    };

    function UpdateChosen() {
    // find all multiselect items and apply Chosen
	$('.cselect').each(function() {
		$('#'+this.id).trigger("chosen:updated");
	});
    };

    function SetCurrentTab(tabPaneId) {
        debugger;
        $('.nav-tabs a[href="#' + tabPaneId + '"]').trigger("click");
        $('.nav-tabs a[href="#' + tabPaneId + '"]').trigger('reloadGrid');
    };

    function SetCEASProjectRemovedStatus(businessContractId, status, sourceTable, destTable) {

            var postData = {
		'businessContractId': businessContractId,
		'status': status
	};

            $.ajax({
            // change back once mono decides to fix
            url: '@Url.Action("SetBusinessContractRemovedStatus", "Services")',
            type: "Post",
            data: postData,
            async: true
        })
        .done(function (data) {
            if (data === true) {
                $(sourceTable).trigger('reloadGrid');
                $(destTable).trigger('reloadGrid');
                //$.smallBox({
                //    title: "Location status has been updated",
                //    color: "#5F895F",
                //    iconSmall: "fa fa-check bounce animated",
                //    timeout: 4000
                //});
            }
        });
    };





</script>


