@model DealEngine.WebUI.Models.InformationViewModel

        <form id="EPLViewModel" class="is-valid" data-accordianId="Employment Practices Liability Insurance">
            <div class="form-group">
                <div class="row">
                    <div class="col-12">
                        <label class="label">
                            Coverage against claims by Employees alleging discrimination, unfair dismissal and sexual or workplace harassment Claims Made & Notified Basis of Insurance
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="HasEPLEL" class="label required">
                            Would you like Employers Practices Liability Insurance?
                        </label>
                    </div>
                    <div class="col-3">
                        <select id="HasEPLEL" name="EPLViewModel.HasEPLOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                            @foreach (var option in Model.EPLViewModel.HasEPLOptions)
                            {
                                <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div id="EPLViewModel.HasEPLOptions" hidden>

                <div class="form-group">
                    <div class="row">
                        <div class="col-9">
                            <label for="hasexistingEPLpolicy" class="label required">
                                Is this a renewal of an existing policy placed with @Model.ProgNamedPartyName ?
                            </label>
                        </div>
                        <div class="col-3">
                            <select id="hasexistingEPLpolicy" name="EPLViewModel.HasExistingPolicyOptions" class="custom-select" data-rule="Reverse" onchange="OnChange(this.id, this.name)" required>
                                @foreach (var option in Model.EPLViewModel.HasExistingPolicyOptions)
                                {
                                    <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div id="EPLViewModel.HasExistingPolicyOptions" hidden>
                    <h3 style="font-size:15px;font-weight:bold;color:black">Details of Previous Insurance</h3>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-9">
                                <label for="coveramount" class="label required">
                                    $ Amount of Cover:
                                </label>
                            </div>
                            <div class="col-3">
                                @Html.TextBoxFor(m => m.EPLViewModel.CoverAmount, new { @class = "form-control", @id = "coveramount", @type = "number", onchange = "OnChange(this.id, this.name)", @required = "" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-9">
                                <label for="datelapsed" class="label required">
                                    When Lapsed:
                                </label>
                            </div>
                            <div class="col-3">
                                @Html.TextBoxFor(m => m.EPLViewModel.DateLapsed, new { @class = "form-control", @id = "datelapsed", @type = "text", onchange = "OnChange(this.id, this.name)", @required = "" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-9">
                                <label for="insurername" class="label required">
                                    Name of Insurer:
                                </label>
                            </div>
                            <div class="col-3">
                                @Html.TextBoxFor(m => m.EPLViewModel.InsurerName, new { @class = "form-control", @id = "insurername", @type = "text", onchange = "OnChange(this.id, this.name)", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-9">
                                <label for="retroactivedate" class="label required">
                                    Retroactive date:
                                </label>
                            </div>
                            <div class="col-3">
                                @Html.TextBoxFor(m => m.EPLViewModel.RetroactiveDate, new { @class = "form-control", @id = "retroactivedate", @type = "text", onchange = "OnChange(this.id, this.name)", @required = "" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</form>