@model DealEngine.WebUI.Models.InformationViewModel

    <div class="padding-10">
        <div id="proposalcreate-form" class="smart-form" novalidate="novalidate">
            <div id="Claimtabs">
                <input id="ClaimId" name="ClaimViewModel.ClaimId" type="hidden" form="ClaimViewModel" />
                @*<input id="OrganisationId" name="ClaimViewModel.OrganisationId" type="hidden" form="ClaimViewModel" />*@
                <input id="ProductId" name="ClientProgramme.BaseProgramme.Products.product.Id" type="hidden" form="ClaimViewModel" />
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" id="tab1">
                        <a class="nav-link active" href="#clTabs1" data-bs-toggle="tab" onclick="ResetForm('clTabs3','clTabs2', 'ClaimNotification', 'ClaimAddButton', 'AddClearBoat')"> List All </a>
                    </li>
                    <li class="nav-item" id="tab2">
                        <a class="nav-link" href="#clTabs2" data-bs-toggle="tab"> Edit </a>
                    </li>
                    <li class="nav-item" id="tab2">
                        <a class="nav-link" href="#clTabs3" data-bs-toggle="tab" onclick="ResetForm('clTabs3','clTabs2', 'ClaimNotification', 'ClaimAddButton', 'AddClearBoat')"> Add </a>
                    </li>
                    <li class="nav-item" id="tab4">
                        <a class="nav-link" href="#clTabs4" data-bs-toggle="tab"> List Removed </a>
                    </li>

                </ul>
                <div class="tab-content">
                    <div id="clTabs1" class="tab-pane" role="tabpanel">
                        <table id="tblClaimNotification"
                               class="table table-striped" width="100%"
                               @*data-show-columns="true"*@
                               data-pagination="true"
                               data-search="true"
                               data-show-jump-to="true">
                            <thead>
                                <tr>
                                    <th data-field="editButton" data-sortable="false"></th>
                                    <th data-field="claimTitle" data-sortable="true">ClaimTitle</th>
                                    <th data-field="claimDescription" data-sortable="true">Claim Description</th>
                                    <th data-field="claimReference" data-sortable="true">Claim Reference</th>
                                    <th data-field="nameofClaimant" data-sortable="true">Name of Claimant</th>
                                    <th data-field="deleteButton" data-sortable="false"></th>
                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var claim in Model.ClientInformationSheet.ClaimNotifications.Where(l => l.Removed == false).ToList())
                                {
                                    <tr id="@claim.Id">
                                        <td>
                                            @*<button class="btn btn-success btn-sm" onclick="EditClaim('@claim.Id', '@claim.ClaimTitle', '@claim.ClaimDescription', '@claim.ClaimReference', '@claim.ClaimPolicyReference', '@claim.ClaimInsurerName', '@claim.ClaimInsuredName', '@claim.Claimant', '@claim.ClaimDateOfLoss', '@claim.ClaimNotifiedDate', '@claim.ClaimEstimateInsuredLiability', '@claim.SelectedClaimProducts', '@claim.SelectedResponsiblePrincipal', '@claim.ClaimNotes', '@claim.ClaimBrokerReference', '@claim.ClaimStatus', '@claim.ClaimInsurerReference', '@claim.ClaimPaid', '@claim.ClaimReserve')">*@
                                            <button class="btn btn-success btn-sm" onclick="EditClaim('@claim.Id', '@claim.ClaimTitle', '@claim.ClaimDescription', '@claim.ClaimReference', '@claim.ClaimPolicyReference', '@claim.ClaimInsurerName', '@claim.ClaimInsuredName', '@claim.Claimant', '@claim.ClaimDateOfLoss', '@claim.ClaimNotifiedDate', '@claim.ClaimEstimateInsuredLiability', '@claim.SelectedClaimProducts', '@claim.SelectedResponsiblePrincipal', '@claim.ClaimNotes', '@claim.ClaimBrokerReference', '@claim.ClaimStatus', '@claim.ClaimInsurerReference','@claim.ClaimReserve', '@claim.ClaimPaid')">
                                                <i class="fa fa-edit"></i>
                                                Edit
                                            </button>
                                        </td>
                                        <td>
                                            @claim.ClaimTitle
                                        </td>
                                        <td>
                                            @claim.ClaimDescription
                                        </td>
                                        <td>
                                            @claim.ClaimReference
                                        </td>
                                        <td>
                                            @claim.Claimant
                                        </td>
                                        <td>
                                            @*<button onclick="SetClaimRemovedStatus('@claim.Id')" type="button" class=" btn btn-danger btn-sm" id="trash"><span class="fa fa-trash"></span></button>*@
                                            <button onclick="RemoveClaimNotification('@claim.Id')" type="button" class=" btn btn-danger " id="trash"><span class="fa fa-trash"></span></button>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div id="clTabs2" class="tab-pane" role="tabpanel">
                        <div class="form-group">
                            <label>Select a Location from the 'List All' Tab and Click Edit Button</label>
                        </div>

                    </div>
                    <div id="clTabs3" class="tab-pane" role="tabpanel">

                        <form class="" id="ClaimViewModel">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="ClaimTitle form-label" class="label required">
                                            Claim Title:
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        @Html.TextBoxFor(m => m.ClaimViewModel.ClaimTitle, new { id = "ClaimTitle", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @required = "", @form = "ClaimViewModel" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="ClaimDescription form-label" class="label required">
                                            Claim Description:
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        @Html.TextAreaFor(m => m.ClaimViewModel.ClaimDescription, new { id = "ClaimDescription", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @required = "", @form = "ClaimViewModel" })
                                    </div>
                                </div>
                            </div>








                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="ClaimReference" class="label form-label">
                                            Claim Reference
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        @Html.TextBoxFor(m => m.ClaimViewModel.ClaimReference, new { id = "ClaimReference", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @form = "ClaimViewModel" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="ClaimPolicyReference" class="label form-label">
                                            Policy Reference
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        @Html.TextBoxFor(m => m.ClaimViewModel.ClaimPolicyReference, new { id = "ClaimPolicyReference", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @form = "ClaimViewModel" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="ClaimInsurerName" class="label form-label">
                                            Policy Insurer Name
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        @Html.TextBoxFor(m => m.ClaimViewModel.ClaimInsurerName, new { id = "ClaimInsurerName", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @form = "ClaimViewModel" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="ClaimInsuredName" class="label form-label">
                                            Policy Insured Name
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        @Html.TextBoxFor(m => m.ClaimViewModel.ClaimInsuredName, new { id = "ClaimInsuredName", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @form = "ClaimViewModel" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="Claimant form-label" class="label required">
                                            Name of Claimant
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        @Html.TextBoxFor(m => m.ClaimViewModel.Claimant, new { id = "Claimant", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @required = "", @form = "ClaimViewModel" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="ClaimDateOfLoss form-label" class="label required">
                                            Approx Date of Loss
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        @Html.TextBoxFor(m => m.ClaimViewModel.ClaimDateOfLoss, new { id = "ClaimDateOfLoss", @class = "form-control currentDate", onfocus = "(this.type='date')", @onchange = "OnChange(this.id, this.name)", @required = "", @form = "ClaimViewModel" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="ClaimNotifiedDate form-label" class="label required">
                                            Notification Date
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        @*@Html.TextBoxFor(m => m.ClaimViewModel.ClaimNotifiedDate, new { id = "ClaimNotifiedDate", @class = "form-control Startdate", @onchange = "OnChange(this.id, this.name)", @required = "", @form = "ClaimViewModel" })*@
                                        @Html.TextBoxFor(m => m.ClaimViewModel.ClaimNotifiedDate, new { id = "ClaimNotifiedDate", @class = "form-control currentDate", onfocus = "(this.type='date')", @onchange = "OnChange(this.id, this.name)", @required = "", @form = "ClaimViewModel" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="ClaimEstimateInsuredLiability form-label" class="label">
                                            $ Estimate of Liability
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        @Html.TextBoxFor(m => m.ClaimViewModel.ClaimEstimateInsuredLiability, new { id = "ClaimEstimateInsuredLiability", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @form = "ClaimViewModel" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="PrimaryPolicyprod form-label" class="label">
                                            Primary Policy Product
                                        </label>
                                    </div>
                                    <div class="col-6">

                                        <select style="" data-placeholder="Choose Primary Policy Product..." id="PrimaryPolicyprod" name="SelectedClaimProducts" class="b form-select" form="ClaimViewModel">
                                            <option selected="selected" value="">-- Select here --</option>

                                            @foreach (var product in Model.ClientProgramme.BaseProgramme.Products)
                                            {
                                                <option value="@product.Id"> @product.Name</option>
                                            }

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="locationtypeoptions form-label" class="label">
                                            Responsible Principal
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <select style="" data-placeholder="Choose Responsible Principal..." id="ResponsiblePrincipal" name="SelectedResponsiblePrincipal" class="form-select b">
                                            <option selected="selected" value="">-- Select here --</option>
                                            @foreach (var org in Model.OrganisationViewModel.Organisations)
                                            {
                                                <option value="@org.Id"> @org.Name</option>
                                            }

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="ClaimNotes form-label" class="label">
                                            Notes
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        @Html.TextAreaFor(m => m.ClaimViewModel.ClaimNotes, new { id = "ClaimNotes", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @form = "ClaimViewModel" })

                                    </div>
                                </div>
                            </div>

                            <div class="form-group" style="display:none;" id="ClaimStatusFormGroup">

                                <div class="row">
                                    <div class="col-6">
                                        <label for="ClaimReference form-label" class="label required">
                                            Claim Status
                                        </label>
                                    </div>
                                    <div class="col-6">

                                        <select data-placeholder="Choose Primary Policy Product..." id="ClaimStatus" name="ClaimStatus" class="b form-select" form="ClaimViewModel" readonly>
                                            <option selected="selected" value="PrecautionaryNotificationOnly">Precautionary notification only</option>
                                            <option value="Withdrawnbyinsured">Withdrawn by insured</option>
                                            <option value="Formalclaimfiled">Formal claim filed</option>
                                            <option value="Informationrequesttoinsured">Information request to insured</option>
                                            <option value="Thirdpartyhasmadeformaldemand">Third party has made formal demand</option>
                                            <option value="Solicitorsinstructedforclaimant">Solicitors instructed for claimant</option>
                                            <option value="Subrogatedtoinsurer">Subrogated to insurer</option>
                                            <option value="Indiscussions">In discussions</option>
                                            <option value="Inagreedalternativeprocess">In agreed alternative process</option>
                                            <option value="Proceedingsissued">Proceedings issued</option>
                                            <option value="PartSettled">Part Settled</option>
                                            <option value="Settled">Settled</option>
                                            <option value="Closed">Closed</option>
                                            <option value="Open">Open</option>

                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group" style="display:none;" id="ClaimBrokerReferenceFormGroup">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="ClaimReference" class="label form-label">
                                            Broker Reference (Read-Only)
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        @Html.TextBoxFor(m => m.ClaimViewModel.ClaimBrokerReference, new { id = "ClaimBrokerReference", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @form = "ClaimViewModel", @readonly = "true" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" style="display:none;" id="ClaimInsurerReferenceFormGroup">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="ClaimInsurerReference" class="label form-label">
                                            Insurer Reference (Read-Only)
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        @Html.TextBoxFor(m => m.ClaimViewModel.ClaimInsurerReference, new { id = "ClaimInsurerReference", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @form = "ClaimViewModel", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="display:none;" id="ClaimReserveFormGroup">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="ClaimReserve" class="label form-label">
                                            $ Reserve (Read-Only)
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        @Html.TextBoxFor(m => m.ClaimViewModel.ClaimReserve, new { id = "ClaimReserve", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @form = "ClaimViewModel", @readonly = "true" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" style="display:none;" id="ClaimPaidFormGroup">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="ClaimPaid" class="label form-label">
                                            $ Paid (Read-Only)
                                        </label>
                                    </div>
                                    <div class="col-6">

                                        @Html.TextBoxFor(m => m.ClaimViewModel.ClaimPaid, new { id = "ClaimPaid", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @form = "ClaimViewModel", @value = "", @readonly = "true" })
                                        @*, disabled = "disabled"*@
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <button class="btn btn-sm btn-success text-light" id="ClaimAddButton" onclick="AddClaim('claim')" form="ClaimViewModel"> Add </button>
                                <button class="btn btn-sm btn-danger text-light" id="AddClearBoat" onclick="CancelClaim('ClaimViewModel','clTabs1')" form="ClaimViewModel"> Clear and Cancel </button>
                            </div>
                        </form>



                    </div>
                    <div id="clTabs4" class="tab-pane" role="tabpanel">
                        <table id="tblRemovedClaimNotification"
                               class="table table-striped" width="100%"
                               @*data-show-columns="true"*@
                               data-pagination="true"
                               data-search="true"
                               data-show-jump-to="true">
                            <thead>
                                <tr>
                                    <th data-field="editButton" data-sortable="false"></th>
                                    <th data-field="claimTitle" data-sortable="true">ClaimTitle</th>
                                    <th data-field="claimDescription" data-sortable="true">Claim Description</th>
                                    <th data-field="claimReference" data-sortable="true">Claim Reference</th>
                                    <th data-field="nameofClaimant" data-sortable="true">Name of Claimant</th>
                                    <th data-field="deleteButton" data-sortable="false"></th>
                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var claim in Model.ClientInformationSheet.ClaimNotifications.Where(l => l.Removed == true).ToList())
                                {
                                    <tr id="@claim.Id">
                                        <td>
                                            <button class="btn btn-success btn-sm" onclick="RestoreCommonClaim('@claim.Id')">
                                                <i class="fa fa-undo"></i>

                                            </button>
                                        </td>
                                        <td>
                                            @claim.ClaimTitle
                                        </td>
                                        <td>
                                            @claim.ClaimDescription
                                        </td>
                                        <td>
                                            @claim.ClaimReference
                                        </td>
                                        <td>
                                            @claim.Claimant
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>

        </div>
    </div>
    @*</div>

        </div>*@