@model DealEngine.WebUI.Models.InformationViewModel
@*
        form conversion later
        <div id="AddClaimNotification">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" id="tab1">
                <a class="nav-link active" href="#ClaimNotification1" data-toggle="tab" onclick="ResetForm('ClaimNotification3','ClaimNotification2', 'Organisation', 'OrganisationSubmitBtn', 'OrganisationClearButton')"> List All </a>
            </li>
            <li class="nav-item" id="tab2">
                <a class="nav-link" href="#ClaimNotification2" data-toggle="tab"> Edit </a>
            </li>
            <li class="nav-item" id="tab3">
                <a class="nav-link" href="#ClaimNotification3" data-toggle="tab" onclick="ResetForm('ClaimNotification3','ClaimNotification2', 'Organisation', 'OrganisationSubmitBtn', 'OrganisationClearButton')"> Add </a>
            </li>
            <li class="nav-item" id="tab4">
                <a class="nav-link" href="#ClaimNotification3" data-toggle="tab"> Removed </a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="ClaimNotification1" class="tab-pane active" role="tabpanel">
                <table id="tblClaimNotification"
                       class="table table-striped" width="100%"
                       data-show-columns="true"
                       data-pagination="true"
                       data-search="true"
                       data-show-jump-to="true">
                    <thead>
                        <tr>
                            <th data-field="editButton" data-sortable="false"></th>
                            <th data-field="OrganisationName" data-sortable="true">Claim Title</th>
                            <th data-field="OrganisationType" data-sortable="true">Claim Description</th>
                            <th data-field="IsPrincipal" data-sortable="true">Claim Reference</th>
                            <th data-field="IsPrincipal" data-sortable="true">Name of Claimant</th>
                            <th data-field="deleteButton" data-sortable="false"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ClaimNotification in Model.ClientInformationSheet.ClaimNotifications.Where(c => c.Removed != true).ToList())
                        {
                        <tr id="@ClaimNotification.Id">
                            <td>
                                <button class="btn btn-success btn-sm" onclick="OnClick('', 'ClaimNotification', '@ClaimNotification.Id', '@Model.ClientInformationSheet.Id')"><i class="fa fa-edit"></i> Edit</button>
                            </td>
                            <td>
                                @ClaimNotification.ClaimTitle
                            </td>
                            <td>
                                @ClaimNotification.ClaimDescription
                            </td>
                            <td>
                                @ClaimNotification.ClaimReference
                            </td>
                            <td>
                                @ClaimNotification.ClaimInsuredName
                            </td>
                            <td>
                                <button onclick="RemoveClaimNotification('@ClaimNotification.Id', 'Insured Details / Named Parties')" type="button" class=" btn btn-danger btn-sm" id="trash"><span class="fa fa-trash"></span></button>
                            </td>
                        </tr>
                            }
                    </tbody>
                </table>
            </div>
            <div id="ClaimNotification2" class="tab-pane" role="tabpanel">
                <div class="form-group">
                    <label>Select a Claim from the 'List All' Tab and Click Edit Button</label>
                </div>
            </div>
            <div id="ClaimNotification3" class="tab-pane" role="tabpanel">
                @using (Html.BeginForm("AddClaimNotification", "ClaimNotification", FormMethod.Post, new { @id = "claimNotificationViewModel", @name = "ClaimNotificationViewModel" }))
                {

                    <div class="form-group">
                        <button class="btn btn-success" type="submit" id="ClaimNotificationSubmitBtn" onclick="OnClaimNotificationSubmit('claimNotificationViewModel', 'Insured Details / Named Parties')">Add</button>
                        <button class="btn btn-danger" id="ClaimNotificationClearButton" onclick="ResetClaimNotification('claimNotificationViewModel')"> Clear</button>
                    </div>
                }

            </div>
            <div id="ClaimNotification3" class="tab-pane" role="tabpanel">
                <table id="tblclaimnotificationremoved"
                       class="table table-striped" width="100%"
                       data-show-columns="true"
                       data-pagination="true"
                       data-search="true"
                       data-show-jump-to="true">
                    <thead>
                        <tr>
                            <th data-field="editButton" data-sortable="false"></th>
                            <th data-field="OrganisationName" data-sortable="true">Organisation Name</th>
                            <th data-field="OrganisationType" data-sortable="true">Organisation Type</th>
                            <th data-field="deleteButton" data-sortable="false"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var organisation in Model.OrganisationViewModel.Organisations.Where(o => o.Id != Model.ClientInformationSheet.Owner.Id && o.Removed == true).ToList())
                        {
                            <tr id="@organisation.Id">
                                <td>
                                    <button class="btn btn-success btn-sm" onclick="RestoreOrganisation('@organisation.Id', 'Insured Details / Named Parties')"><i class="fa fa-undo"></i> Restore</button>
                                </td>
                                <td>
                                    @organisation.Name
                                </td>
                                <td>
                                    @organisation.InsuranceAttributes.FirstOrDefault().Name
                                </td>
                                <td>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>*@

@*<div class="padding-10">
    <div id="proposalcreate-form" class="smart-form" novalidate="novalidate">*@

@*@tabs.Tab("List All")
    @tabs.Tab("Edit")
    @tabs.Tab("Add")

    @tabs.Tab("List Removed").Class("ClaimRemoved")*@
<div id="Claimtabs">
    <input id="ClaimId" name="ClaimViewModel.ClaimId" type="hidden" form="ClaimViewModel" />
    <input id="OrganisationId" name="OrganisationId" type="hidden" form="ClaimViewModel" />

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" id="tab1">
            <a class="nav-link active" href="#clTabs1" data-bs-toggle="tab" onclick="ResetForm('clTabs3','clTabs2', 'ClaimNotification', 'ClaimAddButton', 'AddClearBoat')"> List All </a>
        </li>
        <li class="nav-item" id="tab2">
            <a class="nav-link" href="#clTabs2" data-bs-toggle="tab"> Edit </a>
        </li>
        <li class="nav-item" id="tab3">
            <a class="nav-link" href="#clTabs3" data-bs-toggle="tab" onclick="ResetForm('clTabs3','clTabs2', 'ClaimNotification', 'ClaimAddButton', 'AddClearBoat')"> Add </a>
        </li>
        <li class="nav-item" id="tab4">
            <a class="nav-link" href="#clTabs4" data-bs-toggle="tab"> List Removed </a>
        </li>

    </ul>
    <div class="tab-content">
        <div id="clTabs1" class="tab-pane" role="tabpanel">
            <table id="tblClaimNotification"
                   class="table table-striped" width="100%"
                   data-show-columns="true"
                   data-pagination="true"
                   data-search="true"
                   data-show-jump-to="true">
                <thead>
                    <tr>
                        <th data-field="editButton" data-sortable="false"></th>
                        <th data-field="claimTitle" data-sortable="true">ClaimTitle</th>
                        <th data-field="claimDescription" data-sortable="true">Claim Description</th>
                        <th data-field="claimReference" data-sortable="true">Claim Reference</th>
                        <th data-field="nameofClaimant" data-sortable="true">Name of Claimant</th>
                        <th data-field="deleteButton" data-sortable="false"></th>
                    </tr>
                </thead>

                <tbody>
              
                @foreach (var claim in Model.ClientInformationSheet.ClaimNotifications.Where(l => l.Removed == false).ToList())
                {
                    <tr id="@claim.Id">
                        <td>
                            <button class="btn btn-success btn-sm" onclick="EditClaim('@claim.Id', '@claim.ClaimTitle')"><i class="fa fa-edit"></i> Edit</button>
                        </td>
                        <td>
                            title   @claim.ClaimTitle
                        </td>
                        <td>
                            @claim.ClaimDescription
                        </td>
                        <td>
                            @claim.ClaimReference
                        </td>
                        <td>
                            @claim.Claimant
                        </td>
                        <td>
                            @*<button onclick="SetClaimRemovedStatus('@claim.Id')" type="button" class=" btn btn-danger btn-sm" id="trash"><span class="fa fa-trash"></span></button>*@
                            <button onclick="RemoveClaimNotification('@claim.Id')" type="button" class=" btn btn-danger btn-sm" id="trash"><span class="fa fa-trash"></span></button>

                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div id="clTabs2" class="tab-pane" role="tabpanel">
            <div class="form-group">
                <label>Select a Location from the 'List All' Tab and Click Edit Button</label>
            </div>

        </div>
        <div id="clTabs3" class="tab-pane" role="tabpanel">

            <form class="" id="ClaimViewModel">
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="ClaimTitle form-label" class="label required">
                                Claim Title:
                            </label>
                        </div>
                        <div class="col-6">
                            @Html.TextBoxFor(m => m.ClaimViewModel.ClaimTitle, new { id = "ClaimTitle", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @required = "", @form = "ClaimViewModel" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="ClaimDescription form-label" class="label required">
                                text area Claim Description:
                            </label>
                        </div>
                        <div class="col-6">
                            @Html.TextAreaFor(m => m.ClaimViewModel.ClaimDescription, new { id = "ClaimDescription", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @required = "", @form = "ClaimViewModel" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="ClaimReference" class="label required form-label">
                                Claim Reference
                            </label>
                        </div>
                        <div class="col-6">
                            @Html.TextBoxFor(m => m.ClaimViewModel.ClaimReference, new { id = "ClaimReference", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @form = "ClaimViewModel" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="ClaimPolicyReference" class="label form-label">
                                Policy Reference
                            </label>
                        </div>
                        <div class="col-6">
                            @Html.TextBoxFor(m => m.ClaimViewModel.ClaimPolicyReference, new { id = "ClaimPolicyReference", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @form = "ClaimViewModel" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="ClaimInsurerName" class="label form-label">
                                Policy Insurer Name
                            </label>
                        </div>
                        <div class="col-6">
                            @Html.TextBoxFor(m => m.ClaimViewModel.ClaimInsurerName, new { id = "ClaimInsurerName", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @form = "ClaimViewModel" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="ClaimInsuredName" class="label form-label">
                                Policy Insured Name
                            </label>
                        </div>
                        <div class="col-6">
                            @Html.TextBoxFor(m => m.ClaimViewModel.ClaimInsuredName, new { id = "ClaimInsuredName", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @form = "ClaimViewModel" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="Claimant form-label" class="label required">
                                Name of Claimant
                            </label>
                        </div>
                        <div class="col-6">
                            @Html.TextBoxFor(m => m.ClaimViewModel.Claimant, new { id = "Claimant", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @required = "", @form = "ClaimViewModel" })
                        </div>
                    </div>
                </div>
                @*<div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="ClaimDateOfLoss form-label" class="label required">
                                Approx Date of Loss
                            </label>
                        </div>
                        <div class="col-6">
                            @Html.TextBoxFor(m => m.ClaimViewModel.ClaimDateOfLoss, new { id = "ClaimDateOfLoss", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @required = "", @form = "ClaimViewModel" })
                        </div>
                    </div>
                </div>*@
                @*<div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="ClaimNotifiedDate form-label" class="label required">
                                Notification Date
                            </label>
                        </div>
                        <div class="col-6">
                            @Html.TextBoxFor(m => m.ClaimViewModel.ClaimNotifiedDate, new { id = "ClaimNotifiedDate", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @required = "", @form = "ClaimViewModel" })
                        </div>
                    </div>
                </div>*@
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="ClaimEstimateInsuredLiability form-label" class="label required">
                                $ Estimate of Liability
                            </label>
                        </div>
                        <div class="col-6">
                            @Html.TextBoxFor(m => m.ClaimViewModel.ClaimEstimateInsuredLiability, new { id = "ClaimEstimateInsuredLiability", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @form = "ClaimViewModel" })
                        </div>
                    </div>
                </div>
                @*<div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="PrimaryPolicyprod form-label" class="label required">
                                Primary Policy Product
                            </label>
                        </div>
                        <div class="col-6">
                            <select data-placeholder="Choose Primary Policy Product..." id="PrimaryPolicyprod" name="SelectedClaimProducts" class="form-control b form-select">
                                <option selected="selected" value="">-- Select here --</option>

                                @foreach (var product in Model.ClientProgramme.BaseProgramme.Products)
                                {
                                    <option value="@product.Id"> @product.Name</option>
                                }

                            </select>
                        </div>
                    </div>
                </div>*@
                @*<div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="locationtypeoptions form-label" class="label required">
                                Responsible Principal
                            </label>
                        </div>
                        <div class="col-6">
                            <select data-placeholder="Choose Responsible Principal..." id="ResponsiblePrincipal" name="SelectedResponsiblePrincipal" class="form-select form-control b">
                                <option selected="selected" value="">-- Select here --</option>
                                @foreach (var org in Model.OrganisationViewModel.Organisations)
                                {
                                    <option value="@org.Id"> @org.Name</option>
                                }

                            </select>
                        </div>
                    </div>
                </div>*@
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="ClaimNotes form-label" class="label required">
                                Notes
                            </label>
                        </div>
                        <div class="col-6">
                            @Html.TextAreaFor(m => m.ClaimViewModel.ClaimNotes, new { id = "ClaimNotes", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @required = "", @form = "ClaimViewModel" })

                        </div>
                    </div>
                </div>



                <div class="form-group">
                    <button class="btn btn-sm btn-success text-light" id="ClaimAddButton" onclick="AddClaim('claim')" form="ClaimViewModel"> Add </button>
                    <button class="btn btn-sm btn-danger text-light" id="AddClearBoat" onclick="Cancel('ClaimViewModel','clTabs1')" form="ClaimViewModel"> Clear and Cancel </button>
                </div>
            </form>



        </div>
        <div id="clTabs4" class="tab-pane" role="tabpanel">


        </div>
    </div>

</div>
@*</div>

    </div>*@