@model DealEngine.WebUI.Models.InformationViewModel

    <form id="PIViewModel" class="is-valid" data-accordianId="Professional Indemnity">
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="HasDANZ" class="label required">
                        Are you a current member of DANZ?
                    </label>
                </div>
                <div class="col-3">
                    <select id="HasDANZ" name="PIViewModel.HasDANZOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.PIViewModel.HasDANZOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="hassalesrelate" class="label required">
                        Does any part of the gross fees / gross sales figures relate to the sale, design and construction of physical products or buildings?
                    </label>
                </div>
                <div class="col-3">
                    <select id="hassalesrelate" name="PIViewModel.HasSalesRelateOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.PIViewModel.HasSalesRelateOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div id="PIViewModel.HasSalesRelateOptions" hidden>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="percentfees" class="label required">
                            If "Yes", please state the percentage of gross fees / gross sales derived from the sale, design and construction of physical products or buildings:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextBoxFor(m => m.PIViewModel.PercentFees, new { @class = "form-control", @id = "percentfees", @type = "number", onchange = "OnChange(this.id, this.name)" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="percentdetails" class="label required">
                            If "Yes", please provide full details: *
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextAreaFor(m => m.PIViewModel.PercentDetails, new { @class = "form-control", @id = "percentdetails", @type = "text", onchange = "OnChange(this.id, this.name)", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="hassubstantialchange" class="label required">
                        Do you expect any substantial change in the percentages given above in the forthcoming year?
                    </label>
                </div>
                <div class="col-3">
                    <select id="hassubstantialchange" name="PIViewModel.HasSubstantialChangeOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.PIViewModel.HasSubstantialChangeOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div id="PIViewModel.HasSubstantialChangeOptions" hidden>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="substantialchangedetails" class="label required">
                            If "Yes", please give full details:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextAreaFor(m => m.PIViewModel.SubstantialChangeDetails, new { @class = "form-control", @id = "substantialchangedetails", @type = "text", onchange = "OnChange(this.id, this.name)", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="hasreferencesobtained" class="label required">
                        Are references obtained when engaging staff?
                    </label>
                </div>
                <div class="col-3">
                    <select id="hasreferencesobtained" name="PIViewModel.HasReferencesObtainedOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.PIViewModel.HasReferencesObtainedOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="haspersonneldismissed" class="label required">
                        Have any personnel been dismissed for, or as a result of, dishonesty or incompetence?
                    </label>
                </div>
                <div class="col-3">
                    <select id="haspersonneldismissed" name="PIViewModel.HasPersonnelDismissedOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.PIViewModel.HasPersonnelDismissedOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div id="PIViewModel.HasPersonnelDismissedOptions" hidden>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="personneldismisseddetails" class="label required">
                            If "Yes", please give full details:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextAreaFor(m => m.PIViewModel.PersonnelDismisedDetails, new { @class = "form-control", @id = "personneldismisseddetails", @type = "text", onchange = "OnChange(this.id, this.name)", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="hasstandardcontractform" class="label required">
                        Do you have a standard form of contract or agreement that applies to the provision of professional or specialist services/advice?
                    </label>
                </div>
                <div class="col-3">
                    <select id="hasstandardcontractform" name="PIViewModel.HasStandardContractFormOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.PIViewModel.HasStandardContractFormOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div id="PIViewModel.HasStandardContractFormOptions" hidden>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="isforminpractice" class="label required">
                            If "Yes", Is it your practice to use your standard form on all occasions?
                        </label>
                    </div>
                    <div class="col-3">
                        <select id="isforminpractice" name="PIViewModel.IsFormInPracticeOptions" class="custom-select" onchange="OnChange(this.id, this.name)" data-rule="Reverse" required>
                            @foreach (var option in Model.PIViewModel.IsFormInPracticeOptions)
                            {
                                <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div id="PIViewModel.IsFormInPracticeOptions" hidden>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="forminpracticedetails" class="label required">
                            If "No", please provide details:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextAreaFor(m => m.PIViewModel.FormInPracticeDetails, new { @class = "form-control", @id = "forminpracticedetails", @type = "text", onchange = "OnChange(this.id, this.name)", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                    </div>
                </div>
            </div>
        </div>



        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="hasanyotherform" class="label required">
                        Do you use any standard form, disclaimer or liability waiver other than as disclosed under your standard form of contract/agreement?
                    </label>
                </div>
                <div class="col-3">
                    <select id="hasanyotherform" name="PIViewModel.HasAnyOtherFormOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.PIViewModel.HasAnyOtherFormOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div id="PIViewModel.HasAnyOtherFormOptions" hidden>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="useincircumstancesdetails" class="label required">
                            If "Yes", please state the circumstances under which it is used:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextAreaFor(m => m.PIViewModel.UseInCircumstancesDetails, new { @class = "form-control", @id = "useincircumstancesdetails", @type = "text", onchange = "OnChange(this.id, this.name)", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="hasriskmanagement" class="label required">
                        Please indicate which of the following you carry out:
                    </label>
                </div>
                <div class="col-3">
                    <select id="hasriskmanagement" name="PIViewModel.HasRiskManagementOptions" multiple class="chosen-select custom-select b" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.PIViewModel.HasRiskManagementOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="hasretaineddocument" class="label required">
                        Do you have a business process to ensure that records are retained of all relevant client information and documentation provided to clients and prospective clients?
                        For example: letters of engagement, meeting notes, telephone filenotes, completed proposals, quotations etc.
                    </label>
                </div>
                <div class="col-3">
                    <select id="hasretaineddocument" name="PIViewModel.HasRetainedDocumentOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.PIViewModel.HasRetainedDocumentOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="hascomplaint" class="label required">
                        Do you have a complaints process that if a client complains, relevant factors are promptly considered and documents, including:
                        <br />
                        <span>
                            - Documenting the complaint to the Client
                        </span>
                        <br />
                        <span>
                            - Whether a conflict of interest has arisen
                        </span>
                        <br />
                        <span>
                            - Whether you should notify your Broker/Insurer
                        </span>
                        <br />
                        <span>
                            - Whether the complaint's impact can be minimised
                        </span>
                        <br />
                        <span>
                            - Whether reputational risk is a factor
                        </span>
                        <br />
                        <span>
                            - Whether another party or the Client might have contributed to the problem
                        </span>
                    </label>
                </div>
                <div class="col-3">
                    <select id="hascomplaint" name="PIViewModel.HasComplaintAlternativeOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.PIViewModel.HasComplaintAlternativeOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="hascircumstancearise" class="label required">
                        When a circumstance arises that might give rise to a claim, do you have a business process to ensure that the matter is promptly reported to your broker/insurer and in accordance with your insurance policy?
                    </label>
                </div>
                <div class="col-3">
                    <select id="hascircumstancearise" name="PIViewModel.HasCircumstanceAriseOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.PIViewModel.HasCircumstanceAriseOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-12">
                    <label>
                        <strong>
                            Weathertightness Leaky Buildings Restricted Cover - Higher Limit
                        </strong>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label>
                        Option to increase the sub limits under the Weathertightness endorsement for additional premium of $300+GST.
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label>
                        This Optional extension will increase the sub limit of cover from $50,000 for settlement plus $50,000 defence costs to $125,000 for settlement plus $125,000 defence costs and The ‘new build’ sub limit from $125,000 for settlement and $125,000 for defence cost to $250,000 for settlement and $250,000 for defence cost.
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="hasleakybuildingcover" class="label required">
                        Would you like the Weathertightness Leaky Buildings Restricted Cover?
                    </label>
                </div>
                <div class="col-3">
                    <select id="hasleakybuildingcover" name="PIViewModel.HasLeakyBuildingCoverOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.PIViewModel.HasLeakyBuildingCoverOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="hasexistingpolicy" class="label required">
                        Is this a renewal of an existing policy placed with @Model.ProgNamedPartyName ?
                    </label>
                </div>
                <div class="col-3">
                    <select id="hasexistingpolicy" name="PIViewModel.HasExistingPolicyOptions" class="custom-select" onchange="OnChange(this.id, this.name)" data-rule="Reverse" required>
                        @foreach (var option in Model.PIViewModel.HasExistingPolicyOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div id="PIViewModel.HasExistingPolicyOptions" hidden>
            <h3 style="font-size:15px;font-weight:bold;color:black">Details of Previous Insurance</h3>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="coveramount" class="label required">
                            $ Amount of Cover:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextBoxFor(m => m.PIViewModel.CoverAmount, new { @class = "form-control", @id = "coveramount", @type = "number", onchange = "OnChange(this.id, this.name)", @required = "" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="datelapsed" class="label required">
                            When Lapsed:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextBoxFor(m => m.PIViewModel.DateLapsed, new { @class = "form-control", @id = "datelapsed", @type = "text", onchange = "OnChange(this.id, this.name)", @required = "" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="insurername" class="label required">
                            Name of Insurer:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextBoxFor(m => m.PIViewModel.InsurerName, new { @class = "form-control", @id = "insurername", @type = "text", onchange = "OnChange(this.id, this.name)", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="retroactivedate" class="label required">
                            Retroactive date:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextBoxFor(m => m.PIViewModel.RetroactiveDate, new { @class = "form-control", @id = "retroactivedate", @type = "text", onchange = "OnChange(this.id, this.name)", @required = "" })
                    </div>
                </div>
            </div>
        </div>

    </form>
