@*@model DealEngine.Web.UI.ViewModels.InformationViewModel

@using DealEngine.Web.UI.Helpers.CustomHtml

<div class="padding-10">
    <div id="proposalcreate-form" class="smart-form" novalidate="novalidate">
        @using (var tabs = Html.Bootstrap().Begin(new Tabs("operTabs")))
        {
            @tabs.Tab("List All")
            @tabs.Tab("Edit")
            @tabs.Tab("Add")

            @tabs.Tab("List Removed")
            using (tabs.BeginPanel())
            {
                <fieldset>
                    <div class="row">
                        <section class="col col-xs-12">
                            <script src="~/jquery/jquery.min.js"></script>
                            <script type="text/javascript">
							$(document).ready(function () {
                                $("#tblOperator").jqGrid({
                                  //  url: "/Services/GetOperators?informationId=@Model.AnswerSheetId&removed=false",
							        datatype: "xml",
							        mtype: "GET",
                                    colNames: ["","Skipper First Name", "Skipper Last Name", ""],
                                    colModel: [
                                        {
                                            name: "update", align: 'center', search: false, formatter: function (cellvalue, options, rowobject) {
                                                return ('<button onclick="EditOperator(\'' + cellvalue + '\', \'#tblOperator\'); SetCurrentTab(\'operTabs-2\');" type="button" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></button>');
                                            }
                                        },
                                        { name: "OperatorFirstName", align: 'center', key: 'true' },
                                        { name: "OperatorLastName", align: 'center' },
							            { name: "update", align: 'center', search: false, formatter: function(cellvalue, options, rowobject)
                                        {
                                            return ('<button onclick="SetOperatorRemovedStatus(\'' + cellvalue + '\', \'true\', \'#tblOperator\', \'#tblRemovedOperator\');" type="button"class=" btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></button>');
							            }
										}
									],
							        autowidth: true,
                                    pager: "#pagerOperator",
							        rowNum: 10,
							        rowList: [10, 20, 30],
                                    sortname: "OperatorFirstName",
							        sortorder: "desc",
							        viewrecords: true,
							        gridview: true,
							        autoencode: true
							    });
                                $("#tblOperator").jqGrid('navGrid',
							    	'#pagerOperator',
							    	{edit: false, add: false, del: false},
							    	//options
							    	{height:280,reloadAfterSubmit:false},
							    	// edit options
							    	{height:280,reloadAfterSubmit:false},
							    	// add options
							    	{reloadAfterSubmit:false},
							    	// del options
						    		{sopt:['eq','bw','cn']}
							    	// search options
							    );
							});
                            </script>
                            <table id="tblOperator"><tr><td></td></tr></table>
                            <div id="pagerOperator"></div>
                        </section>
                    </div>
                </fieldset>
            }
            //Edit tab
            using (tabs.BeginPanel())
            {
                <fieldset id="fieldset">
                    <input id="OperatorId" name="OperatorId" type="hidden" />
                    <div class="row">
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label">Skipper First Name</label>
                            <label class="input">
                                <i></i>
                                <input class="form-control oper" type="text" data-type="TEXTBOX" data-name="OperatorFirstName" id="OperatorFirstName" name="OperatorFirstName" placeholder="Skipper First Name" value="">
                            </label>
                            <p class="validationContainer" id="validateOpFirstName"></p>

                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label">Skipper Last Name</label>
                            <label class="input">
                                <i></i>
                                <input class="form-control oper" type="text" data-type="TEXTBOX" data-name="OperatorLastName" id="OperatorLastName" name="OperatorLastName" placeholder="Skipper Last Name" value="">
                            </label>
                            <p class="validationContainer" id="validateOpLastName"></p>

                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label">Skipper Experience</label>
                            <label class="input">
                                <select class="oper" id="OperatorYearsOfExp" name="OperatorYearsOfExp">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="1">0-1</option>
                                    <option value="2">1-3</option>
                                    <option value="3">3+</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="validateYearsOFExp"></p>

                        </section>
                    </div>

                    <div class="row" id="update">
                        <section class="col col-xs-12">
                            @Html.Bootstrap().Button().Text("Update").HtmlAttributes(new { onclick = "validateOperator('#operTabs-2', '#tblOperator','operTabs-1');" }).Class("btn-sm").Id("updateBoat")

                            @Html.Bootstrap().Button().Text("Cancel Update").HtmlAttributes(new { onclick = "ClearBoats('#operTabs-2','operTabs-1');" }).Class("btn-sm").Id("ClearBoat")

                        </section>
                    </div>
                </fieldset>
            }

            //Add Tab
            using (tabs.BeginPanel())
            {
                <fieldset id="fieldset">
                    <input id="OperatorId" name="OperatorId" type="hidden" />
                    <div class="row">
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label">Skipper First Name</label>
                            <label class="input">
                                <i></i>
                                <input class="form-control oper" type="text" data-type="TEXTBOX" data-name="OperatorFirstName" id="AddOperatorFirstName" name="OperatorFirstName" placeholder="Skipper First Name" value="">
                            </label>
                            <p class="validationContainer" id="validateAddOpFirstName"></p>

                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label">Skipper Last Name</label>
                            <label class="input">
                                <i></i>
                                <input class="form-control oper" type="text" data-type="TEXTBOX" data-name="OperatorLastName" id="AddOperatorLastName" name="OperatorLastName" placeholder="Skipper Last Name" value="">
                            </label>
                            <p class="validationContainer" id="validateAddOpLastName"></p>

                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label">Skipper Experience</label>
                            <label class="input">
                                <select class="oper" id="AddOperatorYearsOfExp" name="OperatorYearsOfExp">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="1">0-1</option>
                                    <option value="2">1-3</option>
                                    <option value="3">3+</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="validateAddYearsOFExp"></p>

                        </section>
                    </div>

                    <div class="row" id="update">
                        <section class="col col-xs-12">
                            @Html.Bootstrap().Button().Text("Add").HtmlAttributes(new { onclick = "validateAddOperator('#operTabs-3', '#tblOperator','operTabs-1');" }).Class("btn-sm").Id("AddupdateBoat")

                            @Html.Bootstrap().Button().Text("Clear and Cancel").HtmlAttributes(new { onclick = "ClearBoats('#operTabs-3','operTabs-1');" }).Class("btn-sm").Id("AddClearBoat")

                        </section>
                    </div>
                </fieldset>
            }

            using (tabs.BeginPanel())
            {
                <fieldset>
                    <div class="row">
                        <section class="col col-xs-12">
                            <script src="~/jquery/jquery.min.js"></script>
                            <script type="text/javascript">
						$(document).ready(function () {
                            $("#tblRemovedOperator").jqGrid({
                                url: "/Services/GetOperators?informationId=@Model.AnswerSheetId&removed=true",
						        datatype: "xml",
						        mtype: "GET",
                                colNames: ["","Skipper First Name", "Skipper Last Name"],
                                colModel: [
                                    {
                                        name: "update", align: 'center', search: false, formatter: function (cellvalue, options, rowobject) { return '<button onclick="SetOperatorRemovedStatus(\'' + cellvalue + '\', \'false\', \'#tblRemovedOperator\', \'#tblOperator\');" type="button" class=" btn btn-success btn-sm" ><i class="fa fa-undo"></i></button>'; }
                                    },
                                    { name: "OperatorFirstName", align: 'center', key: 'true' },
                                    { name: "OperatorLastName", align: 'center' }

								],
						        autowidth: true,
                                pager: "#pagerRemovedOperator",
						        rowNum: 10,
						        rowList: [10, 20, 30],
                                sortname: "OperatorFirstName",
						        sortorder: "desc",
						        viewrecords: true,
						        gridview: true,
						        autoencode: true
						    });
                            $("#tblRemovedOperator").jqGrid('navGrid',
						    	'#pagerRemovedOperator',
						    	{edit: false, add: false, del: false},
						    	//options
						    	{height:280,reloadAfterSubmit:false},
						    	// edit options
						    	{height:280,reloadAfterSubmit:false},
						    	// add options
						    	{reloadAfterSubmit:false},
						    	// del options
						    	{sopt:['eq','bw','cn']}
						    	// search options
						    );
						});
                            </script>
                            <table id="tblRemovedOperator"><tr><td></td></tr></table>
                            <div id="pagerRemovedOperator"></div>
                        </section>
                    </div>
                </fieldset>
            }
        }
    </div>
</div>*@

