@model DealEngine.WebUI.Models.InformationViewModel

    <div class="padding-10">
        <div id="proposalcreate-form" class="smart-form" novalidate="novalidate">

            @*@tabs.Tab("List All")
            @tabs.Tab("Search")
            @tabs.Tab("Edit").Class("EditButton")
            @tabs.Tab("Add").Class("AddButton")
            @tabs.Tab("List Removed").Class("MotorRemoved")*@
            <div id="registeredtrailertabs">
                <ul id="tab" class="nav nav-tabs">
                    <li class="nav nav-tabs active"> <a href="#rmvTabs1"> List All </a> </li>
                    <li class="nav nav-tabs"> <a href="#rmvTabs2"> Search </a> </li>
                    <li class="nav nav-tabs hidden" id="MotorEdit"> <a href="#rmvTabs3" > Edit </a> </li>
                    <li class="nav nav-tabs"> <a href="#rmvTabs4"> Add </a> </li>
                    <li class="nav nav-tabs"> <a href="#rmvTabs5" Class="MotorRemoved"> List Removed </a> </li>

                </ul>
                <div id="rmvTabs1" class="tab-content">
                    <fieldset>
                        <div class="row">
                            <section class="col col-xs-12">
                                @*<script src="~/jquery/jquery.min.js"></script>*@
                                <script type="text/javascript">
                                $(window).on('load',function () {
						    $("#tblRegisteredMV").jqGrid({
						        url: "/Services/GetVehicles?informationId=@Model.AnswerSheetId&validated=true&removed=false&transfered=false",
						        datatype: "xml",
                                mtype: "GET",
                                async: true,
								colNames: ["","Year", "Registration", "Make", "Model", "Sum Insured", ""],
                                colModel: [
                                    {
                                        name: "update", align: 'center',width:60, search: false, formatter: function (cellvalue, options, rowobject) {
                                            return ('<button onclick="UnhideEdit(\'MotorEdit\');EditRegisteredMotorVehicle(\'rmv\', \'' + cellvalue + '\'); SetCurrentTab(\'rmvTabs3\');" type="button"class="btn btn-success btn-sm">Edit <i class="fa fa-edit"></i></button>');
                                        }
                                        //{ return '<button onclick="alert(&quot;'+cellvalue+'&quot;);" type="button">Edit</button>'; }
                                    },
                                    { name: "Year", align: 'center', key: 'true' },
						            { name: "Registration", align: 'center', key: 'true' },
						            { name: "Make", align: 'center' },
						            { name: "VehicleModel", align: 'center' },
						            { name: "SumInsured", align: 'center' },
						            { name: "update", align: 'center', width:60, search: false, formatter: function(cellvalue, options, rowobject)
                                    {
                                        return ('<button onclick="RemoveVehicle(\'' + cellvalue + '\', \'true\', \'#tblRegisteredMV\', \'#tblRemovedRegisteredMV\',\'@Model.ClientInformationSheet.Status\');" type="button"class=" btn btn-danger "><span class="fa fa-trash"></span></button>');
										}
										//{ return '<button onclick="alert(&quot;'+cellvalue+'&quot;);" type="button">Edit</button>'; }
									}
								],
						        autowidth: true,
						        pager: "#pagerRegisteredMV",
						        rowNum: 10,
						        rowList: [10, 20, 30],
						        sortname: "Registration",
						        sortorder: "desc",
						        viewrecords: true,
						        gridview: true,
						        autoencode: true
						    });
						    $("#tblRegisteredMV").jqGrid('navGrid',
						    	'#pagerRegisteredMV',
						    	{edit: false, add: false, del: false},
						    	//options
						    	{height:280,reloadAfterSubmit:false},
						    	// edit options
						    	{height:280,reloadAfterSubmit:false},
						    	// add options
						    	{reloadAfterSubmit:false},
						    	// del options
						    	{sopt:['eq','bw','cn']}
						    	// search options
						    );
						});
                                </script>
                                <table id="tblRegisteredMV"><tr><td></td></tr></table>
                                <div id="pagerRegisteredMV"></div>
                                @*(Html.TableFor<DealEngine.Web.UI.ViewModels.VehicleViewModel>()
                                .Hover().Striped().SetId("tblRegisteredMV")
                                .Columns(column =>
                                {
                                    column.Expression(p => p.Registration);
                                    column.Expression(p => p.Make);
                                    column.Expression(p => p.VehicleModel).Title("Model");
                                    column.Expression(p => p.SumInsured).Title("Sum Insured");
                                    column.Commands(p => p.VehicleId).Event("onclick=alert(\"$id$\")", "Update").Class("btn btn-xs btn-default");
                                })
                                .DataSource(this.Model.RegisteredVehicles))
                                *@
                            </section>
                        </div>
                    </fieldset>
                </div>
                <div id="rmvTabs2" class="tab-content">

                    <fieldset>
                        <div class="row" id="update">
                            <section class="col col-6">
                                <label class="label col-12">Enter plate number</label>
                                <label class="input col-12">
                                    @*<input autocomplete="off" class="form-control" data-provide="typeahead" data-url="/Services/GetVehiclePlates" id="Registration" name="Registration" type="text" placeholder="Plate Number" value="">*@
                                    <input autocomplete="off" class="form-control" data-provide="typeahead" id="Registration" name="Registration" type="text" placeholder="Plate Number" value="">
                                </label>
                                <button onclick="GetRegisteredMVDetails('#Registration'); SetCurrentTab('rmvTabs4');" class="btn-sm updateBoat" id="updateBoat">Update</button>
                            </section>
                        </div>
                    </fieldset>

                </div>

                <div id="rmvTabs3" class="tab-content">
                    <fieldset id="fieldset">
                        <input id="Validated" class="rmv" name="Validated" type="hidden">
                        <input id="VehicleId" class="rmv" name="VehicleId" type="hidden">
                        <!-- 1st row -->
                        <div class="row">
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label col-12">Year (Read-Only)</label>
                                <label class="input col-12">
                                    <i></i>
                                    <input class="form-control rmv" type="text" data-type="TEXTBOX" data-name="Year" id="Year" name="Year" placeholder="Year (Read-Only)" readonly="true" value="">
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label col-12">Make (Read-Only)</label>
                                <label class="input col-12">
                                    <i></i>
                                    <input class="form-control rmv" type="text" data-type="TEXTBOX" data-name="Make" id="Make" name="Make" placeholder="Make (Read-Only)" readonly="true" value="">
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label col-12">Model (Read-Only)</label>
                                <label class="input col-12">
                                    <i></i>
                                    <input class="form-control rmv" type="text" data-type="TEXTBOX" data-name="VehicleModel" id="VehicleModel" name="VehicleModel" placeholder="Model (Read-Only)" readonly="true" value="">
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label col-12">VIN (Read-Only)</label>
                                <label class="input col-12">
                                    <i></i>
                                    <input class="form-control rmv" type="text" data-type="TEXTBOX" data-name="VIN" id="VIN" name="VIN" placeholder="VIN (Read-Only)" readonly="true" value="">
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label col-12">Chassis Number (Read-Only)</label>
                                <label class="input col-12">
                                    <i></i>
                                    <input class="form-control rmv" type="text" data-type="TEXTBOX" data-name="ChassisNumber" id="ChassisNumber" name="ChassisNumber" placeholder="Chassis Number (Read-Only)" readonly="true" value="">
                                </label>
                            </section>
                            <!-- <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            Html.Bootstrap().Button().Text("Revalidate").HtmlAttributes(new { onclick = "RevalidateMotorVehicle('#rmvTabs-0', '#tblRegisteredMV'); SetCurrentTab('rmvTabs-2');" }).Class("btn-sm")
                        <!--</section>  -->
                        </div>
                        <!-- 2nd rows -->
                        <div class="row">
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required col-12">$ Estimated Market Value</label>
                                <label class="input col-12">
                                    <i></i>
                                    <input class="form-control rmv" type="text" data-type="TEXTBOX" data-name="SumInsured" id="SumInsured" name="SumInsured" placeholder="$ Estimated Market Value" value="" required>
                                </label>
                                <p class="validationContainer" id="validateMarketValue"></p>

                            </section>
                            <!--section class="col col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <label class="label">Fleet Number</label>
                            <label class="input">
                                <i></i>
                                <input class="form-control rmv" type="text" data-type="TEXTBOX" data-name="FleetNumber" id="FleetNumber" name="FleetNumber" placeholder="Fleet Number" value="">
                            </label>
                        </section-->
                            <!--section class="col col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <label class="label">Area of Operation</label>
                            <label class="input">
                                <select style="" class="rmv" id="AreaOfOperation" name="AreaOfOperation">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="1">Auckland</option>
                                    <option value="2">Wellington</option>
                                    <option value="3">Rest of North Island</option>
                                    <option value="4">Christchurch</option>
                                    <option value="5">Rest of South Island</option>
                                </select>
                            </label>
                        </section-->
                            <!--section class="col col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <label class="label">Type of Vehicle</label>
                            <label class="input">
                                <select style="" class="rmv" id="VehicleType" name="VehicleType">
                                    <option value="8">Registered Trailer</option>
                                </select>
                            </label>
                        </section-->
                            <!--section class="col col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <label class="label">Use</label>
                            <label class="input">
                                <select style="" class="rmv" id="Use" name="Use">
                                    <option value="4">Boat Trailer</option>
                                </select>
                            </label>
                        </section-->
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required col-12">Location</label>
                                <label class="input col-12">
                                    <select style="" onchange="addTrailerLoc()" class="rmv form-select" id="VehicleLocation" name="VehicleLocation">
                                        <option selected="selected" value="">-- Select --</option>

                                        @foreach (var tloc in Model.LocationViewModel.Locations)
                                        {
                                            <option value="@tloc.Id">@string.Join(", ", tloc.Street, tloc.Suburb, tloc.City)</option>
                                        }
                                        <option value="add">Add Location</option>

                                    </select>
                                </label>
                                <p class="validationContainer" id="validateVehicleLocation"></p>

                            </section>

                            <!-- 3rd rows -->
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required col-12">Effective Date</label>
                                <label class="input col-12 calender-relative">
                                    <i class="icon-append fa fa-calendar new-calendar"></i>
                                    <input name="EffectiveDate" placeholder="Effective Date" class="form-control rmv" id="EffectiveDate" type="text" required>
                                </label>
                                <p class="validationContainer" id="validateEffectiveDate"></p>
                            </section>

                            @*@if (Model.IsChange)
                            {
                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label">Cease Date</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input name="CeaseDate" placeholder="Cease Date" class="datepicker form-control rmv" data-dateformat="dd/mm/yy" id="CeaseDate" type="text">
                                    </label>
                                </section>
                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label">Cease Reason</label>
                                    <label class="input">
                                        <select style="" class="rmv" id="CeaseReason" name="CeaseReason">
                                            <option selected="selected" value="">-- Select --</option>
                                            <option value="1">Sold</option>
                                            <option value="2">Decommision</option>
                                            <option value="3">Writen off</option>
                                            <option value="4">Transfered</option>
                                            <option value="9">Other</option>
                                        </select>
                                    </label>
                                </section>
                            }*@

                            <!-- 4th row -->
                            @*<section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label">Interested Parties</label>
                                <label class="input">
                                    <select style="" class="cselect rmv" data-placeholder="Interested Parties" id="InterestedParties" multiple="multiple" name="InterestedParties" style="display: none;">
                                        @foreach (var trip in Model.InterestedParties.Where(o => o.OrganisationType == "financial"))
                                        {
                                            <option value="@trip.ID">@trip.OrganisationName</option>
                                        }
                                    </select>
                                </label>
                            </section>*@

                            <!-- 5th row -->
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label col-12">Additional Information about Registered Trailer</label>
                                <label class="textarea col-12">
                                    <textarea class="form-control rmv" data-type="TEXTAREA" data-name="Notes" id="Notes" name="Notes" placeholder="Additional Information about Registered Trailer" value=""></textarea>
                                </label>
                            </section>
                        </div>

                        <!-- 6th row -->
                        <div class="row" id="update">
                            <section class="col col-xs-12">


                                <button onclick="ValidateMotorVehicle(event, '#rmvTabs3', '#tblRegisteredMV', 'rmvTabs1');HideEdit('MotorEdit');" class="btn-sm updateBoat" id="updateBoat">Update</button>
                                <button onclick="HideEdit('MotorEdit');ClearBoats(event,'#rmvTabs2','rmvTabs1')" class="btn-sm ClearBoat" id="AddClearBoat">Cancel Update</button>

                                @*@Html.Bootstrap().Button().Text("Update").HtmlAttributes(new { onclick = "ValidateMotorVehicle('#rmvTabs-3', '#tblRegisteredMV','rmvTabs-1');" }).Class("btn-sm updateBoat").Id("updateBoat")

                                @Html.Bootstrap().Button().Text("Cancel Update").HtmlAttributes(new { onclick = "ClearBoats('#rmvTabs-2','rmvTabs-1');" }).Class("btn-sm ClearBoat").Id("ClearBoat")*@

                            </section>
                        </div>

                    </fieldset>
                </div>

                <div id="rmvTabs4" class="tab-content">

                    <fieldset id="fieldset">
                        <input id="AddValidated" class="rmv" name="Validated" type="hidden">
                        <input id="VehicleId" class="rmv" name="VehicleId" type="hidden">
                        <!-- 1st row -->
                        <div class="row">
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label col-12">Year (Read-Only)</label>
                                <label class="input col-12">
                                    <i></i>
                                    <input class="form-control rmv" type="text" data-type="TEXTBOX" data-name="Year" id="AddYear" name="Year" placeholder="Year (Read-Only)" readonly="true" value="">
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label col-12">Make (Read-Only)</label>
                                <label class="input col-12">
                                    <i></i>
                                    <input class="form-control rmv" type="text" data-type="TEXTBOX" data-name="Make" id="AddMake" name="Make" placeholder="Make (Read-Only)" readonly="true" value="">
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label col-12">Model (Read-Only)</label>
                                <label class="input col-12">
                                    <i></i>
                                    <input class="form-control rmv" type="text" data-type="TEXTBOX" data-name="VehicleModel" id="AddVehicleModel" name="VehicleModel" placeholder="Model (Read-Only)" readonly="true" value="">
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label col-12">VIN (Read-Only)</label>
                                <label class="input col-12">
                                    <i></i>
                                    <input class="form-control rmv" type="text" data-type="TEXTBOX" data-name="VIN" id="AddVIN" name="VIN" placeholder="VIN (Read-Only)" readonly="true" value="">
                                </label>
                            </section>
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label col-12">Chassis Number (Read-Only)</label>
                                <label class="input col-12">
                                    <i></i>
                                    <input class="form-control rmv" type="text" data-type="TEXTBOX" data-name="ChassisNumber" id="AddChassisNumber" name="ChassisNumber" placeholder="Chassis Number (Read-Only)" readonly="true" value="">
                                </label>
                            </section>
                            <!-- <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                            <button onclick="ClearBoats('#rmvTabs2','rmvTabs1')" class="btn-sm ClearBoat" id="AddClearBoat">Cancel Update</button>

                            Html.Bootstrap().Button().Text("Revalidate").HtmlAttributes(new { onclick = "RevalidateMotorVehicle('#rmvTabs-0', '#tblRegisteredMV'); SetCurrentTab('rmvTabs-2');" }).Class("btn-sm")
                        <!--</section>  -->
                        </div>
                        <!-- 2nd rows -->
                        <div class="row">
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required col-12">$ Estimated Market Value</label>
                                <label class="input col-12">
                                    <i></i>
                                    <input class="form-control rmv" type="text" data-type="TEXTBOX" data-name="SumInsured" id="AddSumInsured" name="SumInsured" placeholder="$ Estimated Market Value" value="" required>
                                </label>
                                <p class="validationContainer" id="AddvalidateMarketValue"></p>

                            </section>
                         

                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required col-12">Location</label>
                                <label class="input col-12">
                                    <select style="" onchange="AddaddTrailerLoc()" class="rmv form-select" id="AddVehicleLocation" name="VehicleLocation">
                                        <option selected="selected" value="">-- Select --</option>
                                        @foreach (var tloc in Model.LocationViewModel.Locations)
                                        {
                                            <option value="@tloc.Id">@string.Join(", ", tloc.Street, tloc.Suburb, tloc.City)</option>
                                        }
                                        <option value="add">Add Location</option>

                                    </select>
                                </label>
                                <p class="validationContainer" id="validateAddVehicleLocation"></p>

                            </section>

                            <!-- 3rd rows -->
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label required col-12">Effective Date</label>
                                <label class="input col-12 calender-relative">
                                    <i class="icon-append new-calendar fa fa-calendar"></i>
                                    <input name="EffectiveDate" placeholder="Effective Date" class="form-control rmv" id="AddEffectiveDate" type="text" required>
                                </label> <p class="validationContainer" id="validateAddEffectiveDate"></p>
                            </section>
                            @*@if (Model.IsChange)
                            {
                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label">Cease Date</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input name="CeaseDate" placeholder="Cease Date" class="datepicker form-control rmv" data-dateformat="dd/mm/yy" id="AddCeaseDate" type="text">
                                    </label>
                                </section>
                                <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <label class="label">Cease Reason</label>
                                    <label class="input">
                                        <select style="" class="rmv" id="AddCeaseReason" name="CeaseReason">
                                            <option selected="selected" value="">-- Select --</option>
                                            <option value="1">Sold</option>
                                            <option value="2">Decommision</option>
                                            <option value="3">Writen off</option>
                                            <option value="4">Transfered</option>
                                            <option value="9">Other</option>
                                        </select>
                                    </label>
                                </section>
                            }*@

                           

                            <!-- 5th row -->
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label col-12">Additional Information about Registered Trailer</label>
                                <label class="textarea col-12">
                                    <textarea class="form-control rmv" data-type="TEXTAREA" data-name="Notes" id="AddNotes" name="Notes" placeholder="Additional Information about Registered Trailer" value=""></textarea>
                                </label>
                            </section>

                        </div>
                        <!-- 6th row -->
                        <div class="row" id="update">
                            <section class="col col-xs-12">

                                <button onclick="ValidateAddMotorVehicle(event,'#rmvTabs4', '#tblRegisteredMV','rmvTabs1')" class="btn-sm AddupdateBoat" id="updateBoat">Add</button>
                                <button onclick="ClearBoats(event,'#rmvTabs3','rmvTabs1')" class="btn-sm AddClearBoat" id="AddClearBoat">Clear and Cancel</button>
                                @*@Html.Bootstrap().Button().Text("Add").HtmlAttributes(new { onclick = "ValidateAddMotorVehicle('#rmvTabs-4', '#tblRegisteredMV','rmvTabs-1');" }).Class("btn-sm AddupdateBoat").Id("AddupdateBoat")
                                @Html.Bootstrap().Button().Text("Clear and Cancel").HtmlAttributes(new { onclick = "ClearBoats('#rmvTabs-3','rmvTabs-1');" }).Class("btn-sm AddClearBoat").Id("AddClearBoat")*@
                            </section>
                        </div>

                    </fieldset>
                </div>
                <div id="rmvTabs5" class="tab-content">

                    <fieldset>
                        <div class="row">
                            <section class="col col-xs-12">
                                @*<script src="~/jquery/jquery.min.js"></script>*@
                                <script type="text/javascript">
                                $(".MotorRemoved").click(function () {
						    $("#tblRemovedRegisteredMV").jqGrid({
						        url: "/Services/GetVehicles?informationId=@Model.AnswerSheetId&validated=true&removed=true&transfered=false",
						        datatype: "xml",
                                mtype: "GET",
                                async: true,
								colNames: ["","Registration", "Make", "Model", "Sum Insured"],
                                colModel: [
                                    {
                                        name: "update", align: 'center',width:60, search: false, formatter: function (cellvalue, options, rowobject) { return '<button onclick="SetVehicleRemovedStatus(\'' + cellvalue + '\', \'false\', \'#tblRemovedRegisteredMV\', \'#tblRegisteredMV\'); SetCurrentTab(\'rmvTabs1\');" type="button" class=" btn btn-success btn-sm" ><i class="fa fa-undo"></i></button>'; }
                                    },
						            { name: "Registration", align: 'center', key: 'true' },
						            { name: "Make", align: 'center' },
						            { name: "VehicleModel", align: 'center' },
						            { name: "SumInsured", align: 'center' }

								],
						        autowidth: true,
						        pager: "#pagerRemovedRegisteredMV",
						        rowNum: 10,
						        rowList: [10, 20, 30],
						        sortname: "Registration",
						        sortorder: "desc",
						        viewrecords: true,
						        gridview: true,
						        autoencode: true
						    });
						    $("#tblRemovedRegisteredMV").jqGrid('navGrid',
						    	'#pagerRemovedRegisteredMV',
						    	{edit: false, add: false, del: false},
						    	//options
						    	{height:280,reloadAfterSubmit:false},
						    	// edit options
						    	{height:280,reloadAfterSubmit:false},
						    	// add options
						    	{reloadAfterSubmit:false},
						    	// del options
						    	{sopt:['eq','bw','cn']}
						    	// search options
						    );
						});
                                </script>
                                <table id="tblRemovedRegisteredMV"><tr><td></td></tr></table>
                                <div id="pagerRemovedRegisteredMV"></div>
                            </section>
                        </div>
                    </fieldset>
                </div>
             

            </div>
        </div>
    </div>

