@model DealEngine.WebUI.Models.InformationViewModel

<form id="RVViewModel" class="is-valid" data-accordianId="Registered Vehicle">

    @Html.HiddenFor(m => m.OrganisationViewModel.Organisation.Id, new { id = "Organisation.Id" })
    @Html.HiddenFor(m => m.OrganisationViewModel.User.Id, new { id = "User.Id" })
    @Html.HiddenFor(m => m.ClientInformationSheet.Id)
    @Html.HiddenFor(m => m.RVViewModel.Id)


    <div class="form-group">
        <div class="row">
            <div class="col-9">
                <label class="label required">
                    Does your vehicle have a Registration Number?
                </label>
            </div>
            <div class="col-3">

                <select id="RVViewModel_HasRegisteredNumber" name="RVViewModel.HasRegisteredNumber" class="form-select" onchange="OnChange(this.id, this.name)" required>
                    @foreach (var option in Model.RVViewModel.HasRegisteredNumber)
                    {
                        <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                    }
                </select>
            </div>
        </div>
    </div>


    <div class="form-group" id="RVViewModel.HasRegisteredNumber" hidden>
        <div class="row">
            <div class="col-9">
                <label for="registrationnumber" class="label required">
                    Registration Number:
                </label>
            </div>
            <div class="col-3">
                @Html.TextAreaFor(m => m.RVViewModel.Registration, new { @class = "form-control", @type = "text", onchange = "OnChange(this.id, this.name)", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
            </div>
        </div>
    </div>



    <div class="form-group">
        <div class="row">
            <div class="col-9">
                <label for="year" class="label">
                    Year:
                </label>
            </div>
            <div class="col-3">
                @Html.TextAreaFor(m => m.RVViewModel.Year, new { @class = "form-control", @type = "text", onchange = "OnChange(this.id, this.name)", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
            </div>
        </div>
    </div>



    <div class="form-group">
        <div class="row">
            <div class="col-9">
                <label for="make" class="label">
                    Make:
                </label>
            </div>
            <div class="col-3">
                @Html.TextAreaFor(m => m.RVViewModel.Make, new { @class = "form-control", @type = "text", onchange = "OnChange(this.id, this.name)", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
            </div>
        </div>
    </div>



    <div class="form-group">
        <div class="row">
            <div class="col-9">
                <label for="model" class="label">
                    Model:
                </label>
            </div>
            <div class="col-3">
                @Html.TextAreaFor(m => m.RVViewModel.Model, new { @class = "form-control", @type = "text", onchange = "OnChange(this.id, this.name)", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
            </div>
        </div>
    </div>



    <div class="form-group">
        <div class="row">
            <div class="col-9">
                <label for="marketvalue" class="label">
                    Estimated Market Value:
                </label>
            </div>
            <div class="col-3">
                $ @Html.TextAreaFor(m => m.RVViewModel.GroupSumInsured, new { @class = "form-control", @type = "text", onchange = "OnChange(this.id, this.name)", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
            </div>
        </div>
    </div>



    <div class="form-group">
        <div class="row">
            <div class="col-9">
                <label for="typeofcover" class="label required">
                    Type of cover:
                </label>
            </div>
            <div class="col-3">
                <select id="RVViewModel_TypeOfCover" name="RVViewModel.TypeOfCover" class="form-select" onchange="OnChange(this.id, this.name)" required>
                    @foreach (var option in Model.RVViewModel.TypeOfCover)
                    {
                        <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                    }
                </select>
            </div>
        </div>
    </div>




    <div class="form-group">
        <div class="row">
            <div class="col-9">
                <label for="areaofoperation" class="label required">
                    Area of Operation:
                </label>
            </div>
            <div class="col-3">
                <select id="RVViewModel_AreaOperation" name="RVViewModel.AreaOperation" class="form-select" onchange="OnChange(this.id, this.name)" required>
                    @foreach (var option in Model.RVViewModel.AreaOperation)
                    {
                        <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-9">
                <label for="claimsgrade" class="label required">
                    Claims Grade:
                </label>
            </div>
            <div class="col-3">
                <select id="RVViewModel_Grade" name="RVViewModel.Grade" class="form-select" onchange="OnChange(this.id, this.name)" required>
                    @foreach (var option in Model.RVViewModel.Grade)
                    {
                        <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-9">
                <label for="vehicletype" class="label required">
                    Type Of Vehicle:
                </label>
            </div>
            <div class="col-3">
                <select id="RVViewModel_TypeOfVehicle" name="RVViewModel.TypeOfVehicle" class="form-select" onchange="OnChange(this.id, this.name)" required>
                    @foreach (var option in Model.RVViewModel.TypeOfVehicle)
                    {
                        <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                    }
                </select>
            </div>
        </div>
    </div>







    <div class="form-group">
        <div class="row">
            <div class="col-9">
                <label for="hasdirectagencies" class="label required">
                    With regard to fire & general insurance, do you hold direct agencies with the likes of Vero, Lumley, QBE for the placement of this business or do you refer this business through another broker?
                </label>
            </div>
            <div class="col-3">
                @Html.TextAreaFor(m => m.PIViewModel.hasdirectagencies, new { @class = "form-control", @type = "text", onchange = "OnChange(this.id, this.name)", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
            </div>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-success update" type="submit" id="RegisteredVehicleSubmitBtn" onclick="OnVehicleSubmit('RVViewModel', 'Registered Vehicle')">Add</button>
        <button class="btn btn-danger" id="RegisteredVehicleClearButton" onclick="ResetOrganisation('RVViewModel');location.reload();"> Clear</button>
    </div>
</form>
