@model DealEngine.WebUI.Models.InformationViewModel

@{
    int count = 0;
}
<div id="Project" class="container-fluid">
        <input id="ProjectId" name="ProjectViewModel.ProjectId" hidden />
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" id="tab1">
                <a class="nav-link active" href="#projecttab1" data-toggle="tab" onclick="ResetForm('projecttab3','projecttab2', 'Project', 'ProjectAddButton', 'ProjectCancelButton')"> List All </a>
            </li>
            <li class="nav-item" id="tab2">
                <a class="nav-link" href="#projecttab2" data-toggle="tab"> Edit </a>
            </li>
            <li class="nav-item" id="tab3">
                <a class="nav-link" href="#projecttab3" data-toggle="tab" onclick="ResetForm('projecttab3','projecttab2', 'Project', 'ProjectAddButton', 'ProjectCancelButton')"> Add </a>
            </li>
            <li class="nav-item" id="tab4">
                <a class="nav-link" href="#projecttab4" data-toggle="tab"> List Removed </a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="projecttab1" class="tab-pane active" role="tabpanel">
                <table id="tblProject"
                       class="table table-striped" width="100%"
                       data-show-columns="true"
                       data-pagination="true"
                       data-search="true"
                       data-show-jump-to="true">
                    <thead>
                        <tr>
                            <th data-field="editButton" data-sortable="false"></th>
                            <th data-field="description" data-sortable="true">The Project Description</th>
                            <th data-field="Fees" data-sortable="true">Your Earned Fees</th>
                            <th data-field="deleteButton" data-sortable="false"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var project in Model.ProjectViewModel.BusinessContracts.Where(p => p.Removed == false).ToList())
                        {
                            <tr id="@project.Id">
                                <td>
                                    <button class="btn btn-success btn-sm" onclick="EditProject('@project.Id','@project.ProjectDescription','@project.Fees','@project.ConstructionValue','@project.ProjectDuration', '@project.Year', '@project.ContractTitle', '@project.ContractType', '@project.Country', '@project.MajorResponsibilities', '@project.ProjectDirector,@project.ProjectManager,@project.ProjectCoordinator,@project.ProjectEngineer')"><i class="fa fa-edit"></i> Edit</button>
                                </td>
                                <td>
                                    @project.ProjectDescription
                                </td>
                                <td>
                                    @project.Fees
                                </td>
                                <td>
                                    <button onclick="RemoveProject('@project.Id')" type="button" class=" btn btn-danger btn-sm" id="trash"><span class="fa fa-trash"></span></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div id="projecttab2" class="tab-pane" role="tabpanel">
                <div class="form-group">
                    <label>Select a project from the 'List All' Tab and Click Edit Button</label>
                </div>
            </div>
            <div id="projecttab3" class="tab-pane" role="tabpanel">
                <form id="ProjectViewModel">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="projectyear" class="label required">
                                    Year
                                </label>
                            </div>
                            <div class="col-6">
                                @Html.TextAreaFor(m => m.ProjectViewModel.Year, new { id = "projectyear", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="projecttitle" class="label required">
                                    Contract Title
                                </label>
                            </div>
                            <div class="col-6">
                                @Html.TextBoxFor(m => m.ProjectViewModel.ContractTitle, new { id = "projecttitle", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="contractdetails" class="label required">
                                    Construction Value
                                </label>
                            </div>
                            <div class="col-6">
                                @Html.TextBoxFor(m => m.ProjectViewModel.ConstructionValue, new { id = "contractdetails", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="projectfees" class="label required">
                                    Fees
                                </label>
                            </div>
                            <div class="col-6">
                                @Html.TextBoxFor(m => m.ProjectViewModel.Fees, new { id = "projectfees", @class = "form-control", @onchange = "OnChange(this.id, this.name)", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="hascontracttype" class="label required">
                                    Contract Type
                                </label>
                            </div>
                            <div class="col-6">
                                <select id="hascontracttype" name="ProjectViewModel.ContractType" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                                    @foreach (var option in Model.ProjectViewModel.ContractTypeOptions)
                                    {
                                        <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-sm btn-success text-light" id="ProjectAddButton" onclick="AddProject('Contracts (5 Largest Contracts in the Last 5 Years)')"> Add </a>
                        <a class="btn btn-sm btn-danger text-light" id="ProjectCancelButton" onclick="Cancel('ProjectViewModel', 'projecttab1')"> Clear and Cancel </a>
                    </div>
                </form>
            </div>
            <div id="projecttab4" class="tab-pane" role="tabpanel">
                <table id="tblRemovedProject"
                       class="table table-striped" width="100%"
                       data-show-columns="true"
                       data-pagination="true"
                       data-search="true"
                       data-show-jump-to="true">
                    <thead>
                        <tr>
                            <th data-field="editButton" data-sortable="false"></th>
                            <th data-field="description" data-sortable="true">The Project Description</th>
                            <th data-field="Fees" data-sortable="true">Your Earned Fees</th>
                            <th data-field="deleteButton" data-sortable="false"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var project in Model.ProjectViewModel.BusinessContracts.Where(p => p.Removed == true).ToList())
                        {
                            <tr id="@project.Id">
                                <td>
                                    <button class="btn btn-success btn-sm" onclick="RestoreProject('@project.Id')"><i class="fa fa-undo"></i></button>
                                </td>
                                <td>
                                    @project.ProjectDescription
                                </td>
                                <td>
                                    @project.Fees
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
</div>



