@model DealEngine.WebUI.Models.InformationViewModel

<form id="CLIViewModel" class="is-valid" data-accordianId="Cyber Liability Insurance">
    <div class="form-group">
        <div class="row">
            <div class="col-9">
                <label for="hassecurity" class="label required">
                    We have security software controls to protect our computer systems, e.g. anti-virus protection, firewalls, etc?
                </label>
            </div>
            <div class="col-3">
                <select id="hassecurity" name="CLIViewModel.HasSecurityOptions" class="custom-select" data-rule="CyberLabel" data-item="hasprohibitaccess,hassecurity,cyberlabel" onchange="OnChange(this.id, this.name)" required>
                    @foreach (var option in Model.CLIViewModel.HasSecurityOptions)
                    {
                        <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-9">
                <label for="hasprohibitaccess" class="label required">
                    We have security controls in place to prohibit unauthorised access to our computer systems?
                </label>
            </div>
            <div class="col-3">
                <select id="hasprohibitaccess" name="CLIViewModel.HasProhibitAccessOptions" class="custom-select" data-rule="CyberLabel" data-item="hasprohibitaccess,hassecurity,cyberlabel" onchange="OnChange(this.id, this.name)" required>
                    @foreach (var option in Model.CLIViewModel.HasProhibitAccessOptions)
                    {
                        <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div id="CLIViewModel.HasProhibitAccessOptions" hidden>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="HasCLI" class="label required">
                        Would you like Cyber Liability Insurance?
                    </label>
                </div>
                <div class="col-3">
                    <select id="HasCLI" name="CLIViewModel.HasCLIOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.CLIViewModel.HasCLIOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div id="CLIViewModel.HasCLIOptions" hidden>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="hasaccesscontrol" class="label required">
                            We have access controls in place (e.g. passwords) for employees and other users to deny access to sensitive data on computer systems?
                        </label>
                    </div>
                    <div class="col-3">
                        <select id="hasaccesscontrol" name="CLIViewModel.HasAccessControlOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                            @foreach (var option in Model.CLIViewModel.HasAccessControlOptions)
                            {
                                <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="hasbackup" class="label required">
                            We have backup and recovery procedures for all data and IT systems?
                        </label>
                    </div>
                    <div class="col-3">
                        <select id="hasbackup" name="CLIViewModel.HasBackupOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                            @foreach (var option in Model.CLIViewModel.HasBackupOptions)
                            {
                                <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="haslocation" class="label required">
                            We do not have any domiciled operations or derive revenue from USA, Canada, UK, Europe or Australia?
                        </label>
                    </div>
                    <div class="col-3">
                        <select id="haslocation" name="CLIViewModel.HasLocationOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                            @foreach (var option in Model.CLIViewModel.HasLocationOptions)
                            {
                                <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="hasactivity" class="label required">
                            We do not have business operations that would be classified as: Financial Institution, Medical/Health, Call Centre, Telemarketing, Data Processing (Outsourcing), Internet Service,
                            Telecommunications, Social Networking, Credit Bureaus, Payment Processing, Gaming, Cloud Provider
                        </label>
                    </div>
                    <div class="col-3">
                        <select id="hasactivity" name="CLIViewModel.HasActivityOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                            @foreach (var option in Model.CLIViewModel.HasActivityOptions)
                            {
                                <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="hasconfidencial" class="label required">
                            We do not collect, and/or processes and/or store credit card information?
                        </label>
                    </div>
                    <div class="col-3">
                        <select id="hasconfidencial" name="CLIViewModel.HasConfidencialOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                            @foreach (var option in Model.CLIViewModel.HasConfidencialOptions)
                            {
                                <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="hasbreaches" class="label required">
                            We have not sustained any single loss or losses, or suffered from any prior cyber breaches, including but not limited to data loss, network intrusion, hack attack (including telephone hacking), and any fines, in the last three years, for which this proposed insurance may respond to?
                        </label>
                    </div>
                    <div class="col-3">
                        <select id="hasbreaches" name="CLIViewModel.HasBreachesOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                            @foreach (var option in Model.CLIViewModel.HasBreachesOptions)
                            {
                                <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="hasknowledge" class="label required">
                            We do not have any knowledge of any act, omission, fact, event or circumstance which might give rise to a loss under this proposed insurance after full enquiry of any of its directors, officers and employees?
                        </label>
                    </div>
                    <div class="col-3">
                        <select id="hasknowledge" name="CLIViewModel.HasKnowledgeOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                            @foreach (var option in Model.CLIViewModel.HasKnowledgeOptions)
                            {
                                <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="hasprocedures" class="label required">
                            Do you have procedures for verifying destination bank accounts and/or any changes to destination bank account details, before funds are transferred?
                        </label>
                    </div>
                    <div class="col-3">
                        <select id="hasprocedures" name="CLIViewModel.HasProceduresOptions" class="custom-select" data-rule="CyberOptional" data-item="hasapprovedvendors,hasprocedures" onchange="OnChange(this.id, this.name)" required>
                            @foreach (var option in Model.CLIViewModel.HasProceduresOptions)
                            {
                                <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="hasapprovedvendors" class="label required">
                            Do you hold an approved list of vendors and suppliers, including authorized contract people and contace details, which is checked when payments are made?
                        </label>
                    </div>
                    <div class="col-3">
                        <select id="hasapprovedvendors" name="CLIViewModel.HasApprovedVendorsOptions" class="custom-select" data-rule="CyberOptional" data-item="hasapprovedvendors,hasprocedures" onchange="OnChange(this.id, this.name)" required>
                            @foreach (var option in Model.CLIViewModel.HasApprovedVendorsOptions)
                            {
                                <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div id="CLIViewModel.HasApprovedVendorsOptions" hidden>
                <div class="form-group">
                    <div class="row">
                        <div class="col-12">
                            <label class="label">
                                <strong>Social Engineering Fraud Extension</strong>
                                <br />Extension to cover Phishing (the fraudulent use of electronic communications or websites to impersonate you to solicit personal or confidential information about your clients) , Phreaking (the unauthorised and malicious use of your telephone system which results in charges which you are legally liable to pay) and Fake Invoice losses (voluntarily giving away of your own money to a third party due to that third party impersonating one of your employees, principals, clients or suppliers)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                        <div class="row">
                            <div class="col-9">
                                <label for="hasoptionalCLE" class="label required">
                                    Would you like to purchase/include this optional Cyber Liability Social Engineering Fraud Extension policy extension?
                                </label>
                            </div>
                            <div class="col-3">
                                <select id="hasoptionalCLE" name="CLIViewModel.HasOptionalCLEOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                                    @foreach (var option in Model.CLIViewModel.HasOptionalCLEOptions)
                                    {
                                        <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="hasrenewal" class="label required">
                            Is this a renewal of an existing Cyber policy placed with NZBA?
                        </label>
                    </div>
                    <div class="col-3">
                        <select id="hasrenewal" name="CLIViewModel.HasExistingPolicyOptions" class="custom-select" onchange="OnChange(this.id, this.name)" data-rule="Reverse" required>
                            @foreach (var option in Model.CLIViewModel.HasExistingPolicyOptions)
                            {
                                <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div id="CLIViewModel.HasExistingPolicyOptions" hidden>
            <h3 style="font-size:15px;font-weight:bold;color:black">Details of Previous Insurance</h3>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="coveramount" class="label required">
                            $ Amount of Cover:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextBoxFor(m => m.CLIViewModel.CoverAmount, new { @class = "form-control", @id = "coveramount", @type = "number", onchange = "OnChange(this.id, this.name)", @required = "" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="datelapsed" class="label required">
                            When Lapsed:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextBoxFor(m => m.CLIViewModel.DateLapsed, new { @class = "form-control", @id = "datelapsed", @type = "text", onchange = "OnChange(this.id, this.name)", @required = "" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="insurername" class="label required">
                            Name of Insurer:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextBoxFor(m => m.CLIViewModel.InsurerName, new { @class = "form-control", @id = "insurername", @type = "text", onchange = "OnChange(this.id, this.name)", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="retroactivedate" class="label required">
                            Retroactive date:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextBoxFor(m => m.CLIViewModel.RetroactiveDate, new { @class = "form-control", @id = "retroactivedate", @type = "text", onchange = "OnChange(this.id, this.name)", @required = "" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
