

@model DealEngine.WebUI.Models.InformationViewModel

@using System.Linq

<div class="padding-10">
    <div id="proposalcreate-form" class="smart-form" novalidate="novalidate">

        @*@tabs.Tab("List All")
            @tabs.Tab("Edit")
            @tabs.Tab("Add")*@
        <div id="CommonNamedPartytabs" class="AccordionTab">
            <ul id="tab" class="nav nav-tabs">
                <li class="nav nav-tabs active"> <a href="#CommonNamedPartyTabs1"> List All </a> </li>
                <li class="nav nav-tabs" id="PrincipalEdit"> <a href="#CommonNamedPartyTabs2"> Edit </a> </li>
                <li class="nav nav-tabs"> <a href="#CommonNamedPartyTabs3"> Add </a> </li>
                <li class="nav nav-tabs CommonNamedPartyRemoved "> <a href="#CommonNamedPartyTabs4"> Removed </a> </li>

            </ul>

            <div id="CommonNamedPartyTabs1" class="tab-content">
                <fieldset>
                    <div class="row">
                        <section class="col col-xs-12">
                            @*<script src="~/jquery/jquery.min.js"></script>*@
                            <script type="text/javascript">
                                $(window).on('load',function () {
                            $("#CommonNamedParties").jqGrid({
                                url: "/Services/GetPrincipalPartners?informationId=@Model.AnswerSheetId&validated=true&removed=false&ceased=false",
						        datatype: "xml",
                                mtype: "GET",
                                async: true,
                                colNames: ["","Organisation Name","Organisation Type", "Remove"],
                                colModel: [
                                    {
                                        name: "update", align: 'center', search: false, formatter: function (cellvalue, options, rowobject) {
                                            return ('<button onclick="EditNamedParty(\'' + cellvalue + '\'); SetCurrentTab(\'CommonNamedPartyTabs2\');" type="button" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></button>' );
                                        }
                                    },
                                    { name: "OrganisationName", align: 'center' },
                                    { name: "OrganisationType", align: 'center' },
                                     {
                                         name: "update", align: 'center', width: 120, search: false, formatter: function (cellvalue, options, rowobject) {

                                             return ('<button onclick="SetPrincipalRemovedStatus(\'bu\',\'' + cellvalue + '\', \'true\', \'#CommonNamedParties\', \'#tblRemovedCommonNamedParty\');" type="button"  class=" btn btn-danger btn-sm" id="trash"><span class="fa fa-trash"></span></button>');
                                         }
                                     }
								],
						        autowidth: true,
                                pager: "#CommonpagerNamedParty",
						        rowNum: 10,
						        rowList: [10, 20, 30],
                                sortname: "Name",
						        sortorder: "desc",
						        viewrecords: true,
						        gridview: true,
						        autoencode: true
						    });
						    $("#CommonNamedParties").jqGrid('navGrid',
						    	'#CommonpagerNamedParty',
						    	{edit: false, add: false, del: false},
						    	//options
						    	{height:280,reloadAfterSubmit:false},
						    	// edit options
						    	{height:280,reloadAfterSubmit:false},
						    	// add options
						    	{reloadAfterSubmit:false},
						    	// del options
						    	{sopt:['eq','bw','cn']}
						    	// search options
						    );
						});
                            </script>
                            <table id="CommonNamedParties"><tr><td></td></tr></table>
                            <div id="CommonpagerNamedParty"></div>
                        </section>
                    </div>
                </fieldset>
            </div>
            <div id="CommonNamedPartyTabs2" class="tab-content">
                <fieldset id="fieldset">
                    <input id="CommonEditPrincipalPartnersId" class="b" name="ID" type="hidden">
                    <!-- 1st row -->

                    <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 nonownersec">
                        <label class=" label required">Type</label>
                        <label class="input">
                            <select id="CommonEditType" onchange="CommonTypeSelected('CommonEditType','CommonEdit')" class="b form-select" name="Type">
                                <option selected="selected" value="">-- Select --</option>
                                <option value="Advisor">Advisor</option>
                                <option value="NominatedRepresentative">Nominated Representative</option>

                            </select>
                        </label>
                        <p class="validationContainer" id="ValidateCommonEditType"></p>

                    </section>

                    <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 nonownersec">
                        <label class=" label required">Organisation Type</label>
                        <label class="input">
                            <select id="CommonEditOrgType" class="b form-select" name="OrganisationTypeName">
                                <option selected="selected" value="">-- Select --</option>
                                <option value="Person - Individual">Private</option>
                            </select>
                        </label>
                        <p class="validationContainer" id="ValidateCommonEditOrgType"></p>

                    </section>
                    <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden ">
                        <label class="input">
                            <i></i>
                            <input data-type="TEXTBOX" id="CommonEditOwnercheck" name="Ownercheck" value="">
                        </label>
                    </section>

                    <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 nonownersec ">
                        <label class="label required">First Name</label>
                        <label class="input">
                            <i></i>
                            <input data-type="TEXTBOX" data-name="sharedOrgName" id="CommonEditFirstName" name="FirstName" placeholder="FirstName" value="">
                        </label>
                        <p class="validationContainer" id="ValidateCommonEditFirstName"></p>

                    </section>
                    <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 nonownersec">
                        <label class="label required">Last Name</label>
                        <label class="input">
                            <i></i>
                            <input data-type="TEXTBOX" data-name="sharedOrgName" id="CommonEditLastName" name="LastName" placeholder="LastName" value="">
                        </label>
                        <p class="validationContainer" id="ValidateCommonEditLastName"></p>

                    </section>
                    <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 nonownersec">
                        <label class="label required">DOB</label>
                        <label class="input">
                            <i></i>
                            <input data-type="TEXTBOX" data-name="sharedOrgPhone" id="CommonEditDOB" name="DateofBirth" placeholder="Date of Birth" value="">
                        </label>

                        <p class="validationContainer" id="ValidateCommonEditDOB"></p>

                    </section>
                    <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 ownersec">
                        <label class="label required">Email</label>
                        <label class="input">
                            <i></i>
                            <input data-type="TEXTBOX" data-name="sharedOrgName" id="CommonEditEmail" name="Email" placeholder="Email" value="">
                        </label>
                        <p class="validationContainer" id="ValidateCommonEditEmail"></p>

                    </section>
                    <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden ownersec">
                        <label class="label required">Organisation Name</label>
                        <label class="input">
                            <i></i>
                            <input data-type="TEXTBOX" data-name="sharedOrgName" id="CommonEditOrgName" name="OrganisationName" placeholder="Organisation Name" value="">
                        </label>
                        <p class="validationContainer" id="ValidateCommonEditOrgName"></p>
                    </section>


                    <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 nonownersec">
                        <label class="label required">Registered Status AFA,RFA or N/A</label>
                        <label class="input">
                            <i></i>
                            <select id="CommonEditRegStatus" class="b form-select" name="RegisteredStatus">
                                <option selected="selected" value="">-- Select --</option>
                                <option value="AFA">AFA</option>
                                <option value="RFA">RFA</option>
                                <option value="N/A">N/A</option>
                            </select>
                        </label>
                        <p class="validationContainer" id="ValidateCommonEditRegStatus"></p>

                    </section>

                    <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 nonownersec">
                        <label class="label required">Qualifications</label>
                        <label class="input">
                            <i></i>
                            <input data-type="TEXTBOX" data-name="sharedOrgPhone" id="CommonEditQualification" name="Qualifications" placeholder="Qualifications" value="">
                        </label>
                        <p class="validationContainer" id="ValidateCommonEditQualification"></p>

                    </section>

                    <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 nonownersec hidden" id="CommonEditAdvisor">
                        <label class="label required">Duration Of Time as Adviser</label>
                        <label class="input">
                            <i></i>
                            <input data-type="TEXTBOX" data-name="sharedOrgPhone" id="CommonEditDuration" name="Duration" placeholder="Duration" value="">
                        </label>
                        <p class="validationContainer" id="ValidateCommonEditDuration"></p>

                    </section>

                    <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <button onclick="ValidateCommonNamedParty(event,'CommonEdit')" class="btn-sm AddupdateBoat" id="updateBoat">Update</button>
                        <button onclick="ClearBoats(event,'#CommonNamedPartyTabs2','CommonNamedPartyTabs1')" class="btn-sm AddClearBoat" id="ClearBoat">Cancel Update</button>
                    </section>

                </fieldset>

            </div>
            <div id="CommonNamedPartyTabs3" class="tab-content">
                <fieldset id="fieldset">
                    <input id="CommonAddPrincipalPartnersId" class="b" name="ID" type="hidden">
                    <!-- 1st row -->

                    <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <label class=" label required">Type</label>
                        <label class="input">
                            <select id="CommonType" onchange="CommonTypeSelected('CommonType','Common')" class="b form-select" name="Type">
                                <option selected="selected" value="">-- Select --</option>
                                <option value="Advisor">Advisor</option>
                                <option value="NominatedRepresentative">Nominated Representative</option>

                            </select>
                        </label>
                        <p class="validationContainer" id="ValidateCommonType"></p>

                    </section>

                    <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <label class=" label required">Organisation Type</label>
                        <label class="input">
                            <select id="CommonOrgType" class="b form-select" name="OrganisationTypeName">
                                <option selected="selected" value="">-- Select --</option>
                                <option value="Person - Individual">Private</option>
                            </select>
                        </label>
                        <p class="validationContainer" id="ValidateCommonOrgType"></p>

                    </section>


                    <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                        <label class="label required">First Name</label>
                        <label class="input">
                            <i></i>
                            <input data-type="TEXTBOX" data-name="sharedOrgName" id="CommonFirstName" name="FirstName" placeholder="FirstName" value="">
                        </label>
                        <p class="validationContainer" id="ValidateCommonFirstName"></p>

                    </section>
                    <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                        <label class="label required">Last Name</label>
                        <label class="input">
                            <i></i>
                            <input data-type="TEXTBOX" data-name="sharedOrgName" id="CommonLastName" name="LastName" placeholder="LastName" value="">
                        </label>
                        <p class="validationContainer" id="ValidateCommonLastName"></p>

                    </section>
                    <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <label class="label required">DOB</label>
                        <label class="input">
                            <i></i>
                            <input data-type="TEXTBOX" data-name="sharedOrgPhone" id="CommonDOB" name="DateofBirth" placeholder="Date of Birth" value="">
                        </label>

                        <p class="validationContainer" id="ValidateCommonDOB"></p>

                    </section>
                    <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <label class="label required">Email</label>
                        <label class="input">
                            <i></i>
                            <input data-type="TEXTBOX" data-name="sharedOrgName" id="CommonEmail" name="Email" placeholder="Email" value="">
                        </label>
                        <p class="validationContainer" id="ValidateCommonEmail"></p>

                    </section>

                    <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <label class="label required">Registered Status AFA,RFA or N/A</label>
                        <label class="input">
                            <i></i>
                            <select id="CommonRegStatus" class="b form-select" name="RegisteredStatus">
                                <option selected="selected" value="">-- Select --</option>
                                <option value="AFA">AFA</option>
                                <option value="RFA">RFA</option>
                                <option value="N/A">N/A</option>
                            </select>
                        </label>
                        <p class="validationContainer" id="ValidateCommonRegStatus"></p>

                    </section>

                    <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <label class="label required">Qualifications</label>
                        <label class="input">
                            <i></i>
                            <input data-type="TEXTBOX" data-name="sharedOrgPhone" id="CommonQualification" name="Qualifications" placeholder="Qualifications" value="">
                        </label>
                        <p class="validationContainer" id="ValidateCommonQualification"></p>

                    </section>

                    <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="CommonAdvisor">
                        <label class="label required">Duration Of Time as Adviser</label>
                        <label class="input">
                            <i></i>
                            <input data-type="TEXTBOX" data-name="sharedOrgPhone" id="CommonDuration" name="Duration" placeholder="Duration" value="">
                        </label>
                        <p class="validationContainer" id="ValidateCommonDuration"></p>

                    </section>

                    <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <button onclick="ValidateCommonNamedParty(event,'Common')" class="btn-sm AddupdateBoat" id="updateBoat">Add</button>
                        <button onclick="ClearBoats(event,'#CommonNamedPartyTabs3','CommonNamedPartyTabs1')" class="btn-sm AddClearBoat" id="ClearBoat">Cancel Update</button>
                    </section>

                </fieldset>

            </div>

            <div id="CommonNamedPartyTabs4" class="tab-content">

                <fieldset>
                    <div class="row">
                        <section class="col col-xs-12">
                            <script type="text/javascript">
                                 $(".CommonNamedPartyRemoved").click(function () {
                               $("#tblRemovedCommonNamedParty").jqGrid({
                                url: "/Services/GetDeletedPartners?informationId=@Model.AnswerSheetId&validated=true&removed=true&ceased=false",
                                datatype: "xml",
                                   mtype: "GET",
                                async: true,
                                   colNames: ["","Organisation Name", "Organisation Type"],
                                    colModel: [

                                    {
                                        name: "update", align: 'center' ,width: 60, search: false, formatter: function (cellvalue, options, rowobject) {/*{ class=" btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash*/
                                            return '<button onclick="SetPrincipalRemovedStatus(\'' + cellvalue + '\', \'false\', \'#tblRemovedCommonNamedParty\', \'#CommonNamedParties\');" type="button" class=" btn btn-success btn-sm" ><i class="fa fa-undo"></i></button>';

                                        }
                                    },
                                     { name: "OrganisationName", align: 'center' },
                                    { name: "OrganisationType", align: 'center' },
                                   ],
                                autowidth: true,
                                pager: "#CommonRemovedpagerNamedParty",
                                rowNum: 10,
                                rowList: [10, 20, 30],
                                sortname: "Organisation Name",
                                sortorder: "desc",
                                viewrecords: true,
                                gridview: true,
                                autoencode: true
                            });
                            $("#tblRemovedCommonNamedParty").jqGrid('navGrid',
                                '#CommonRemovedpagerNamedParty',
                                { edit: false, add: false, del: false },
                                //options
                                { height: 280, reloadAfterSubmit: false },
                                // edit options
                                { height: 280, reloadAfterSubmit: false },
                                // add options
                                { reloadAfterSubmit: false },
                                // del options
                                { sopt: ['eq', 'bw', 'cn'] }
                                // search options
                                 );
                                });
                            </script>
                            <table id="tblRemovedCommonNamedParty"><tr><td></td></tr></table>
                            <div id="CommonRemovedpagerNamedParty"></div>
                        </section>
                    </div>
                </fieldset>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">


    function CommonTypeSelected(TypeSelected,type) {
        var typeSelected = document.getElementById(TypeSelected);
        if (typeSelected.options[typeSelected.selectedIndex].value == "Advisor") {
            $("#" + type + "Advisor").removeClass('hidden');
            $("#" + type +"Duration").val('');
        } else {
           $("#" + type + "Advisor").addClass('hidden');
        }
    }


    function EditOrganisation(OrganisationId) {
        debugger;
        $("CommonNamedPartyTabs2 :input").val("");
        event.preventDefault();
        form = document.getElementById();
        $.ajax({
            url: '@Url.Action("GetOrganisation", "Services")',
            type: "Post",
            data: form.serialize()
        })
            .done(function (data) {
              $('#CommonEditPrincipalPartnersId').val(data.id);
                $('#CommonEditEmail').val(data.email);
                 $('#CommonEditOwnercheck').val(data.type);

             if (data.type == "Owner") {
                 $('#CommonEditOrgName').val(data.organisationName);
                 $('.ownersec').removeClass("hidden");
                 $('.nonownersec').addClass("hidden");

             } else {
                 $('.nonownersec').removeClass("hidden");
                 $('.ownersec').addClass("hidden");
                 $('#CommonEditType').val(data.type);
                 $('#CommonEditOrgType').val(data.organisationTypeName);
                 $('#CommonEditFirstName').val(data.firstName);
                 $('#CommonEditLastName').val(data.lastName);
                 $('#CommonEditDOB').val(data.dateofBirth);
                 $('#CommonEditRegStatus').val(data.registeredStatus);
                 $('#CommonEditQualification').val(data.qualifications);
                 $('#CommonEditDuration').val(data.duration);
                 CommonTypeSelected('CommonType','CommonEdit')
             }


         });
    };

    function ValidateCommonNamedParty(event, type) {
        debugger;
        event.preventDefault();
        var validity = true;
        var validatortype = type;

        var Type = $('#' + validatortype + 'Type').val();
        var orgType = $('#' + validatortype + 'OrgType').val();
        var fname = $('#' + validatortype + 'FirstName').val();
        var lname = $('#' + validatortype + 'LastName').val();
        var dob = $('#' + validatortype + 'DOB').val();
        var email = $('#' + validatortype + 'Email').val();
        var regstatus = $('#' + validatortype + 'RegStatus').val();
        var qualification = $('#' + validatortype + 'Qualification').val();
        var duration = $('#' + validatortype + 'Duration').val();
        var orgname = $('#' + validatortype + 'OrgName').val();
        var ownercheck = $('#' + validatortype + 'Ownercheck').val();


            if (email == "") {
                $("#Validate" + type + "Email").html("<font color='red'>Field is required</font>");
                if (validity) {
                    validity = false;
                }
            } else {
                $("#Validate" + type + "Email").html("<i></i>");
            }

        if (ownercheck != "Owner") {
            if (Type == "") {
                $("#Validate" + type + "Type").html("<font color='red'>Field is required</font>");
                if (validity) {
                    validity = false;
                }
            } else {
                $("#Validate" + type + "Type").html("<i></i>");
            }

            if (orgType == "") {
                $("#Validate" + type + "OrgType").html("<font color='red'>Field is required</font>");
                if (validity) {
                    validity = false;
                }
            } else {

                $("#Validate" + type + "OrgType").html("<i></i>");
            }

            if (fname == "") {
                $("#Validate" + type + "FirstName").html("<font color='red'>Field is required</font>");
                if (validity) {
                    validity = false;
                }
            } else {
                $("#Validate" + type + "FirstName").html("<i></i>");
            }

            if (lname == "") {
                $("#Validate" + type + "LastName").html("<font color='red'>Field is required</font>");
                if (validity) {
                    validity = false;
                }
            } else {
                $("#Validate" + type + "LastName").html("<i></i>");
            }

            if (dob == "") {
                $("#Validate" + type + "DOB").html("<font color='red'>Field is required</font>");
                if (validity) {
                    validity = false;
                }
            } else {
                $("#Validate" + type + "DOB").html("<i></i>");
            }


            if (regstatus == "") {
                $("#Validate" + type + "RegStatus").html("<font color='red'>Field is required</font>");
                if (validity) {
                    validity = false;
                }
            } else {
                $("#Validate" + type + "RegStatus").html("<i></i>");
            }

            if (qualification == "") {
                $("#Validate" + type + "Qualification").html("<font color='red'>Field is required</font>");
                if (validity) {
                    validity = false;
                }
            } else {
                $("#Validate" + type + "Qualification").html("<i></i>");
            }

            if (duration == "" && Type == "Advisor") {
                $("#Validate" + type + "Duration").html("<font color='red'>Field is required</font>");
                if (validity) {
                    validity = false;
                }
            } else {
                $("#Validate" + type + "Duration").html("<i></i>");
            }
        } else {
            if (orgname == "") {
                $("#Validate" + type + "OrgName").html("<font color='red'>Field is required</font>");
                if (validity) {
                    validity = false;
                }
            } else {
                $("#Validate" + type + "OrgName").html("<i></i>");
            }
        }
        if (validity == false) {
            return false;
        } else {
            if (type == "Common") {
                AddCommonNamedParty(event, '#CommonNamedPartyTabs3', '#CommonNamedParties','CommonNamedPartyTabs1');
            } else {
                EditCommonNamedParty(event, '#CommonNamedPartyTabs2', '#CommonNamedParties','CommonNamedPartyTabs1');
            }
        }
    }



    function AddCommonNamedParty(event, tabId, tableId, currenttab) {
        debugger;
        event.preventDefault();
        var informationId = $('#AnswerSheetId').serialize();
        var proddata = $.grep([$(tabId + " :input").serialize(), informationId], Boolean).join("&");
        $.ajax({
            url: '@Url.Action("AddCommonNamedParty", "Services")',
            type: "POST",
            data: proddata
        })
            .done(function (data) {
                SetCurrentTab(currenttab);
                $(tableId).trigger('reloadGrid');
                $(tabId + " :input").val("");
                $('#EditIndividual1').addClass('hidden');
                $('#EditIndividual2').addClass('hidden');
                $('#EditIndividual3').addClass('hidden');
                $('#EditIndividualPrincipal').addClass('hidden');
                $('#EditPrincial6Sec').addClass('hidden');
                $('#EditPrincial8Sec').addClass('hidden');
                $('#EditPrincial12Sec').addClass('hidden');
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                alert("There was an error while trying to Add Common Named Party.");
            });
    };

    function EditCommonNamedParty(event, tabId, tableId, currenttab) {
        debugger;
        event.preventDefault();
        var informationId = $('#AnswerSheetId').serialize();
        var proddata = $.grep([$(tabId + " :input").serialize(), informationId], Boolean).join("&");

        var proddata = proddata ;
        $.ajax({
            url: '@Url.Action("EditCommonNamedParty", "Services")',
            type: "POST",
            data: proddata
        })
            .done(function (data) {
                debugger;
                SetCurrentTab(currenttab);
                $(tableId).trigger('reloadGrid');
                $(tabId + " :input").val("");

            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                alert("There was an error while trying to edit Common Named Party.");
            });
    };


    function SetPrincipalRemovedStatus(PrincipalId, status, sourceTable, destTable) {
        var AnswersheetId = $('#AnswerSheetId').val();
        var postData = {
            'answersheetId': AnswersheetId,
            'principalId': PrincipalId,
            'status': status
        };

        $.ajax({
            url: '@Url.Action("SetPrincipalRemovedStatus", "Services")',
            type: "Post",
            data: postData
        })
            .done(function (data) {
                if (data === true) {
                    $(sourceTable).trigger('reloadGrid');
                    $(destTable).trigger('reloadGrid');
                }
            });
    }
</script>

