@model DealEngine.WebUI.Models.InformationViewModel

    <form id="FAPViewModel" class="is-valid" data-accordianId="FAP">
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="hastraditionallicence" class="label required">
                        Are you coming under NZFSG/Loan Market's Transitional Licence?
                    </label>
                </div>
                <div class="col-3">
                    <select id="hastraditionallicence" name="FAPViewModel.HasTraditionalLicenceOptions" class="custom-select form-select" data-rule="FABConditional" data-item="FAB.HasAdvisersOptions,FAB.HasAdditionalTraditionalLicenceOptions" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.FAPViewModel.HasTraditionalLicenceOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div id="FAB.HasAdvisersOptions" hidden>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="hasadvisers" class="label required">
                            Please select from the following options
                        </label>
                    </div>
                    <div class="col-3">
                        <select id="hasadvisers" name="FAPViewModel.HasAdvisersOptions" class="custom-select form-select" onchange="OnChange(this.id, this.name)" required>
                            @foreach (var option in Model.FAPViewModel.HasAdvisersOptions)
                            {
                                <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div id="FAB.HasAdditionalTraditionalLicenceOptions" hidden>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="hasadditionaltraditionallicence" class="label required">
                            Please select from the following options
                        </label>
                    </div>
                    <div class="col-3">
                        <select id="hasadditionaltraditionallicence" name="FAPViewModel.HasAdditionalTraditionalLicenceOptions" class="form-select custom-select" onchange="OnChange(this.id, this.name)" required>
                            @foreach (var option in Model.FAPViewModel.HasAdditionalTraditionalLicenceOptions)
                            {
                                <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
