@model DealEngine.WebUI.Models.InformationViewModel

    <form id="PIViewModel" class="is-valid" data-accordianId="Professional Indemnity">
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="revenueinsuredcontractors" class="label required">
                        How much of the revenue relates to services provided on behalf of the Insured (You) by Contractors?
                    </label>
                </div>
                <div class="col-3">
                    @Html.TextBoxFor(m => m.PIViewModel.RevenueInsuredContractors, new { @class = "form-control", @id = "revenueinsuredcontractors", @type = "number", onchange = "OnChange(this.id, this.name)", @required = ""})
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="contrctagreestdterm" class="label">
                        Do you have standard terms upon which you supply your professional services?	
                    </label>
                </div>
                <div class="col-3">
                    <select id="hasstandardtermsservices" name="PIViewModel.HasStandardTermsServicesOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.PIViewModel.HasStandardTermsServicesOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div id="PIViewModel.HasStandardTermsServicesOptions" hidden>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="" class="label cgmodalLabel">
                            If Yes, please email copies of any liability exclusion clauses, disclaimers or hold harmless provisions to your broker.	
                        </label>
                    </div>
                </div>
            </div>
        </div>       
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="contrctagreeharmprov" class="label required">
                        Will you or have you entered into contracts with hold harmless provisions which provide that you will indemnify the other party against all claims or demands?
                    </label>
                </div>
                <div class="col-3">
                    <select id="hascontractharmprov" name="PIViewModel.HasHarmProvOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.PIViewModel.HasHarmProvOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div id="PIViewModel.HasHarmProvOptions" hidden>
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label for="contrctagreeharmprovdetails" class="label cgmodalLabel required">
                            If Yes , please provide details:
                        </label>
                    </div>
                    <div class="col-3">
                        @Html.TextBoxFor(m => m.PIViewModel.ContrctAgreeHarmProvDetails, new { @class = "form-control", @id = "contrctagreeharmprovdetails", @type = "text", onchange = "OnChange(this.id, this.name)", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-12">
                    <label for="contrctagreeindependents" class="label cgmodalLabel">
                        When engaging independent consultants or contractors, do you ensure those consultants / contractors:
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="contrctagreeindependentspi" class="label required">
                        Maintain their own professional indemnity insurance?
                    </label>
                </div>
                <div class="col-3">
                    <select id="hasindependentspi" name="PIViewModel.HasIndependentsPIOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.PIViewModel.HasIndependentsPIOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-9">
                    <label for="contrctagreeindependentsbound" class="label required">
                        Are bound by contract to accept full responsibility for their own actions?  
                    </label>
                </div>
                <div class="col-3">
                    <select id="hasindependentsbound" name="PIViewModel.HasIndependentsBoundOptions" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                        @foreach (var option in Model.PIViewModel.HasIndependentsBoundOptions)
                        {
                            <option selected="@option.Selected" value="@option.Value">@option.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </form>
