@model DealEngine.WebUI.Models.InformationViewModel
@using System.Linq

<div class="padding-10">
    <div id="proposalcreate-form" class="smart-form" novalidate="novalidate">

        @*@tabs.Tab("List All")
            @tabs.Tab("Edit")
            @tabs.Tab("Add")*@
        <div id="PMINZNamedPartiestabs">
            <ul id="tab" class="nav nav-tabs">
                <li class="nav nav-tabs active"> <a href="#PMINZNamedPartyTabs1"> List All </a> </li>
                <li class="nav nav-tabs"> <a href="#PMINZNamedPartyTabs2"> Edit </a> </li>
                <li class="nav nav-tabs"> <a href="#PMINZNamedPartyTabs3"> Add </a> </li>
                <li class="nav nav-tabs PMINZPrincipalRemoved"> <a href="#PMINZNamedPartyTabs4"> Removed </a> </li>

            </ul>

            <div id="PMINZNamedPartyTabs1" class="tab-content">
                <fieldset>
                    <div class="row">
                        <section class="col col-xs-12">
                            @*<script src="~/jquery/jquery.min.js"></script>*@
                            <script type="text/javascript">
                                $(window).on('load',function () {
                            $("#PMINZNamedParties").jqGrid({
                                url: "/Services/GetPminzNamedParties?informationId=@Model.AnswerSheetId&validated=true&removed=false&ceased=false",
						        datatype: "xml",
                                mtype: "GET",
                                async: true,
                                colNames: ["","Organisation Name","Organisation Type",""],
                                colModel: [
                                    {
                                        name: "update", align: 'center', search: false, formatter: function (cellvalue, options, rowobject) {
                                            return ('<button onclick="EditPMINZNamedParties(\'bu\', \'' + cellvalue + '\'); SetCurrentTab(\'PMINZNamedPartyTabs2\');" type="button" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></button>' );
                                        }
                                    },
                                    { name: "OrganisationName", align: 'center' },
                                    { name: "OrganisationType", align: 'center' },
                                    {
                                         name: "update", align: 'center', width: 120, search: false, formatter: function (cellvalue, options, rowobject) {

                                                        return ('<button onclick="SetPMINZNamedPartyRemovedStatus(\'' + cellvalue + '\', \'true\', \'#PMINZNamedParties\', \'#tblPMINZRemovedPrincipalDirectors\');" type="button"  class=" btn btn-danger btn-sm" id="trash"><span class="fa fa-trash"></span></button>');
                                         }
                                     }

								],
						        autowidth: true,
                                pager: "#pagerPMINZNamedParty",
						        rowNum: 10,
						        rowList: [10, 20, 30],
                                sortname: "Name",
						        sortorder: "desc",
						        viewrecords: true,
						        gridview: true,
						        autoencode: true
						    });
						    $("#PMINZNamedParties").jqGrid('navGrid',
						    	'#pagerPMINZNamedParty',
						    	{edit: false, add: false, del: false},
						    	//options
						    	{height:280,reloadAfterSubmit:false},
						    	// edit options
						    	{height:280,reloadAfterSubmit:false},
						    	// add options
						    	{reloadAfterSubmit:false},
						    	// del options
						    	{sopt:['eq','bw','cn']}
						    	// search options
						    );
						});
                            </script>
                            <table id="PMINZNamedParties"><tr><td></td></tr></table>
                            <div id="PMINZNamedParty"></div>
                        </section>
                    </div>
                </fieldset>
            </div>
            <div id="PMINZNamedPartyTabs2" class="tab-content">
                <fieldset id="fieldset">
                    <input id="PMINZNamedPartyOrganisationId" class="b" name="ID" type="hidden">
                    <!-- 1st row -->
                    @*<div class="row">*@
                    <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 OwnerSec" id="PMINZPartyNamesec" style="display:none">
                        <label class="label required">Parties to be insured (i.e. Applicant Name including any company or trading  entity names): Name</label>
                        <label class="input">
                            <i></i>
                            <input data-type="TEXTBOX" data-name="OrganisationName" id="PMINZPartyName" name="PartyName" placeholder="Name" value="">
                        </label>
                        <p class="validationContainer" id="validatePMINZPartyName"></p>

                    </section>


                    <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 nonOwnerSec">
                        <label class=" label required">Type</label>
                        <label class="input">
                            <select id="PMINZType" onchange="EditPMINZTypeSelected('PMINZType')" class="b form-select" name="Type">
                                <option selected="selected" value="">-- Select --</option>
                                <option value="project management personnel">Project Personnel</option>
                                <option value="Subsidiary">Subsidiary</option>
                                <option value="PreviousConsultingBusiness">Previous Consulting Business</option>
                                <option value="Mergers">Mergers</option>
                                <option value="JointVenture">Joint Venture</option>
                                <option value="MajorShareHolder">Major Share Holder</option>


                            </select>
                        </label>
                        <p class="validationContainer" id="ValidatePMINZType"></p>

                    </section>

                    <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 EditNonProjectPersonnel PMINZOrganisationTypesec">
                        <label class=" label required nonOwnerSec ">Organisation Type</label>
                        <label class="input">
                            <select id="PMINZOrganisationType" onchange="EditPMINZOrgTyprselected('PMINZOrganisationType')" class="b form-select" name="OrganisationTypeName">
                                <option selected="selected" value="">-- Select --</option>
                                <option value="Person - Individual">Private/Soletrader</option>
                                <option value="Corporation – Limited liability">Limited Liability Company</option>
                                <option value="Trust">Trust</option>
                                <option value="Partnership">Partnership</option>

                            </select>
                        </label>
                        <p class="validationContainer" id="ValidatePMINZOrganisationType"></p>

                    </section>

                    <div id="EditNonProjectPersonnelSec" class="hidden OwnerSec  nonprivateorgtypesec">

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">Organisation Name</label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="sharedOrgName" id="PMINZOrgName" name="OrganisationName" placeholder="Organisation Name" value="">
                            </label>
                            <p class="validationContainer" id="ValidatePMINZOrgName"></p>
                        </section>
                    </div>

                    <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden nonOwnerSec privateorgtypesec" id="firstnamesec">
                        <label class="label required">First name:</label>
                        <label class="input">
                            <i></i>
                            <input data-type="TEXTBOX" data-name="FirstName" id="PMINZFirstName" name="FirstName" placeholder="First Name" value="">
                        </label>
                        <p class="validationContainer" id="validatePMINZFirstName"></p>

                    </section>
                    <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden nonOwnerSec privateorgtypesec" id="lastnamesec">
                        <label class="label required">Last name:</label>
                        <label class="input">
                            <i></i>
                            <input data-type="TEXTBOX" data-name="LastName" id="PMINZLastName" name="LastName" placeholder="Last Name" value="">
                        </label>
                        <p class="validationContainer" id="validatePMINZLastName"></p>

                    </section>

                    <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden OwnerSec privateorgtypesec ProjectPersonnelSec">
                        <label class="label required">Email:</label>
                        <label class="input">
                            <i></i>
                            <input data-type="TEXTBOX" data-name="Email" id="PMINZEmail" name="Email" placeholder="E-mail" value="">
                        </label>
                        <p class="validationContainer" id="validatePMINZEmail"></p>

                    </section>

                    <div class="nonOwnerSec ProjectPersonnelSec hidden">
                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3><b>Project Management Personnel</b></h3>
                        </section>

                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label>Please list all project managers, including all directors, employees and contractors, and provide PMI membership details for each (complete all fields marked with a * for each row):</label>
                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label">Qualifications:</label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="Qualifications" id="PMINZQualifications" name="Qualifications" placeholder="Qualifications" value="">
                            </label>
                            <p class="validationContainer" id="validatePMINZQualifications"></p>

                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label">Professional Affiliations:</label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="ProfAffiliation" id="PMINZProfAffiliation" name="ProfAffiliation" placeholder="Professional Affiliations" value="">
                            </label>
                            <p class="validationContainer" id="validatePMINZProfAffiliation"></p>

                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label">Job title:</label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="JobTitle" id="PMINZJobTitle" name="JobTitle" placeholder="Job Title Name" value="">
                            </label>
                            <p class="validationContainer" id="validatePMINZJobTitle"></p>

                        </section>


                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">Relation to insured entity:</label>

                            <label class="input w100">
                                <select class="oper form-select" onchange="EditInsuredEntity('PMINZInsuredEntity')" id="PMINZInsuredEntity" name="InsuredEntityRelation" required>
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="Director">Director</option>
                                    <option value="Employee">Employee</option>
                                    <option value="Contractor">Contractor</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="validatePMINZInsuredEntity"></p>

                        </section>

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6" id="isContractorInsuredsec" style="display:none">
                            <label class="label required">Does this contractor carry their own insurance ? </label>

                            <label class="input w100">
                                <select class="oper form-select" onchange="ContractorInsuredSelected('PMINZIsContractorInsured')" id="PMINZIsContractorInsured" name="IsContractorInsured" required>
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="validatePMINZIsContractorInsured"></p>

                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6" id="isInsuredrequiredsec" style="display:none">
                            <label class="label required">Does this contractor require to be insured under this policy ? </label>

                            <label class="input w100">
                                <select class="oper form-select" id="PMINZIsInsuredRequired" name="IsInsuredRequired" required>
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="validatePMINZIsInsuredRequired"></p>

                        </section>

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">Do you have a current membership (i.e. not expired)? :</label>

                            <label class="input w100">
                                <select class="oper form-select" onchange="EditCurrentmembership('PMINZCurrentMembership')" id="PMINZCurrentMembership" name="IsCurrentMembership" required>
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="validatePMINZCurrentMembership"></p>

                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="EditPMImembershipnoSec">
                            <label class="label required">PMI membership no:</label>

                            <label class="input w100">
                                <input data-type="TEXTBOX" data-name="CurrentMembershipNo" id="PMINZCurrentMembershipNo" name="CurrentMembershipNo" placeholder="Current Membership No" value="">

                            </label>
                            <p class="validationContainer" id="validatePMINZCurrentMembershipNo"></p>

                        </section>


                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">Certification Type: </label>

                            <label class="input w100">
                                <select class="oper form-select" id="PMINZCertType" name="CertType" required>
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="Ordinary">Ordinary/Non Member</option>
                                    <option value="PMP">PMP</option>
                                    <option value="CAPM">CAPM</option>
                                    <option value="ProjectDirector">Project Director</option>

                                </select>
                            </label>
                            <p class="validationContainer" id="validatePMINZCertType"></p>

                        </section>

                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <input type="checkbox" id="PMINZProjectDirector" name="MajorShareHolder" value="true"> Tick here if this party owns 10% or more of the insured's issued shares<br>

                            </section>

                        </section>

                    </div>

                    @*</div>*@


                    <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <button onclick="ValidatePMINZAddNamedParty(event, '#PMINZNamedPartyTabs2', '#PMINZNamedParties', 'PMINZNamedPartyTabs1','PMINZ')" class="btn-sm AddupdateBoat" id="updateBoat">Update</button>
                        <button onclick="ClearBoats(event,'#PMINZNamedPartyTabs2','PMINZNamedPartyTabs1')" class="btn-sm AddClearBoat" id="ClearBoat">Cancel Update</button>
                    </section>


                    @*<div class="row" id="update">
                            <section class="col col-xs-12">
                                <button onclick="EditPMINZNamedParty(event, '#PMINZNamedPartyTabs2', '#PMINZNamedParties', 'PMINZNamedPartyTabs1')" class="btn-sm AddupdateBoat" id="updateBoat">Update</button>
                                <button onclick="ClearBoats(event,'#PMINZNamedPartyTabs2','PMINZNamedPartyTabs1')" class="btn-sm AddClearBoat" id="ClearBoat">Cancel Update</button>

                            </section>
                        </div>*@

                </fieldset>
            </div>
            <div id="PMINZNamedPartyTabs3" class="tab-content">
                <fieldset id="fieldset">
                    <input id="AddPMINZNamedPartyOrganisationId" class="b" name="ID" type="hidden">
                    <!-- 1st row -->
                    @*<div class="row">*@
                    <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <label class=" label required">Type</label>
                        <label class="input">
                            <select id="AddPMINZType" onchange="AddPMINZTypeSelected('AddPMINZType')" class="b form-select" name="Type">
                                <option selected="selected" value="">-- Select --</option>
                                <option value="project management personnel">Project Personnel</option>
                                <option value="Subsidiary">Subsidiary</option>
                                <option value="PreviousConsultingBusiness">Previous Consulting Business</option>
                                <option value="Mergers">Mergers</option>
                                <option value="JointVenture">Joint Venture</option>
                                <option value="MajorShareHolder">Major Share Holder (Not being a PM)</option>


                            </select>
                        </label>
                        <p class="validationContainer" id="ValidateAddPMINZType"></p>

                    </section>

                    <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 NonProjectPersonnelSec">
                        <label class=" label required">Organisation Type</label>
                        <label class="input">
                            <select id="AddPMINZOrgTypeName" onchange="AddOrgTypeSelected('AddPMINZOrgTypeName')" class="b form-select" name="OrganisationTypeName">
                                <option selected="selected" value="">-- Select --</option>
                                <option value="Person - Individual">Private/Soletrader</option>
                                <option value="Corporation – Limited liability">Limited Liability Company</option>
                                <option value="Trust">Trust</option>
                                <option value="Partnership">Partnership</option>

                            </select>
                        </label>
                        <p class="validationContainer" id="validateAddPMINZOrgTypeName"></p>

                    </section>


                    <div id="NonProjectPersonnelSec" class="hidden">

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">Organisation Name</label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="sharedOrgName" id="AddPMINZOrgName" name="OrganisationName" placeholder="Organisation Name" value="" >
                            </label>
                            <p class="validationContainer" id="validateAddPMINZOrgName"></p>
                        </section>
                    </div>

                    <div id="OrganisationTypeNameSec" class="hidden">
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6" id="Addfirstnamesec">
                            <label class="label required">First name:</label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="FirstName" id="AddPMINZFirstName" name="FirstName" placeholder="First Name" value="" >
                            </label>
                            <p class="validationContainer" id="validateAddPMINZFirstName"></p>

                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6" id="Addlastnamesec">
                            <label class="label required">Last name:</label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="LastName" id="AddPMINZLastName" name="LastName" placeholder="Last Name" value="" >
                            </label>
                            <p class="validationContainer" id="validateAddPMINZLastName"></p>

                        </section>
                    </div>
                  

                    <div id="ProjectPersonnelSec" class="hidden">

                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h3><b>Project Management Personnel</b></h3>
                        </section>

                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label>Please list all project managers, including all directors, employees and contractors, and provide PMI membership details for each (complete all fields marked with a * for each row):</label>
                        </section>


                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label ">Qualifications:</label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="Qualifications" id="AddPMINZQualifications" name="Qualifications" placeholder="Qualifications" value="">
                            </label>
                            <p class="validationContainer" id="validateAddPMINZQualifications"></p>

                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label ">Professional Affiliations:</label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="ProfAffiliation" id="AddPMINZProfAffiliation" name="ProfAffiliation" placeholder="Professional Affiliations" value="">
                            </label>
                            <p class="validationContainer" id="validateAddPMINZProfAffiliation"></p>

                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label ">Job title:</label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="JobTitle" id="AddPMINZJobTitle" name="JobTitle" placeholder="Job Title Name" value="">
                            </label>
                            <p class="validationContainer" id="validateAddPMINZJobTitle"></p>

                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">Email:</label>
                            <label class="input">
                                <i></i>
                                <input data-type="TEXTBOX" data-name="Email" id="AddPMINZEmail" name="Email" placeholder="E-mail" value="" required>
                            </label>
                            <p class="validationContainer" id="validateAddPMINZEmail"></p>

                        </section>

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">Relation to insured entity:</label>

                            <label class="input w100" required>
                                <select class="oper form-select" onchange="AddEditInsuredEntity('AddPMINZInsuredEntity')" id="AddPMINZInsuredEntity" name="InsuredEntityRelation">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="Director">Director</option>
                                    <option value="Employee">Employee</option>
                                    <option value="Contractor">Contractor</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="validateAddPMINZInsuredEntity"></p>

                        </section>

                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6" id="AddisContractorInsuredsec" style="display:none" required>
                            <label class="label required">Does this contractor carry their own insurance ? </label>

                            <label class="input w100" required>
                                <select class="oper form-select" onchange="AddContractorInsuredSelected('AddPMINZIsContractorInsured')" id="AddPMINZIsContractorInsured" name="IsContractorInsured">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="validateAddPMINZIsContractorInsured"></p>

                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6" id="AddisInsuredrequiredsec" style="display:none">
                            <label class="label required">Does this contractor require to be insured under this policy ? </label>

                            <label class="input w100" required>
                                <select class="oper form-select" id="AddPMINZIsInsuredRequired" name="IsInsuredRequired">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="validateAddPMINZIsInsuredRequired"></p>

                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">Do you have a current PMI membership (i.e. not expired)? :</label>

                            <label class="input w100" required>

                                <select class="oper form-select" onchange="Currenmembership('AddPMINZIsCurrentMembership')" id="AddPMINZIsCurrentMembership" name="IsCurrentMembership">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="validateAddPMINZIsCurrentMembership"></p>

                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden" id="PMImembershipnoSec">
                            <label class="label required">PMI membership no:</label>

                            <label class="input w100">
                                <input data-type="TEXTBOX" data-name="CurrentMembershipNo" id="AddPMINZCurrentMembershipNo" name="CurrentMembershipNo" placeholder="Current Membership No" value="" >

                            </label>
                            <p class="validationContainer" id="validateAddPMINZCurrentMembershipNo"></p>

                        </section>


                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">PMI Certification Type: </label>

                            <label class="input w100" required>
                                <select class="oper form-select" id="AddPMINZCertType" name="CertType">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="Ordinary">Ordinary/Non Member</option>
                                    <option value="PMP">PMP</option>
                                    <option value="CAPM">CAPM</option>
                                    <option value="ProjectDirector">Project Director</option>

                                </select>
                            </label>
                            <p class="validationContainer" id="validateAddPMINZCertType"></p>

                        </section>

                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <input type="checkbox" id="AddPMINZProjectDirector" name="MajorShareHolder" value="true"> Tick here if this party owns 10% or more of the insured's issued shares<br>

                            </section>

                        </section>

                    </div>

                    <br />



                    <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <p class="validationContainer" id="validatenamedparty"></p>
                        <button onclick="ValidatePMINZAddNamedParty(event,'#PMINZNamedPartyTabs3', '#PMINZNamedParties','PMINZNamedPartyTabs1','AddPMINZ')" class="btn-sm AddupdateBoat" id="updateBoat">Add</button>
                        @*<button onclick="ValidatePMINZAddNamedParty(event,'#PMINZNamedPartyTabs3', '#PMINZNamedParties','PMINZNamedPartyTabs1','AddPMINZ')" class="btn-sm AddupdateBoat" id="updateBoat">Add</button>*@
                        <button onclick="ClearBoats(event,'#PMINZNamedPartyTabs3','PMINZNamedPartyTabs1')" class="btn-sm AddClearBoat" id="ClearNamedParty">Cancel Add</button>
                    </section>

                </fieldset>
            </div>
            <div id="PMINZNamedPartyTabs4" class="tab-content">

                <fieldset>
                    <div class="row">
                        <section class="col col-xs-12">
                            <script type="text/javascript">
                                 $(".PMINZPrincipalRemoved").click(function () {
                               $("#tblPMINZRemovedPrincipalDirectors").jqGrid({
                                url: "/Services/GetDeletedPartners?informationId=@Model.AnswerSheetId&validated=true&removed=true&ceased=false",
                                datatype: "xml",
                                   mtype: "GET",
                                async: true,
                                   colNames: ["","Organisation Name", "Organisation Type"],
                                    colModel: [

                                    {
                                        name: "update", align: 'center' ,width: 60, search: false, formatter: function (cellvalue, options, rowobject) {/*{ class=" btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash*/
                                            return '<button onclick="SetPMINZNamedPartyRemovedStatus(\'' + cellvalue + '\', \'false\', \'#tblPMINZRemovedPrincipalDirectors\', \'#PMINZNamedParties\');" type="button" class=" btn btn-success btn-sm" ><i class="fa fa-undo"></i></button>';

                                        }
                                    },
                                     { name: "OrganisationName", align: 'center' },
                                    { name: "OrganisationType", align: 'center' },
                                   ],
                                autowidth: true,
                                pager: "#PMINZRemovedpagerNamedParty",
                                rowNum: 10,
                                rowList: [10, 20, 30],
                                sortname: "OrganisationName",
                                sortorder: "desc",
                                viewrecords: true,
                                gridview: true,
                                autoencode: true
                            });
                            $("#tblPMINZRemovedPrincipalDirectors").jqGrid('navGrid',
                                '#PMINZRemovedpagerNamedParty',
                                { edit: false, add: false, del: false },
                                //options
                                { height: 280, reloadAfterSubmit: false },
                                // edit options
                                { height: 280, reloadAfterSubmit: false },
                                // add options
                                { reloadAfterSubmit: false },
                                // del options
                                { sopt: ['eq', 'bw', 'cn'] }
                                // search options
                                 );
                                });
                            </script>
                            <table id="tblPMINZRemovedPrincipalDirectors"><tr><td></td></tr></table>
                            <div id="PMINZRemovedpagerNamedParty"></div>
                        </section>
                    </div>
                </fieldset>
            </div>

        </div>
    </div>
</div>



<script type="text/javascript">


      function EditPMINZTypeSelected(typeselected) {
        var addTypeselected = document.getElementById(typeselected);
        if (addTypeselected.options[addTypeselected.selectedIndex].value == "project management personnel") {
            debugger;
            $('.OwnerSec ').addClass('hidden');
            $('.EditNonProjectPersonnel ').addClass('hidden');
            $('.nonOwnerSec').removeClass('hidden');
            $('.ProjectPersonnelSec').removeClass('hidden');
            $('.privateorgtypesec').removeClass('hidden');

        } else {
            $('.OwnerSec ').removeClass('hidden');
           $('.ProjectPersonnelSec ').addClass('hidden');
           $('.privateorgtypesec').addClass('hidden');
            $('.EditNonProjectPersonnel ').removeClass('hidden');
            $("EditProjectPersonnelSec :input").val(""); //Clears form
        }
    }

    function EditPMINZOrgTyprselected(typeselected) {
        var addTypeselected = document.getElementById(typeselected);
        var jhj = addTypeselected.options[addTypeselected.selectedIndex].value;
        if (addTypeselected.options[addTypeselected.selectedIndex].value == "Person - Individual") {
            debugger;
            $('.nonprivateorgtypesec ').addClass('hidden');
            $('.privateorgtypesec ').removeClass('hidden');

        } else {

               $('.privateorgtypesec ').addClass('hidden');
               $('.EditNonProjectPersonnel ').removeClass('hidden');
               $('.nonprivateorgtypesec ').removeClass('hidden');
               $("EditProjectPersonnelSec :input").val(""); //Clears form

         }
     }


     function Currenmembership(typeselected) {
        var addTypeselected = document.getElementById(typeselected);
        var jhj = addTypeselected.options[addTypeselected.selectedIndex].value;
        if (addTypeselected.options[addTypeselected.selectedIndex].value == "true") {
            debugger;
            $('#PMImembershipnoSec').removeClass('hidden');

        } else {
            $('#PMImembershipnoSec').addClass('hidden');
            $("AddPMINZCurrentMembershipNo :input").val(""); //Clears form
        }
    }

    function EditCurrentmembership(typeselected) {
        var addTypeselected = document.getElementById(typeselected);
        var jhj = addTypeselected.options[addTypeselected.selectedIndex].value;


        if (addTypeselected.options[addTypeselected.selectedIndex].value == "true") {
            debugger;
            $('#EditPMImembershipnoSec').removeClass('hidden');

        } else {
            $('#EditPMImembershipnoSec').addClass('hidden');
            $("PMINZCurrentMembershipNo :input").val(""); //Clears form
        }
      }

     function AddOrgTypeSelected(typeselected) {
        debugger;
         var addTypeselected = document.getElementById(typeselected);
         if ($('#AddPMINZType').val() == "project management personnel") {
             $('#ProjectPersonnelSec').removeClass('hidden');

         } else {
             $('#ProjectPersonnelSec').addClass('hidden');
         }

         if (addTypeselected.options[addTypeselected.selectedIndex].value == "Person - Individual") {

               debugger;
               $('#OrganisationTypeNameSec').removeClass('hidden');
               $('#NonProjectPersonnelSec').addClass('hidden');
               $('#AddPMINZOrgName').val('');

             } else {

               $('#NonProjectPersonnelSec').removeClass('hidden');
               $('#OrganisationTypeNameSec').addClass('hidden');

           }


    }

       
    function AddPMINZTypeSelected(typeselected) {
        debugger;
        var addTypeselected = document.getElementById(typeselected);
        $("#AddPMINZOrgTypeName").val("");

        if (addTypeselected.options[addTypeselected.selectedIndex].value == "project management personnel") {
            debugger;
            $('#ProjectPersonnelSec').removeClass('hidden');
            $('#NonProjectPersonnelSec').addClass('hidden');
            $('.NonProjectPersonnelSec').addClass('hidden');
            $('#OrganisationTypeNameSec').removeClass('hidden');
            $('#AddPMINZOrgName').val('');

        } else {
            $('.NonProjectPersonnelSec').removeClass('hidden');
            $('#OrganisationTypeNameSec').addClass('hidden');
            $('#ProjectPersonnelSec').addClass('hidden');
            $('#NonProjectPersonnelSec').removeClass('hidden');
            //$("ProjectPersonnelSec :input").val(""); //Clears form
            $('#AddPMINZFirstName').val('');
            $('#AddPMINZLastName').val('');

        }
    }


    function EditPMINZNamedParties(classId, PMINZNamedPartyId) {
        debugger;
        event.preventDefault();
        var _sheetId = $('#AnswerSheetId').val();
        var postData = {
		'partyID': PMINZNamedPartyId,
            'answerSheetId': _sheetId
        };
        $.ajax({
            url: '@Url.Action("GetPMINZNamedParties", "Services")',
            type: "Post",
            data: postData
        })
            .done(function (data) {
                debugger;
                $('#PMINZNamedPartyOrganisationId').val(data.id);

                if (data.type == "Owner") {

                    $('.nonOwnerSec').addClass('hidden');
                    $('.OwnerSec').removeClass('hidden');
                    $('.PMINZOrganisationTypesec').addClass('hidden');
                    
                } else {
                    $('.nonOwnerSec').removeClass('hidden');
                    $('.OwnerSec').addClass('hidden');
                      $('.PMINZOrganisationTypesec').removeClass('hidden');
                }

                 $('#PMINZType').val(data.type);
                 $('#PMINZOrganisationType').val(data.organisationTypeName);
                 $('#PMINZProfaffiliationdetails').val(data.affiliationdetails);
                 $('#PMINZFirstName').val(data.firstName);
                 $('#PMINZLastName').val("" + data.lastName);
                 $('#PMINZQualifications').val(data.qualifications);
                 $('#PMINZEmail').val(data.email);
                 $('#PMINZJobTitle').val(data.jobTitle);
                 $('#PMINZInsuredEntity').val(data.insuredEntityRelation);
                 $('#PMINZProfAffiliation').val(data.profAffiliation);
                 $('#PMINZPMICert').val(""+data.pmiCert);
                 $('#PMINZCertType').val(data.certType);
                 $('#PMINZCurrentMembership').val(""+data.isCurrentMembership);
                $('#PMINZCurrentMembershipNo').val(data.currentMembershipNo);
                 $('#PMINZOrgName').val(data.organisationName);



                    if (data.insuredEntityRelation == "Contractor") {
                     debugger;
                        $('#isContractorInsuredsec').show();
                        $('#PMINZIsContractorInsured').val(""+data.isContractorInsured);
                        $('#PMINZIsInsuredRequired').val(""+data.isInsuredRequired);
                        $('#PMINZIsContractorInsured').val(""+data.isContractorInsured);

                     } else {
                       $('#isContractorInsuredsec').hide();
                        $('#isInsuredrequiredsec').hide();
                        $('#PMINZIsContractorInsured').val("");
                        $('#PMINZIsInsuredRequired').val("");
                        $('#PMINZIsContractorInsured').val("");
                    };
                     if (!data.isContractorInsured && data.insuredEntityRelation == "Contractor" ) {
                             debugger;
                         $('#isInsuredrequiredsec').show();
                         //$('#PMINZIsInsuredRequired').val(data.isInsuredRequired);
                     } else {
                         $('#IsInsuredRequiredsec').val('');
                         //$('#IsContractorInsuredsec').val('');
                         //$('#isContractorInsuredsec').hide();
                         $('#isInsuredrequiredsec').hide();
                     };
                     UpdateChosen();


                    if (data.isCurrentMembership) {
                      EditCurrentmembership('PMINZCurrentMembership');
                    };
                if (data.type != "Owner") {
                    EditPMINZOrgTyprselected('PMINZOrganisationType');
                    EditPMINZTypeSelected('PMINZType');
                }

            });
    };

    function EditInsuredEntity(InsuredEntity) {
        var editInsuredEntitySelected = document.getElementById(InsuredEntity);
        var jhj = editInsuredEntitySelected.options[editInsuredEntitySelected.selectedIndex].value;
        if (editInsuredEntitySelected.options[editInsuredEntitySelected.selectedIndex].value == "Contractor") {
            debugger;
            $('#isContractorInsuredsec').show();
            $('#PMINZIsContractorInsured').val('');

        } else {
            $('#IsInsuredRequired').val('');
            $('#IsContractorInsured').val('');
            $('#PMINZIsContractorInsured').val('');

            $('#isContractorInsuredsec').hide();
            $('#isInsuredrequiredsec').hide();

        }
    }

     function ContractorInsuredSelected(IsContractorInsured) {
        var isContractorInsuredselected = document.getElementById(IsContractorInsured);
        if (isContractorInsuredselected.options[isContractorInsuredselected.selectedIndex].value == "false") {
            debugger;
            $('#isInsuredrequiredsec').show();
        } else {
             $('#PMINZIsInsuredRequired').val('');
            //$('#IsContractorInsuredsec').val('');
              //$('#isContractorInsuredsec').hide();
              $('#isInsuredrequiredsec').hide();

        }
    }

     function AddEditInsuredEntity(InsuredEntity) {
        var editInsuredEntitySelected = document.getElementById(InsuredEntity);
        if (editInsuredEntitySelected.options[editInsuredEntitySelected.selectedIndex].value == "Contractor") {
            debugger;
            $('#AddisContractorInsuredsec').show();
            $('#AddPMINZIsContractorInsured').val('');

        } else {
            $('#AddPMINZIsContractorInsured').val('');
            $('#AddisContractorInsuredsec').hide();
            $('#AddisInsuredrequiredsec').hide();

        }
    }

     function AddContractorInsuredSelected(IsContractorInsured) {
        var isContractorInsuredselected = document.getElementById(IsContractorInsured);
        if (isContractorInsuredselected.options[isContractorInsuredselected.selectedIndex].value == "false") {
            debugger;
            $('#AddisInsuredrequiredsec').show();
        } else {
            $('#AddPMINZIsInsuredRequired').val('');
            $('#AddisInsuredrequiredsec').hide();
            //$('#AddisContractorInsuredsec').hide();

        }
    }

    function AddPMINZNamedParty(event, tabId, tableId, currenttab) {
        debugger;
        event.preventDefault();
        var informationId = $('#AnswerSheetId').serialize();
        var proddata = $.grep([$(tabId + " :input").serialize(), informationId], Boolean).join("&");
        $.ajax({
            url: '@Url.Action("AddPMINZNamedParty", "Services")',
            type: "POST",
            data: proddata
        })
            .done(function (data) {
                        debugger;
                SetCurrentTab(currenttab);
                 $(tableId).trigger('reloadGrid');
                $(tabId + " :input").val("");
                $('#IsInsuredRequired').val('');
                $('#IsContractorInsured').val('');
                $('#isContractorInsuredsec').hide();
                $('#isInsuredrequiredsec').hide();

            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                        debugger;
                alert("There was an error while trying to Add PMINZ Named Party.");
            });
    };

    function EditPMINZNamedParty(event, tabId, tableId, currenttab) {
                debugger;
        event.preventDefault();
        var informationId = $('#AnswerSheetId').serialize();
        var proddata = $.grep([$(tabId + " :input").serialize(), informationId], Boolean).join("&");
        $.ajax({
            url: '@Url.Action("EditPMINZNamedParty", "Services")',
            type: "POST",
            data: proddata
        })
            .done(function (data) {
                        debugger;
                SetCurrentTab(currenttab);
                 $(tableId).trigger('reloadGrid');
                $(tabId + " :input").val("");
                $('#IsInsuredRequired').val('');
            $('#IsContractorInsured').val('');
              $('#isContractorInsuredsec').hide();
              $('#isInsuredrequiredsec').hide();

            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                        debugger;
                alert("There was an error while trying to Edit PMINZ Named Party.");
            });
    };

     function SetPMINZNamedPartyRemovedStatus(PrincipalId, status, sourceTable, destTable) {
        var AnswersheetId = $('#AnswerSheetId').val();
        var postData = {
            'answersheetId': AnswersheetId,
            'principalId': PrincipalId,
            'status': status
        };

        $.ajax({
            url: '@Url.Action("SetPrincipalRemovedStatus", "Services")',
            type: "Post",
            data: postData
        })
            .done(function (data) {
                if (data === true) {
                    $(sourceTable).trigger('reloadGrid');
                    $(destTable).trigger('reloadGrid');
                }
            });
    }


     function ValidatePMINZAddNamedParty(event, tabId, tableId, currentTab,type) {
         debugger;
         event.preventDefault();
         var validity = true;
         var validatortype = type;
         
             var pminzType = $('#' + validatortype + 'Type').val();
             var pminzorgType = $('#' + validatortype + 'OrgTypeName').val();
             var pminzfname = $('#' + validatortype + 'FirstName').val();
             var pminzorgname = $('#' + validatortype + 'OrgName').val();
             var pminzlname = $('#' + validatortype + 'LastName').val();
             var pminzemail = $('#' + validatortype + 'Email').val();
             var pminzinsuredentity = $('#' + validatortype + 'InsuredEntity').val();
             var pminziscontractorinsured = $('#' + validatortype + 'IsContractorInsured').val();
             var pminzisinsuredrequired = $('#' + validatortype + 'IsInsuredRequired').val();
             var pminziscurrentmembership = $('#' + validatortype + 'IsCurrentMembership').val();
             var pminzcurrentmembershipno = $('#' + validatortype + 'CurrentMembershipNo').val();
             var pminzcerttype = $('#' + validatortype + 'CertType').val();

         if (pminzType != null) {

             if (pminzType == "") {
                 $("#validate" + type + "Type").html("<font color='red'>Field is required</font>");
                 if (validity) {
                     validity = false;
                 }
             } else {
                 $("#validate" + type + "Type").html("<i></i>");
             }

             if (pminzorgType == "" && pminzType != "project management personnel") {
                 $("#validate" + type + "OrgTypeName").html("<font color='red'>Field is required</font>");
                 if (validity) {
                     validity = false;
                 }
             } else {
                 $("#validate" + type + "OrgTypeName").html("<i></i>");
             }

             if (pminzfname == "" && (pminzorgType == "Person - Individual" || pminzType == "project management personnel")) {
                 $("#validate" + type + "FirstName").html("<font color='red'>Field is required</font>");
                 if (validity) {
                     validity = false;
                 }
             } else {
                 $("#validate" + type + "FirstName").html("<i></i>");
             }

             if (pminzlname == "" && (pminzorgType == "Person - Individual" || pminzType == "project management personnel")) {
                 $("#validate" + type + "LastName").html("<font color='red'>Field is required</font>");
                 if (validity) {
                     validity = false;
                 }
             } else {
                 $("#validate" + type + "LastName").html("<i></i>");
             }


             if (pminzorgname == "" && pminzorgType != "Person - Individual" && pminzType != "project management personnel") {
                 $("#validate" + type + "OrgName").html("<font color='red'>Field is required</font>");
                 if (validity) {
                     validity = false;
                 }
             } else {
                 $("#validate" + type + "OrgName").html("<i></i>");
             }

             if (pminzType == "project management personnel") {
                 if (pminzemail == "") {
                     $("#validate" + type + "Email").html("<font color='red'>Field is required</font>");
                     if (validity) {
                         validity = false;
                     }
                 } else {
                     $("#validate" + type + "Email").html("<i></i>");
                 }


                 if (pminzinsuredentity == "") {
                     $("#validate" + type + "InsuredEntity").html("<font color='red'>Field is required</font>");
                     if (validity) {
                         validity = false;
                     }
                 } else {
                     $("#validate" + type + "InsuredEntity").html("<i></i>");
                 }

                 if (pminziscontractorinsured == "" && pminzinsuredentity == "Contractor") {
                     $("#validate" + type + "IsContractorInsured").html("<font color='red'>Field is required</font>");
                     if (validity) {
                         validity = false;
                     }
                 } else {
                     $("#validate" + type + "IsContractorInsured").html("<i></i>");
                 }

                 if (pminzisinsuredrequired == "" && pminziscontractorinsured == "false") {
                     $("#validate" + type + "IsInsuredRequired").html("<font color='red'>Field is required</font>");
                     if (validity) {
                         validity = false;
                     }
                 } else {
                     $("#validate" + type + "IsInsuredRequired").html("<i></i>");
                 }


                 if (pminziscurrentmembership == "") {
                     $("#validate" + type + "IsCurrentMembership").html("<font color='red'>Field is required</font>");
                     if (validity) {
                         validity = false;
                     }
                 } else {
                     $("#validate" + type + "IsCurrentMembership").html("<i></i>");
                 }

                 if (pminzcurrentmembershipno == "" && pminziscurrentmembership == "true") {
                     $("#validate" + type + "CurrentMembershipNo").html("<font color='red'>Field is required</font>");
                     if (validity) {
                         validity = false;
                     }
                 } else {
                     $("#validate" + type + "CurrentMembershipNo").html("<i></i>");
                 }

                 if (pminzcerttype == "") {
                     $("#validate" + type + "CertType").html("<font color='red'>Field is required</font>");
                     if (validity) {
                         validity = false;
                     }
                 } else {
                     $("#validate" + type + "CertType").html("<i></i>");
                 }
             }
             if (validity == false) {
                 return false;
             } else {
                 if (type == "AddPMINZ") {
                    AddPMINZNamedParty(event, tabId, tableId, currentTab);
                 }
                 else {
                        if (type == "PMINZ")
                    EditPMINZNamedParty(event, tabId, tableId, currentTab);

                 }
             }
         } else {
                 if (pminzorgname == "") {
                     $("#validate" + type + "OrgName").html("<font color='red'>Field is required</font>");
                     if (validity) {
                         validity = false;
                     }
                 } else {
                     $("#validate" + type + "OrgName").html("<i></i>");
                 }

                 if (pminzemail == "") {
                     $("#validate" + type + "Email").html("<font color='red'>Field is required</font>");
                     if (validity) {
                         validity = false;
                     }
                 } else {
                     $("#validate" + type + "Email").html("<i></i>");
                 }

                 if (validity == false) {
                     return false;
                 } else {
                     EditPMINZNamedParty(event, tabId, tableId, currentTab);
                 }
             
         }
      };


    // function ValidfgdatePminznonprojectpersonel() {
    //     debugger;
    //                     event.preventDefault();

    //    $('#ProjectPersonnelSec input:required').each(function() {
    //        if ($(this).val() === '') {
    //            $('#validatenamedparty').html("<font color='red'>Please fill all the fields marked by * </font>");
    //            $(this).css({ "border": "1px solid red" });
    //            return false;
    //        } else {
    //             $(this).css({ "border": "1px solid green" });
    //            return true;
    //        }
    //    });
    //};
</script>


<style>

    .required:after {
        content: " *";
        color: red;
        font-size: 20px;
    }

    .selectuse option {
        background-color: white;
    }
</style>