<script type="text/javascript">
    function OnClick(Method, Type, Id, SheetId) {
        debugger;
        if (Type == "Organisation") {
            $.ajax({
                url: '@Url.Action("GetOrganisation", "Organisation")',
                type: "POST",
                data: { ID: Id, AnswerSheetId: SheetId },
                success: function (Data) {
                    try {
                        var OutPut = JSON.parse(Data);
                        PopulateOrganisationView(Method, OutPut);
                    } catch (e) {
                        debugger;
                    }
                }, error: function (request, error) {
                    debugger;
                }
            });
            EditOrganisation();
        }
    }

    function EditOrganisation() {
        debugger;
        CloneForm("OrganisationTab3", "OrganisationTab2", "OrganisationSubmitBtn", "OrganisationClearButton");
    }

    function RemoveOrganisation(organisationId, AccordionId) {
        var programmeId = document.getElementById("Programme_Id").value;
        var clientInformationId = document.getElementById("AnswerSheetId").value;
        sessionStorage.setItem('accordianTrigger', AccordionId);
        $.ajax({
            url: '@Url.Action("RemoveOrganisation", "Organisation")',
            type: "POST",
            data: { OrganisationId: organisationId, ProgrammeId: programmeId, ClientInformationId: clientInformationId },
            success: function (Data) {
                try {
                    location.reload();
                } catch (e) {
                    debugger;
                }
            }, error: function (request, error) {
                window.alert("There is no User record for this Organisation.");
                debugger;
            }
        });
    }

    function RestoreOrganisation(organisationId, AccordionId) {
        sessionStorage.setItem('accordianTrigger', AccordionId);
        $.ajax({
            url: '@Url.Action("RestoreOrganisation", "Organisation")',
            type: "POST",
            data: { OrganisationId: organisationId },
            success: function (Data) {
                try {
                    location.reload();
                } catch (e) {
                    debugger;
                }
            }, error: function (request, error) {
                debugger;
            }
        });
    }

    function CloneForm(AddTabId, EditTabId, AddButtonId, CancelButtonId) {
    //function CloneForm(AddTabId, EditTabId, AddButtonId, CancelButtonId, ClaimBrokerReferenceFormGroup, ClaimStatusFormGroup, ClaimInsurerReferenceFormGroup) {
        var addTabHTML = document.getElementById(AddTabId);
        var editTabHTML = document.getElementById(EditTabId);
        var form = document.getElementById(addTabHTML.firstElementChild.id);
        var ClaimBrokerReferenceFormGroup = document.getElementById("ClaimBrokerReferenceFormGroup");
        ClaimBrokerReferenceFormGroup.style.display = "block";
        var ClaimStatusFormGroup = document.getElementById("ClaimStatusFormGroup");
        ClaimStatusFormGroup.style.display = "block";
        var ClaimInsurerReferenceFormGroup = document.getElementById("ClaimInsurerReferenceFormGroup");
        ClaimInsurerReferenceFormGroup.style.display = "block";
        var ClaimPaidFormGroup = document.getElementById("ClaimPaidFormGroup");
        ClaimPaidFormGroup.style.display = "block";
        var ClaimReserveFormGroup = document.getElementById("ClaimReserveFormGroup");
        ClaimReserveFormGroup.style.display = "block";
              //var d1 = document.getElementById('ClaimInsurerReferenceFormGroup');
        //d1.insertAdjacentHTML('beforeend', '< div class= "form-group" style = "display:none;" id = "ClaimInsurerReferenceFormGroup" > '+
        //           ' <div class="row">' +
        //    ' <div class="col-6">' +
        //    ' <label for="ClaimInsurerReference" class="label form-label">' +
        //    'Insurer Reference (Read-Only)' +
        //    ' </label>' +
        //    '</div>' +
        //    '<div class="col-6">'
        //    +
        //    ' <input class="form-control cl" type="text" data-type="TEXTBOX" data-name="ClaimPaid" id="ClaimPaid" name="ClaimPaid" placeholder="$ Paid (Read-Only)" readonly="true" value="">

        //    + '</div>' + ' </div>' + '</div>');


        editTabHTML.innerHTML = "";
        var obj = $("#" + form.id).clone();
        $("#" + EditTabId).append(obj);
        form = document.getElementById(editTabHTML.firstElementChild.id);
        addTabHTML.innerHTML = "";
        document.getElementById(AddButtonId).innerText = "Update";
        document.getElementById(CancelButtonId).innerText = "Cancel Update";
        SetCurrentTab(EditTabId);
        var lists = form.getElementsByClassName("chosen-select");
        if (lists != null) {
            for (i = 0; i < lists.length; i++) {
                var chosenList = document.getElementById(lists[i].id);
                chosenList.nextElementSibling.remove();
            }
            $(".chosen-select").chosen({ width: "95%" });

        }
    }

    function ImportValue(Element, Value) {
        if (Element.tagName == "INPUT") {
            if (Element.type == "date") {
                //hardcord date string
                var date = Value.substring(0, 10);
                Element.value = date;
            }
            else {
                Element.value = Value;
            }
        }
        else if (Element.tagName == "SELECT") {
            //debugger;
            for (var o = 0; o < Element.options.length; o++) {
                if (Element.options[o].value == Value.toString()) {
                    Element.options[o].selected = true;
                    break;
                }
            }
        }
    }

    function Cancel(Form, Tab) {
        var ClaimBrokerReferenceFormGroup = document.getElementById("ClaimBrokerReferenceFormGroup");
        ClaimBrokerReferenceFormGroup.style.display = "none";
        var ClaimStatusFormGroup = document.getElementById("ClaimStatusFormGroup");
        ClaimStatusFormGroup.style.display = "none";
        var ClaimInsurerReferenceFormGroup = document.getElementById("ClaimInsurerReferenceFormGroup");
        ClaimInsurerReferenceFormGroup.style.display = "none";
        var ClaimPaidFormGroup = document.getElementById("ClaimPaidFormGroup");
        ClaimPaidFormGroup.style.display = "none";
        var ClaimReserveFormGroup = document.getElementById("ClaimReserveFormGroup");
        ClaimReserveFormGroup.style.display = "none";




        document.getElementById(Form).reset();
        SetCurrentTab(Tab);
    }

    function ResetOrganisation() {
        var form = document.getElementById("organisationViewModel");
        form.reset();
        document.getElementById("HideOrganisationType").hidden = false;
        document.getElementById("HideInsuranceAttribute").hidden = false;
        document.getElementById("Private").hidden = true;
        document.getElementById("Else").hidden = true;
        for (var i = 0; i < form.length; i++) {
            if (form[i].type != "hidden"
                && form[i].tagName != "SELECT") {
                form[i].value = "";
            }
            if (form[i].id == "Organisation.Id") {
                form[i].value = '@System.Guid.Empty';
            }
            if (form[i].id == "User.Id") {
                form[i].value = '@System.Guid.Empty';
            }
            if (form[i].id == "Organisation.OrganisationType") {
                form[i].options[0].selected = true;
            }
            if (form[i].id == "Organisation.InsuranceAttribute") {
                form[i].options[0].selected = true;
            }
            form[i].classList.add('is-up');
            form[i].classList.remove('is-valid');
            form[i].classList.remove('is-invalid');
            form[i].disabled = false;
        }
    }

    function CreateEditLabel(ObjectLabel) {
        var div = document.createElement("div");
        div.setAttribute("class", "form-group");
        var label = document.createElement("label");
        label.innerHTML = "Select a " + ObjectLabel + " from the 'List All' Tab and Click Edit Button";
        div.appendChild(label);
        return div;
    }

    function ResetForm(AddTabId, EditTabId, Object, AddButtonId, CancelButtonId) {
        var editTabHTML = document.getElementById(EditTabId);
        if (editTabHTML.firstElementChild.tagName == "FORM") {
            var form = document.getElementById(editTabHTML.firstElementChild.id);
            var obj = $("#" + form.id).clone();
            $("#" + AddTabId).append(obj);
            editTabHTML.innerHTML = "";
            editTabHTML.appendChild(CreateEditLabel(Object));
            var addTabHTML = document.getElementById(AddTabId);
            form = document.getElementById(addTabHTML.firstElementChild.id);
            var lists = form.getElementsByClassName("chosen-select");
            if (lists != null) {
                for (i = 0; i < lists.length; i++) {
                    var chosenList = document.getElementById(lists[i].id);
                    chosenList.nextElementSibling.remove();
                }
                $(".chosen-select").chosen({ width: "95%" });
            }
        }
        document.getElementById(AddButtonId).innerText = "Add";
        document.getElementById(CancelButtonId).innerText = "Clear and Cancel";
        ResetOrganisation();
    }


    function AddClaim() {
        var form = document.getElementById("ClaimViewModel");
        var formValid = TableFormValidation(form , "claim");
        if (formValid) {
            debugger;
            sessionStorage.setItem('accordianTrigger', 'ClaimNotification');
            $.ajax({
                url: '@Url.Action("AddClaim", "Services")',
                type: "POST",
                data: $("#tab_1 :input").serialize({ json: true }),
                async: false
            })

                .done(function () {
                    //Save the session and reload
                    form.reset();
                    location.reload();
                })
                .fail(function (a, s, d) {
                    debugger;
                });
            console.log(data);
        }
    }

    function AddLocation() {
        var form = document.getElementById("LocationViewModel");
        var formValid = TableFormValidation(form , "location");
        if (formValid) {
            sessionStorage.setItem('accordianTrigger', 'Location');
            $.ajax({
                url: '@Url.Action("AddLocation", "Services")',
                type: "POST",
                data: $("#tab_1 :input").serialize({ json: true }),
                async: false
            })
                .done(function () {
                    //Save the session and reload
                    form.reset();
                    location.reload();
                })
                .fail(function (a, s, d) {
                    debugger;
                });
        }
    }

    function RemoveLocation(Id) {
        sessionStorage.setItem('accordianTrigger', 'Location');
        var postData = { LocationId: Id };
        $.ajax({
            url: '@Url.Action("RemoveLocation", "Services")',
            type: "POST",
            data: postData
        })
            .done(function () {
                //Save the session and reload
                location.reload();
            })
            .fail(function (a, s, d) {
                debugger;
            });
    }

    function RemoveClaimNotification(Id) {
        sessionStorage.setItem('accordianTrigger', 'Notifications');
        var postData = { claimId: Id };
        $.ajax({
            url: '@Url.Action("RemoveClaimNotification", "Services")',
            type: "POST",
            data: postData
        })
            .done(function () {
                //Save the session and reload
                location.reload();
            })
            .fail(function (a, s, d) {
                debugger;
            });
    }

    function RestoreCommonClaim(Id) {
        sessionStorage.setItem('accordianTrigger', 'Notifications');
        var postData = { claimId: Id };
        $.ajax({
            url: '@Url.Action("RestoreClaimNotification", "Services")',
            type: "POST",
            data: postData
        })
            .done(function () {
                //Save the session and reload
                location.reload();
            })
            .fail(function (a, s, d) {
                debugger;
            });
    }

    function RestoreLocation(Id) {
        sessionStorage.setItem('accordianTrigger', 'Location');
        var postData = { LocationId: Id };
        $.ajax({
            url: '@Url.Action("RestoreLocation", "Services")',
            type: "POST",
            data: postData
        })
            .done(function () {
                //Save the session and reload
                location.reload();
            })
            .fail(function (a, s, d) {
                debugger;
            });
    }

    function EditLocation(Id, LocationType, CommonName, Street, City, Country, Suburb, Postcode) {
        event.preventDefault();
        CloneForm("locationtab3", "locationtab2", "LocationAddButton", "LocationCancelButton");
        document.getElementById("LocationId").value = Id;
        document.getElementById("locationtypeoptions").value = LocationType;
        document.getElementById("commonnamedetails").value = CommonName;
        document.getElementById("streetdetails").value = Street;
        document.getElementById("citydetails").value = City;
        document.getElementById("countrydetails").value = Country;
        document.getElementById("suburbdetails").value = Suburb;
        document.getElementById("postcodedetails").value = Postcode;
        SetCurrentTab("locationtab2");
    }

    //function EditClaim(Id, ClaimTitle, ClaimDescription, ClaimReference, ClaimPolicyReference, ClaimInsurerName, ClaimInsuredName, Claimant, ClaimDateOfLoss, ClaimNotifiedDate, ClaimEstimateInsuredLiability, SelectedClaimProducts, SelectedResponsiblePrincipal, ClaimNotes, ClaimBrokerReference, ClaimStatus, ClaimInsurerReference, ClaimPaid, ClaimReserve)
    function EditClaim(Id, ClaimTitle, ClaimDescription, ClaimReference, ClaimPolicyReference, ClaimInsurerName, ClaimInsuredName, Claimant, ClaimDateOfLoss, ClaimNotifiedDate, ClaimEstimateInsuredLiability, SelectedClaimProducts, SelectedResponsiblePrincipal, ClaimNotes, ClaimBrokerReference, ClaimStatus, ClaimInsurerReference, ClaimReserve, ClaimPaid )
    {
        event.preventDefault();
        CloneForm("clTabs3", "clTabs2", "ClaimAddButton", "AddClearBoat");
        document.getElementById("ClaimId").value = Id;
        document.getElementById("ClaimTitle").value = ClaimTitle;
        document.getElementById("ClaimDescription").value = ClaimDescription;
        document.getElementById("ClaimReference").value = ClaimReference;
        document.getElementById("ClaimPolicyReference").value = ClaimPolicyReference;
        document.getElementById("ClaimInsurerName").value = ClaimInsurerName;
        document.getElementById("ClaimInsuredName").value = ClaimInsuredName;
        document.getElementById("Claimant").value = Claimant;
        document.getElementById("ClaimDateOfLoss").value = ClaimDateOfLoss;
        document.getElementById("ClaimNotifiedDate").value = ClaimNotifiedDate.split(' ')[0];
        document.getElementById("ClaimEstimateInsuredLiability").value = ClaimEstimateInsuredLiability;
        document.getElementById("PrimaryPolicyprod").value = SelectedClaimProducts;
        document.getElementById("ResponsiblePrincipal").value = SelectedResponsiblePrincipal;
        document.getElementById("ClaimNotes").value = ClaimNotes;
        document.getElementById("ClaimBrokerReference").value = ClaimBrokerReference;
        document.getElementById("ClaimStatus").value = ClaimStatus;
        console.log("ClaimNotifiedDate = " + ClaimNotifiedDate.split(' ')[0]);
        //d = d.split(' ')[0];

        document.getElementById("ClaimInsurerReference").value = ClaimInsurerReference;
        document.getElementById("ClaimReserve").value = ClaimReserve;

        document.getElementById("ClaimPaid").value = ClaimPaid;
        

        SetCurrentTab("clTabs2");
    }

    function AddProject(SectionName) {
        var form = document.getElementById("ProjectViewModel");
        var formValid = TableFormValidation(form, "project");
        if (formValid) {
            //add section name here
            sessionStorage.setItem('accordianTrigger', SectionName);
            $.ajax({
                url: '@Url.Action("AddProject", "Services")',
                type: "POST",
                data: $("#tab_1 :input").serialize({ json: true }),
                async: false
            })
                .done(function () {
                    //Save the session and reload
                    form.reset();
                    location.reload();
                })
                .fail(function (a, s, d) {
                    debugger;
                });
        }
    }

    function RemoveProject(Id) {
        sessionStorage.setItem('accordianTrigger', 'Projects');
        var postData = { ProjectId: Id };
        $.ajax({
            url: '@Url.Action("RemoveProject", "Services")',
            type: "POST",
            data: postData
        })
            .done(function () {
                //Save the session and reload
                location.reload();
            })
            .fail(function (a, s, d) {
                debugger;
            });
    }

    function RestoreProject(Id) {
        sessionStorage.setItem('accordianTrigger', 'Projects');
        var postData = { ProjectId: Id };
        $.ajax({
            url: '@Url.Action("RestoreProject", "Services")',
            type: "POST",
            data: postData
        })
            .done(function () {
                //Save the session and reload
                location.reload();
            })
            .fail(function (a, s, d) {
                debugger;
            });
    }

    function RestoreResearchHouse(Id) {
        sessionStorage.setItem('accordianTrigger', 'Independent Research');
        var postData = { ProjectId: Id };
        $.ajax({
            url: '@Url.Action("RestoreResearchHouse", "Services")',
            type: "POST",
            data: postData
        })
            .done(function () {
                //Save the session and reload
                location.reload();
            })
            .fail(function (a, s, d) {
                debugger;
            });
    }

    function EditProject(Id, ProjectDescription, Fees, ConstructionValue, ProjectDuration, ProjectYear,
        ProjectTitle, ProjectType, ProjectCountry, ProjectMajorResponsibilities, ProjectResponsibilityData) {

        event.preventDefault();
        CloneForm("projecttab3", "projecttab2", "ProjectAddButton", "ProjectCancelButton");

        document.getElementById("ProjectId").value = Id;
        if (document.getElementById("projectdetails") != null) {
            document.getElementById("projectdetails").value = ProjectDescription;
        }
        if (document.getElementById("projectfees") != null) {
            document.getElementById("projectfees").value = Fees;
        }
        if (document.getElementById("contractdetails") != null) {
            document.getElementById("contractdetails").value = ConstructionValue;
        }
        if (document.getElementById("durationdetails") != null) {
            document.getElementById("durationdetails").value = ProjectDuration;
        }
        if (document.getElementById("projectyear") != null) {
            document.getElementById("projectyear").value = ProjectYear;
        }
        if (document.getElementById("projecttitle") != null) {
            document.getElementById("projecttitle").value = ProjectTitle;
        }
        if (document.getElementById("hascontracttype") != null) {
            document.getElementById("hascontracttype").value = ProjectType;
        }
        if (document.getElementById("projectcountry") != null) {
            document.getElementById("projectcountry").value = ProjectCountry;
        }
        if (document.getElementById("projectmajorresponsibilities") != null) {
            document.getElementById("projectmajorresponsibilities").value = ProjectMajorResponsibilities;
        }

        var array = ProjectResponsibilityData.split(',');
        for (var i = 0; i < array.length; i++) {
            if(document.getElementById("responsibility." + i) != null) {
                var cb = document.getElementById("responsibility." + i);
                if (array[i] == "True") {
                    cb.setAttribute("checked", "true");
                }
            }
        }

        SetCurrentTab("projecttab2");
    }

    function TableFormValidation(Form, SectionName) {
        for (var e = 0; e < Form.length; e++) {
            var element = null;
            try {
                if (Form[e].id != "") {
                    element = document.getElementById(Form[e].id);
                }
            }
            catch (ex) {
                //will have to add further function for forms with added elements
            }
            if (element != null) {
                OnChange(element.id, element.name);
                if ((element.classList.contains("is-invalid") || element.classList.contains("is-up")) && element.hidden == false) {
                    event.preventDefault();
                    event.stopPropagation();
                    window.alert("Please complete "+SectionName+" details");
                    return false;
                }
            }
        }
        return true;
    }

    function EditResearchHouse(Id, ResearchServices, ResearchName) {
        event.preventDefault();
        CloneForm("ResearchHouse3", "ResearchHouse2", "ResearchAddButton", "ResearchHouseCancelButton");

        document.getElementById("ProjectId").value = Id;
        if (document.getElementById("researchName") != null) {
            document.getElementById("researchName").value = ResearchName;
        }
        if (document.getElementById("researchServices") != null) {
            document.getElementById("researchServices").value = ResearchServices;
        }

        SetCurrentTab("ResearchHouse2");
    }

    function AddResearchHouse(SectionName) {
        var form = document.getElementById("ResearchHouseViewModel");
        var formValid = TableFormValidation(form, "Independent Research");
        if (formValid) {
            //add section name here
            sessionStorage.setItem('accordianTrigger', SectionName);
            $.ajax({
                url: '@Url.Action("AddResearchHouse", "Services")',
                type: "POST",
                data: $("#tab_1 :input").serialize({ json: true }),
                async: false
            })
                .done(function () {
                    //Save the session and reload
                    form.reset();
                    location.reload();
                })
                .fail(function (a, s, d) {
                    debugger;
                });
        }
    }
    function RestoreResearchHouse(Id) {
        sessionStorage.setItem('accordianTrigger', 'Projects');
        var postData = { researchHouseId: Id };
        $.ajax({
            url: '@Url.Action("RestoreResearchHouse", "Services")',
            type: "POST",
            data: postData
        })
            .done(function () {
                //Save the session and reload
                location.reload();
            })
            .fail(function (a, s, d) {
                debugger;
            });
    }
    function RemoveTask(Id, URL, Name) {
        var searchParams = URL.split('/').slice(3, 4).join('/').substring(1);
        var parsedParams = parse_query_string(searchParams);

        // #region Better Code when IE goes away - not tested but using URLSearchParams is best
        // IE doesn't like this but we can use once IE is gone next year. :) Can still use old way to get the taskType
        //var url = new URL('http://irrelevant.domain/' + URL);
        //var searchUrl = new URLSearchParams(url);
        //var programmeId = searchUrl.get('ProgrammeId');
        //var organisationId = searchUrl.get('OrganisationId');
        // #endregion

        var postData = { taskId: Id, taskName: Name, programmeId: parsedParams.ProgrammeId, organisationId: parsedParams.OrganisationId };
        $.ajax({
            url: '@Url.Action("RemoveTask", "Milestone")',
            type: "POST",
            data: postData
        })
            .done(function () {
                window.location.reload();
            })
            .fail(function (a, s, d) {
                debugger;
            });
    }

    function parse_query_string(query) {
        var vars = query.split("&");
        var query_string = {};
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            var key = decodeURIComponent(pair[0]);
            var value = decodeURIComponent(pair[1]);
            // If first entry with this name
            if (typeof query_string[key] === "undefined") {
                query_string[key] = decodeURIComponent(value);
                // If second entry with this name
            }
            else if (typeof query_string[key] === "string") {
                var arr = [query_string[key], decodeURIComponent(value)];
                query_string[key] = arr;
                // If third or later entry with this name
            }
            else {
                query_string[key].push(decodeURIComponent(value));
            }
        }
        return query_string;
    }


</script>