<script type="text/javascript">

     $('#boatTable').on('click', '.clickable-row', function (event) {
       $(this).addClass('active').siblings().removeClass('active');
     });


    $('#hiddenInput').on('click', function () {
  var $input = $('.datepicker').pickadate();
  var picker = $input.pickadate('picker');

  event.stopPropagation()
  event.preventDefault()
  picker.open();
    });

    $('#myModal').on('show.bs.modal', function (e) {
        $('.modal').css({"position": "absolute", "float": "left", "left": "25%", "width": "50%", "transform": "translate(-50 %, -50 %)"});
        var BoatPremium = $(e.relatedTarget).data('boat-premium');
        var BoatName = $(e.relatedTarget).data('boat-name');

        var BoatMake = $(e.relatedTarget).data('boat-make');
        var BoatModel = $(e.relatedTarget).data('boat-model');

        var SumInsured = $(e.relatedTarget).data('boat-sum');
        var BoatExcess = $(e.relatedTarget).data('boat-excess');
        var BoatFSL = $(e.relatedTarget).data('boat-fsl');
        $(e.currentTarget).find('input[name="BoatMake"]').val(BoatMake);
        $(e.currentTarget).find('input[name="BoatModel"]').val(BoatModel);
        $(e.currentTarget).find('input[name="SumInsured"]').val(SumInsured);
        $(e.currentTarget).find('input[name="Boat_Name"]').val(BoatName);
        $(e.currentTarget).find('input[name="Excess"]').val(BoatExcess);
        $(e.currentTarget).find('input[name="Premium"]').val(BoatPremium);
        $(e.currentTarget).find('input[name="FSL"]').val(BoatFSL);

    });
    $('#VesselModal').on('show.bs.modal', function (e) {
        $('.modal').css('width', '600px');
        var MotorMake = $(e.relatedTarget).data('motor-make');
        var MotorRego = $(e.relatedTarget).data('motor-registration');
        var SumInsured = $(e.relatedTarget).data('motor-sum');
        var BoatPremium = $(e.relatedTarget).data('motor-premium');
        var VesselModel = $(e.relatedTarget).data('motor-model');
        var BoatExcess = $(e.relatedTarget).data('motor-excess');
        var BoatFSL = $(e.relatedTarget).data('motor-motorfsl');

        $(e.currentTarget).find('input[name="MotorRego"]').val(MotorRego);
        $(e.currentTarget).find('input[name="MotorMake"]').val(MotorMake);
        $(e.currentTarget).find('input[name="MotorSumInsured"]').val(SumInsured);
        $(e.currentTarget).find('input[name="MotorModel"]').val(VesselModel);
        $(e.currentTarget).find('input[name="MotorExcess"]').val(BoatExcess);
        $(e.currentTarget).find('input[name="MotorPremium"]').val(BoatPremium);
        $(e.currentTarget).find('input[name="MotorFSL"]').val(BoatFSL);

    });

    $('#SubTermModal').on('show.bs.modal', function (e) {
        debugger;
        $('.modal').css('width', '600px');
        var action = $(e.relatedTarget).data('type-id');
        var subSumInsured = $(e.relatedTarget).data('sub-sum');
        var subPremium = $(e.relatedTarget).data('sub-premium');
        var subExcess = $(e.relatedTarget).data('sub-excess');
        var subType = $(e.relatedTarget).data('sub-type');
        var subPremiumDiffer = $(e.relatedTarget).data('sub-premiumdiffer');
        var subId = $(e.relatedTarget).data('sub-id');
        if (action == "AddTerm")
             document.getElementById("TermPremiumDiffer").disabled = true;
        else {
             document.getElementById("TermPremiumDiffer").disabled = false;
        }
        $(e.currentTarget).find('input[name="Id"]').val(subId);
        $(e.currentTarget).find('input[name="TermType"]').val(subType);
        $(e.currentTarget).find('input[name="SumInsured"]').val(subSumInsured);
        $(e.currentTarget).find('input[name="Excess"]').val(subExcess);
        $(e.currentTarget).find('input[name="Premium"]').val(subPremium);
        $(e.currentTarget).find('input[name="PremiumDiffer"]').val(subPremiumDiffer);
     });


    $('#LoadModal').on('show.bs.modal', function (e) {

        //clientAgreementId = @Model.ClientAgreementId
        $('.modal').css('width', '600px');
        var type = $(e.relatedTarget).data('type');
        $(e.currentTarget).find('input[name="AutoriseType"]').val(type);

    });
    
     $('#confirmMotorDelete').on('show.bs.modal', function (e) {
        $('.modal .modal-body').css('height', 'auto');
        var MotorId = $(e.relatedTarget).data('motor-id');
        $(e.currentTarget).find('input[name="MotorId"]').val(MotorId);
     });

     $('#confirmTermDelete').on('show.bs.modal', function (e) {
        $('.modal .modal-body').css('height', 'auto');
        var termId = $(e.relatedTarget).data('term-id');
        $(e.currentTarget).find('input[name="TermId"]').val(termId);
    });

        $("#btnSubmit").click(function () {
            var valid = ValidateVesselTerm();
            if (valid) {
                vesselSubmit();
            }

        });

    $('#confirmDelete').on('show.bs.modal', function (e) {
        debugger;
        $('.modal .modal-body').css('height', 'auto');
        var BoatId = $(e.relatedTarget).data('boat-id');
        var BoatName = $(e.relatedTarget).data('boat-name');
        $(e.currentTarget).find('input[name="BoatName"]').val(BoatName);
        $(e.currentTarget).find('input[name="BoatId"]').val(BoatId);
    });

    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            var valid = ValidateVesselTerm();
            if (valid) {
                vesselSubmit();
            }

        });

        $("#btnMotorSubmit").click(function () {
            var valid = ValidateMotorTerm();
            if (valid) {
                motorSubmit();
            }

        });

         $("#btnTermSubmit").click(function () {
            var valid = ValidateSubTerm();
            if (valid) {
                termSubmit();
            }

        });

        $("#btnMotorDelete").click(function () {
            var agreement = $("#ClientAgreementId").val();
            var motorId = $("#Motor_Id").val();
            var prodData = {
                "clientAgreementId":agreement,
                "VesselId": motorId
            };
            $.ajax({
                type: "Post",
                data: prodData,
                url: "/Agreement/DeleteTerm",
                success: function () {
                    $("#myModal").modal("hide");
                    location.reload(true);
                    alert("Deleted Successfully!");

                }
            });
        });

           $("#btnTermDelete").click(function () {
            var agreement = $("#ClientAgreementId").val();
            var termId = $("#Term_Id").val();
            var prodData = {
                "clientAgreementId":agreement,
                "TermId": termId
            };
            $.ajax({
                type: "Post",
                data: prodData,
                url: "/Agreement/DeleteSubTerm",
                success: function () {
                    $("#myModal").modal("hide");
                    location.reload(true);
                    alert("Deleted Successfully!");

                }
            });
           });

        $("#btnDelete").click(function () {
            var agreement = $("#ClientAgreementId").val();
            var boatId = $("#Boat_Id").val();
            var prodData = {
                "clientAgreementId":agreement,
                "VesselId": boatId
            };
            $.ajax({
                type: "Post",
                data: prodData,
                url: "/Agreement/DeleteTerm",
                success: function () {
                    $("#myModal").modal("hide");
                    location.reload(true);
                    alert("Deleted Successfully!");

                }
            });
        });
    });

     $("#btnAdd").click(function () {
                termSubmit();
     });

    function LoadSubmit() {
        var ClientAgreementId = $('#ClientAgreementId').val();
        var SheetId = $('#InformationSheetId').val();
        var Type = "Authorise";

        if (!$('#Authorize').is(":checked")) {
            Type = "Authorise";

            return false;
        } else if (!$('#Payment').is(":checked")) {
            agree = "Payment";

        } else if (!$('#Details').is(":checked")) {
            agree = "MoreDetails";
        }
                $.ajax({
                    url: '@Url.Action("AuthorisedReferrals", "Agreement")',
                    type: "POST",
                    data: JSON.stringify({ clientAgreementId: ClientAgreementId , sheetId: SheetId, type: Type}),
                    contentType: "application/json; charset=utf-8"
                }).done(function (json) {
                    //$.smallBox({
                    //    title: "Email has been saved",
                    //    color: "#5F895F",
                    //    iconSmall: "fa fa-check bounce animated",
                    //    timeout: 4000
                    //})
                        console.log(json);
                    })
    }
        function ValidateVesselTerm() {
            var boatExcess = $("#Excess").val();
            var boatPremium = $("#Premium").val();
            var boatFSL = $("#FSL").val();
            var validation = true;

            var result = validate(boatExcess);

            if (boatExcess == "") {
                $('#validateBoatExcess').html("<font color='red'>Field is required</font>");
                if (validation) {
                    validation = false;
                }
            } else if (!result) {
                $('#validateBoatExcess').html("<font color='red'>Please enter the number.</font>")
                if (validation) {
                    validation = result;
                }
            } else {
                $('#validateBoatExcess').html("");
            }
            var result = validate(boatPremium);

            if (boatPremium == "") {
                $('#validateBoatPremium').html("<font color='red'>Field is required</font>");
                if (validation) {
                    validation = false;
                }
            } else if (!result) {
                $('#validateBoatPremium').html("<font color='red'>Please enter the number.</font>")
                if (validation) {
                    validation = result;
                }
            } else {
                $('#validateBoatPremium').html("");
            }
            var result = validate(boatFSL);
            if (boatFSL == "") {
                $('#validateBoatFSL').html("<font color='red'>Field is required</font>");
                if (validation) {
                    validation = false;
                }
            } else if (!result) {
                $('#validateBoatFSL').html("<font color='red'>Please enter the number.</font>")
                if (validation) {
                    validation = result;
                }
            } else {
                $('#validateBoatFSL').html("");
            }
            return validation;
    }

     function ValidateSubTerm() {
            var termExcess = $("#TermExcess").val();
            var termPremium = $("#TermPremium").val();
            var termSum = $("#TermSumInsured").val();
            var termPremiumDiffer = $("#TermPremiumDiffer").val();
            var istermPremiumDiffer = $('#TermPremiumDiffer').prop('disabled');
            var validation = true;
            if (termExcess == "") {
                $('#validateTermExcess').html("<font color='red'>Field is required</font>");
                if (validation) {
                    validation = false;
                }
            }else {
                $('#validateTermExcess').html("");
            }
            if (termPremium == "") {
                $('#validateTermPremium').html("<font color='red'>Field is required</font>");
                if (validation) {
                    validation = false;
                }
            } else {
                $('#validateTermPremium').html("");
            }
            if (termSum == "") {
                $('#validateTermSum').html("<font color='red'>Field is required</font>");
                if (validation) {
                    validation = false;
                }
            }else {
                $('#validateTermSum').html("");
             }
             if (termPremiumDiffer == "" && istermPremiumDiffer == false) {
                 $('#validateTermPremiumDiffer').html("<font color='red'>Field is required</font>");
                 if (validation) {
                     validation = false;
                 }
             } else {
                 $('#validateTermPremiumDiffer').html("");
             }
            return validation;
        }
        function ValidateMotorTerm() {
            var motorExcess = $("#MotorExcess").val();
            var motorPremium = $("#MotorPremium").val();
            var motorFSL = $("#MotorFSL").val();
            var validation = true;
            var result = validate(motorExcess);

            if (motorExcess == "") {
                $('#validateMotorExcess').html("<font color='red'>Field is required</font>");
                if (validation) {
                    validation = false;
                }
            } else if (!result) {
                $('#validateMotorExcess').html("<font color='red'>Please enter the number.</font>")
                if (validation) {
                    validation = result;
                }
            } else {
                $('#validateMotorExcess').html("");
            }
            var result = validate(motorPremium);

            if (motorPremium == "") {
                $('#validateMotorPremium').html("<font color='red'>Field is required</font>");
                if (validation) {
                    validation = false;
                }
            } else if (!result) {
                $('#validateMotorPremium').html("<font color='red'>Please enter the number.</font>")
                if (validation) {
                    validation = result;
                }
            } else {
                $('#validateMotorPremium').html("");
            }
            var result = validate(motorFSL);
            if (motorFSL == "") {
                $('#validateMotorFSL').html("<font color='red'>Field is required</font>");
                if (validation) {
                    validation = false;
                }
            } else if (!result) {
                $('#validateMotorFSL').html("<font color='red'>Please enter the number.</font>")
                if (validation) {
                    validation = result;
                }
            } else {
                $('#validateMotorFSL').html("");
            }
            return validation;
        }

        function validate(value) {
            var r = /^\d+(\.\d+)?$/;
            value = value.replace("$", " ").replace(/,/g, '').trim();
            var result = r.test(value.trim());
            return result;
        }

        function vesselSubmit() {
            var agreement = $("#ClientAgreementId").val();
            var boatName = $("#Boat_Name").val();
            var boatSumInsured = $("#SumInsured").val().replace("$", " ");
            var boatExcess = $("#Excess").val().replace("$", " ");
            var boatPremium = $("#Premium").val().replace("$", " ");
            var boatFSL = $("#FSL").val().replace("$", " ");
            var prodData = {
                "clientAgreementId":agreement,
                "BoatName": boatName,
                "TermLimit": boatSumInsured.replace(/,/g, '').trim(),
                "Excess": boatExcess.replace(/,/g, '').trim(),
                "Premium": boatPremium.replace(/,/g, '').trim(),
                "FSL": boatFSL.replace(/,/g, '').trim()
            };
            $.ajax({
                type: "Post",
                data: prodData,
                url: "/Agreement/EditTerm",
                success: function () {
                    $("#myModal").modal("hide");
                    alert("Saved Successfully!");
                    location.reload(true);

                }
            });
        }

    function SendReferralsEmail() {
          var ClientAgreementId = $('#ClientAgreementId').val();
        var SheetId = $('#AnswerSheetId').val();
        var Type = "Authorise";

        if (!$('#Authorize').is(":checked")) {
            Type = "Authorise";

            return false;
        } else if (!$('#Payment').is(":checked")) {
            agree = "Payment";

        } else if (!$('#Details').is(":checked")) {
            agree = "MoreDetails";

        }
          $.ajax({
              url: '@Url.Action("SendReferralsEmail", "Agreement")',
              type: "Get",
              data: JSON.stringify({ sheetId: SheetId ,clientAgreementId: ClientAgreementId ,type:Type}),
              contentType: "application/json; charset=utf-8"
          })
    }
    function selectorgUser() {
        var selectedParty = $('input[name=Parties]:checked').val();
        var informationId = $('#AnswerSheetId').serialize();

        var z = $.grep([selectedParty,informationId], Boolean).join("&");
            console.log(z);
            $.ajax({
                url: '@Url.Action("AddselectedParty", "Programme")',
                type: "POST",
                data: z
            })
                .done(function (data) {
                    //$.smallBox({
                    //    title: "Boat Use has been saved",
                    //    color: "#5F895F",
                    //    iconSmall: "fa fa-check bounce animated",
                    //    timeout: 4000
                    //});
                    console.log(data);
                    $('#SelectedBoatUse').append("<option selected value=\"" + data.BoatUseId + "\">" + data.BoatUseCategory.substring(0, 4) + "</option>")
                    $('#SelectedBoatUse').trigger('chosen:updated');
                    $('#AddSelectedBoatUse').append("<option selected value=\"" + data.BoatUseId + "\">" + data.BoatUseCategory.substring(0, 4) + "</option>")
                    $('#AddSelectedBoatUse').trigger('chosen:updated');
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    alert("There was an error while trying to save the Boat Use.");
                });

    }

    function Authorise() {
        //debugger;
        var loadValPerc = $('#ReferralLoading').val();
        var loadValAmou = $('#ReferralAmount').val();
        var sheetId = $('#InformationSheetId').val();
        var agreementid = $('#ClientAgreementId').val();
        var notes = $('#AuthorisationNotes').val();

         var postData = {
                "informationId": sheetId,
                "agreementId": agreementid,
                "refferLodPrc": loadValPerc,
                "refferLodAmt": loadValAmou,
                "additionalNotes" : notes
        };
          $.ajax({
                url: '@Url.Action("AuthorisedReferral", "Agreement")',
                type: "POST",
              //  contentType: "application/json; charset=utf-8",
              //data: JSON.stringify({ clientAgreementModel: prodData })
                data: postData,
                async: true
            })
           .done(function (data) {
               //alert("Saved Successfully!");
               //debugger;
               //$.smallBox({
               //    title: "Referrals have been authorised",
               //    color: "#5F895F",
               //    iconSmall: "fa fa-check bounce animated",
               //    timeout: 4000
               //});
               window.location.href = data.url;
           })
          .fail(function (jqXHR, textStatus, errorThrown) {
            debugger;
        alert("There was an error while trying to authorise referrals.");
               });
    }

     function CalculateAdjustment() {
         var adjustmentAmount = $('#AdjustmentAmount').val();
          var selectedPremium = $('#SelectedPremium').val();

         $("#AdjustmentVal").val(parseFloat(adjustmentAmount) + parseFloat(selectedPremium));
         var agreementid = $('#ClientAgreementId').val();

         var postData = {
             AdjustmentAmount: adjustmentAmount,
             AgreementId: agreementid
         };

          $.ajax({
                url: '@Url.Action("CalculateAdjustment", "Agreement")',
                type: "POST",
              //  contentType: "application/json; charset=utf-8",
              //data: JSON.stringify({ clientAgreementModel: prodData })
                data: postData,
                async: true
            })
           .done(function (data) {
               alert("Premium Updated Successfully");
           })
          .fail(function (jqXHR, textStatus, errorThrown) {
            debugger;
        alert("There was an error while trying to authorise referrals.");
               });
    }


    function Decline() {
        var sheetId = $('#InformationSheetId').val();
        var agreementid = $('#ClientAgreementId').val();
        var notes = $('#DeclineNotes').val();

         var postData = {
                "InformationId": sheetId,
                "AgreementId": agreementid,
                "DeclineNotes" : notes
        };
          $.ajax({
                url: '@Url.Action("DeclineAgreement", "Agreement")',
                type: "POST",
              //  contentType: "application/json; charset=utf-8",
              //data: JSON.stringify({ clientAgreementModel: prodData })
                data: postData,
                async: true
            })
           .done(function (data) {
               //$.smallBox({
               //    title: "Agreement has been declined",
               //    color: "#5F895F",
               //    iconSmall: "fa fa-check bounce animated",
               //    timeout: 4000
               //});
               window.location.href = data.url;
           })
          .fail(function (jqXHR, textStatus, errorThrown) {
            //debugger;
        alert("There was an error while trying to decline agreement.");
               });
    }

    function Cancell() {
        var sheetId = $('#InformationSheetId').val();
        var agreementid = $('#ClientAgreementId').val();
        var notes = $('#CancellNotes').val();
        var cancelleffectivedate = $('#CancellEffectiveDate').val();
        var cancelAgreementReason = $('#CancelAgreementReason').val();

         var postData = {
                "InformationId": sheetId,
                "AgreementId": agreementid,
                "CancellNotes": notes,
                "CancellEffectiveDate": cancelleffectivedate,
                "CancelAgreementReason" : cancelAgreementReason
        };
        $.ajax({
                url: '@Url.Action("CancellAgreement", "Agreement")',
                type: "POST",
              //  contentType: "application/json; charset=utf-8",
              //data: JSON.stringify({ clientAgreementModel: prodData })
                data: postData,
                async: true
            })
            .done(function (data) {
               //$.smallBox({
               //    title: "Agreement has been cancelled",
               //    color: "#5F895F",
               //    iconSmall: "fa fa-check bounce animated",
               //    timeout: 4000
               //});
               window.location.href = data.url;
           })
          .fail(function (jqXHR, textStatus, errorThrown) {
        alert("There was an error while trying to cancel agreement.");
               });
    }

    function ConfirmCancel() {
        var sheetId = $('#InformationSheetId').val();
        var agreementid = $('#ClientAgreementId').val();
        var notes = $('#CancellNotes').val();
        var cancelleffectivedate = $('#CancellEffectiveDate').val();
        var cancelAgreementReason = $('#CancelAgreementReason').val();

         var postData = {
                "InformationId": sheetId,
                "AgreementId": agreementid,
                "CancellNotes": notes,
                "CancellEffectiveDate": cancelleffectivedate,
                "CancelAgreementReason" : cancelAgreementReason
        };
        $.ajax({
                url: '@Url.Action("ConfirmCancellAgreement", "Agreement")',
                type: "POST",
                data: postData,
                async: true
            })
            .done(function (data) {
               debugger;
               //$.smallBox({
               //    title: "Agreement has been cancelled",
               //    color: "#5F895F",
               //    iconSmall: "fa fa-check bounce animated",
               //    timeout: 4000
               //});
               window.location.href = data.url;
           })
          .fail(function (jqXHR, textStatus, errorThrown) {
        alert("There was an error while trying to confirm cancel agreement.");
               });
    }

     function motorSubmit() {
            var agreement = $("#ClientAgreementId").val();
            var boatSumInsured = $("#MotorSumInsured").val().replace("$", " ");
            var boatExcess = $("#MotorExcess").val().replace("$", " ");
            var boatPremium = $("#MotorPremium").val().replace("$", " ");
            var boatFSL = $("#MotorFSL").val().replace("$", " ");
            var motorModel = $("#MotorModel").val();

            var postData = {
                "TermLimit": boatSumInsured.replace(/,/g, '').trim(),
                "Excess": boatExcess.replace(/,/g, '').trim(),
                "Premium": boatPremium.replace(/,/g, '').trim(),
                "FSL": boatFSL.replace(/,/g, '').trim(),
                "Model": motorModel,
                clientAgreementId : agreement
            };
            $.ajax({
                type: "Post",
                //data: JSON.stringify({ clientAgreementId: agreement, clientAgreementMVTerm: prodData }),
                url: "/Agreement/EditMotorTerm",
                //contentType: "application/json; charset=utf-8",
                data: postData,
                async: true,
                success: function () {
                    $("#myModal").modal("hide");
                    alert("Saved Successfully!");
                    location.reload(true);

                }
            });
        }

    
     function termSubmit() {
            var agreement = $("#ClientAgreementId").val();
            var termType = $("#TermType").val();
            var SumInsured = $("#TermSumInsured").val().replace("$", " ");
            var Excess = $("#TermExcess").val().replace("$", " ");
         var Premium = $("#TermPremium").val().replace("$", " ");
         var PremiumDiffer = $("#TermPremiumDiffer").val().replace("$", " ");
            var id = $("#TermId").val();
            var postData = {
                "TermLimit": SumInsured.replace(/,/g, '').trim(),
                "Excess": Excess.replace(/,/g, '').trim(),
                "Premium": Premium.replace(/,/g, '').trim(),
                "TermId": id,
                "TermType": termType,
                clientAgreementId: agreement,
                "PremiumDiffer": PremiumDiffer.replace(/,/g, '').trim()
            };
            $.ajax({
                type: "Post",
                //data: JSON.stringify({ clientAgreementId: agreement, clientAgreementMVTerm: prodData }),
                url: "/Agreement/EditSubTerm",
                //contentType: "application/json; charset=utf-8",
                data: postData,
                async: true,
                success: function () {
                    $("#myModal").modal("hide");
                    alert("Saved Successfully!");
                    location.reload(true);

                }
            });
    }

     function Unbind() {
        var sheetId = $('#InformationSheetId').val();
        var agreementid = $('#ClientAgreementId').val();
        var notes = $('#DeclineNotes').val();

         var postData = {
                "InformationId": sheetId,
                "AgreementId": agreementid,
                "DeclineNotes" : notes
        };
          $.ajax({
                url: '@Url.Action("UnbindAgreement", "Agreement")',
                type: "POST",
              
                data: postData,
                async: true
            })
           .done(function (data) {
             
               window.location.href = data.url;
           })
          .fail(function (jqXHR, textStatus, errorThrown) {
            //debugger;
        alert("There was an error while trying to decline agreement.");
               });
    }
</script>