@model BaseListViewModel<DealEngine.WebUI.Models.Agreement.ViewAgreementViewModel>

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <span class="widget-icon">
                <h6><i class="fa fa-list-alt"></i> @ViewBag.Title </h6>
            </span>
        </div>
        <div class="card-body">
            <div class="client-form">
                
                @foreach (var item in Model)
                {
                    @await Html.PartialAsync("Partials/ViewAgreement", item) ;
                }
               
            </div>
        </div>
    </div>
</div>


@*@section pagespecific {
    <script type="text/javascript">

        $(window).on("load", function () {
            debugger;
           if ("@ViewBag.Status" == "Started" || "@ViewBag.Status" == "Submitted") {
                debugger;

                var progId = "@ViewBag.Id";
                //var progId = $('#ClientProgrammeId').val();
                var postData = { ProgrammeId: progId };

                $.ajax({
                    url: '@Url.Action("GetCoverOptions", "Information")',
                    type: "POST",
                    data: postData
                }).done(function (data) {
                    debugger;
                    if (data != "") {
                        for (var item = 0; item < data.length; item++) {
                            var arr = data[item];
                            var count = 0;
                            //var element = 'input[name=\\"' + arr[count] + '"][value=\\"' + arr[count + 1] + '"]';
                            var queryselector = "" + "input[name=\'" + arr[count] + "\'][value=\'" + arr[count + 1] + "\']";

                            $(queryselector).attr('checked', true);
                            //$("#"+Arr[count]).
                            //$('#' + arr[count+1]).val(arr[count + 1]);
                        }
                    }
                }) .fail(function (jqXHR, textStatus, errorThrown) {
                alert("There was an error while trying to save the Vehicle.");
                });

             }



             if ("@ViewBag.Status"=="Bound") {
                debugger;

                $("#Coveroptionssec :input").prop("disabled", true);
              } else {
                $("#Coveroptionssec :input").prop("disabled", false);
              }



        });

    </script>

}*@

