@model DealEngine.WebUI.Models.Agreement.ViewAgreementViewModel

@{
    int count = 0;
}
<div id="content" class="container">

    <div class="row">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-home"></i>
            <a href="~/Agreement/ViewAcceptedAgreement/@Model.ClientProgrammeId"> Agreement</a>
            >
            <span>Authorise Referrals</span>
        </h1>
    </div>

    <div class="row">
        <span>
            <a onclick="location.href='@Url.Action("ViewAcceptedAgreement", "Agreement",new { Id =@Model.ClientProgrammeId })'" style="color:dodgerblue;font-size:30px; cursor:pointer"> <span _ngcontent-c7="" class="icon-append fa fa-arrow-circle-left"></span>  </a>
        </span>
    </div>

    <div class="row">
        <div class="jarviswidget container-fluid" id="wid-id-1"
             data-widget-colorbutton="false"
             data-widget-editbutton="false"
             data-widget-togglebutton="false"
             data-widget-deletebutton="false"
             data-widget-custombutton="false"
             data-widget-sortable="false">

            <header>
                <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
                <h2 style="color:black">@Model.ProductName @ViewBag.Title </h2>
            </header>

            @Html.HiddenFor(m => m.InformationSheetId)
            @Html.HiddenFor(m => m.ClientAgreementId)
            @Html.HiddenFor(m => m.ClientProgrammeId)

        <form action="~/Agreement/EditAgreement/item" method="POST" id="update-form" class="client-form" enctype="multipart/form-data">
            <div class="form-group">
                <table class="table table-bordered table-responsive-md table-striped text-center" id="refferals">

                    <tr>
                        <th class="text-center" width="25%" style="color:black">Referral</th>
                        <th class="text-center" width="50%" style="color:black">Description</th>
                        <th class="text-center" width="25%" style="color:black">Status</th>
                    </tr>
                    @foreach (var item in Model.Referrals)
                    {
                        @if (count % 2 == 1)
                        {
                            <tr class="table-light">
                                <td class="pt-3-half" width="13%" contenteditable="true" id="ReferralName" style="color:black" align="left">
                                    @item.Name

                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true" style="color:black" align="left">
                                    @item.Description
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true" style="color:black" align="left">

                                    @if (item.AuthorisedBy != null)
                                    {
                                        @item.Status <label> by</label> @item.AuthorisedBy.FullName;
                                    }
                                    else
                                    {
                                        @item.Status
                                    }
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td class="pt-3-half" width="13%" contenteditable="true" id="ReferralName" style="color:black" align="left">
                                    @item.Name

                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true" style="color:black" align="left">
                                    @item.Description
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true" style="color:black" align="left">
                                    @item.Status
                                </td>
                            </tr>
                        }

                        count++;

                    }
                </table>
            </div>



            <div class="form-group">
                <table class="table table-bordered table-responsive-md table-striped text-center" id="refferals">
                    <thread class="thead-dark">
                        <tr>
                            <th align="left">
                                Premium Adjustment
                            </th>
                            <th></th>
                            <th></th>

                        </tr>
                    </thread>
                    <tr>
                        <th class="text-center" width="40%" style="color:black"></th>
                        <th class="text-center" width="40%" style="color:black"></th>
                        <th class="text-center" width="20%" style="color:black"></th>
                    </tr>
                    <tr>
                        <td align="left">
                            Base Premium
                        </td>
                        <td align="left">
                            @Html.TextBoxFor(m => m.BasePremium, new { disabled = "disabled", @readonly = "readonly" })
                        </td>
                        <td>
                        </td>
                    </tr>

                    <tr>
                        <td align="left">
                            Current Premium @if (Model.BasePremium != Model.SelectedPremium) {<label> (Premium Adjusted)</label> }
                        </td>
                        <td align="left">
                            @Html.TextBoxFor(m => m.SelectedPremium, new { disabled = "disabled", @readonly = "readonly" })
                        </td>
                        <td>
                        </td>
                    </tr>

                    <tr>
                        <td align="left">
                            Adjustment Type

                            <select class="form-select">
                                <option>Broker Fee</option>
                            </select>
                        </td>
                        <td align="left">
                            $ @Html.TextBoxFor(m => m.AdjustmentAmount)
                        </td>
                        <td align="left">
                            <button onclick="CalculateAdjustment()" type="button" class="btn btn-success btn-sm">Update Premium</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        </td>
                    </tr>

                    <tr>
                        <td align="left">
                            Net Adjusted Premium for Loading
                        </td>
                        <td align="left">
                            $<input id="AdjustmentVal" placeholder="Total Adjustment Value">

                        </td>
                        <td>
                        </td>
                    </tr>


                </table>
            </div>



            <div class="form-group">
                <table class="table table-responsive-md table-striped table-bordered" id="referrallodingvalue">
                    <thread class="thead-dark">
                        <tr>
                            <th>
                                Authorise Referral by % loading Or/And Amount loading
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thread>
                    <tr>
                        <td width="20%">
                            <strong>Referral Loading Percentage (%): </strong>
                        </td>
                        <td width="1%"></td>
                        <td width="5%">
                            <strong> OR/AND</strong>
                        </td>
                        <td width="1%"></td>
                        <td width="20%">
                            <strong>Referral Loading Amount ($): </strong>
                        </td>
                        <td width="53%"></td>
                    </tr>
                    <tr>
                        <td>
                            @Html.TextBoxFor(m => m.ReferralLoading)
                        </td>
                        <td align="left">%</td>
                        <td></td>
                        <td align="right">$</td>
                        <td>
                            @Html.TextBoxFor(m => m.ReferralAmount)
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="form-group">
                <table class="table table-striped">
                    <tr>
                        <td>
                            <label class="label"><strong>Authorisation notes: </strong></label>
                        </td>
                        <td>
                            <label class="textarea">
                                @Html.TextAreaFor(m => m.AuthorisationNotes)
                            </label>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-group">
                <button onclick="Authorise()" type="button" class="btn btn-success btn-sm">Authorise</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="~/Agreement/ViewAcceptedAgreement/@Model.ClientProgrammeId" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Cancel</a>
            </div>
        </form>

        </div>
    </div>
</div>



@section pagespecific {

    @await Html.PartialAsync("_AgreementScripts")
}
