@model DealEngine.WebUI.Models.Agreement.ViewAgreementViewModel

@{
    int count = 0;
}

<div class="container">

    <div class="row">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-home"></i>
            <a href="~/Agreement/ViewAcceptedAgreement/@Model.ClientProgrammeId"> Agreement</a>
            > <span>Cancel Agreement</span>
        </h1>
    </div>
    <div class="row">
        <span>
            <a onclick="location.href='@Url.Action("ViewAcceptedAgreement", "Agreement",new { Id =@Model.ClientProgrammeId })'" style="color:dodgerblue;font-size:30px; cursor:pointer"> <span _ngcontent-c7="" class="icon-append fa fa-arrow-circle-left"></span>  </a>
        </span>
    </div>


    <div class="row">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget container-fluid" id="wid-id-10"
             data="false"
             data-widget-editbutton="false"
             data-widget-togglebutton="false"
             data-widget-deletebutton="false"
             data-widget-custombutton="false"
             data-widget-sortable="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
                <h2>@ViewBag.Title </h2>
            </header>
            @Html.HiddenFor(m => m.InformationSheetId)
            @Html.HiddenFor(m => m.ClientAgreementId)
            @Html.HiddenFor(m => m.ClientProgrammeId)

            <form action="~/Agreement/CancellAgreement/item" method="POST" id="update-form" class="client-form" enctype="multipart/form-data">

                <table class="table table-bordered table-responsive-md table-striped text-left" id="CancelAgreementTable">
                    <tr>

                        @foreach (var item in Model.InsuranceRoles)
                        {
                            <td>
                                @item.RoleName:
                            </td>
                            <td>
                                @item.Name
                            </td>
                        }
                    </tr>
                    <tr>
                        <td>
                            <label>Inception Date: </label>
                        </td>
                        <td>
                            @Model.StartDate
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Expiry Date: </label>
                        </td>
                        <td>
                            @Model.EndDate
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Reason:</label>
                        </td>
                        <td>
                            <label class="input form-group">
                                <select class="b form-select" id="CancelAgreementReason" name="CancelAgreementReason" title="" required>
                                    <option selected="selected" value="">-- Select here --</option>
                                    <option value="TC_businessSoldOrClosed_lgi">Business Sold or Closed</option>
                                    <option value="TC_changeInCoverReq_lgi">Change in cover requirements</option>
                                    <option value="TC_changeOfBroker_lgi">Change of Broker</option>
                                    <option value="TC_dissatisfiedWithClaims_lgi">Dissatisfied with claims</option>
                                    <option value="TC_dissatisfiedWithSvc_lgi">Dissatisfied with service</option>
                                    <option value="TC_goneIntoGlobalAcct_lgi">Gone into Global Account </option>
                                    <option value="TC_issuedInError_lgi">Issued in error</option>
                                    <option value="TC_nonpayment">Non payment</option>
                                    <option value="TC_policyReplaced_lgi">Policy replaced</option>
                                    <option value="TC_tooDear_lgi">Too dear</option>

                                </select>

                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Effective Date: </label>
                        </td>
                        <td>
                            <label class="input ">
                                <input name="CancellEffectiveDate" placeholder="Cancel Effective Date" class="Startdate form-control b" data-dateformat="dd/mm/yy" id="CancellEffectiveDate" type="text" required>
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label>Cancel notes: </label>
                        </td>
                        <td>
                            <label class="textarea">
                                @Html.TextAreaFor(m => m.CancellNotes)
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label>Cancellation Action: </label>
                        </td>
                        <td>
                            <button onclick="Cancell()" type="button" class="btn btn-success btn-sm" id="RequestCancel"><i class="fa fa-edit"></i> Request Cancel </button>
                        </td>
                    </tr>

                </table>
            </form>

        </div>
    </div>
</div>

<div class="container" id="Showterms">

    @if (Model.BVTermsCan != null)
    {
        if (Model.BVTermsCan.Any())
        {
            <form id="bvcantermform" class="client-form" enctype="multipart/form-data">

                <header>  Vessel Terms - Cancel Terms </header>
                <table class="table table-bordered table-responsive-md table-striped text-center" id="boatTable">

                    <tr>
                        <th class="text-center" width="12%" hidden> Id</th>
                        <th class="text-center" width="11%">Vessel Name</th>
                        <th class="text-center" width="11%">Vessel Make</th>
                        <th class="text-center" width="11%">Vessel Model</th>
                        <th class="text-center" width="11%">Vessel Sum Insured</th>
                        <th class="text-center" width="11%">Vessel Excess</th>
                        <th class="text-center" width="11%">Vessel Total Premium</th>
                        <th class="text-center" width="11%">Vessel FSL</th>
                        <th class="text-center" width="9%"></th>
                    </tr>
                    @foreach (var item in Model.BVTermsCan)
                    {
                        @if (count % 2 == 1)
                        {
                            <tr class="table-light">
                                <td class="pt-3-half" width="12%" contenteditable="true" id="BoatId" hidden>
                                    @item.VesselCanId
                                </td>
                                <td class="pt-3-half" width="11%" contenteditable="true" id="BoatName">
                                    @item.BoatNameCan
                                </td>
                                <td class="pt-3-half" width="11%" contenteditable="true">
                                    @item.BoatMakeCan
                                </td>
                                <td class="pt-3-half" width="11%" contenteditable="true">
                                    @item.BoatModelCan
                                </td>
                                <td class="pt-3-half" width="11%" contenteditable="true">
                                    @item.TermLimitCan.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                </td>
                                <td class="pt-3-half" width="11%" contenteditable="true">
                                    @item.ExcessCan.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                                </td>
                                <td class="pt-3-half" width="11%" contenteditable="true">
                                    @item.PremiumCan.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                                </td>
                                <td class="pt-3-half" width="11%" contenteditable="true">
                                    @item.FSLCan.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                </td>
                                <td width="9%">
                                    @*<a href="#myModal" aria-hidden="true" style="color:green" data-toggle="modal" data-boat-fsl="@item.FSLCan.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                       data-boat-Sum="@item.TermLimitCan.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-boat-Premium="@item.PremiumCan.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-boat-Excess="@item.ExcessCan.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                       data-boat-make="@item.BoatMakeCan" data-boat-model="@item.BoatModelCan"
                                       data-boat-name="@item.BoatNameCan"><i class="fa fa-edit"> </i></a>*@
                                    @*<a href="#confirmDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-boat-name="@item.BoatNameCan" data-boat-id="@item.VesselCanId"><span class="fa fa-trash" id="span"></span></a>*@
                                </td>

                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td class="pt-3-half" width="12%" contenteditable="true" id="BoatId" hidden>
                                    @item.VesselCanId
                                </td>
                                <td class="pt-3-half" width="11%" contenteditable="true" id="BoatName">
                                    @item.BoatNameCan
                                </td>
                                <td class="pt-3-half" width="11%" contenteditable="true">
                                    @item.BoatMakeCan
                                </td>
                                <td class="pt-3-half" width="11%" contenteditable="true">
                                    @item.BoatModelCan
                                </td>
                                <td class="pt-3-half" width="11%" contenteditable="true">
                                    @item.TermLimitCan.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                </td>
                                <td class="pt-3-half" width="11%" contenteditable="true">
                                    @item.ExcessCan.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                                </td>
                                <td class="pt-3-half" width="11%" contenteditable="true">
                                    @item.PremiumCan.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                                </td>
                                <td class="pt-3-half" width="11%" contenteditable="true">
                                    @item.FSLCan.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                </td>
                                <td width="9%">
                                    @*<a href="#myModal" aria-hidden="true" style="color:green" data-toggle="modal" data-boat-fsl="@item.FSLCan.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                       data-boat-Sum="@item.TermLimitCan.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-boat-Premium="@item.PremiumCan.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-boat-Excess="@item.ExcessCan.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                       data-boat-make="@item.BoatMakeCan" data-boat-model="@item.BoatModelCan"
                                       data-boat-name="@item.BoatNameCan"><i class="fa fa-edit"> </i></a>*@
                                    @*<a href="#confirmDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-boat-name="@item.BoatNameCan" data-boat-id="@item.VesselCanId"><span class="fa fa-trash" id="span"></span></a>*@
                                </td>

                            </tr>
                        }
                        count++;
                    }
                </table>

            </form>
        }
    }

    @if (Model.MVTermsCan != null)
    {
        count = 0;
        if (Model.MVTermsCan.Any())
        {
            <form id="mvcantermform" class="client-form">
                <header>  Vehicle Terms - Cancel Terms </header>

                <table class="table table-bordered table-responsive-md table-striped text-center" id="vehicleTable">
                    <tr>
                        <th class="text-center" width="12%" hidden> Id</th>
                        <th class="text-center" width="11%">Vehicle Registration</th>
                        <th class="text-center" width="11%">Vehicle Make</th>
                        <th class="text-center" width="11%">Vehicle Model</th>
                        <th class="text-center" width="11%">Vehicle Sum Insured</th>
                        <th class="text-center" width="11%">Vehicle Excess</th>
                        <th class="text-center" width="11%">Vehicle Total Premium</th>
                        <th class="text-center" width="11%">Vehicle FSL</th>
                        <th class="text-center" width="9%"></th>
                    </tr>
                    @foreach (var item in Model.MVTermsCan)
                    {
                        @if (count % 2 == 1)
                        {
                            <tr class="table-light">
                                <td class="pt-3-half" width="12%" contenteditable="true" id="VesselId" hidden>
                                    @item.VesselCanId
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.RegistrationCan
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.MakeCan
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.ModelCan
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.TermLimitCan.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.ExcessCan.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.PremiumCan.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.FSLCan.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                </td>
                                <td width="9%">
                                    @*<a href="#VesselModal" aria-hidden="true" style="color:forestgreen" data-toggle="modal"
                                       data-motor-registration="@item.RegistrationCan" data-motor-make="@item.MakeCan" data-motor-motorfsl="@item.FSLCan.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                       data-motor-sum="@item.TermLimitCan.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-motor-premium="@item.PremiumCan.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                       data-motor-excess="@item.ExcessCan.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-motor-model="@item.ModelCan"><i class="fa fa-edit"> </i></a>*@
                                    @*<a href="#confirmMotorDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-motor-id="@item.ModelCan"><span class="fa fa-trash" id="span"></span></a>*@
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td class="pt-3-half" width="12%" contenteditable="true" id="VesselId" hidden>
                                    @item.VesselCanId
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.RegistrationCan
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.MakeCan
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.ModelCan
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.TermLimitCan.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.ExcessCan.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.PremiumCan.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                                </td>
                                <td class="pt-3-half" width="13%" contenteditable="true">
                                    @item.FSLCan.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                </td>
                                <td width="9%">
                                    @*<a href="#VesselModal" aria-hidden="true" style="color:forestgreen" data-toggle="modal"
                                       data-motor-registration="@item.RegistrationCan" data-motor-make="@item.MakeCan" data-motor-motorfsl="@item.FSLCan.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                       data-motor-sum="@item.TermLimitCan.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-motor-premium="@item.PremiumCan.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                       data-motor-excess="@item.ExcessCan.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-motor-model="@item.ModelCan"><i class="fa fa-edit"> </i></a>*@
                                    @*<a href="#confirmMotorDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-motor-id="@item.ModelCan"><span class="fa fa-trash" id="span"></span></a>*@
                                </td>
                            </tr>
                        }
                        count++;
                    }
                </table>

            </form>

        }

    }
    @if (Model.BVTermsCan != null || Model.MVTermsCan != null)
    {
        <div>
            <button onclick="ConfirmCancel();" type="button" class="btn btn-success btn-sm" id="ConfirmCancel"><i class="fa fa-edit"> Confirm Cancel </i></button>
        </div>
    }
    </div>

@section pagespecific {
    <link href="~/jqueryui/jquery-ui.css" rel="stylesheet" />
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/jqueryui/jquery-ui.js"></script>

    <script>

        $(window).on("load", function () {
            $('#CancellEffectiveDate').val("@Model.CancellEffectiveDate");
            $('#CancelAgreementReason').val("@Model.CancelAgreementReason");
        });

        $('.Startdate').datepicker({
            dateFormat: "dd/mm/yy"
        });      

    </script>

    @Html.Partial("_AgreementScripts")
}

