@*@model DealEngine.WebUI.Models.Agreement.ViewAgreementViewModel

@{
    int count = 0;
}

<div class="container">
    <div class="form-group">
        <h1 class="page-title txt-color-blueDark">
            <a href="~/Agreement/ViewAcceptedAgreement/@Model.ClientProgrammeId"> Agreement</a>
            > <span>Edit Agreement Term</span>
        </h1>
    </div>
    <div class="form-group">
        <span>
            <a class="btn btn-primary btn-xs text-white" onclick="location.href='@Url.Action("ViewAcceptedAgreement", "Agreement",new { Id =@Model.ClientProgrammeId })'" id="backbutton"><i class="fa fa-home"></i> Back </a>
        </span>
    </div>
    <div class="form-group">
        <div class="card">
            <div class="card-header">
                <span class="widget-icon">
                    <h2><i class="fa fa-comment"></i> @ViewBag.Title </h2>
                </span>
            </div>
            <div class="card-body">
                @Html.HiddenFor(m => m.ClientAgreementId)
                @if (Model.BVTerms != null)
                {
                    <div class="form-group">
                        <div class="card">
                            <div class="card-header">
                                <header>  Vessel Terms</header>
                            </div>
                            <div class="card-body">
                                @if (Model.BVTerms.Any())
                                {
                                    <form action="~/Agreement/EditAgreement/item" method="POST" id="update-form" class="client-form" enctype="multipart/form-data">


                                        <table class="table table-bordered table-responsive-md table-striped text-center" id="boatTable">

                                            <tr>
                                                <th class="text-center" width="12%" hidden> Id</th>
                                                <th class="text-center" width="11%">Vessel Name</th>
                                                <th class="text-center" width="11%">Vessel Make</th>
                                                <th class="text-center" width="11%">Vessel Model</th>
                                                <th class="text-center" width="11%">Vessel Sum Insured</th>
                                                <th class="text-center" width="11%">Vessel Excess</th>
                                                <th class="text-center" width="11%">Vessel Total Premium</th>
                                                <th class="text-center" width="11%">Vessel FSL</th>
                                                <th class="text-center" width="9%"></th>
                                            </tr>
                                            @foreach (var item in Model.BVTerms)
                                            {
                                                @if (count % 2 == 1)
                                                {
                                                    <tr class="table-light">
                                                        <td class="pt-3-half" width="12%" contenteditable="true" id="BoatId" hidden>
                                                            @item.VesselId
                                                        </td>
                                                        <td class="pt-3-half" width="11%" contenteditable="true" id="BoatName">
                                                            @item.BoatName
                                                        </td>
                                                        <td class="pt-3-half" width="11%" contenteditable="true">
                                                            @item.BoatMake
                                                        </td>
                                                        <td class="pt-3-half" width="11%" contenteditable="true">
                                                            @item.BoatModel
                                                        </td>
                                                        <td class="pt-3-half" width="11%" contenteditable="true">
                                                            @item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                                        </td>
                                                        <td class="pt-3-half" width="11%" contenteditable="true">
                                                            @item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                                                        </td>
                                                        <td class="pt-3-half" width="11%" contenteditable="true">
                                                            @item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                                                        </td>
                                                        <td class="pt-3-half" width="11%" contenteditable="true">
                                                            @item.FSL.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                                        </td>
                                                        <td width="9%">
                                                            <a href="#myModal" aria-hidden="true" style="color:green" data-toggle="modal" data-boat-fsl="@item.FSL.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                                               data-boat-Sum="@item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-boat-Premium="@item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-boat-Excess="@item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                                               data-boat-make="@item.BoatMake" data-boat-model="@item.BoatModel"
                                                               data-boat-name="@item.BoatName"><i class="fa fa-edit"> </i></a>
                                                            <a href="#confirmDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-boat-name="@item.BoatName" data-boat-id="@item.VesselId"><span class="fa fa-trash" id="span"></span></a>
                                                        </td>

                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td class="pt-3-half" width="12%" contenteditable="true" id="BoatId" hidden>
                                                            @item.VesselId
                                                        </td>
                                                        <td class="pt-3-half" width="11%" contenteditable="true" id="BoatName">
                                                            @item.BoatName
                                                        </td>
                                                        <td class="pt-3-half" width="11%" contenteditable="true">
                                                            @item.BoatMake
                                                        </td>
                                                        <td class="pt-3-half" width="11%" contenteditable="true">
                                                            @item.BoatModel
                                                        </td>
                                                        <td class="pt-3-half" width="11%" contenteditable="true">
                                                            @item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                                        </td>
                                                        <td class="pt-3-half" width="11%" contenteditable="true">
                                                            @item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                                                        </td>
                                                        <td class="pt-3-half" width="11%" contenteditable="true">
                                                            @item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                                                        </td>
                                                        <td class="pt-3-half" width="11%" contenteditable="true">
                                                            @item.FSL.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                                        </td>
                                                        <td width="9%">
                                                            <a href="#myModal" aria-hidden="true" style="color:green" data-toggle="modal" data-boat-fsl="@item.FSL.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                                               data-boat-Sum="@item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-boat-Premium="@item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-boat-Excess="@item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                                               data-boat-make="@item.BoatMake" data-boat-model="@item.BoatModel"
                                                               data-boat-name="@item.BoatName"><i class="fa fa-edit"> </i></a>
                                                            <a href="#confirmDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-boat-name="@item.BoatName" data-boat-id="@item.VesselId"><span class="fa fa-trash" id="span"></span></a>
                                                        </td>

                                                    </tr>
                                                }
                                                count++;
                                            }
                                        </table>

                                    </form>
                                }

                            </div>
                        </div>
                    </div>
                }
                @if (Model.MVTerms != null)
                {
                    <div class="form-group">
                        <div class="card">
                            <div class="card-header">
                                <header>  Vehicle Terms</header>
                            </div>
                            <div class="card-body">
                                @if (Model.MVTerms.Any())
                                {
                                    count = 0;
                                    <form action="~/Agreement/EditAgreement/item" method="POST" id="update-form" class="client-form" enctype="multipart/form-data">


                                        <table class="table table-bordered table-responsive-md table-striped text-center" id="vehicleTable">
                                            <tr>
                                                <th class="text-center" width="12%" hidden> Id</th>
                                                <th class="text-center" width="11%">Vehicle Registration</th>
                                                <th class="text-center" width="11%">Vehicle Make</th>
                                                <th class="text-center" width="11%">Vehicle Model</th>
                                                <th class="text-center" width="11%">Vehicle Sum Insured</th>
                                                <th class="text-center" width="11%">Vehicle Excess</th>
                                                <th class="text-center" width="11%">Vehicle Total Premium</th>
                                                <th class="text-center" width="11%">Vehicle FSL</th>
                                                <th class="text-center" width="9%"></th>
                                            </tr>
                                            @foreach (var item in Model.MVTerms)
                                            {
                                                @if (count % 2 == 1)
                                                {
                                                    <tr class="table-light">
                                                        <td class="pt-3-half" width="12%" contenteditable="true" id="VesselId" hidden>
                                                            @item.VesselId
                                                        </td>
                                                        <td class="pt-3-half" width="13%" contenteditable="true">
                                                            @item.Registration
                                                        </td>
                                                        <td class="pt-3-half" width="13%" contenteditable="true">
                                                            @item.Make
                                                        </td>
                                                        <td class="pt-3-half" width="13%" contenteditable="true">
                                                            @item.Model
                                                        </td>
                                                        <td class="pt-3-half" width="13%" contenteditable="true">
                                                            @item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                                        </td>
                                                        <td class="pt-3-half" width="13%" contenteditable="true">
                                                            @item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                                                        </td>
                                                        <td class="pt-3-half" width="13%" contenteditable="true">
                                                            @item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                                                        </td>
                                                        <td class="pt-3-half" width="13%" contenteditable="true">
                                                            @item.FSL.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                                        </td>
                                                        <td width="9%">
                                                            <a href="#VesselModal" aria-hidden="true" style="color:forestgreen" data-toggle="modal"
                                                               data-motor-registration="@item.Registration" data-motor-make="@item.Make" data-motor-motorfsl="@item.FSL.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                                               data-motor-sum="@item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-motor-premium="@item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                                               data-motor-excess="@item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-motor-model="@item.Model"><i class="fa fa-edit"> </i></a>
                                                            <a href="#confirmMotorDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-motor-id="@item.Model"><span class="fa fa-trash" id="span"></span></a>
                                                        </td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td class="pt-3-half" width="12%" contenteditable="true" id="VesselId" hidden>
                                                            @item.VesselId
                                                        </td>
                                                        <td class="pt-3-half" width="13%" contenteditable="true">
                                                            @item.Registration
                                                        </td>
                                                        <td class="pt-3-half" width="13%" contenteditable="true">
                                                            @item.Make
                                                        </td>
                                                        <td class="pt-3-half" width="13%" contenteditable="true">
                                                            @item.Model
                                                        </td>
                                                        <td class="pt-3-half" width="13%" contenteditable="true">
                                                            @item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                                        </td>
                                                        <td class="pt-3-half" width="13%" contenteditable="true">
                                                            @item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                                                        </td>
                                                        <td class="pt-3-half" width="13%" contenteditable="true">
                                                            @item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))

                                                        </td>
                                                        <td class="pt-3-half" width="13%" contenteditable="true">
                                                            @item.FSL.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                                        </td>
                                                        <td width="9%">
                                                            <a href="#VesselModal" aria-hidden="true" style="color:forestgreen" data-toggle="modal"
                                                               data-motor-registration="@item.Registration" data-motor-make="@item.Make" data-motor-motorfsl="@item.FSL.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                                               data-motor-sum="@item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-motor-premium="@item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                                               data-motor-excess="@item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-motor-model="@item.Model"><i class="fa fa-edit"> </i></a>
                                                            <a href="#confirmMotorDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-motor-id="@item.Model"><span class="fa fa-trash" id="span"></span></a>
                                                        </td>
                                                    </tr>
                                                }
                                                count++;
                                            }
                                        </table>

                                    </form>

                                }
                            </div>
                        </div>
                    </div>
                }
                @if (Model.PLTerms.Count != 0)
                {
                    <div class="form-group">
                        <div class="card">
                            <div class="card-header">
                                <header>  PL Terms <a href="#SubTermModal" aria-hidden="true" data-sub-type="PL" style="color:green" data-toggle="modal"><u>Add New Term</u></a></header>
                            </div>
                            <div class="card-body">

                                @if (Model.PLTerms.Any())
                                {
                                    count = 0;
                                    <form action="~/Agreement/EditAgreement/item" method="POST" id="update-form" class="client-form" enctype="multipart/form-data">
                                        <table class="table table-bordered table-responsive-md table-striped text-center" id="PLTable">
                                            <tr>
                                                <th class="text-center" width="12%" hidden> Id</th>
                                                <th class="text-center" width="11%"> Sum Insured</th>
                                                <th class="text-center" width="11%"> Excess</th>
                                                <th class="text-center" width="11%"> Total Premium</th>
                                                <th class="text-center" width="11%"> Total Premium Difference</th>
                                                <th class="text-center" width="9%"></th>
                                            </tr>
                                            @foreach (var item in Model.PLTerms)
                                            {
                                                if (count % 2 == 1)
                                                {
                                        <tr class="table-light">
                                            <td class="pt-3-half" width="12%" contenteditable="true" id="VesselId" hidden>
                                                @item.TermId
                                            </td>

                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.PremiumDiffer.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td width="9%">
                                                <a href="#SubTermModal" aria-hidden="true" style="color:forestgreen" data-toggle="modal"
                                                   data-sub-sum="@item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-sub-type="@item.TermType" data-sub-premium="@item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                                   data-sub-excess="@item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-sub-id="@item.TermId" data-sub-premiumDiffer="@item.PremiumDiffer.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"><i class="fa fa-edit"> </i></a>
                                                <a href="#confirmTermDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-term-id="@item.TermId"><span class="fa fa-trash" id="span"></span></a>
                                            </td>
                                        </tr>
                                                }
                                                else
                                                {
                                        <tr>
                                            <td class="pt-3-half" width="12%" contenteditable="true" id="VesselId" hidden>
                                                @item.TermId
                                            </td>

                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.PremiumDiffer.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td width="9%">
                                                <a href="#SubTermModal" aria-hidden="true" style="color:forestgreen" data-toggle="modal"
                                                   data-sub-sum="@item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-sub-type="@item.TermType" data-sub-premium="@item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                                   data-sub-excess="@item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-sub-id="@item.TermId" data-sub-premiumDiffer="@item.PremiumDiffer.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"><i class="fa fa-edit"> </i></a>
                                                <a href="#confirmTermDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-term-id="@item.TermId"><span class="fa fa-trash" id="span"></span></a>
                                            </td>
                                        </tr>
                                                }
                                            }
                                        </table>

                                    </form>

                                }
                                

                            </div>
                        </div>
                    </div>
                }
                @if (Model.EDTerms.Count != 0)
                {
                    <div class="form-group">
                        <div class="card">
                            <div class="card-header">
                                <header>  ED Terms <a href="#SubTermModal" aria-hidden="true" data-sub-type="ED" style="color:green" data-toggle="modal"><u>Add New Term</u></a></header>
                            </div>
                            <div class="card-body">

                                @if (Model.EDTerms.Any())
                                {
                                    count = 0;
                                    <form action="~/Agreement/EditAgreement/item" method="POST" id="update-form" class="client-form" enctype="multipart/form-data">

                                        <table class="table table-bordered table-responsive-md table-striped text-center" id="PLTable">
                                            <tr>
                                                <th class="text-center" width="12%" hidden> Id</th>
                                                <th class="text-center" width="11%"> Sum Insured</th>
                                                <th class="text-center" width="11%"> Excess</th>
                                                <th class="text-center" width="11%"> Total Premium</th>
                                                <th class="text-center" width="11%"> Total Premium Difference</th>
                                                <th class="text-center" width="9%"></th>
                                            </tr>
                                            @foreach (var item in Model.EDTerms)
                                            {
                                                @if (count % 2 == 1)
                                                {
                                        <tr class="table-light">
                                            <td class="pt-3-half" width="12%" contenteditable="true" id="VesselId" hidden>
                                                @item.TermId
                                            </td>

                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.PremiumDiffer.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td width="9%">
                                                <a href="#SubTermModal" aria-hidden="true" style="color:forestgreen" data-toggle="modal"
                                                   data-sub-sum="@item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-sub-type="@item.TermType" data-sub-premium="@item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                                   data-sub-excess="@item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-sub-id="@item.TermId" data-sub-premiumDiffer="@item.PremiumDiffer.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"><i class="fa fa-edit"> </i></a>
                                                <a href="#confirmTermDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-term-id="@item.TermId"><span class="fa fa-trash" id="span"></span></a>
                                            </td>
                                        </tr>
                                                }
                                                else
                                                {
                                        <tr>
                                            <td class="pt-3-half" width="12%" contenteditable="true" id="VesselId" hidden>
                                                @item.TermId
                                            </td>

                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.PremiumDiffer.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td width="9%">
                                                <a href="#SubTermModal" aria-hidden="true" style="color:forestgreen" data-toggle="modal"
                                                   data-sub-sum="@item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-sub-type="@item.TermType" data-sub-premium="@item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                                   data-sub-excess="@item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-sub-id="@item.TermId" data-sub-premiumDiffer="@item.PremiumDiffer.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"><i class="fa fa-edit"> </i></a>
                                                <a href="#confirmTermDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-term-id="@item.TermId"><span class="fa fa-trash" id="span"></span></a>
                                            </td>
                                        </tr>
                                                }
                                            }
                                        </table>

                                    </form>

                                }

                            </div>
                        </div>
                    </div>
                }
                @if (Model.PITerms.Count != 0)
                {
                    <div class="form-group">
                        <div class="card">
                            <div class="card-header">
                                <header>  PI Terms <a href="#SubTermModal" aria-hidden="true" data-sub-type="PI" style="color:green" data-toggle="modal"> <u>  Add New Term </u></a></header>
                                

                            </div>
                            <div class="card-body">

                                @if (Model.PITerms.Any())
                                {
                                    count = 0;
                                    <form action="~/Agreement/EditAgreement/item" method="POST" id="update-form" class="client-form" enctype="multipart/form-data">

                                        <table class="table table-bordered table-responsive-md table-striped text-center" id="PLTable">
                                            <tr>
                                                <th class="text-center" width="12%" hidden> Id</th>
                                                <th class="text-center" width="11%"> Sum Insured</th>
                                                <th class="text-center" width="11%"> Excess</th>
                                                <th class="text-center" width="11%"> Total Premium</th>
                                                <th class="text-center" width="11%"> Base Premium</th>
                                                <th class="text-center" width="11%"> Total Premium Difference</th>
                                                <th class="text-center" width="9%"></th>
                                            </tr>
                                            @foreach (var item in Model.PITerms)
                                            {
                                        <tr class="clickable-row">
                                            <td class="pt-3-half" width="12%" contenteditable="true" id="VesselId" hidden>
                                                @item.TermId
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.BasePremium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.PremiumDiffer.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td width="9%">
                                                <a href="#SubTermModal" aria-hidden="true" style="color:forestgreen" data-toggle="modal"
                                                   data-sub-sum="@item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-sub-type="@item.TermType" data-sub-premium="@item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                                   data-sub-excess="@item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-sub-id="@item.TermId" data-sub-premiumDiffer="@item.PremiumDiffer.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"><i class="fa fa-edit"> </i></a>
                                                <a href="#confirmTermDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-term-id="@item.TermId"><span class="fa fa-trash" id="span"></span></a>
                                            </td>
                                        </tr>
                                            }
                                        </table>

                                    </form>

                                }

                            </div>
                        </div>
                    </div>


                }
                @if (Model.ELTerms.Count != 0)
                {
                    <div class="form-group">
                        <div class="card">
                            <div class="card-header">
                                <header>  EL Terms <a href="#SubTermModal" aria-hidden="true" data-sub-type="EL" style="color:green" data-toggle="modal"><u>  Add New Term </u></a></header>
                            </div>
                            <div class="card-body">

                                @if (Model.ELTerms.Any())
                                {
                                    count = 0;
                                    <form action="~/Agreement/EditAgreement/item" method="POST" id="update-form" class="client-form" enctype="multipart/form-data">
                                        <header>  EL Terms</header>

                                        <table class="table table-bordered table-responsive-md table-striped text-center" id="PLTable">
                                            <tr>
                                                <th class="text-center" width="12%" hidden> Id</th>
                                                <th class="text-center" width="11%"> Sum Insured</th>
                                                <th class="text-center" width="11%"> Excess</th>
                                                <th class="text-center" width="11%"> Total Premium</th>
                                                <th class="text-center" width="11%"> Total Premium Difference</th>
                                                <th class="text-center" width="9%"></th>
                                            </tr>
                                            @foreach (var item in Model.ELTerms)
                                            {
                                                @if (count % 2 == 1)
                                                {
                                        <tr class="table-light">
                                            <td class="pt-3-half" width="12%" contenteditable="true" id="VesselId" hidden>
                                                @item.TermId
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.PremiumDiffer.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td width="9%">
                                                <a href="#SubTermModal" aria-hidden="true" style="color:forestgreen" data-toggle="modal"
                                                   data-sub-sum="@item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-sub-type="@item.TermType" data-sub-premium="@item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                                   data-sub-excess="@item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-sub-id="@item.TermId" data-sub-premiumDiffer="@item.PremiumDiffer.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"><i class="fa fa-edit"> </i></a>
                                                <a href="#confirmTermDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-term-id="@item.TermId"><span class="fa fa-trash" id="span"></span></a>
                                            </td>
                                        </tr>
                                                }
                                                else
                                                {
                                        <tr>
                                            <td class="pt-3-half" width="12%" contenteditable="true" id="VesselId" hidden>
                                                @item.TermId
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.PremiumDiffer.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td width="9%">
                                                <a href="#SubTermModal" aria-hidden="true" style="color:forestgreen" data-toggle="modal"
                                                   data-sub-sum="@item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-sub-type="@item.TermType" data-sub-premium="@item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                                   data-sub-excess="@item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-sub-id="@item.TermId" data-sub-premiumDiffer="@item.PremiumDiffer.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"><i class="fa fa-edit"> </i></a>
                                                <a href="#confirmTermDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-term-id="@item.TermId"><span class="fa fa-trash" id="span"></span></a>
                                            </td>
                                        </tr>
                                                }
                                                count++;
                                            }
                                        </table>

                                    </form>

                                }


                            </div>
                        </div>
                    </div>
                }
                @if (Model.CLTerms.Count != 0)
                {
                    <div class="form-group">
                        <div class="card">
                            <div class="card-header">
                                <header>  CL Terms <a href="#SubTermModal" aria-hidden="true" data-sub-type="CL" style="color:green" data-toggle="modal"><u>  Add New Term </u></a> </header>
                            </div>
                            <div class="card-body">

                                @if (Model.CLTerms.Any())
                                {
                                    count = 0;
                                    <form action="~/Agreement/EditAgreement/item" method="POST" id="update-form" class="smart-form client-form" enctype="multipart/form-data">

                                        <table class="table table-bordered table-responsive-md table-striped text-center" id="PLTable">
                                            <tr>
                                                <th class="text-center" width="12%" hidden> Id</th>
                                                <th class="text-center" width="11%"> Sum Insured</th>
                                                <th class="text-center" width="11%"> Excess</th>
                                                <th class="text-center" width="11%"> Total Premium</th>
                                                <th class="text-center" width="11%"> Total Premium Difference</th>
                                                <th class="text-center" width="9%"></th>
                                            </tr>
                                            @foreach (var item in Model.CLTerms)
                                            {
                                                @if (count % 2 == 1)
                                                {
                                        <tr class="table-light">
                                            <td class="pt-3-half" width="12%" contenteditable="true" id="VesselId" hidden>
                                                @item.TermId
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.PremiumDiffer.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td width="9%">
                                                <a href="#SubTermModal" aria-hidden="true" style="color:forestgreen" data-toggle="modal"
                                                   data-sub-sum="@item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-sub-type="@item.TermType" data-sub-premium="@item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                                   data-sub-excess="@item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-sub-id="@item.TermId" data-sub-premiumDiffer="@item.PremiumDiffer.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"><i class="fa fa-edit"> </i></a>
                                                <a href="#confirmTermDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-term-id="@item.TermId"><span class="fa fa-trash" id="span"></span></a>
                                            </td>
                                        </tr>
                                                }
                                                else
                                                {
                                        <tr>
                                            <td class="pt-3-half" width="12%" contenteditable="true" id="VesselId" hidden>
                                                @item.TermId
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.PremiumDiffer.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td width="9%">
                                                <a href="#SubTermModal" aria-hidden="true" style="color:forestgreen" data-toggle="modal"
                                                   data-sub-sum="@item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-sub-type="@item.TermType" data-sub-premium="@item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                                   data-sub-excess="@item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-sub-id="@item.TermId" data-sub-premiumDiffer="@item.PremiumDiffer.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"><i class="fa fa-edit"> </i></a>
                                                <a href="#confirmTermDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-term-id="@item.TermId"><span class="fa fa-trash" id="span"></span></a>
                                            </td>
                                        </tr>
                                                }
                                                count++;
                                            }
                                        </table>

                                    </form>

                                }

                            </div>
                        </div>
                    </div>
                }
                @if (Model.SLTerms.Count != 0)
                {
                    <div class="form-group">
                        <div class="card">
                            <div class="card-header">
                                <header>  SL Terms <a href="#SubTermModal" aria-hidden="true" data-sub-type="SL" style="color:green" data-toggle="modal"> <u>Add New Term</u></a></header>
                            </div>
                            <div class="card-body">

                                @if (Model.SLTerms.Any())
                                {
                                    count = 0;
                                    <form action="~/Agreement/EditAgreement/item" method="POST" id="update-form" class="client-form" enctype="multipart/form-data">

                                        <table class="table table-bordered table-responsive-md table-striped text-center" id="PLTable">
                                            <tr>
                                                <th class="text-center" width="12%" hidden> Id</th>
                                                <th class="text-center" width="11%"> Sum Insured</th>
                                                <th class="text-center" width="11%"> Excess</th>
                                                <th class="text-center" width="11%"> Total Premium</th>
                                                <th class="text-center" width="11%"> Total Premium Difference</th>
                                                <th class="text-center" width="9%"></th>
                                            </tr>
                                            @foreach (var item in Model.SLTerms)
                                            {
                                                @if (count % 2 == 1)
                                                {
                                        <tr class="table-light">
                                            <td class="pt-3-half" width="12%" contenteditable="true" id="VesselId" hidden>
                                                @item.TermId
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.PremiumDiffer.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td width="9%">
                                                <a href="#SubTermModal" aria-hidden="true" style="color:forestgreen" data-toggle="modal"
                                                   data-sub-sum="@item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-sub-type="@item.TermType" data-sub-premium="@item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                                   data-sub-excess="@item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-sub-id="@item.TermId" data-sub-premiumDiffer="@item.PremiumDiffer.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"><i class="fa fa-edit"> </i></a>
                                                <a href="#confirmTermDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-term-id="@item.TermId"><span class="fa fa-trash" id="span"></span></a>
                                            </td>
                                        </tr>
                                                }
                                                else
                                                {
                                        <tr>
                                            <td class="pt-3-half" width="12%" contenteditable="true" id="VesselId" hidden>
                                                @item.TermId
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.PremiumDiffer.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td width="9%">
                                                <a href="#SubTermModal" aria-hidden="true" style="color:forestgreen" data-toggle="modal"
                                                   data-sub-sum="@item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-sub-type="@item.TermType" data-sub-premium="@item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                                   data-sub-excess="@item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-sub-id="@item.TermId" data-sub-premiumDiffer="@item.PremiumDiffer.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"><i class="fa fa-edit"> </i></a>
                                                <a href="#confirmTermDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-term-id="@item.TermId"><span class="fa fa-trash" id="span"></span></a>
                                            </td>
                                        </tr>
                                                }
                                                count++;
                                            }
                                        </table>

                                    </form>

                                }

                            </div>
                        </div>
                    </div>
                }
                @if (Model.DOTerms.Count != 0)
                {
                    <div class="form-group">
                        <div class="card">
                            <div class="card-header">
                                <header>  DO Terms  <a href="#SubTermModal" aria-hidden="true" data-sub-type="DO" style="color:green" data-toggle="modal"><u>Add New Term</u></a></header>
                            </div>
                            <div class="card-body">

                                @if (Model.DOTerms.Any())
                                {
                                    count = 0;
                                    <form action="~/Agreement/EditAgreement/item" method="POST" id="update-form" class="smart-form client-form" enctype="multipart/form-data">

                                        <table class="table table-bordered table-responsive-md table-striped text-center" id="PLTable">
                                            <tr>
                                                <th class="text-center" width="12%" hidden> Id</th>
                                                <th class="text-center" width="11%"> Sum Insured</th>
                                                <th class="text-center" width="11%"> Excess</th>
                                                <th class="text-center" width="11%"> Total Premium</th>
                                                <th class="text-center" width="11%"> Total Premium Difference</th>
                                                <th class="text-center" width="9%"></th>
                                            </tr>
                                            @foreach (var item in Model.DOTerms)
                                            {
                                                @if (count % 2 == 1)
                                                {
                                        <tr class="table-light">
                                            <td class="pt-3-half" width="12%" contenteditable="true" id="VesselId" hidden>
                                                @item.TermId
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.PremiumDiffer.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td width="9%">
                                                <a href="#SubTermModal" aria-hidden="true" style="color:forestgreen" data-toggle="modal"
                                                   data-sub-sum="@item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-sub-type="@item.TermType" data-sub-premium="@item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                                   data-sub-excess="@item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-sub-id="@item.TermId" data-sub-premiumDiffer="@item.PremiumDiffer.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"><i class="fa fa-edit"> </i></a>
                                                <a href="#confirmTermDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-term-id="@item.TermId"><span class="fa fa-trash" id="span"></span></a>
                                            </td>
                                        </tr>
                                                }
                                                else
                                                {
                                        <tr>
                                            <td class="pt-3-half" width="12%" contenteditable="true" id="VesselId" hidden>
                                                @item.TermId
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td class="pt-3-half" width="11%" contenteditable="true">
                                                @item.PremiumDiffer.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))
                                            </td>
                                            <td width="9%">
                                                <a href="#SubTermModal" aria-hidden="true" style="color:forestgreen" data-toggle="modal"
                                                   data-sub-sum="@item.TermLimit.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-sub-type="@item.TermType" data-sub-premium="@item.Premium.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"
                                                   data-sub-excess="@item.Excess.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))" data-sub-id="@item.TermId" data-sub-premiumDiffer="@item.PremiumDiffer.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-NZ"))"><i class="fa fa-edit"> </i></a>
                                                <a href="#confirmTermDelete" aria-hidden="true" style="color:red" data-toggle="modal" data-term-id="@item.TermId"><span class="fa fa-trash" id="span"></span></a>
                                            </td>
                                        </tr>
                                                }
                                                count++;
                                            }
                                        </table>


                                    </form>

                                }

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



<div class="modal" id="confirmMotorDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="color:black;font-size:18px; ">Confirm To Delete This Term</p>
            </div>
            <div class="form-group">
                <input type="text" class="form-control " id="Motor_Id" name="MotorId" hidden />
            </div>
            <div class="form-group">
            </div>
            <div class="modal-footer">
                <button type="Submit" data-dismiss="modal" class="btn btn-success" id="btnMotorDelete">Confirm </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="confirmTermDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="color:black;font-size:18px; ">Confirm To Delete This Term</p>
            </div>
            <div class="form-group">
                <input type="text" class="form-control " id="Term_Id" name="TermId" hidden />
            </div>
            <div class="form-group">
            </div>
            <div class="modal-footer">
                <button type="Submit" data-dismiss="modal" class="btn btn-success" id="btnTermDelete">Confirm </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="color:black;font-size:18px; ">Confirm To Delete This Term</p>
            </div>
            <div class="form-group">
                <input type="text" class="form-control " id="Boat_Id" name="BoatId" hidden />
            </div>
            <div class="form-group">
                <input type="text" class="form-control " id="BoatName" name="BoatName" readonly />
            </div>
            <div class="modal-footer">
                <button type="Submit" data-dismiss="modal" class="btn btn-success" id="btnDelete">Confirm </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>



<div id="myModal" class="modal container-fluid" role="dialog">


    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="color:blue; font-size:22px">Edit</h4>
        </div>
        <div class="modal-body">
            <form id="ProdForm">

                <div class="form-group">
                    <label for="MaxSumInsured">Vessel Name</label>

                    <input type="text" class="form-control " id="Boat_Name" name="Boat_Name" readonly />

                </div>
                <div class="form-group">
                    <label for="MaxSumInsured">Vessel Make</label>

                    <input type="text" class="form-control " id="BoatMake" name="BoatMake" readonly />
                </div>
                <div class="form-group">
                    <label for="MaxSumInsured">Vessel Model</label>

                    <input type="text" class="form-control " id="BoatModel" name="BoatModel" readonly />
                </div>
                <div class="form-group">
                    <label for="MaxSumInsured">Vessel Sum Insured</label>
                    <input type="text" class="form-control" id="SumInsured" name="SumInsured" readonly />
                </div>
                <div class="form-group">
                    <label for="Excess">Vessel Excess</label>
                    <input type="text" class="form-control" id="Excess" name="Excess">
                    <p class="validationContainer" id="validateBoatExcess"></p>

                </div>
                <div class="form-group">
                    <label for="Premium">Vessel Total Premium</label>
                    <input type="text" class="form-control" id="Premium" name="Premium">
                    <p class="validationContainer" id="validateBoatPremium"></p>

                </div>
                <div class="form-group">
                    <label for="Premium">Vessel FSL</label>
                    <input type="text" class="form-control" id="FSL" name="FSL">
                    <p class="validationContainer" id="validateBoatFSL"></p>

                </div>
            </form>
        </div>
        <div class="modal-footer">
            <input type="Reset" value="Submit" class="btn btn-success" id="btnSubmit">
            <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
        </div>
    </div>
</div>



<div id="VesselModal" class="modal" role="dialog">


    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="color:blue; font-size:22px">Edit Vehicle</h4>
        </div>
        <div class="modal-body">
            <form id="ProdForm">

                <div class="form-group">
                    <label for="MaxSumInsured">Vehicle Registration</label>
                    <input type="text" class="form-control " id="MotorRego" name="MotorRego" readonly />
                </div>
                <div class="form-group">
                    <label for="MaxSumInsured">Vehicle Make</label>
                    <input type="text" class="form-control " id="MotorMake" name="MotorMake" readonly />
                </div>
                <div class="form-group">
                    <label for="MaxSumInsured">Vehicle Model</label>
                    <input type="text" class="form-control " id="MotorModel" name="MotorModel" readonly />
                </div>

                <div class="form-group">
                    <label for="MaxSumInsured">Vehicle Sum Insured</label>
                    <input type="text" class="form-control" id="MotorSumInsured" name="MotorSumInsured" readonly />
                </div>
                <div class="form-group">
                    <label for="Excess">Vehicle Excess</label>
                    <input type="text" class="form-control" id="MotorExcess" name="MotorExcess">
                    <p class="validationContainer" id="validateMotorExcess"></p>

                </div>
                <div class="form-group">
                    <label for="Premium">Vehicle Total Premium</label>
                    <input type="text" class="form-control" id="MotorPremium" name="MotorPremium">
                    <p class="validationContainer" id="validateMotorPremium"></p>

                </div>
                <div class="form-group">
                    <label for="Premium">Vehicle FSL</label>
                    <input type="text" class="form-control" id="MotorFSL" name="MotorFSL">
                    <p class="validationContainer" id="validateMotorFSL"></p>

                </div>
            </form>
        </div>
        <div class="modal-footer">
            <input type="Reset" value="Submit" class="btn btn-success" id="btnMotorSubmit">
            <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
        </div>
    </div>
</div>


<div id="SubTermModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:blue; font-size:22px">Edit SubTerm</h4>
            </div>
            <div class="modal-body">
                <form id="ProdForm">

                    <div class="form-group" hidden>
                        <label for="MaxSumInsured">Term Id</label>
                        <input type="text" class="form-control " id="TermId" name="Id" readonly />
                    </div>

                    <div class="form-group">
                        <label for="MaxSumInsured">Term Type</label>
                        <input type="text" class="form-control " id="TermType" name="TermType" readonly />
                    </div>

                    <div class="form-group">
                        <label for="MaxSumInsured">Sum Insured</label>
                        <input type="text" class="form-control" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" id="TermSumInsured" name="SumInsured" />
                        <p class="validationContainer" id="validateTermSum"></p>

                    </div>
                    <div class="form-group">
                        <label for="Excess">Excess</label>
                        <input type="text" class="form-control" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" id="TermExcess" name="Excess">
                        <p class="validationContainer" id="validateTermExcess"></p>

                    </div>
                    <div class="form-group">
                        <label for="Premium">Total Premium</label>
                        <input type="text" class="form-control" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" id="TermPremium" name="Premium">
                        <p class="validationContainer" id="validateTermPremium"></p>

                    </div>
                    <div class="form-group">
                        <label for="PremiumDiffer">Total Premium Difference</label>
                        <input type="text" class="form-control" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" id="TermPremiumDiffer" name="PremiumDiffer">
                        <p class="validationContainer" id="validateTermPremiumDiffer"></p>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <input type="Reset" value="Submit" class="btn btn-success" id="btnTermSubmit">
                <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>

    @section pagespecific {

        @await Html.PartialAsync("_AgreementScripts")

    }*@
