@model DealEngine.WebUI.Models.Agreement.ViewAgreementViewModel


@Html.HiddenFor(m => m.ProgrammeId)
@Html.HiddenFor(m => m.ClientProgrammeId)
<div class="container">
    <form method="POST" action="~/Services/PostClient" novalidate>
        <div class="card">
            <div class="card-header">
                <div class=" form-group">
                    @if (@ViewBag.IsTC) { 
                           <a class="btn btn-primary btn-sm">Re-render all documents </a>
                           <a class="btn-success btn btn-xs" href="/Agreement/RerenderAlldocs?ProgrammeId=@Model.ProgrammeId"> Go </a>
                    }
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">

                    <div class="form-group col-md-6">

                        <div class="form-group">
                            <label class="label">Step 1 :- Select Product</label>
                            <select id="AgreemntProductType" name="ProductType" class="custom-select">

                                @foreach (var agreementproduct in Model.AgreementProducts)
                                {
                                    <option value="@agreementproduct.Id">@agreementproduct.Name</option>

                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="form-group">

                    <div class="form-group col-md-6">

                        <div class="form-group AgreemnTemplateTypeSec" style="display:none">


                            <label class="label">Step 2 :- Select Template</label>
                            <br />

                            <button class="btn btn-primary btn-sm" type="button">Re-render selected template</button>
                            <button class="btn-success btn btn-xs" type="button" onclick='Rerenderselected("AgreemntTemplateType")'>Go</button>
                            <br />
                            <select id="AgreemntTemplateType" name="TemplateType" class="form-control input-lg">
                            </select>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card-body" style="display:none">
                <div class="form-group">

                    <div class="form-group col-md-6">

                        <div class="form-group">
                            <button class="btn btn-primary btn-sm" type="button">Re-render Other Documents</button>
                            <button class="btn-success btn btn-xs" type="button" onclick='RerenderOtherselected("OtherDocumentType")'>Go</button>
                            <br />

                            <select id="OtherDocumentType" name="OtherDocumentType" class="custom-select">
                                <option value="FullProposal Report">Full Proposal Report</option>
                            </select>
                            
                        </div>

                    </div>
                </div>
            </div>

            <div class="card-footer">
            </div>
        </div>
    </form>
</div>

<div class="modal" id="getRerenderModal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p><img src="/img/loading.gif" /> Rendering your documents. Please wait...</p>
            </div>
        </div>
    </div>
</div>


@section pagespecific {

    @await Html.PartialAsync("_AgreementScripts")
}