@model BaseListViewModel<DealEngine.WebUI.Models.Agreement.ViewAgreementViewModel>

@{
    bool multiCoverOptionsStatus = false;

    @foreach (var item in Model)
    {
        if (item.IsMultipleOption && !multiCoverOptionsStatus)
        {
            multiCoverOptionsStatus = true;
        }
    }

}

<!-- MAIN CONTENT -->
<form class="is-up container" id="ViewAgreementViewModel">

    <div class="form-group">
        @*<h1 class="page-title text-blueDark"><i class="fa-fw fa fa-home"></i> Agreement <span>> @ViewBag.Title</span></h1>*@
    </div>

    <div class="form-group">
        <span>
            <a class="btn btn-primary btn-xs" href="~/Home/Index" id="backbutton"><i class="fa fa-home"></i> Back to Dashboard</a>
        </span>
    </div>

    <div class="form-group">

        <div class="accordion" id="agreementAccordion">


            @foreach (var item in Model)
            {
                <div class="card">
                        <div class="card-header text-white" id="header_@item.ClientAgreementId" type="button" data-toggle="collapse" data-target="#collapse_@item.ClientAgreementId" aria-expanded="true" aria-controls="collapse_@item.ClientAgreementId" style="height:70px;background-color:#00A8C8; text-align:left;">
                            <h3 class="mb-0">
                                @item.ProductName - <small class="text-justify">@item.Status</small>
                            </h3>                            
                        </div>

                    <div id="collapse_@item.ClientAgreementId" class="collapse" aria-labelledby="header_@item.ClientAgreementId" data-parent="#agreementAccordion">
                        <div class="card-body">
                            <div class="form-group">
                                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group mr-2" role="group" aria-label="First group">
                                        @if (item.CurrentUser.PrimaryOrganisation.IsBroker || item.CurrentUser.PrimaryOrganisation.IsTC)
                                        {

                                            <a href="~/Information/ViewProgrammeDetails/@item.ClientProgrammeId" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> View Information Sheet</a>
                                            <a href="~/Agreement/EditAgreement/@item.ClientAgreementId" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Edit Agreement</a>
                                            <a href="~/Agreement/ViewAgreementRule/@item.ClientAgreementId" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Edit Agreement Rules</a>
                                            <a href="~/Agreement/ViewAgreementEndorsement/@item.ClientAgreementId" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Edit Agreement Endorsements</a>
                                            <a href="~/Agreement/EditTerms/@item.ClientAgreementId" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Edit Terms</a>
                                            <a href="@Url.Action("AuthoriseReferrals", "Agreement", new { sheetId = @item.ClientProgrammeId, informationsheet = @item.InformationSheetId, agreementId = @item.ClientAgreementId })" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Authorise Referrals</a>

                                            @if (item.Status == "Quoted" && item.ClientInformationSheet.Status == "Submitted")
                                            {
                                                @if (item.SentOnlineAcceptance != true)
                                                {
                                                    <a href="~/Information/SendOnlineAcceptance/?ClientAgreement=@item.ClientAgreementId" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Send Online Acceptance</a>
                                                }
                                                else
                                                {
                                                    <a href="~/Information/SendOnlineAcceptance/?ClientAgreement=@item.ClientAgreementId" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Resend Online Acceptance</a>
                                                }
                                            }
                                            @if (item.Status != "Declined by Insurer" || item.Status != "Declined by Insured" || item.Status != "Cancelled" ||
item.Status != "Bound" || item.Status != "Bound and invoice pending" || item.Status != "Bound and invoiced")
                                            {
                                                <a href="~/Agreement/DeclineAgreement/@item.ClientAgreementId" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Decline Agreement</a>
                                            }
                                            @if (item.Status == "Declined by Insurer" || item.Status == "Declined by Insured")
                                            {
                                                <a href="~/Agreement/UndeclineAgreement/@item.ClientAgreementId" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Undecline Agreement</a>
                                            }
                                            @if ((item.Status != "Declined by Insurer" || item.Status != "Declined by Insured" || item.Status != "Cancelled") &&
(item.Status == "Bound" || item.Status == "Bound and invoice pending" || item.Status == "Bound and invoiced" || item.Status == "Cancel Pending"))
                                            {
                                                <a href="~/Agreement/CancellAgreement/@item.ClientAgreementId" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Cancel Agreement</a>
                                            }
                                            <a href="@Url.Action("EditBillingConfiguration", "Programme", new { programmeId = @item.ClientProgrammeId })" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Billing Information Configuration</a>

                                        }
                                        else if (item.CurrentUser.PrimaryOrganisation.IsInsurer)
                                        {
                                            <a href="~/Information/ViewProgrammeDetails/@item.ClientProgrammeId" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> View Information Sheet</a>
                                            <a href="~/Agreement/ViewAgreementEndorsement/@item.ClientAgreementId" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Edit Agreement Endorsements</a>
                                            <a href="~/Agreement/EditTerms/@item.ClientAgreementId" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Edit Terms</a>
                                            <a href="@Url.Action("AuthoriseReferrals", "Agreement", new { sheetId = @item.ClientProgrammeId, informationsheet = @item.InformationSheetId, agreementId = @item.ClientAgreementId })" class="btn txt-color-white bg-color-green btn-sm"><i class="fa fa-edit"></i> Authorise Referrals</a>

                                            @if (item.Status == "Quoted" && item.ClientInformationSheet.Status == "Submitted")
                                            {
                                                @if (item.SentOnlineAcceptance != true)
                                                {
                                                    <a href="~/Information/SendOnlineAcceptance/?ClientAgreement=@item.ClientAgreementId" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Send Online Acceptance</a>
                                                }
                                                else
                                                {
                                                    <a href="~/Information/SendOnlineAcceptance/?ClientAgreement=@item.ClientAgreementId" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Resend Online Acceptance</a>
                                                }
                                            }


                                            @if (item.Status != "Declined by Insurer" || item.Status != "Declined by Insured" || item.Status != "Cancelled" ||
item.Status != "Bound" || item.Status != "Bound and invoice pending" || item.Status != "Bound and invoiced")
                                            {
                                                <a href="~/Agreement/DeclineAgreement/@item.ClientAgreementId" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Decline Agreement</a>
                                            }
                                            @if (item.Status == "Declined by Insurer" || item.Status == "Declined by Insured")
                                            {
                                                <a href="~/Agreement/UndeclineAgreement/@item.ClientAgreementId" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Undecline Agreement</a>
                                            }
                                            @if ((item.Status != "Declined by Insurer" || item.Status != "Declined by Insured" || item.Status != "Cancelled") &&
(item.Status == "Bound" || item.Status == "Bound and invoice pending" || item.Status == "Bound and invoiced"))
                                            {
                                                <a href="~/Agreement/CancellAgreement/@item.ClientAgreementId" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Cancel Agreement</a>
                                            }

                                        }

                                    </div>
                                </div>

                                <div class="form-group">
                                    @await Html.PartialAsync("Partials/ViewAgreement", item)
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            }

        <div class="card">
                <div class="card-header text-white" id="documentheader" type="button" data-toggle="collapse" data-target="#collapse_document" aria-expanded="true" aria-controls="collapse_document" style="height:70px;background-color:#00A8C8; text-align:left;">
                    <h3 class="mb-0">
                        Documents/Options
                    </h3>
                </div>

                <div id="collapse_document" class="collapse" aria-labelledby="documentheader" data-parent="#agreementAccordion">
                    <div class="card-body">
                        <div class="form-group">
                            @foreach (var item in Model)
                            {

                                @if ((item.Status != "Declined by Insurer" || item.Status != "Declined by Insured" || item.Status != "Cancelled") &&
(item.Status == "Bound" || item.Status == "Bound and invoice pending" || item.Status == "Bound and invoiced"))
                                {
                                    <h3><strong>All Documents </strong></h3>

                                    @await Html.PartialAsync("Partials/ViewAgreementDocs", item.Documents)

                                    @if (@ViewBag.IsBroker || @ViewBag.IsTC || @ViewBag.IsInsurer)
                                    {
                                        <h3><strong>Options </strong></h3>
                                        <a class="btn btn-primary btn-sm" href="/Agreement/RenderDocuments/@item.InformationSheetId">Render Documents</a>
                                        <a class="btn btn-success btn-sm" href="~/Agreement/SendPolicyDocuments?id=@item.InformationSheetId&sendUser=@false"><i class="fa fa-edit"></i> Send Insurer Documents</a>
                                        <a class="btn btn-success btn-sm" href="~/Agreement/SendPolicyDocuments?id=@item.InformationSheetId&sendUser=@true"><i class="fa fa-edit"></i> Send Me Documents</a>
                                    }
                                }
                                //loop through process once only!!
                                break;
                            }
                        </div>

                        @if (multiCoverOptionsStatus && (ViewBag.IsBroker || ViewBag.IsTC || ViewBag.IsInsurer))
                        {
                            <div class="form-group">
                                <div> <button class="btn btn-success btn-sm" onclick="SaveCoveroptions();">Save All Cover Options</button></div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>


@section pagespecific {
    <script type="text/javascript">
          function SaveCoveroptions() {
              var ID = "@ViewBag.Id";
         //var ID = $('#Id').val();
               var postdata = {
                     id : ID
                }
                $.ajax({
                   url: '@Url.Action("GetProductName", "Information")',
                   type: "POST",
                   data: postdata
                })
                    .done(function (data) {
                        var prodname = data;
                        var CoverOptions = new Array(prodname.length);

                        for (var i = 0; i < prodname.length; i++) {
                            var ProdName = prodname[i];
                            var queryselector = ""+"input[name=\'" + ProdName + "\']:checked";
                            var optionsselected = $(queryselector).val();
                                    CoverOptions[i] = optionsselected;
                        }

                        var progId = $('#ClientProgrammeId').val();
                        var postData = { Answers: CoverOptions, ProgrammeId: progId };

                        $.ajax({
                            url: '@Url.Action("SaveCoverOptions", "Information")',
                            type: "POST",
                            data: postData
                        })
                            .done(function (data) {
                            })
                            .fail(function (a, s, d) {
                                alert("Unable to save.");
                            });

                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        alert("There was an error getting ProductName.");
                    });

          };

        $(window).on("load", function () {
            if ($("#Sheetstatus").val() != "Started") {
                var progId = "@ViewBag.Id";
                                debugger;

                //var progId 3= $('#ClientProgrammeId').val();
                var postData = { ProgrammeId: "@ViewBag.Id" };
                $.ajax({
                    url: '@Url.Action("GetCoverOptions", "Information")',
                    type: "POST",
                    data: postData
                }).done(function (data) {
                    if (data != "") {
                        for (var item = 0; item < data.length; item++) {
                            var arr = data[item];
                            var count = 0;
                            //var element = 'input[name=\\"' + arr[count] + '"][value=\\"' + arr[count + 1] + '"]';
                            var queryselector = "" + "input[name=\'" + arr[count] + "\'][value=\'" + arr[count + 1] + "\']";

                            $(queryselector).attr('checked', true);
                            //$("#"+Arr[count]).
                            //$('#' + arr[count+1]).val(arr[count + 1]);
                        }
                    }
                }).fail(function (a, s, d) {
                    debugger;
                });

                 @*var postData = { ProgrammeId: "@ViewBag.Id" };

                $.ajax({
                    url: '@Url.Action("GetExtensionCoverOptions", "Information")',
                    type: "POST",
                    data: postData
                }).done(function (data) {
                    ///bound viewaccptedconverted
                    debugger;
                    if (data != "") {
                        for (var item = 0; item < data.length; item++) {
                            var arr = data[item];
                            var count = 0;
                            var queryselector = "" + "input[name=\'" + arr[count] + " Extensiontable\'][value=\'" + arr[count + 1] + "\']";
                            $(queryselector).attr('checked', true);
                            //extensionselected(arr[count]);
                        }
                    }
                }) .fail(function (jqXHR, textStatus, errorThrown) {
                alert("There was an error while trying to get the Cover Options.");
                });*@


            }

            @*if ("@ViewBag.Status.Contains("Bound")" == "True") {
                debugger;
                //var coveroptiontable = document.querySelector('[type="radio"]');
                $("#Coveroptionssec :input").prop("disabled", true);
            } else {
                $("#Coveroptionssec :input").prop("disabled", false);
            }*@


        });

    </script>
}
