@model DealEngine.WebUI.Models.Agreement.ViewAgreementEndorsementViewModel

<div class="container">
    <div class="row">
        <h1 class="page-title txt-color-blueDark">
            <!-- PAGE HEADER -->
            <i class="fa-fw fa fa-home"></i>
            <a href="~/Agreement/ViewAcceptedAgreement/@Model.ClientProgrammeID"> Agreement</a>
            > <span>Edit Agreement Endorsement</span>
        </h1>
    </div>

    <div class="row">
        <span>
            <a onclick="location.href='@Url.Action("ViewAcceptedAgreement", "Agreement",new { Id =@Model.ClientProgrammeID })'" style="color:dodgerblue;font-size:30px; cursor:pointer"> <span _ngcontent-c7="" class="icon-append fa fa-arrow-circle-left"></span>  </a>
        </span>
    </div>

    <div class="row">
        <div class="jarviswidget container-fluid" id="wid-id-10"
             data="false"
             data-widget-editbutton="false"
             data-widget-togglebutton="false"
             data-widget-deletebutton="false"
             data-widget-custombutton="false"
             data-widget-sortable="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
                <h2>@ViewBag.Title </h2>
            </header>

            <!-- widget div-->
            <form action="~/Agreement/ViewAgreementEndorsement/@Model.ClientAgreementID" method="POST" id="update-form" enctype="multipart/form-data">
                @Html.HiddenFor(m => m.ClientAgreementID)
                @Html.HiddenFor(m => m.ClientProgrammeID)

                @if (Model.HasEndorsements)
                {
                    <table class="table table-bordered table-responsive-md table-striped text-center" id="endorsements">
                        <tr>
                            <th class="text-center" width="25%" style="color:black">Endorsement Name</th>
                            <th class="text-center" width="60%" style="color:black">Endorsement Text</th>
                            <th class="text-center" width="15%" style="color:black">Endorsement Action</th>

                        </tr>
                        @foreach (var item in Model.ClientAgreementEndorsements)
                        {
                           <tr>
                            <td class="pt-3-half" width="25%" contenteditable="true" id="EndorsementName" style="color:black" align="left">
                               @item.Name

                            </td>
                            <td class="pt-3-half" width="75%" contenteditable="true" style="color:black" align="left">
                                @Html.Raw(@item.Value)
                             </td>
                             <td>
                               <button onclick="getEndorsement('@item.ClientAgreementEndorsementID')" style="color:red"><i class="fa fa-edit"></i></button>
                               <button onclick="SetEndorsementRemovedStatus('@item.ClientAgreementEndorsementID')" class="btn btn-success btn-sm"><span class="fa fa-trash"></span></button>

                             </td>
                            
                            </tr>

                        }
                    </table>
                }

                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr hidden>
                            <td >
                                @Html.TextBoxFor(m => m.ClientAgreementEndorsementID)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="col-md-2 control-label">Endorsement Title: </label>
                            </td>
                            <td>
                                <label class="input form-group">

                                    <select data-placeholder="Choose Primary Policy Product..." onchange="onSelect('endorsementtitle')" id="endorsementtitle" name="SelectedClaimProducts" class="form-control b form-select">
                                        <option selected="selected" value="">-- Select here --</option>
                                        @foreach (var bwloc in Model.AvailableEndorsementTitles)
                                        {
                                            <option value="@bwloc.Value"> @bwloc.Text</option>
                                        }
                                        <option value="Add New"> Add New</option>
                                    </select>
                                </label>

                                @*<i id="elem" href="#"
           class="fa fa-question-circle"
           data-placement="bottom"
           data-container="body"
           data-toggle="popover"
           data-content="Please select the Existing Endorsement Title to Add Endorsement Back or use Endorsement Name and Text Field directly to add new Endorsement.">

        </i>*@

                                <i id="elem" href="#"
                                   class="fa fa-question-circle"
                                   data-bs-placement="top"
                                   data-bs-container="body"
                                   data-bs-toggle="popover"
                                   data-bs-content="Please select the Existing Endorsement Title to Add Endorsement Back or use Endorsement Name and Text Field directly to add new Endorsement.">

                                </i>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="col-md-2 control-label">Endorsement Name: </label>
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.EndorsementNameToAdd)
                            </td>
                        </tr>
                        <tr class="table-light">
                            <td>
                                <label class="col-md-2 control-label">Endorsement Text: </label>
                            </td>
                            <td>
                                @Html.TextAreaFor(m => m.Content, new { @class = "form-control" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Save</button>
                            </td>

                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <!-- end widget -->
</div>
<!-- WIDGET END -->
@section pagespecific {

    <script src="~/smartwizard/js/jquery.smartWizard.min.js" defer></script>
    <link href="~/smartwizard/cc/smart_wizard_theme_circles.css" rel="stylesheet" />
    <script src="~/ckeditor/ckeditor5-build-classic-tc/build/ckeditor.js"></script>
    <link href="~/css/ckeditor.css" rel="stylesheet" />
    <script src="~/js/ckeditorPlugin.js"></script>

    <script type="text/javascript">

        function onSelect(endorsementtitle) {
            event.preventDefault();
            var Endorsement = document.getElementById(endorsementtitle);
            var EndorsementId = Endorsement.options[Endorsement.selectedIndex].value;

            if (EndorsementId != "Add New") {
                getEndorsement(EndorsementId);
            } else {
                $("#EndorsementNameToAdd").focus();
            }
      
        };

      function getEndorsement(endorsemnetID) {
        event.preventDefault();
        var postData = { clientAgreementEndorsementID: endorsemnetID };

        $.ajax({
            url: '@Url.Action("GetAgreementEndorsement", "Agreement")',
            type: "POST",
            data: postData
        })
            .done(function (data) {
                $("#ClientAgreementEndorsementID").val(data.clientAgreementEndorsementID);
                $("#EndorsementNameToAdd").val(data.name);
                window.editor.setData(data.value);

            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                        debugger;
                alert("There was an error while trying to get the Agreement Endorsement.");
            });

      };

         function SetEndorsementRemovedStatus(endorsemnetID) {
             event.preventDefault();
           var postData = { clientAgreementEndorsementID: endorsemnetID };
           
           $.ajax({
            url: '@Url.Action("SetEndorsementRemovedStatus", "Agreement")',
            type: "Post",
            data: postData
           })
            .done(function (data) {
                if (data === true) {
                    location.reload(true);
                    alert("Deleted Successfully!");
                } else {
                    alert("There was an error while trying to delete the Endorsement.");
                }
            });
         }

    </script>

<script>
    //$(function () {
    //    $('[ data-bs-toggle="popover"]').popover();
    //});
    $(document).ready(function () {
        $('[ data-bs-toggle="popover"]').popover({
            trigger: 'manual',
            html: true,
            animation: false
        }).on('mouseenter', function () {
            
            var _this = this;
            $(this).popover('show');
            $('.popover').on('mouseleave', function () {
               
                console.log(_this);
                $(_this).popover('hide');
            });
        }).on('mouseleave', function () {
            var _this = this;
            setTimeout(function () {
                if (!$('.popover:hover').length) {
                    $(_this).popover('hide');
                }
            }, 450);
        });
    });
</script>

}

