@*@model DealEngine.WebUI.Models.Image.CKImageUploadViewModel>*@
@model DealEngine.WebUI.Models.Image.ImageViewModel
@{
    ViewData["Title"] = "ManageImage";
}

<div id="content" class="container">
    <!-- Bread crumb is created dynamically -->
    <!-- row -->
    <div class="row">
        <h1 class="page-title txt-color-blueDark">
            <!-- PAGE HEADER -->
            <i class="fa-fw fa fa-home"></i>  <span>
                <a href="~/Home/Index">Dashboard</a>
                > Manage Image
            </span>
        </h1>
    </div>

    <div class="row">
        <span>
            <a onclick="location.href='@Url.Action("Index", "Home")'" style="color:dodgerblue;font-size:30px; cursor:pointer"> <span _ngcontent-c7="" class="icon-append fa fa-arrow-circle-left"></span>  </a>
        </span>
    </div>

    <div class="row">

        <div class="jarviswidget jarviswidget-color-blue container-fluid" id="wid-id-2" data-widget-editbutton="true" data-widget-colorbutton="false">
            
            <header>
                <span class="widget-icon"> <i class="fa fa-comments text-white"></i> </span>
                <h2> Manage Image </h2>
            </header>

            <div class="col-sm-12" style="overflow-y:auto; height:44vh; width:100%;text-align:center;">
                <form enctype="multipart/form-data" asp-controller="Image" asp-action="Upload" method="post" class="mt-3">
                    <div>
                        @foreach (var img in Model.Item)
                        {
                            <div class="col-sm-3 float-left">
                                <div class="col-sm-12">
                                    <img onclick="selectImgCKHome()" style="max-height:100%; max-width:100%; vertical-align:middle;" src=@img.ThumbPath id=@img.Id name=@img.Name />
                                </div>
                                <label class="ckimporterlabel" style="width:100%;text-align:center;">@img.Name</label>
                            </div>
                        }
                    </div>
                </form>
            </div>

            <div class="container-fluid" name="controls">
                <div class="form-group col-sm-9 float-right">
                    <div class="btn-group float-right col-sm-12" role="group">
                        <div class="col-sm-12 float-right" style="margin-top:.75rem;">
                            <button id="ckuploadbtn" onclick="" type="submit" class="btn btn-primary mr-2 float-right">Upload Image</button>
                            <button id="ckuploadbtnfile" onclick="" type="submit" class="btn btn-primary mr-2 float-right">Upload File</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal" id="uploadmodal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Select an Image</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form enctype="multipart/form-data" asp-controller="Image" asp-action="Upload" method="post" class="mt-3">              
                <!-- Image Upload Modal body -->
                <div class="modal-body col-sm-12">
                    <div class="form-group row">
                        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="Name" class="form-control" placeholder="Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Image</label>
                        <div class="col-sm-10">
                            <div class="custom-file">
                                <input asp-for="Image" class="form-control custom-file-input" name="Image" id="fileUpload" />
                                <label class="custom-file-label" id="custom-file-label">Choose Image...</label>
                            </div>                            
                        </div>
                        <div class="col-sm-12 mt-3" style="text-align:center;">
                            <p style="margin:0px !important">Please note: Only .jpg and .png file types are accepted.</p>
                        </div>                       
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer" style="display:flex;">
                    <div class="btn-group float-right mt-1" role="group">
                        <button id="" onclick="" type="submit" class="btn btn-primary">Upload Image</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="uploadmodalfile">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Select a File</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form enctype="multipart/form-data" asp-controller="Image" asp-action="UploadDoc" method="post" class="mt-3">              
                <!-- Image Upload Modal body -->
                <div class="modal-body col-sm-12">
                    <div class="form-group row">
                        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="Name" class="form-control" placeholder="Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">File</label>
                        <div class="col-sm-10">
                            <div class="custom-file">
                                <input asp-for="File" class="form-control custom-file-input" name="File" id="fileUploaddoc" />
                                <label class="custom-file-label" id="custom-file-label">Choose File...</label>
                            </div>                            
                        </div>              
                    </div>

                    <div class="form-group row">
                        <label for="sel1" class="col-sm-2 col-form-label">Product</label>
                        <div class="col-sm-10">
                            <div class="form-group">
                                <select asp-for="Product" class="form-control form-select" id="sel1">
                                    @foreach (var product in Model.Products)
                                    {
                                        <option value="@product.Id">@product.Name @product.UnderwritingModuleCode</option>
                                    }
                                </select>
                            </div>
                        </div>                    
                    </div>

                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer" style="display:flex;">
                    <div class="btn-group float-right mt-1" role="group">
                        <button id="" onclick="" type="submit" class="btn btn-primary">Upload File</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section pagespecific {

    <script type="text/javascript">
        $(document).ready(function () {

            $("#ckuploadbtn").click(function () {
                $("#uploadmodal").modal({
                    backdrop: true
                });
            });
            $("#ckuploadbtnfile").click(function () {
                $("#uploadmodalfile").modal({
                    backdrop: true
                });
            });

            $("#fileUploaddoc").change(function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('#custom-file-label').html(fileName);
                $("#custom-file-label").html(fileName);
            });

            $("#fileUpload").change(function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('#custom-file-label').html(fileName);
                $("#custom-file-label").html(fileName);
            });
        });
    </script>
}
