@model DealEngine.WebUI.Models.InformationViewModel


    <div class="form-group col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.OrganisationViewModel.PrincipalUnit.IsRetiredorDeceased, new { @class = "label required" })
            <select id="PrincipalUnit.IsRetiredorDeceased" name="OrganisationViewModel.PrincipalUnit.IsRetiredorDeceased" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                @foreach (var option in @Model.OrganisationViewModel.HasRetiredorDeceasedOptions)
                {
                    <option selected="@option.Selected" value="@option.Value">
                        @option.Text
                    </option>
                }
            </select>
        </div>
        <div id="OrganisationViewModel.PrincipalUnit.IsRetiredorDeceased" hidden>
            <div class="form-group">
                @Html.LabelFor(m => m.OrganisationViewModel.PrincipalUnit.DateofRetirement, new { @class = "label required" })
                @Html.TextBoxFor(m => m.OrganisationViewModel.PrincipalUnit.DateofRetirement, new { @class = "form-control", @id = "PrincipalUnit.DateofRetirement", @type = "date", @required = "" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.OrganisationViewModel.PrincipalUnit.YearOfPracticeCEAS, new { @class = "label required" })
            @Html.TextBoxFor(m => m.OrganisationViewModel.PrincipalUnit.YearOfPracticeCEAS, new { @class = "form-control", @id = "PrincipalUnit.YearOfPracticeCEAS", @required = "" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.OrganisationViewModel.PrincipalUnit.PrevPracticeCEAS, new { @class = "label required" })
            @Html.TextBoxFor(m => m.OrganisationViewModel.PrincipalUnit.PrevPracticeCEAS, new { @class = "form-control", @id = "PrincipalUnit.PrevPracticeCEAS", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
        </div>
    </div>    
    <div class="form-group col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.OrganisationViewModel.PrincipalUnit.Qualifications, new { @class = "label required" })
            @Html.TextBoxFor(m => m.OrganisationViewModel.PrincipalUnit.Qualifications, new { @class = "form-control", @id = "PrincipalUnit.Qualifications", @required = "", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.OrganisationViewModel.PrincipalUnit.IsIPENZmember, new { @class = "label required" })
            <select id="PrincipalUnit.IsIPENZmember" name="OrganisationViewModel.PrincipalUnit.IsIPENZmember" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                @foreach (var option in @Model.OrganisationViewModel.HasIsIPENZmemberOptions)
                {
                    <option selected="@option.Selected" value="@option.Value">
                        @option.Text
                    </option>
                }
            </select>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.OrganisationViewModel.PrincipalUnit.CPEngQualified, new { @class = "label required" })
            <select id="PrincipalUnit.CPEngQualified" name="OrganisationViewModel.PrincipalUnit.CPEngQualified" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                @foreach (var option in @Model.OrganisationViewModel.HasCPEngQualifiedOptions)
                {
                    <option selected="@option.Selected" value="@option.Value">
                        @option.Text
                    </option>
                }
            </select>
        </div>
    </div>





    
    

