@model DealEngine.WebUI.Models.InformationViewModel

    <div class="form-group col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.OrganisationViewModel.PrincipalUnit.Qualifications, new { @class = "label required" })
            @Html.TextBoxFor(m => m.OrganisationViewModel.PrincipalUnit.Qualifications, new { @class = "form-control", @id = "Organisation.Qualifications", @required = "", @onchange = "OnChange(this.id, this.name)", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.OrganisationViewModel.PrincipalUnit.IsRetiredorDeceased, new { @class = "label required" })
            <select id="PrincipalUnit.IsRetiredorDeceased" name="OrganisationViewModel.PrincipalUnit.IsRetiredorDeceased" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                @foreach (var option in @Model.OrganisationViewModel.HasRetiredorDeceasedOptions)
                {
                    <option selected="@option.Selected" value="@option.Value">
                        @option.Text
                    </option>
                }
            </select>
        </div>
        <div id="OrganisationViewModel.PrincipalUnit.IsRetiredorDeceased" hidden>
            <div class="form-group">
                @Html.LabelFor(m => m.OrganisationViewModel.PrincipalUnit.DateofRetirement, new { @class = "label required" })
                @Html.TextBoxFor(m => m.OrganisationViewModel.PrincipalUnit.DateofRetirement, new { @class = "form-control", @id = "PrincipalUnit.DateofRetirement", @type = "date", @required = "", @onchange = "OnChange(this.id, this.name)" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.OrganisationViewModel.PrincipalUnit.IsOtherdirectorship, new { @class = "label required" })
            <select id="PrincipalUnit.IsOtherdirectorship" name="OrganisationViewModel.PrincipalUnit.IsOtherdirectorship" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                @foreach (var option in @Model.OrganisationViewModel.HasIsOtherdirectorshipOptions)
                {
                    <option selected="@option.Selected" value="@option.Value">
                        @option.Text
                    </option>
                }
            </select>
        </div>
        <div id="OrganisationViewModel.PrincipalUnit.IsOtherdirectorship" hidden>
            <div class="form-group">
                @Html.LabelFor(m => m.OrganisationViewModel.PrincipalUnit.TradingName, new { @class = "label required" })
                @Html.TextBoxFor(m => m.OrganisationViewModel.PrincipalUnit.TradingName, new { @class = "form-control", @id = "PrincipalUnit.TradingName", @required = "", @onchange = "OnChange(this.id, this.name)", @maxlength = "250", @placeholder = "Max characters is 250. Over 250 will not be stored." })
            </div>
        </div>
    </div>
    <div class="form-group col-md-6">
        <div class="form-group">
            @Html.LabelFor(m => m.OrganisationViewModel.PrincipalUnit.YearOfPracticeNZACS, new { @class = "label required" })
            @Html.TextBoxFor(m => m.OrganisationViewModel.PrincipalUnit.YearOfPracticeNZACS, new { @class = "form-control", @id = "PrincipalUnit.YearOfPracticeNZACS", @required = "", @onchange = "OnChange(this.id, this.name)" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.OrganisationViewModel.PrincipalUnit.PrevPracticeNZACS, new { @class = "label required" })
            @Html.TextBoxFor(m => m.OrganisationViewModel.PrincipalUnit.PrevPracticeNZACS, new { @class = "form-control", @id = "PrincipalUnit.PrevPracticeNZACS", @required = "", @onchange = "OnChange(this.id, this.name)" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.OrganisationViewModel.PrincipalUnit.IsNZIAmember, new { @class = "label required" })
            <select id="PrincipalUnit.IsNZIAmember" name="OrganisationViewModel.PrincipalUnit.IsNZIAmember" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                @foreach (var option in @Model.OrganisationViewModel.HasIsNZIAmemberOptions)
                {
                    <option selected="@option.Selected" value="@option.Value">
                        @option.Text
                    </option>
                }
            </select>
        </div>
        <div id="OrganisationViewModel.PrincipalUnit.IsNZIAmember" hidden>
            <div class="form-group">
                @Html.LabelFor(m => m.OrganisationViewModel.PrincipalUnit.NZIAmembership, new { @class = "label required" })
                @Html.TextBoxFor(m => m.OrganisationViewModel.PrincipalUnit.NZIAmembership, new { @class = "form-control", @id = "PrincipalUnit.NZIAmembership", @required = "", @onchange = "OnChange(this.id, this.name)" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.OrganisationViewModel.PrincipalUnit.IsADNZmember, new { @class = "label required" })
            <select id="PrincipalUnit.IsADNZmember" name="OrganisationViewModel.PrincipalUnit.IsADNZmember" class="custom-select" onchange="OnChange(this.id, this.name)" required>
                @foreach (var option in @Model.OrganisationViewModel.HasIsADNZmemberOptions)
                {
                    <option selected="@option.Selected" value="@option.Value">
                        @option.Text
                    </option>
                }
            </select>
        </div>
        <div id="OrganisationViewModel.PrincipalUnit.IsADNZmember" hidden>
            <div class="form-group">
                @Html.LabelFor(m => m.OrganisationViewModel.PrincipalUnit.IsLPBCategory3, new { @class = "label required" })
                @Html.TextBoxFor(m => m.OrganisationViewModel.PrincipalUnit.IsLPBCategory3, new { @class = "form-control", @id = "PrincipalUnit.IsLPBCategory3", @required = "", @onchange = "OnChange(this.id, this.name)" })
            </div>
        </div>
    </div>