@model DealEngine.WebUI.Models.InformationViewModel

<div class="col-md-6 DirectorUnit">
   
    <div class="form-group">
        @Html.LabelFor(m => m.OrganisationViewModel.DirectorUnit.IsRetiredorDeceased)
        <select id="DirectorUnit.IsRetiredorDeceased" name="OrganisationViewModel.DirectorUnit.IsRetiredorDeceased" data-rule="RetirementDateValidation" class="form-select" onchange="OnChange(this.id, this.name)" required>
            @foreach (var option in Model.OrganisationViewModel.HasRetiredorDeceasedOptions)
              {
                <option selected="@option.Selected" value="@option.Value">@option.Text</option>
              }
        </select> 
    </div>
    <div id="OrganisationViewModel.DirectorUnit.IsRetiredorDeceased" hidden>
        <div class="form-group">
            @Html.LabelFor(m => m.OrganisationViewModel.DirectorUnit.DateofRetirement, new { @class = "label required" })
            @Html.TextBoxFor(m => m.OrganisationViewModel.DirectorUnit.DateofRetirement, new { @class = "form-control", @id = "DirectorUnit.DateofRetirement", @type = "date", @onchange = "OnChange(this.id, this.name)", @placeholder = "Date of Retirement" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.OrganisationViewModel.DirectorUnit.DateofDeceased, new { @class = "label required" })
            @Html.TextBoxFor(m => m.OrganisationViewModel.DirectorUnit.DateofDeceased, new { @class = "form-control", @id = "DirectorUnit.DateofDeceased", @type = "date", @onchange = "OnChange(this.id, this.name)", @placeholder = "Date of Deceased" })
        </div>
    </div>
  
</div>

